.dxscControl_Kesh
{
    background: #c0c0c0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxscLoadingPanel_Kesh
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxscLoadingPanel_Kesh td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxscLoadingPanel_Kesh .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Headers */
.dxscDateHeader_Kesh, 
.dxscAlternateDateHeader_Kesh,
.dxscDayHeader_Kesh,
.dxscDateCellHeader_Kesh,
.dxscTodayCellHeader_Kesh,
.dxscTimelineDateHeader_Kesh,
.dxscHorizontalResourceHeader_Kesh,
.dxscVerticalResourceHeader_Kesh
{    
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0 1px 1px 0;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

.dxscAlternateTimelineDateHeader_Kesh,
.dxscAlternateDateHeader_Kesh
{
    background: #ffd554;
}
.dxscDayHeader_Kesh
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_Kesh
{
    border-width: 1px;
}
.dxscTodayCellHeader_Kesh
{    
    border-top-width: 1px;
    background: #ffd554;
}
.dxscTimelineDateHeader_Kesh
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_Kesh
{
    border-width: 1px 1px 1px 0;
    background: white;
}
.dxscVerticalResourceHeader_Kesh
{
    border-width: 1px 1px 0 0;
    background: white;
    white-space: normal;
}
.dxscSelectionBar_Kesh 
{	
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}

/* Corners */
.dxscLeftTopCorner_Kesh, 
.dxscRightTopCorner_Kesh
{
    background: white;
    width: 1px;
    border-style: solid;
    border-color: #c0c0c0;	
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_Kesh
{    
    border-width: 1px 1px 1px 0;
    font-size: 0.91em;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

/* Separators */
.dxscGroupSeparatorVertical_Kesh, 
.dxscGroupSeparatorHorizontal_Kesh
{
    background: white;
    border: solid 1px #c0c0c0;
}

.dxscGroupSeparatorVertical_Kesh
{
    width: 1px; 
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_Kesh
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}

/* Apts Area */
.dxscAllDayArea_Kesh
{
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_Kesh 
{
    	height: 100px;
    	border: solid 1px;
    	border-width: 0 1px 0 0;	
}
.dxscTimeCellBody_Kesh
{
	border: 1px solid;
	background-color: White;
}
.dxscTimelineCellBody_Kesh
{
    	height: 300px;
    	border-style: solid;
    	border-width: 1px 1px 0 0;
}

.dxscAppointment_Kesh
{
    font-size: 0.91em;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}
.dxscAppointmentInnerBorders_Kesh
{	
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_Kesh 
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscMoreButton_Kesh
{
    font-size: 0.91em;
    color: #5D9AD3;    
    text-decoration: underline;	
    padding: 0;
}

/* Rulers */
.dxscTimeRulerHoursItem_Kesh, .dxscTimeRulerMinuteItem_Kesh
{
    color: #6f6f6f;
    background: white;
    border: solid 1px #c0c0c0;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
} 
.dxscTimeRulerHoursItem_Kesh
{
    border-right-width: 0;
    border-left-color: #c0c0c0;
    font-size: 1.42em;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_Kesh
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.91em;
    padding: 4px 1px 4px 1px;
}

.dxscTimeRulerHeaderHourItem_Kesh
{
    width: 55px;
}	
.dxscTimeRulerHeaderMinuteItem_Kesh
{
    width: 16px;
}
.dxscScrollHeaderItem_Kesh
{
    width: 16px;
}


/* Control elements */
.dxscToolbarContainer_Kesh
{
	padding: 8px 0;
	border: 0px none;
	background-color: White;
}
.dxscToolbar_Kesh
{
    border: none;
    padding: 4px 7px;    
}
.dxscToolbar_Kesh .dxeCalendar_Kesh,
.dxscToolbar_Kesh .dxeCalendar_Kesh.dxeFocused_Kesh
{
    border: 1px Solid Silver;
}
.dxscResourceNavigator_Kesh 
{    
    background: white;
    padding: 7px;
    border: solid 1px #c0c0c0;
}
.dxscViewVisibleInterval_Kesh
{    
	white-space: nowrap;
	font-size: 1.5em;
	color: #5D9AD3;
}
.dxscInplaceEditor_Kesh
{
    background: #fdfdfd;
    border: solid 2px #303030;
    padding: 0;
    color: #303030;
}
.dxscControlAreaForm_Kesh
{
    font-size: 1.33em;
    background-color: #efefef;
    border: none;
    white-space: normal;
    padding: 9px 12px;
}
.dxscErrorInfo_Kesh
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
}

/* Buttons */
.dxscViewNavigatorButton_Kesh,
.dxscViewNavigatorGotoDateButton_Kesh
{    
	font-size: 1.17em;
    line-height: 100%;
	padding: 0 4px;

    min-height: 1em;
    display: block!important;
}
.dxscViewNavigatorGotoDateButton_Kesh 
{
	padding: 0 0 0 4px;
}
.dxscViewNavigatorButton_Kesh.dxscViewNavigatorGotoTodayButton
{    
    padding: 3px 4px;
}
.dxscViewNavigatorButtonHover_Kesh,
.dxscViewNavigatorGotoDateButtonHover_Kesh
{
}
.dxscViewNavigatorButtonHover_Kesh.dxscViewNavigatorGotoTodayButton
{    
    text-decoration: underline;
}
.dxscViewNavigatorButtonPressed_Kesh,
.dxscViewNavigatorGotoDateButtonPressed_Kesh
{
}

.dxscResourceNavigatorButton_Kesh,
.dxscNavigationButton_Kesh,
.dxscDVTopMoreButton_Kesh,
.dxscDVBottomMoreButton_Kesh
{
	cursor: pointer;
	padding: 2px;
}

.dxscResourceNavigator_Kesh table td:nth-child(6) table  td.dxscResourceNavigatorButton_Kesh
{
	padding: 2px 8px 2px 2px;
}

.dxscSmartTagButton_Kesh 
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}

.dxscViewSelectorButton_Kesh 
{
	padding: 6px 18px;
	border: 1px solid White;
}
.dxscViewSelectorButtonHover_Kesh
{
    	background-color: #5D9AD3;        
    	color: White;
}
.dxscViewSelectorButtonPressed_Kesh
{
	background-color: #C0C0C0;
    	color: White;
}
.dxscViewSelectorButtonChecked_Kesh
{
    	background: #5D9AD3;
    	color: White;
}

.dxscNoBorderButton_Kesh
{
    border: solid 1px #FDFDFD;
    background: none;
    cursor: pointer;
}
.dxscNoBorderButtonHover_Kesh
{
    border: solid 1px #A8A8A8;
}

.dxscToolTipRoundedCornersTopBottomRow_Kesh 
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_Kesh 
{
    border-top: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersLeftSide_Kesh 
{
    border-left: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersRightSide_Kesh 
{
    border-right: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersBottomSide_Kesh 
{
    border-bottom: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersContent_Kesh 
{
    background-color:#fafad2;
    padding:0;
}
.dxscToolTipSquaredCorners_Kesh 
{
    background: #f9f9cd;
    padding: 1px 1px;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_Kesh 
{
    top:-4px;
}
.dxscTimeMarkerLine_Kesh 
{
    top:-2px;
    background-color:Red;
    height:3px;
    font-size: 0;
    
}
.dxscTimeMarkerLineV_Kesh 
{
    position:absolute;
    
    background-color:#4E4E4E;
    width:1px;
    font-size: 0;
    border:solid 1px #FFC029;
    border-top-width:0;
    border-bottom-width:0;
}
.dxscTimeMarkerLineH_Kesh
{
    position:absolute;
    top:-2px;
    background-color:#4E4E4E;
    height:1px;
    font-size: 0;
    border:solid 1px #FFC029;
    border-left-width:0;
    border-right-width:0;
}


