.dxigControl_Moderno1.dxTouchUI .dxWeb_igCloseButton_Moderno1,
.dxigControl_Moderno1.dxTouchUI .dxWeb_igPauseButton_Moderno1,
.dxigControl_Moderno1.dxTouchUI .dxWeb_igPlayButton_Moderno1,
.dxm-hovered .dxWeb_fmCopyButton_Moderno1,
.dxm-hovered .dxWeb_fmCreateButton_Moderno1,
.dxm-hovered .dxWeb_fmDeleteButton_Moderno1,
.dxm-hovered .dxWeb_fmDwnlButton_Moderno1,
.dxm-hovered .dxWeb_fmMoveButton_Moderno1,
.dxm-hovered .dxWeb_fmRefreshButton_Moderno1,
.dxm-hovered .dxWeb_fmRenameButton_Moderno1,
.dxm-hovered .dxWeb_mHorizontalPopOut_Moderno1,
.dxm-hovered .dxWeb_mSubMenuItemChecked_Moderno1,
.dxm-hovered .dxWeb_mVerticalPopOut_Moderno1,
.dxm-hovered .dxWeb_mVerticalPopOutRtl_Moderno1,
.dxm-scrollBtnHovered .dxWeb_mScrollDown_Moderno1,
.dxm-scrollBtnHovered .dxWeb_mScrollUp_Moderno1,
.dxpc-closeBtnHover .dxWeb_pcCloseButton_Moderno1,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno1,
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_Moderno1,
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno1,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno1,
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_Moderno1,
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno1,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno1,
.dxpc-pinBtnHover .dxWeb_pcPinButton_Moderno1,
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno1,
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_Moderno1,
.dxp-hoverDropDownButton .dxWeb_pPopOut_Moderno1,
.dxp-pressedDropDownButton .dxWeb_pPopOut_Moderno1,
.dxr-grExpBtnHover .dxWeb_rPopOut_Moderno1,
.dxr-itemHover .dxWeb_rPopOut_Moderno1,
.dxrpCollapsed .dxWeb_rpCollapseButton_Moderno1,
.dxWeb_edtCheckBoxChecked_Moderno1,
.dxWeb_edtCheckBoxCheckedDisabled_Moderno1,
.dxWeb_edtCheckBoxGrayed_Moderno1,
.dxWeb_edtCheckBoxGrayedDisabled_Moderno1,
.dxWeb_edtCheckBoxUnchecked_Moderno1,
.dxWeb_edtCheckBoxUncheckedDisabled_Moderno1,
.dxWeb_fmCopyButton_Moderno1,
.dxWeb_fmCopyButtonDisabled_Moderno1,
.dxWeb_fmCreateButton_Moderno1,
.dxWeb_fmCreateButtonDisabled_Moderno1,
.dxWeb_fmDeleteButton_Moderno1,
.dxWeb_fmDeleteButtonDisabled_Moderno1,
.dxWeb_fmDwnlButton_Moderno1,
.dxWeb_fmDwnlButtonDisabled_Moderno1,
.dxWeb_fmFolder_Moderno1,
.dxWeb_fmFolderLocked_Moderno1,
.dxWeb_fmMoveButton_Moderno1,
.dxWeb_fmMoveButtonDisabled_Moderno1,
.dxWeb_fmRefreshButton_Moderno1,
.dxWeb_fmRefreshButtonDisabled_Moderno1,
.dxWeb_fmRenameButton_Moderno1,
.dxWeb_fmRenameButtonDisabled_Moderno1,
.dxWeb_fmThumbnailCheck_Moderno1,
.dxWeb_igCloseButton_Moderno1,
.dxWeb_igNavigationBarMarker_Moderno1,
.dxWeb_igNextButton_Moderno1,
.dxWeb_igNextButtonDisabled_Moderno1,
.dxWeb_igNextButtonHover_Moderno1,
.dxWeb_igNextButtonPressed_Moderno1,
.dxWeb_igPauseButton_Moderno1,
.dxWeb_igPlayButton_Moderno1,
.dxWeb_igPrevButton_Moderno1,
.dxWeb_igPrevButtonDisabled_Moderno1,
.dxWeb_igPrevButtonHover_Moderno1,
.dxWeb_igPrevButtonPressed_Moderno1,
.dxWeb_isDot_Moderno1,
.dxWeb_isDotDisabled_Moderno1,
.dxWeb_isDotPressed_Moderno1,
.dxWeb_isDotSelected_Moderno1,
.dxWeb_isNextBtnHor_Moderno1,
.dxWeb_isNextBtnHorDisabled_Moderno1,
.dxWeb_isNextBtnVert_Moderno1,
.dxWeb_isNextBtnVertDisabled_Moderno1,
.dxWeb_isNextPageBtnHor_Moderno1,
.dxWeb_isNextPageBtnHorDisabled_Moderno1,
.dxWeb_isNextPageBtnHorOutside_Moderno1,
.dxWeb_isNextPageBtnHorOutsideDisabled_Moderno1,
.dxWeb_isNextPageBtnVert_Moderno1,
.dxWeb_isNextPageBtnVertDisabled_Moderno1,
.dxWeb_isNextPageBtnVertOutside_Moderno1,
.dxWeb_isNextPageBtnVertOutsideDisabled_Moderno1,
.dxWeb_isPauseBtn_Moderno1,
.dxWeb_isPlayBtn_Moderno1,
.dxWeb_isPrevBtnHor_Moderno1,
.dxWeb_isPrevBtnHorDisabled_Moderno1,
.dxWeb_isPrevBtnVert_Moderno1,
.dxWeb_isPrevBtnVertDisabled_Moderno1,
.dxWeb_isPrevPageBtnHor_Moderno1,
.dxWeb_isPrevPageBtnHorDisabled_Moderno1,
.dxWeb_isPrevPageBtnHorOutside_Moderno1,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Moderno1,
.dxWeb_isPrevPageBtnVert_Moderno1,
.dxWeb_isPrevPageBtnVertDisabled_Moderno1,
.dxWeb_isPrevPageBtnVertOutside_Moderno1,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Moderno1,
.dxWeb_izEWCloseButton_Moderno1,
.dxWeb_izHint_Moderno1,
.dxWeb_mHorizontalPopOut_Moderno1,
.dxWeb_mScrollDown_Moderno1,
.dxWeb_mScrollUp_Moderno1,
.dxWeb_mSubMenuItem_Moderno1,
.dxWeb_mSubMenuItemChecked_Moderno1,
.dxWeb_mVerticalPopOut_Moderno1,
.dxWeb_mVerticalPopOutRtl_Moderno1,
.dxWeb_nbCollapse_Moderno1,
.dxWeb_nbExpand_Moderno1,
.dxWeb_pAll_Moderno1,
.dxWeb_pAllDisabled_Moderno1,
.dxWeb_pcCloseButton_Moderno1,
.dxWeb_pcCollapseButton_Moderno1,
.dxWeb_pcMaximizeButton_Moderno1,
.dxWeb_pcPinButton_Moderno1,
.dxWeb_pcRefreshButton_Moderno1,
.dxWeb_pcSizeGrip_Moderno1,
.dxWeb_pcSizeGripRtl_Moderno1,
.dxWeb_pFirst_Moderno1,
.dxWeb_pFirstDisabled_Moderno1,
.dxWeb_pLast_Moderno1,
.dxWeb_pLastDisabled_Moderno1,
.dxWeb_pNext_Moderno1,
.dxWeb_pNextDisabled_Moderno1,
.dxWeb_pPopOut_Moderno1,
.dxWeb_pPopOutDisabled_Moderno1,
.dxWeb_pPrev_Moderno1,
.dxWeb_pPrevDisabled_Moderno1,
.dxWeb_rMinBtn_Moderno1,
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtn_Moderno1,
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtnHover_Moderno1,
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtnPressed_Moderno1,
.dxWeb_rMinBtnHover_Moderno1,
.dxWeb_rMinBtnPressed_Moderno1,
.dxWeb_rpCollapseButton_Moderno1,
.dxWeb_rPopOut_Moderno1,
.dxWeb_splHCollapseBackwardButton_Moderno1,
.dxWeb_splHCollapseBackwardButtonHover_Moderno1,
.dxWeb_splHCollapseForwardButton_Moderno1,
.dxWeb_splHCollapseForwardButtonHover_Moderno1,
.dxWeb_splHSeparator_Moderno1,
.dxWeb_splHSeparatorHover_Moderno1,
.dxWeb_splVCollapseBackwardButton_Moderno1,
.dxWeb_splVCollapseBackwardButtonHover_Moderno1,
.dxWeb_splVCollapseForwardButton_Moderno1,
.dxWeb_splVCollapseForwardButtonHover_Moderno1,
.dxWeb_splVSeparator_Moderno1,
.dxWeb_splVSeparatorHover_Moderno1,
.dxWeb_tcScrollLeft_Moderno1,
.dxWeb_tcScrollLeftDisabled_Moderno1,
.dxWeb_tcScrollLeftHover_Moderno1,
.dxWeb_tcScrollLeftPressed_Moderno1,
.dxWeb_tcScrollRight_Moderno1,
.dxWeb_tcScrollRightDisabled_Moderno1,
.dxWeb_tcScrollRightHover_Moderno1,
.dxWeb_tcScrollRightPressed_Moderno1,
.dxWeb_tiBackToTop_Moderno1,
.dxWeb_tvColBtn_Moderno1,
.dxWeb_tvColBtnRtl_Moderno1,
.dxWeb_tvExpBtn_Moderno1,
.dxWeb_tvExpBtnRtl_Moderno1,
.dxWeb_ucClearButton_Moderno1,
.dxWeb_ucClearButtonDisabled_Moderno1
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Moderno1.dxTouchUI .dxWeb_igCloseButton_Moderno1
{
    background-position: -161px -108px;
    width: 23px;
    height: 23px;
}
.dxigControl_Moderno1.dxTouchUI .dxWeb_igPauseButton_Moderno1
{
    background-position: -220px -66px;
    width: 21px;
    height: 25px;
}
.dxigControl_Moderno1.dxTouchUI .dxWeb_igPlayButton_Moderno1
{
    background-position: -242px -66px;
    width: 21px;
    height: 25px;
}
.dxm-hovered .dxWeb_fmCopyButton_Moderno1
{
    background-position: -157px -205px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmCreateButton_Moderno1
{
    background-position: -34px -222px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmDeleteButton_Moderno1
{
    background-position: -119px -222px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmDwnlButton_Moderno1
{
    background-position: -293px -205px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmMoveButton_Moderno1
{
    background-position: -106px -205px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmRefreshButton_Moderno1
{
    background-position: -17px -222px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmRenameButton_Moderno1
{
    background-position: -242px -205px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_mHorizontalPopOut_Moderno1
{
    background-position: -194px -92px;
    width: 8px;
    height: 4px;
}
.dxm-hovered .dxWeb_mSubMenuItemChecked_Moderno1
{
    background-position: -278px -46px;
    width: 18px;
    height: 19px;
}
.dxm-hovered .dxWeb_mVerticalPopOut_Moderno1
{
    background-position: -303px -132px;
    width: 5px;
    height: 10px;
}
.dxm-hovered .dxWeb_mVerticalPopOutRtl_Moderno1
{
    background-position: -304px -86px;
    width: 5px;
    height: 10px;
}
.dxm-scrollBtnHovered .dxWeb_mScrollDown_Moderno1
{
    background-position: -203px -92px;
    width: 8px;
    height: 4px;
}
.dxm-scrollBtnHovered .dxWeb_mScrollUp_Moderno1
{
    background-position: -230px -92px;
    width: 8px;
    height: 4px;
}
.dxpc-closeBtnHover .dxWeb_pcCloseButton_Moderno1
{
    background-position: -95px -186px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno1
{
    background-position: -114px -186px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_Moderno1
{
    background-position: -128px -153px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno1
{
    background-position: 0px -186px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno1
{
    background-position: -109px -153px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_Moderno1
{
    background-position: -166px -153px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno1
{
    background-position: -76px -186px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno1
{
    background-position: -38px -186px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnHover .dxWeb_pcPinButton_Moderno1
{
    background-position: -242px -153px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno1
{
    background-position: -223px -153px;
    width: 18px;
    height: 18px;
}
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_Moderno1
{
    background-position: -204px -153px;
    width: 18px;
    height: 18px;
}
.dxp-hoverDropDownButton .dxWeb_pPopOut_Moderno1
{
    background-position: -143px -101px;
    width: 10px;
    height: 5px;
}
.dxp-pressedDropDownButton .dxWeb_pPopOut_Moderno1
{
    background-position: -154px -101px;
    width: 10px;
    height: 5px;
}
.dxr-grExpBtnHover .dxWeb_rPopOut_Moderno1
{
    background-position: -264px -91px;
    width: 10px;
    height: 5px;
}
.dxr-itemHover .dxWeb_rPopOut_Moderno1
{
    background-position: -299px -173px;
    width: 10px;
    height: 5px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_Moderno1
{
    background-position: -299px -167px;
    width: 10px;
    height: 5px;
}
.dxWeb_edtCheckBoxChecked_Moderno1
{
    background-position: -185px -107px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Moderno1
{
    background-position: -264px -66px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayed_Moderno1
{
    background-position: -260px -107px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Moderno1
{
    background-position: -235px -107px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUnchecked_Moderno1
{
    background-position: -210px -107px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Moderno1
{
    background-position: -285px -107px;
    width: 24px;
    height: 24px;
}
.dxWeb_fmCopyButton_Moderno1
{
    background-position: -208px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Moderno1
{
    background-position: -259px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Moderno1
{
    background-position: -68px -222px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Moderno1
{
    background-position: -21px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Moderno1
{
    background-position: -225px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Moderno1
{
    background-position: -276px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Moderno1
{
    background-position: -51px -222px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Moderno1
{
    background-position: -55px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Moderno1
{
    background-position: -191px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Moderno1
{
    background-position: -38px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Moderno1
{
    background-position: -72px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Moderno1
{
    background-position: -102px -222px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Moderno1
{
    background-position: -89px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Moderno1
{
    background-position: -123px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Moderno1
{
    background-position: -174px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Moderno1
{
    background-position: 0px -222px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Moderno1
{
    background-position: -92px -98px;
    width: 9px;
    height: 8px;
}
.dxWeb_igCloseButton_Moderno1
{
    background-position: -238px -222px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Moderno1
{
    background-position: 0px -205px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Moderno1
{
    background-position: -230px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Moderno1
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Moderno1
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Moderno1
{
    background-position: -138px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Moderno1
{
    background-position: -268px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Moderno1
{
    background-position: -242px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Moderno1
{
    background-position: -184px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Moderno1
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Moderno1
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Moderno1
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Moderno1
{
    background-position: -280px -222px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Moderno1
{
    background-position: -224px -222px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Moderno1
{
    background-position: -294px -186px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Moderno1
{
    background-position: -266px -222px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Moderno1
{
    background-position: -130px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Moderno1
{
    background-position: -149px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Moderno1
{
    background-position: -60px -153px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Moderno1
{
    background-position: -30px -153px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Moderno1
{
    background-position: -116px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Moderno1
{
    background-position: -289px -66px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_Moderno1
{
    background-position: -181px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_Moderno1
{
    background-position: -297px -37px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_Moderno1
{
    background-position: -202px -222px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Moderno1
{
    background-position: -136px -222px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_Moderno1
{
    background-position: -29px -173px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_Moderno1
{
    background-position: -58px -173px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_Moderno1
{
    background-position: -255px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Moderno1
{
    background-position: -281px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Moderno1
{
    background-position: -92px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Moderno1
{
    background-position: -111px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Moderno1
{
    background-position: 0px -153px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Moderno1
{
    background-position: -273px -132px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Moderno1
{
    background-position: -131px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Moderno1
{
    background-position: -146px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_Moderno1
{
    background-position: -168px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_Moderno1
{
    background-position: -296px 0px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_Moderno1
{
    background-position: -180px -222px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Moderno1
{
    background-position: -158px -222px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_Moderno1
{
    background-position: -87px -173px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_Moderno1
{
    background-position: 0px -173px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_Moderno1
{
    background-position: -194px -66px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_Moderno1
{
    background-position: -152px -186px;
    width: 17px;
    height: 17px;
}
.dxWeb_mHorizontalPopOut_Moderno1
{
    background-position: -194px -92px;
    width: 8px;
    height: 4px;
}
.dxWeb_mScrollDown_Moderno1
{
    background-position: -221px -92px;
    width: 8px;
    height: 4px;
}
.dxWeb_mScrollUp_Moderno1
{
    background-position: -212px -92px;
    width: 8px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Moderno1
{
    background-position: -248px -92px;
    width: 14px;
    height: 14px;
}
.dxWeb_mSubMenuItemChecked_Moderno1
{
    background-position: -90px -153px;
    width: 18px;
    height: 19px;
}
.dxWeb_mVerticalPopOut_Moderno1
{
    background-position: -299px -153px;
    width: 5px;
    height: 10px;
}
.dxWeb_mVerticalPopOutRtl_Moderno1
{
    background-position: -304px -66px;
    width: 5px;
    height: 10px;
}
.dxWeb_nbCollapse_Moderno1
{
    background-position: -246px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_nbExpand_Moderno1
{
    background-position: -129px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pAll_Moderno1
{
    background-position: -181px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pAllDisabled_Moderno1
{
    background-position: -207px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pcCloseButton_Moderno1
{
    background-position: -147px -153px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcCollapseButton_Moderno1
{
    background-position: -133px -186px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcMaximizeButton_Moderno1
{
    background-position: -185px -153px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcPinButton_Moderno1
{
    background-position: -280px -153px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcRefreshButton_Moderno1
{
    background-position: -57px -186px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcSizeGrip_Moderno1
{
    background-position: -261px -153px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcSizeGripRtl_Moderno1
{
    background-position: -19px -186px;
    width: 18px;
    height: 18px;
}
.dxWeb_pFirst_Moderno1
{
    background-position: -259px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pFirstDisabled_Moderno1
{
    background-position: -116px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pLast_Moderno1
{
    background-position: -155px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pLastDisabled_Moderno1
{
    background-position: -220px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pNext_Moderno1
{
    background-position: -142px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pNextDisabled_Moderno1
{
    background-position: -233px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pPopOut_Moderno1
{
    background-position: -132px -101px;
    width: 10px;
    height: 5px;
}
.dxWeb_pPopOutDisabled_Moderno1
{
    background-position: -288px -173px;
    width: 10px;
    height: 5px;
}
.dxWeb_pPrev_Moderno1
{
    background-position: -194px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_pPrevDisabled_Moderno1
{
    background-position: -168px -173px;
    width: 12px;
    height: 12px;
}
.dxWeb_rMinBtn_Moderno1
{
    background-position: -252px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtn_Moderno1
{
    background-position: -231px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtnHover_Moderno1
{
    background-position: -189px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno1.dxWeb_rMinBtnPressed_Moderno1
{
    background-position: -84px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnHover_Moderno1
{
    background-position: -105px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnPressed_Moderno1
{
    background-position: -42px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_rpCollapseButton_Moderno1
{
    background-position: -289px -91px;
    width: 10px;
    height: 5px;
}
.dxWeb_rPopOut_Moderno1
{
    background-position: -275px -91px;
    width: 10px;
    height: 5px;
}
.dxWeb_splHCollapseBackwardButton_Moderno1
{
    background-position: -240px -97px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseBackwardButtonHover_Moderno1
{
    background-position: -272px -173px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseForwardButton_Moderno1
{
    background-position: -168px -97px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseForwardButtonHover_Moderno1
{
    background-position: -280px -173px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHSeparator_Moderno1
{
    background-position: -194px -97px;
    width: 45px;
    height: 9px;
}
.dxWeb_splHSeparatorHover_Moderno1
{
    background-position: -264px -97px;
    width: 45px;
    height: 9px;
}
.dxWeb_splVCollapseBackwardButton_Moderno1
{
    background-position: -112px -99px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Moderno1
{
    background-position: -102px -99px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Moderno1
{
    background-position: -296px -29px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Moderno1
{
    background-position: -122px -99px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVSeparator_Moderno1
{
    background-position: -286px 0px;
    width: 9px;
    height: 45px;
}
.dxWeb_splVSeparatorHover_Moderno1
{
    background-position: -276px 0px;
    width: 9px;
    height: 45px;
}
.dxWeb_tcScrollLeft_Moderno1
{
    background-position: -168px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftDisabled_Moderno1
{
    background-position: -21px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftHover_Moderno1
{
    background-position: -210px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftPressed_Moderno1
{
    background-position: -63px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRight_Moderno1
{
    background-position: -95px -111px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightDisabled_Moderno1
{
    background-position: -126px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightHover_Moderno1
{
    background-position: 0px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightPressed_Moderno1
{
    background-position: -147px -132px;
    width: 20px;
    height: 20px;
}
.dxWeb_tiBackToTop_Moderno1
{
    background-position: -252px -222px;
    width: 13px;
    height: 13px;
}
.dxWeb_tvColBtn_Moderno1
{
    background-position: -170px -186px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Moderno1
{
    background-position: -224px -186px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Moderno1
{
    background-position: -188px -186px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Moderno1
{
    background-position: -206px -186px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Moderno1
{
    background-position: -85px -222px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Moderno1
{
    background-position: -140px -205px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Moderno1,
.dxWeb_rpHeaderTopRightCorner_Moderno1,
.dxWeb_rpBottomLeftCorner_Moderno1,
.dxWeb_rpBottomRightCorner_Moderno1,
.dxWeb_rpTopLeftCorner_Moderno1,
.dxWeb_rpTopRightCorner_Moderno1,
.dxWeb_rpGroupBoxBottomLeftCorner_Moderno1,
.dxWeb_rpGroupBoxBottomRightCorner_Moderno1,
.dxWeb_rpGroupBoxTopLeftCorner_Moderno1,
.dxWeb_rpGroupBoxTopRightCorner_Moderno1,
.dxWeb_mHorizontalPopOut_Moderno1,
.dxWeb_mHorizontalPopOutHover_Moderno1,
.dxWeb_mVerticalPopOut_Moderno1,
.dxWeb_mVerticalPopOutHover_Moderno1,
.dxWeb_mVerticalPopOutRtl_Moderno1,
.dxWeb_mSubMenuItem_Moderno1,
.dxWeb_mSubMenuItemChecked_Moderno1,
.dxWeb_mScrollUp_Moderno1,
.dxWeb_mScrollUpHover_Moderno1,
.dxWeb_mScrollUpDisabled_Moderno1,
.dxWeb_mScrollDown_Moderno1,
.dxWeb_mScrollDownHover_Moderno1,
.dxWeb_mScrollDownDisabled_Moderno1,
.dxWeb_tcScrollLeft_Moderno1,
.dxWeb_tcScrollRight_Moderno1,
.dxWeb_tcScrollLeftHover_Moderno1,
.dxWeb_tcScrollRightHover_Moderno1,
.dxWeb_tcScrollLeftPressed_Moderno1,
.dxWeb_tcScrollRightPressed_Moderno1,
.dxWeb_tcScrollLeftDisabled_Moderno1,
.dxWeb_tcScrollRightDisabled_Moderno1,
.dxWeb_nbCollapse_Moderno1,
.dxWeb_nbExpand_Moderno1,
.dxWeb_splVSeparator_Moderno1,
.dxWeb_splVSeparatorHover_Moderno1,
.dxWeb_splHSeparator_Moderno1,
.dxWeb_splHSeparatorHover_Moderno1,
.dxWeb_splVCollapseBackwardButton_Moderno1,
.dxWeb_splVCollapseBackwardButtonHover_Moderno1,
.dxWeb_splHCollapseBackwardButton_Moderno1,
.dxWeb_splHCollapseBackwardButtonHover_Moderno1,
.dxWeb_splVCollapseForwardButton_Moderno1,
.dxWeb_splVCollapseForwardButtonHover_Moderno1,
.dxWeb_splHCollapseForwardButton_Moderno1,
.dxWeb_splHCollapseForwardButtonHover_Moderno1,
.dxWeb_pcCloseButton_Moderno1,
.dxWeb_pcPinButton_Moderno1,
.dxWeb_pcRefreshButton_Moderno1,
.dxWeb_pcCollapseButton_Moderno1,
.dxWeb_pcMaximizeButton_Moderno1,
.dxWeb_pcSizeGrip_Moderno1,
.dxWeb_pcSizeGripRtl_Moderno1,
.dxWeb_pPopOut_Moderno1,
.dxWeb_pPopOutDisabled_Moderno1,
.dxWeb_pAll_Moderno1,
.dxWeb_pAllDisabled_Moderno1,
.dxWeb_pPrev_Moderno1,
.dxWeb_pPrevDisabled_Moderno1,
.dxWeb_pNext_Moderno1,
.dxWeb_pNextDisabled_Moderno1,
.dxWeb_pLast_Moderno1,
.dxWeb_pLastDisabled_Moderno1,
.dxWeb_pFirst_Moderno1,
.dxWeb_pFirstDisabled_Moderno1,
.dxWeb_tiBackToTop_Moderno1,
.dxWeb_smBullet_Moderno1,
.dxWeb_tvColBtn_Moderno1,
.dxWeb_tvColBtnRtl_Moderno1,
.dxWeb_tvExpBtn_Moderno1,
.dxWeb_tvExpBtnRtl_Moderno1,
.dxWeb_fmFolder_Moderno1,
.dxWeb_fmFolderLocked_Moderno1,
.dxWeb_fmCreateButton_Moderno1,
.dxWeb_fmMoveButton_Moderno1,
.dxWeb_fmRenameButton_Moderno1,
.dxWeb_fmDeleteButton_Moderno1,
.dxWeb_fmRefreshButton_Moderno1,
.dxWeb_fmDwnlButton_Moderno1,
.dxWeb_fmCreateButtonDisabled_Moderno1,
.dxWeb_fmMoveButtonDisabled_Moderno1,
.dxWeb_fmRenameButtonDisabled_Moderno1,
.dxWeb_fmDeleteButtonDisabled_Moderno1,
.dxWeb_fmRefreshButtonDisabled_Moderno1,
.dxWeb_fmDwnlButtonDisabled_Moderno1,
.dxWeb_ucClearButton_Moderno1,
.dxWeb_ucClearButtonDisabled_Moderno1,
.dxWeb_isPrevBtnHor_Moderno1,
.dxWeb_isNextBtnHor_Moderno1,
.dxWeb_isPrevBtnVert_Moderno1,
.dxWeb_isNextBtnVert_Moderno1,
.dxWeb_isPrevPageBtnHor_Moderno1,
.dxWeb_isPrevPageBtnHorOutside_Moderno1,
.dxWeb_isNextPageBtnHor_Moderno1,
.dxWeb_isNextPageBtnHorOutside_Moderno1,
.dxWeb_isPrevPageBtnVert_Moderno1,
.dxWeb_isPrevPageBtnVertOutside_Moderno1,
.dxWeb_isNextPageBtnVert_Moderno1,
.dxWeb_isNextPageBtnVertOutside_Moderno1,
.dxWeb_isPrevBtnHorDisabled_Moderno1,
.dxWeb_isNextBtnHorDisabled_Moderno1,
.dxWeb_isPrevBtnVertDisabled_Moderno1,
.dxWeb_isNextBtnVertDisabled_Moderno1,
.dxWeb_isPrevPageBtnHorDisabled_Moderno1,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Moderno1,
.dxWeb_isNextPageBtnHorDisabled_Moderno1,
.dxWeb_isNextPageBtnHorOutsideDisabled_Moderno1,
.dxWeb_isPrevPageBtnVertDisabled_Moderno1,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Moderno1,
.dxWeb_isNextPageBtnVertDisabled_Moderno1,
.dxWeb_isNextPageBtnVertOutsideDisabled_Moderno1,
.dxWeb_isDot_Moderno1,
.dxWeb_isDotDisabled_Moderno1,
.dxWeb_isDotSelected_Moderno1,
.dxWeb_fmGvHeaderFilter_Moderno1,
.dxWeb_fmGvHeaderFilterActive_Moderno1,
.dxWeb_fmThumbnailCheck_Moderno1,
.dxWeb_isPlayBtn_Moderno1,
.dxWeb_isPauseBtn_Moderno1,
.dxWeb_igCloseButton_Moderno1,
.dxWeb_igNextButton_Moderno1,
.dxWeb_igPrevButton_Moderno1,
.dxWeb_igPlayButton_Moderno1,
.dxWeb_igPauseButton_Moderno1,
.dxWeb_igNavigationBarMarker_Moderno1
{
	display: block;
}
.dxWeb_mScrollUp_Moderno1, .dxWeb_mScrollDown_Moderno1
{
	margin: auto;
}
.dxWeb_smBullet_Moderno1,
.dxWeb_tiBackToTop_Moderno1
{
	display:inline;
}

