.dxTreeList_CollapsedButton_Kesh,
.dxTreeList_CollapsedButtonRtl_Kesh,
.dxTreeList_DragAndDropArrowDown_Kesh,
.dxTreeList_DragAndDropArrowUp_Kesh,
.dxTreeList_DragAndDropHide_Kesh,
.dxTreeList_DragAndDropNode_Kesh,
.dxTreeList_ExpandedButton_Kesh,
.dxTreeList_ExpandedButtonRtl_Kesh,
.dxTreeList_SortAsc_Kesh,
.dxTreeList_SortDesc_Kesh
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton_Kesh
{
    background-position: -23px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_CollapsedButtonRtl_Kesh
{
    background-position: -28px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_DragAndDropArrowDown_Kesh
{
    background-position: -51px -13px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp_Kesh
{
    background-position: -51px 0px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropHide_Kesh
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxTreeList_DragAndDropNode_Kesh
{
    background-position: -14px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButton_Kesh
{
    background-position: 0px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButtonRtl_Kesh
{
    background-position: -37px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_SortAsc_Kesh
{
    background-position: -35px -17px;
    width: 7px;
    height: 5px;
}
.dxTreeList_SortDesc_Kesh
{
    background-position: -43px -17px;
    width: 7px;
    height: 5px;
}

