obj
bin
/.vs
/packages
*.licx
*/log
*.user
*.suo
*.pubxml
/PlatinumWeb/Arkiva
pdbDevexpress
/Paketa
Certifikatat

/PlatinumWeb/Properties/PublishProfiles/AutoPublishShops.pubxml.user
/PlatinumWeb/Properties/PublishProfiles/AlphaWebProd.pubxml.user
/PlatinumWeb/Properties/PublishProfiles/AutoPublishDev.pubxml.user
/PlatinumWeb/Properties/PublishProfiles/AutoPublishPreProd.pubxml.user
.cr/
PlatinumWeb/Kase
patch.diff
Pakete/
PlatiniumWeb/.vs/
