.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_Moderno1,
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_Moderno1,
.dxWeb_heRibbonIcons_heBackColor_Moderno1,
.dxWeb_heRibbonIcons_heBackColorDisabled_Moderno1,
.dxWeb_heRibbonIcons_heBackColorLarge_Moderno1,
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heBold_Moderno1,
.dxWeb_heRibbonIcons_heBoldDisabled_Moderno1,
.dxWeb_heRibbonIcons_heBoldLarge_Moderno1,
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCenter_Moderno1,
.dxWeb_heRibbonIcons_heCenterDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCenterLarge_Moderno1,
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableDialog_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCheckSpelling_Moderno1,
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Moderno1,
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCopy_Moderno1,
.dxWeb_heRibbonIcons_heCopyDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCopyLarge_Moderno1,
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCut_Moderno1,
.dxWeb_heRibbonIcons_heCutDisabled_Moderno1,
.dxWeb_heRibbonIcons_heCutLarge_Moderno1,
.dxWeb_heRibbonIcons_heCutLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTable_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableColumn_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableLarge_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableRow_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Moderno1,
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heFontGroup_Moderno1,
.dxWeb_heRibbonIcons_heFontGroupDisabled_Moderno1,
.dxWeb_heRibbonIcons_heForeColor_Moderno1,
.dxWeb_heRibbonIcons_heForeColorDisabled_Moderno1,
.dxWeb_heRibbonIcons_heForeColorLarge_Moderno1,
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heFullscreen_Moderno1,
.dxWeb_heRibbonIcons_heFullscreenDisabled_Moderno1,
.dxWeb_heRibbonIcons_heFullscreenLarge_Moderno1,
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heIndent_Moderno1,
.dxWeb_heRibbonIcons_heIndentDisabled_Moderno1,
.dxWeb_heRibbonIcons_heIndentLarge_Moderno1,
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertImageDialog_Moderno1,
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertLinkDialog_Moderno1,
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertOrderedList_Moderno1,
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableDialog_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertUnorderedList_Moderno1,
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Moderno1,
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Moderno1,
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heItalic_Moderno1,
.dxWeb_heRibbonIcons_heItalicDisabled_Moderno1,
.dxWeb_heRibbonIcons_heItalicLarge_Moderno1,
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heJustifyFull_Moderno1,
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Moderno1,
.dxWeb_heRibbonIcons_heJustifyFullLarge_Moderno1,
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heLeft_Moderno1,
.dxWeb_heRibbonIcons_heLeftDisabled_Moderno1,
.dxWeb_heRibbonIcons_heLeftLarge_Moderno1,
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Moderno1,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heOutdent_Moderno1,
.dxWeb_heRibbonIcons_heOutdentDisabled_Moderno1,
.dxWeb_heRibbonIcons_heOutdentLarge_Moderno1,
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePaste_Moderno1,
.dxWeb_heRibbonIcons_hePasteDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePasteFromWord_Moderno1,
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Moderno1,
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePasteLarge_Moderno1,
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePrint_Moderno1,
.dxWeb_heRibbonIcons_hePrintDisabled_Moderno1,
.dxWeb_heRibbonIcons_hePrintLarge_Moderno1,
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRedo_Moderno1,
.dxWeb_heRibbonIcons_heRedoDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRedoLarge_Moderno1,
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRemoveFormat_Moderno1,
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Moderno1,
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRight_Moderno1,
.dxWeb_heRibbonIcons_heRightDisabled_Moderno1,
.dxWeb_heRibbonIcons_heRightLarge_Moderno1,
.dxWeb_heRibbonIcons_heRightLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsDocx_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsMht_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsOdt_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsPdf_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsRtf_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsTxt_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Moderno1,
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Moderno1,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heStrikethrough_Moderno1,
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Moderno1,
.dxWeb_heRibbonIcons_heStrikethroughLarge_Moderno1,
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSubscript_Moderno1,
.dxWeb_heRibbonIcons_heSubscriptDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSubscriptLarge_Moderno1,
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSuperscript_Moderno1,
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Moderno1,
.dxWeb_heRibbonIcons_heSuperscriptLarge_Moderno1,
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUnderline_Moderno1,
.dxWeb_heRibbonIcons_heUnderlineDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUnderlineLarge_Moderno1,
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUndo_Moderno1,
.dxWeb_heRibbonIcons_heUndoDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUndoLarge_Moderno1,
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUnlink_Moderno1,
.dxWeb_heRibbonIcons_heUnlinkDisabled_Moderno1,
.dxWeb_heRibbonIcons_heUnlinkLarge_Moderno1,
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Moderno1,
.dxWeb_heRibbonIcons_heViewsGroup_Moderno1,
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Moderno1
{
    background-image: url('HESprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_Moderno1
{
    background-position: -136px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_Moderno1
{
    background-position: -363px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_Moderno1
{
    background-position: -102px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_Moderno1
{
    background-position: 0px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_Moderno1
{
    background-position: -627px -231px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_Moderno1
{
    background-position: -594px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_Moderno1
{
    background-position: -187px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Moderno1
{
    background-position: -99px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_Moderno1
{
    background-position: -323px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Moderno1
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_Moderno1
{
    background-position: -544px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_Moderno1
{
    background-position: -429px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_Moderno1
{
    background-position: -85px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Moderno1
{
    background-position: -528px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_Moderno1
{
    background-position: -578px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_Moderno1
{
    background-position: -528px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_Moderno1
{
    background-position: -204px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_Moderno1
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_Moderno1
{
    background-position: -102px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_Moderno1
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_Moderno1
{
    background-position: -374px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_Moderno1
{
    background-position: -289px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Moderno1
{
    background-position: -33px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_Moderno1
{
    background-position: -33px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_Moderno1
{
    background-position: -510px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_Moderno1
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_Moderno1
{
    background-position: -330px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_Moderno1
{
    background-position: -221px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_Moderno1
{
    background-position: -627px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_Moderno1
{
    background-position: -425px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_Moderno1
{
    background-position: -165px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_Moderno1
{
    background-position: -255px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_Moderno1
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_Moderno1
{
    background-position: -408px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_Moderno1
{
    background-position: -330px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_Moderno1
{
    background-position: -136px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Moderno1
{
    background-position: -33px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_Moderno1
{
    background-position: -459px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_Moderno1
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Moderno1
{
    background-position: -493px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Moderno1
{
    background-position: -132px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Moderno1
{
    background-position: -391px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Moderno1
{
    background-position: -429px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_Moderno1
{
    background-position: -289px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_Moderno1
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_Moderno1
{
    background-position: -272px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Moderno1
{
    background-position: -66px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_Moderno1
{
    background-position: -136px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Moderno1
{
    background-position: -198px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_Moderno1
{
    background-position: -51px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Moderno1
{
    background-position: -165px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_Moderno1
{
    background-position: -595px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_Moderno1
{
    background-position: -396px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_Moderno1
{
    background-position: -391px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_Moderno1
{
    background-position: -33px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_Moderno1
{
    background-position: -51px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_Moderno1
{
    background-position: -462px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Moderno1
{
    background-position: -153px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Moderno1
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_Moderno1
{
    background-position: -595px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Moderno1
{
    background-position: -297px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_Moderno1
{
    background-position: -34px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_Moderno1
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_Moderno1
{
    background-position: -119px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_Moderno1
{
    background-position: -68px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_Moderno1
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_Moderno1
{
    background-position: -264px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_Moderno1
{
    background-position: -561px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_Moderno1
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_Moderno1
{
    background-position: -459px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_Moderno1
{
    background-position: -561px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_Moderno1
{
    background-position: -476px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_Moderno1
{
    background-position: -363px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_Moderno1
{
    background-position: -561px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_Moderno1
{
    background-position: -363px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_Moderno1
{
    background-position: -510px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_Moderno1
{
    background-position: -561px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_Moderno1
{
    background-position: -221px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_Moderno1
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_Moderno1
{
    background-position: -170px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_Moderno1
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_Moderno1
{
    background-position: -323px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_Moderno1
{
    background-position: -66px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_Moderno1
{
    background-position: -476px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_Moderno1
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_Moderno1
{
    background-position: -17px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_Moderno1
{
    background-position: 0px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Moderno1
{
    background-position: -408px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Moderno1
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_Moderno1
{
    background-position: -629px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Moderno1
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_Moderno1
{
    background-position: -476px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_Moderno1
{
    background-position: 0px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_Moderno1
{
    background-position: -306px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_Moderno1
{
    background-position: -396px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_Moderno1
{
    background-position: -340px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_Moderno1
{
    background-position: -396px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_Moderno1
{
    background-position: -238px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_Moderno1
{
    background-position: -429px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_Moderno1
{
    background-position: -119px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_Moderno1
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_Moderno1
{
    background-position: -493px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_Moderno1
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_Moderno1
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColor_Moderno1
{
    background-position: -527px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorDisabled_Moderno1
{
    background-position: -306px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorLarge_Moderno1
{
    background-position: -429px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Moderno1
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBold_Moderno1
{
    background-position: -17px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldDisabled_Moderno1
{
    background-position: -493px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldLarge_Moderno1
{
    background-position: -66px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Moderno1
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenter_Moderno1
{
    background-position: -612px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterDisabled_Moderno1
{
    background-position: -510px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterLarge_Moderno1
{
    background-position: -297px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Moderno1
{
    background-position: -264px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Moderno1
{
    background-position: -153px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Moderno1
{
    background-position: -340px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Moderno1
{
    background-position: -528px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Moderno1
{
    background-position: -462px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Moderno1
{
    background-position: -68px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Moderno1
{
    background-position: -595px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Moderno1
{
    background-position: -495px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Moderno1
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialog_Moderno1
{
    background-position: -170px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Moderno1
{
    background-position: -272px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Moderno1
{
    background-position: -429px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Moderno1
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Moderno1
{
    background-position: -187px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Moderno1
{
    background-position: -374px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Moderno1
{
    background-position: -198px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Moderno1
{
    background-position: -627px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpelling_Moderno1
{
    background-position: 0px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Moderno1
{
    background-position: -170px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Moderno1
{
    background-position: -594px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Moderno1
{
    background-position: -561px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopy_Moderno1
{
    background-position: -595px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyDisabled_Moderno1
{
    background-position: -374px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyLarge_Moderno1
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Moderno1
{
    background-position: -231px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCut_Moderno1
{
    background-position: -255px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutDisabled_Moderno1
{
    background-position: -612px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutLarge_Moderno1
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCutLargeDisabled_Moderno1
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTable_Moderno1
{
    background-position: -629px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumn_Moderno1
{
    background-position: -459px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Moderno1
{
    background-position: -544px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Moderno1
{
    background-position: -561px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Moderno1
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Moderno1
{
    background-position: -612px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableLarge_Moderno1
{
    background-position: -561px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Moderno1
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRow_Moderno1
{
    background-position: -238px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Moderno1
{
    background-position: -85px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Moderno1
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Moderno1
{
    background-position: -495px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroup_Moderno1
{
    background-position: -495px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroupDisabled_Moderno1
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColor_Moderno1
{
    background-position: -289px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorDisabled_Moderno1
{
    background-position: -425px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorLarge_Moderno1
{
    background-position: -495px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Moderno1
{
    background-position: -561px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreen_Moderno1
{
    background-position: -459px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenDisabled_Moderno1
{
    background-position: 0px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenLarge_Moderno1
{
    background-position: -627px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Moderno1
{
    background-position: -231px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndent_Moderno1
{
    background-position: -306px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentDisabled_Moderno1
{
    background-position: -153px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentLarge_Moderno1
{
    background-position: -396px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Moderno1
{
    background-position: -528px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialog_Moderno1
{
    background-position: -527px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Moderno1
{
    background-position: -34px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Moderno1
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Moderno1
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialog_Moderno1
{
    background-position: -204px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Moderno1
{
    background-position: -442px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Moderno1
{
    background-position: -495px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Moderno1
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedList_Moderno1
{
    background-position: -17px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Moderno1
{
    background-position: -408px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Moderno1
{
    background-position: -594px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Moderno1
{
    background-position: -297px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Moderno1
{
    background-position: -527px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Moderno1
{
    background-position: -221px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Moderno1
{
    background-position: -330px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Moderno1
{
    background-position: -363px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Moderno1
{
    background-position: -544px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Moderno1
{
    background-position: -425px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Moderno1
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Moderno1
{
    background-position: -528px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialog_Moderno1
{
    background-position: -119px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Moderno1
{
    background-position: -187px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Moderno1
{
    background-position: -363px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Moderno1
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Moderno1
{
    background-position: -272px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Moderno1
{
    background-position: -476px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Moderno1
{
    background-position: -330px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Moderno1
{
    background-position: -132px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Moderno1
{
    background-position: -442px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Moderno1
{
    background-position: -357px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Moderno1
{
    background-position: 0px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Moderno1
{
    background-position: -627px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedList_Moderno1
{
    background-position: -85px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Moderno1
{
    background-position: -391px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Moderno1
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Moderno1
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalic_Moderno1
{
    background-position: 0px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicDisabled_Moderno1
{
    background-position: -51px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicLarge_Moderno1
{
    background-position: -264px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Moderno1
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFull_Moderno1
{
    background-position: -357px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Moderno1
{
    background-position: 0px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullLarge_Moderno1
{
    background-position: -231px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Moderno1
{
    background-position: -297px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeft_Moderno1
{
    background-position: -408px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftDisabled_Moderno1
{
    background-position: -578px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftLarge_Moderno1
{
    background-position: -396px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Moderno1
{
    background-position: -132px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Moderno1
{
    background-position: -255px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Moderno1
{
    background-position: -544px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Moderno1
{
    background-position: -165px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Moderno1
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Moderno1
{
    background-position: -340px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Moderno1
{
    background-position: -357px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Moderno1
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Moderno1
{
    background-position: -330px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdent_Moderno1
{
    background-position: -272px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentDisabled_Moderno1
{
    background-position: -442px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentLarge_Moderno1
{
    background-position: -231px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Moderno1
{
    background-position: -99px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePaste_Moderno1
{
    background-position: -238px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteDisabled_Moderno1
{
    background-position: -561px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWord_Moderno1
{
    background-position: -578px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Moderno1
{
    background-position: -323px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Moderno1
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Moderno1
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLarge_Moderno1
{
    background-position: -594px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Moderno1
{
    background-position: -429px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrint_Moderno1
{
    background-position: -629px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintDisabled_Moderno1
{
    background-position: -119px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintLarge_Moderno1
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Moderno1
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedo_Moderno1
{
    background-position: -34px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoDisabled_Moderno1
{
    background-position: -306px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoLarge_Moderno1
{
    background-position: -528px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Moderno1
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormat_Moderno1
{
    background-position: -442px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Moderno1
{
    background-position: -221px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Moderno1
{
    background-position: -297px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Moderno1
{
    background-position: -363px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRight_Moderno1
{
    background-position: -425px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightDisabled_Moderno1
{
    background-position: -68px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightLarge_Moderno1
{
    background-position: -264px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRightLargeDisabled_Moderno1
{
    background-position: -264px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocx_Moderno1
{
    background-position: -289px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Moderno1
{
    background-position: -187px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Moderno1
{
    background-position: -462px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Moderno1
{
    background-position: -198px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMht_Moderno1
{
    background-position: -527px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Moderno1
{
    background-position: -204px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Moderno1
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Moderno1
{
    background-position: -99px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdt_Moderno1
{
    background-position: -17px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Moderno1
{
    background-position: -323px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Moderno1
{
    background-position: -231px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Moderno1
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdf_Moderno1
{
    background-position: -102px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Moderno1
{
    background-position: -612px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Moderno1
{
    background-position: -330px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Moderno1
{
    background-position: -462px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtf_Moderno1
{
    background-position: -578px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Moderno1
{
    background-position: -153px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Moderno1
{
    background-position: -495px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Moderno1
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxt_Moderno1
{
    background-position: -51px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Moderno1
{
    background-position: -34px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Moderno1
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Moderno1
{
    background-position: -462px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Moderno1
{
    background-position: -255px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Moderno1
{
    background-position: -493px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Moderno1
{
    background-position: -594px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Moderno1
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Moderno1
{
    background-position: -374px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Moderno1
{
    background-position: -644px -231px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Moderno1
{
    background-position: -132px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Moderno1
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethrough_Moderno1
{
    background-position: -340px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Moderno1
{
    background-position: -510px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughLarge_Moderno1
{
    background-position: -594px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Moderno1
{
    background-position: -396px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscript_Moderno1
{
    background-position: -102px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptDisabled_Moderno1
{
    background-position: -238px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptLarge_Moderno1
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Moderno1
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscript_Moderno1
{
    background-position: -68px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Moderno1
{
    background-position: -85px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptLarge_Moderno1
{
    background-position: -462px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Moderno1
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderline_Moderno1
{
    background-position: -561px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineDisabled_Moderno1
{
    background-position: -204px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineLarge_Moderno1
{
    background-position: -264px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Moderno1
{
    background-position: -165px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndo_Moderno1
{
    background-position: -136px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoDisabled_Moderno1
{
    background-position: -391px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoLarge_Moderno1
{
    background-position: -198px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Moderno1
{
    background-position: -297px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlink_Moderno1
{
    background-position: -170px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkDisabled_Moderno1
{
    background-position: -357px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkLarge_Moderno1
{
    background-position: -99px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Moderno1
{
    background-position: -627px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroup_Moderno1
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Moderno1
{
    background-position: -66px -165px;
    width: 32px;
    height: 32px;
}

