.dxTreeList_CollapsedButton_MetropolisIMB,
.dxTreeList_CollapsedButtonRtl_MetropolisIMB,
.dxTreeList_DragAndDropArrowDown_MetropolisIMB,
.dxTreeList_DragAndDropArrowUp_MetropolisIMB,
.dxTreeList_DragAndDropHide_MetropolisIMB,
.dxTreeList_DragAndDropNode_MetropolisIMB,
.dxTreeList_ExpandedButton_MetropolisIMB,
.dxTreeList_ExpandedButtonRtl_MetropolisIMB,
.dxTreeList_SortAsc_MetropolisIMB,
.dxTreeList_SortDesc_MetropolisIMB
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton_MetropolisIMB
{
    background-position: -23px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_CollapsedButtonRtl_MetropolisIMB
{
    background-position: -28px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_DragAndDropArrowDown_MetropolisIMB
{
    background-position: -51px -13px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp_MetropolisIMB
{
    background-position: -51px 0px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropHide_MetropolisIMB
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxTreeList_DragAndDropNode_MetropolisIMB
{
    background-position: -14px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButton_MetropolisIMB
{
    background-position: 0px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButtonRtl_MetropolisIMB
{
    background-position: -37px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_SortAsc_MetropolisIMB
{
    background-position: -35px -17px;
    width: 7px;
    height: 5px;
}
.dxTreeList_SortDesc_MetropolisIMB
{
    background-position: -43px -17px;
    width: 7px;
    height: 5px;
}

