.dxpgControl_Vodafone, .dxpgCustForm_Vodafone
{
	color: #333333;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	border: solid 1px #c0c0c0;
	background-color: white;
}
.dxpgContainerCell_Vodafone
{
	vertical-align: top;
}
.dxpgMainTable_Vodafone
{
	border: 0px;
	border-collapse: separate;
	width: 100%;
	text-align: left;
}
div.dxpgMainTable_Vodafone
{
	-ms-touch-action: pinch-zoom;
}
.dxpgMainTable_Vodafone caption 
{
	background: #ACACAC;
	color: white;
	border-bottom: Solid 1px #9F9F9F;
    font-size: 1.25em;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
}
.dxpgHeader_Vodafone
{
	border-width: 0px;
	cursor: pointer;
	white-space: nowrap;
    	text-align: left;
}
.dxpgHeaderTable_Vodafone
{
	border: solid 1px #c0c0c0;
	width: 100%;
	border-collapse: separate !important;
}
.dxpgMSDraggable_Vodafone .dxpgHeaderTable_Vodafone,
.dxpgCustFieldsDiv_Vodafone .dxpgHeaderTable_Vodafone
{
	-ms-touch-action: pinch-zoom;
}

.dxpgHeaderGroupButton_Vodafone
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_Vodafone
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort_Vodafone
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_Vodafone
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgArea_Vodafone
{
	border: solid 1px #c0c0c0;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_Vodafone
{
	border-bottom-style: solid;
}
.dxpgRowArea_Vodafone
{
}
.dxpgDataArea_Vodafone
{
}
.dxpgFilterArea_Vodafone
{
	border-bottom-style: solid;
}
.dxpgEmptyArea_Vodafone
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_Vodafone
{
	border: solid 1px #c0c0c0;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
	font-weight: normal;
	text-align: left;	
}
.dxpgColumnTotalFieldValue_Vodafone
{
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_Vodafone
{
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_Vodafone
{
	border: solid 1px #c0c0c0;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 3px 6px 4px 6px;
	font-weight: normal;
	text-align: left;
}
.dxpgRowTotalFieldValue_Vodafone
{
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue_Vodafone
{	
	padding: 0;
	font-size: 0;
}
.dxpgRowGrandTotalFieldValue_Vodafone
{
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 6px;	
}
.dxpgCollapsedButton_Vodafone
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_Vodafone
{
	vertical-align: -1px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_Vodafone
{
	text-align: right;
	background-color: White;	
	border-color: #cecece;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	padding-top:3px;
	white-space: nowrap;
}
.dxpgKPICell_Vodafone
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_Vodafone
{
}
.dxpgGrandTotalCell_Vodafone
{
}
.dxpgFilterItem_Vodafone
{
    white-space: nowrap;
}
.dxpgFilterButton_Vodafone
{
	padding: 2px 6px;
}
.dxpgTopPager_Vodafone
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #c0c0c0;
	padding: 4px 0;
}
.dxpgBottomPager_Vodafone
{
	border-top: solid 1px #c0c0c0;
	border-bottom: none;
	border-right: none;
	border-left: none;
	padding: 7px 0;
}
.dxpgTopPager_Vodafone,
.dxpgBottomPager_Vodafone
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_Vodafone
{
	color: White;
	font-size: 0.91em;
	background-image: none!important;
}
.dxpgCustomizationFieldsContent_Vodafone
{
	padding: 0px !important;
	min-width: 300px;
}
.dxpgMenuItem_Vodafone 
{
}
.dxpgDataHeadersImage_Vodafone
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_Vodafone
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel_Vodafone
{
	border: none;
}
.dxpgPrefilterPanelLink_Vodafone
{
	color: #ED1B24;
	text-decoration: underline;
}
.dxpgPrefilterPanelCheckBoxCell_Vodafone
{
	padding: 0 7px;
}
.dxpgPrefilterPanelImageCell_Vodafone
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_Vodafone
{
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_Vodafone
{
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_Vodafone
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_Vodafone
{
	border-top: solid 1px #c0c0c0;
	padding: 6px;
	white-space: nowrap;
}
.dxpgGroupSeparator_Vodafone 
{
	vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders_Vodafone,
.dxpgCustFieldsRowAreaHeaders_Vodafone,
.dxpgCustFieldsColumnAreaHeaders_Vodafone,
.dxpgCustFieldsDataAreaHeaders_Vodafone,
.BottomPanelOnly1by4 .dxpgFLFRDiv_Vodafone,
.BottomPanelOnly1by4 .dxpgFLCDDiv_Vodafone
{
width:100%;
height:50%;
}
.StackedDefault .dxpgCustFieldsFieldList_Vodafone
{
height:34%;
}
.StackedDefault .dxpgFLFRDiv_Vodafone
{
width:50%;
height:66%;
float:left;
}
.StackedDefault .dxpgFLCDDiv_Vodafone
{
width:50%;
height:66%;
float:right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_Vodafone .dxpgFLTextDiv_Vodafone,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_Vodafone .dxpgFLTextDiv_Vodafone
{
height:47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_Vodafone
{
width:100%;
height:100%;
}
.TopPanelOnly .dxpgFLDefereDiv_Vodafone .dxeBase_Vodafone,
.TopPanelOnly .dxpgFLDefereDiv_Vodafone .dxpgFLDefereDB_Vodafone,
.TopPanelOnly .dxpgFLFRDiv_Vodafone,
.TopPanelOnly .dxpgFLCDDiv_Vodafone,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_Vodafone,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_Vodafone,
.TopPanelOnly .dxpgFLTextDiv_Vodafone div
{
display:none;
}
.TopPanelOnly .dxpgFLTextDiv_Vodafone
{
 height:19px;   
}
.TopPanelOnly .dxpgFLDefereDiv_Vodafone
{
 height:16px;   
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_Vodafone,
.StackedSideBySide .dxpgCustFieldsFieldList_Vodafone
{
width:50%;
height:100%;
float:left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_Vodafone
{
width:50%;
height:100%;
float:right;
}
.StackedSideBySide .dxpgFLFRDiv_Vodafone,
.StackedSideBySide .dxpgFLCDDiv_Vodafone
{
width:50%;
height:50%;
float:right;
}
.dxpgCustFields_Vodafone
{
    	display:block;
position:relative;
}
.dxpgFLListDiv_Vodafone > div
{
    border:1px solid #c0c0c0;
    position:relative;
    display:block;
    height:100%;
    padding:1px;
    background:#FFFFFF;
    overflow:hidden;
}
.dxpgFLListDiv_Vodafone > div > div
{
    position:relative;
    display:block;
    background:#FFFFFF;
    height:100%;
    padding:0px;
    overflow-x:hidden;
    overflow-y:auto;
}
.DragOver .dxpgFLListDiv_Vodafone > div
{
    background:#FFD324;
}
.dxpgFLListDiv_Vodafone 
{
    padding:0px 3px 0px 3px;
}
.dxpgFLButtonDiv_Vodafone .dxbButton_Vodafone div.dxb
{
	border: dotted 1px transparent;	
	padding:1px 7px 0px;
}
.dxpgFLButtonDiv_Vodafone .dxbButton_Vodafone div.dxbf
{
	border: dotted 1px black;	
}
.dxpgFLTextDiv_Vodafone
{
 height:28px;
}
.dxpgFLTextDiv_Vodafone div
{
   display:block;
   float:left;
   margin:-17px 0px 3px 0px;
   left:6px;
   top:100%;
   position:relative;
}
div.dxpgFLTextImgDiv_Vodafone
{
    display:block;
    height:16px;
    width:16px;
    margin:-18px 0px 3px 0px;
    left:3px;
}
.dxpgFLButtonDiv_Vodafone
{
    float:right;
    height:28px;
    position:relative;
    z-index:1;
}
.dxpgFLDefereDiv_Vodafone
{
    height:50px;
}
.dxpgCustFieldsDiv_Vodafone
{
 clear:both;   
 padding:0px 9px;
}
.dxpgFLButton_Vodafone 
{
 margin:12px 12px 0px 0px;
 width:40px;
 height:23px;
}
.dxpgFLDefereDiv_Vodafone .dxeBase_Vodafone
{
 float:left;
 display:block;
 border-collapse:separate;
 padding:17px 0px 0px 0px; 
 margin-left:8px;  
}
.dxpgFLDefereDB_Vodafone
{
float:right;
display:block;
margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_Vodafone .dxbButton_Vodafone div.dxb
{
    padding:1px 13px 1px 13px;
    border: dotted 1px transparent;	
}
.dxpgFLDefereDiv_Vodafone .dxbButton_Vodafone div.dxbf
{
    border: dotted 1px black;	
}
.dxpgFLListDiv_Vodafone table 
{
 width:100%;
 table-layout:fixed;  
 overflow:visible;
}
.dxpgFLListDiv_Vodafone table table td
{
     overflow:hidden; 
}
/*Loading Panel*/
.dxpgLoadingPanel_Vodafone
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxpgLoadingPanel_Vodafone td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxpgLoadingPanel_Vodafone .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

