.dxpgControl_IMB, .dxpgCustForm_IMB
{
	color: #333333;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	border: solid 1px #c0c0c0;
	background-color: white;
}
.dxpgContainerCell_IMB
{
	vertical-align: top;
}
.dxpgMainTable_IMB
{
	border: 0px;
	border-collapse: separate;
	width: 100%;
	text-align: left;
}
div.dxpgMainTable_IMB
{
	-ms-touch-action: pinch-zoom;
}
.dxpgMainTable_IMB caption 
{
	background: #ACACAC;
	color: white;
	border-bottom: Solid 1px #9F9F9F;
    font-size: 1.25em;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
}
.dxpgHeader_IMB
{
	border-width: 0px;
	cursor: pointer;
	white-space: nowrap;
    	text-align: left;
}
.dxpgHeaderTable_IMB
{
	border: solid 1px #c0c0c0;
	width: 100%;
	border-collapse: separate !important;
}
.dxpgMSDraggable_IMB .dxpgHeaderTable_IMB,
.dxpgCustFieldsDiv_IMB .dxpgHeaderTable_IMB
{
	-ms-touch-action: pinch-zoom;
}

.dxpgHeaderGroupButton_IMB
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_IMB
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort_IMB
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_IMB
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgArea_IMB
{
	border: solid 1px #c0c0c0;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_IMB
{
	border-bottom-style: solid;
}
.dxpgRowArea_IMB
{
}
.dxpgDataArea_IMB
{
}
.dxpgFilterArea_IMB
{
	border-bottom-style: solid;
}
.dxpgEmptyArea_IMB
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_IMB
{
	border: solid 1px #c0c0c0;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
	font-weight: normal;
	text-align: left;	
}
.dxpgColumnTotalFieldValue_IMB
{
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_IMB
{
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_IMB
{
	border: solid 1px #c0c0c0;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 3px 6px 4px 6px;
	font-weight: normal;
	text-align: left;
}
.dxpgRowTotalFieldValue_IMB
{
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue_IMB
{	
	padding: 0;
	font-size: 0;
}
.dxpgRowGrandTotalFieldValue_IMB
{
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 6px;	
}
.dxpgCollapsedButton_IMB
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_IMB
{
	vertical-align: -1px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_IMB
{
	text-align: right;
	background-color: White;	
	border-color: #cecece;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	padding-top:3px;
	white-space: nowrap;
}
.dxpgKPICell_IMB
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_IMB
{
}
.dxpgGrandTotalCell_IMB
{
}
.dxpgFilterItem_IMB
{
    white-space: nowrap;
}
.dxpgFilterButton_IMB
{
	padding: 2px 6px;
}
.dxpgTopPager_IMB
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #c0c0c0;
	padding: 4px 0;
}
.dxpgBottomPager_IMB
{
	border-top: solid 1px #c0c0c0;
	border-bottom: none;
	border-right: none;
	border-left: none;
	padding: 7px 0;
}
.dxpgTopPager_IMB,
.dxpgBottomPager_IMB
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_IMB
{
	color: White;
	font-size: 0.91em;
	background-image: none!important;
}
.dxpgCustomizationFieldsContent_IMB
{
	padding: 0px !important;
	min-width: 300px;
}
.dxpgMenuItem_IMB 
{
}
.dxpgDataHeadersImage_IMB
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_IMB
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel_IMB
{
	border: none;
}
.dxpgPrefilterPanelLink_IMB
{
	color: #00A74F;
	text-decoration: underline;
}
.dxpgPrefilterPanelCheckBoxCell_IMB
{
	padding: 0 7px;
}
.dxpgPrefilterPanelImageCell_IMB
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_IMB
{
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_IMB
{
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_IMB
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_IMB
{
	border-top: solid 1px #c0c0c0;
	padding: 6px;
	white-space: nowrap;
}
.dxpgGroupSeparator_IMB 
{
	vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders_IMB,
.dxpgCustFieldsRowAreaHeaders_IMB,
.dxpgCustFieldsColumnAreaHeaders_IMB,
.dxpgCustFieldsDataAreaHeaders_IMB,
.BottomPanelOnly1by4 .dxpgFLFRDiv_IMB,
.BottomPanelOnly1by4 .dxpgFLCDDiv_IMB
{
width:100%;
height:50%;
}
.StackedDefault .dxpgCustFieldsFieldList_IMB
{
height:34%;
}
.StackedDefault .dxpgFLFRDiv_IMB
{
width:50%;
height:66%;
float:left;
}
.StackedDefault .dxpgFLCDDiv_IMB
{
width:50%;
height:66%;
float:right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_IMB .dxpgFLTextDiv_IMB,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_IMB .dxpgFLTextDiv_IMB
{
height:47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_IMB
{
width:100%;
height:100%;
}
.TopPanelOnly .dxpgFLDefereDiv_IMB .dxeBase_IMB,
.TopPanelOnly .dxpgFLDefereDiv_IMB .dxpgFLDefereDB_IMB,
.TopPanelOnly .dxpgFLFRDiv_IMB,
.TopPanelOnly .dxpgFLCDDiv_IMB,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_IMB,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_IMB,
.TopPanelOnly .dxpgFLTextDiv_IMB div
{
display:none;
}
.TopPanelOnly .dxpgFLTextDiv_IMB
{
 height:19px;   
}
.TopPanelOnly .dxpgFLDefereDiv_IMB
{
 height:16px;   
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_IMB,
.StackedSideBySide .dxpgCustFieldsFieldList_IMB
{
width:50%;
height:100%;
float:left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_IMB
{
width:50%;
height:100%;
float:right;
}
.StackedSideBySide .dxpgFLFRDiv_IMB,
.StackedSideBySide .dxpgFLCDDiv_IMB
{
width:50%;
height:50%;
float:right;
}
.dxpgCustFields_IMB
{
    	display:block;
position:relative;
}
.dxpgFLListDiv_IMB > div
{
    border:1px solid #c0c0c0;
    position:relative;
    display:block;
    height:100%;
    padding:1px;
    background:#FFFFFF;
    overflow:hidden;
}
.dxpgFLListDiv_IMB > div > div
{
    position:relative;
    display:block;
    background:#FFFFFF;
    height:100%;
    padding:0px;
    overflow-x:hidden;
    overflow-y:auto;
}
.DragOver .dxpgFLListDiv_IMB > div
{
    background:#FFD324;
}
.dxpgFLListDiv_IMB 
{
    padding:0px 3px 0px 3px;
}
.dxpgFLButtonDiv_IMB .dxbButton_IMB div.dxb
{
	border: dotted 1px transparent;	
	padding:1px 7px 0px;
}
.dxpgFLButtonDiv_IMB .dxbButton_IMB div.dxbf
{
	border: dotted 1px black;	
}
.dxpgFLTextDiv_IMB
{
 height:28px;
}
.dxpgFLTextDiv_IMB div
{
   display:block;
   float:left;
   margin:-17px 0px 3px 0px;
   left:6px;
   top:100%;
   position:relative;
}
div.dxpgFLTextImgDiv_IMB
{
    display:block;
    height:16px;
    width:16px;
    margin:-18px 0px 3px 0px;
    left:3px;
}
.dxpgFLButtonDiv_IMB
{
    float:right;
    height:28px;
    position:relative;
    z-index:1;
}
.dxpgFLDefereDiv_IMB
{
    height:50px;
}
.dxpgCustFieldsDiv_IMB
{
 clear:both;   
 padding:0px 9px;
}
.dxpgFLButton_IMB 
{
 margin:12px 12px 0px 0px;
 width:40px;
 height:23px;
}
.dxpgFLDefereDiv_IMB .dxeBase_IMB
{
 float:left;
 display:block;
 border-collapse:separate;
 padding:17px 0px 0px 0px; 
 margin-left:8px;  
}
.dxpgFLDefereDB_IMB
{
float:right;
display:block;
margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_IMB .dxbButton_IMB div.dxb
{
    padding:1px 13px 1px 13px;
    border: dotted 1px transparent;	
}
.dxpgFLDefereDiv_IMB .dxbButton_IMB div.dxbf
{
    border: dotted 1px black;	
}
.dxpgFLListDiv_IMB table 
{
 width:100%;
 table-layout:fixed;  
 overflow:visible;
}
.dxpgFLListDiv_IMB table table td
{
     overflow:hidden; 
}
/*Loading Panel*/
.dxpgLoadingPanel_IMB
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxpgLoadingPanel_IMB td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxpgLoadingPanel_IMB .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

