<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Autofac.Web" version="4.0.0" targetFramework="net471" />
  <package id="Autofac.WebApi2" version="4.2.0" targetFramework="net471" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net471" />
  <package id="AWSSDK.Core" version="3.7.103.14" targetFramework="net471" />
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net471" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.2" targetFramework="net471" />
  <package id="cldrjs" version="0.5.0" targetFramework="net471" />
  <package id="ClosedXML" version="0.93.0" targetFramework="net471" />
  <package id="DevExtreme.Web" version="18.2.9" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net471" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net471" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net471" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net471" />
  <package id="DotSpatial.Serialization" version="1.9" targetFramework="net471" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net471" />
  <package id="FastMember" version="1.4.1" targetFramework="net471" />
  <package id="Font.Awesome" version="5.1.0" targetFramework="net471" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net471" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net471" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net471" />
  <package id="Google.Api.CommonProtos" version="2.7.0" targetFramework="net471" />
  <package id="Google.Api.Gax" version="4.3.1" targetFramework="net471" />
  <package id="Google.Api.Gax.Grpc" version="4.3.1" targetFramework="net471" />
  <package id="Google.Api.Gax.Rest" version="4.0.0" targetFramework="net471" />
  <package id="Google.Apis" version="1.58.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.58.0" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.58.0" targetFramework="net471" />
  <package id="Google.Apis.Storage.v1" version="1.57.0.2742" targetFramework="net471" />
  <package id="Google.Cloud.Firestore" version="3.0.0" targetFramework="net471" />
  <package id="Google.Cloud.Firestore.V1" version="3.1.0" targetFramework="net471" />
  <package id="Google.Cloud.Location" version="2.0.0" targetFramework="net471" />
  <package id="Google.Cloud.Storage.V1" version="4.1.0" targetFramework="net471" />
  <package id="Google.LongRunning" version="3.0.0" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.21.0" targetFramework="net471" />
  <package id="Grpc.Auth" version="2.51.0" targetFramework="net471" />
  <package id="Grpc.Core" version="2.46.5" targetFramework="net471" />
  <package id="Grpc.Core.Api" version="2.51.0" targetFramework="net471" />
  <package id="Grpc.Net.Client" version="2.51.0" targetFramework="net471" />
  <package id="Grpc.Net.Common" version="2.51.0" targetFramework="net471" />
  <package id="jQuery" version="3.4.1" targetFramework="net471" />
  <package id="jquery-globalize" version="1.3" targetFramework="net471" />
  <package id="JSZip" version="3.1.5" targetFramework="net471" />
  <package id="JWT" version="9.0.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.23.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.23.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="6.23.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.23.1" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net471" />
  <package id="NetTopologySuite" version="1.15.0" targetFramework="net471" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.0" targetFramework="net471" />
  <package id="NetTopologySuite.Core" version="1.15.0" targetFramework="net471" />
  <package id="NetTopologySuite.DotSpatial.Converter" version="1.13.2" targetFramework="net471" />
  <package id="NetTopologySuite.Features" version="1.15.0" targetFramework="net471" />
  <package id="NetTopologySuite.IO" version="1.14.0.1" targetFramework="net471" />
  <package id="NetTopologySuite.IO.GeoJSON" version="1.15.0" targetFramework="net471" />
  <package id="NetTopologySuite.IO.GeoTools" version="1.13.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.7" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.23.1" targetFramework="net471" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net471" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>