<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimizerSection" type="AspNetPerformanceOptimizer.ConfigurationSections.OptimizerSection, AspNetPerformanceOptimizer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="AlphaWebConfig" type="AlphaWeb.Core.Configuration.AlphaWebConfig,AlphaWeb.Core" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlatinumWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="activateSignalR" value="false" />
    <add key="ZyreKlient" value="false" />
    <add key="Languages" value="" />
    <add key="MaxLoginAttempts" value="3" />
    <add key="toleroSekonda" value="10" />
    <add key="skadoLinkEmail" value="3" />
    <add key="maxNrDergimEmailPerUser" value="3" />
    <add key="emailAWeb" value="imb.alphaweb@gmail.com" />
    <add key="passEmailAweb" value="1mB$2()i3&gt;" />
    <add key="shfaqLinkResetPass" value="true" />
    <add key="BllokoLogin" value="po" />
    <add key="ipEkzekutoWebServiceAuto" value="127.0.0.1" />
    <add key="bigVers" value="6.1" />
    <add key="smallVers" value="6.1.1" />
    <add key="chatUrl" value="http://kelvin-new:8003/faye" />
    <add key="domainName" value="IMDDOMAIN.COM" />
    <add key="MaxFileSize" value="20000000" />
    <add key="salt" value="V0d@f0n%%nk^pt" />
    <add key="EshteOnline" value="true" />
    <add key="PeopleFinderUser" value="Vodafone" />
    <add key="PeopleFinderPassword" value="V0d@f0ne123?" />
    <add key="adreseDergimiVodafoneAdmin" value="lorena.shehu@imb.al" />
    <add key="VodSendSMS_Service_URL" value="http://195.233.190.109/axis2/services/VFALSendSMSGateWay?wsdl" />
    <add key="SendSMSVodUser" value="akshi" />
    <add key="SendSMSVodPassword" value="Akshi1!2@3#" />
    <add key="SendSMSVodOriginator" value="5322" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailServerWithCredentials" value="true" />
    <add key="brmUrl" value="http://osb-preprod-vfal.internal.vodafone.com/VFALBRMServicesOSBProject/proxy/VFALBRMServicesOSBProxy" />
    <add key="brmUsername" value="AlfaWeb" />
    <add key="brmPassword" value="AlfaWeb1!2@3#" />
    <add key="VodIVString" value="45287112549354892144548565456549" />
    <add key="VodKeyString" value="bnjueolkdiwpoidb" />
    <add key="reparti" value="5" />
    <add key="URLKasa" value="http://10.5.111.25:8080/Kasa/KasaWebService.asmx" />
    <add key="mesazhkasepagesa" value="Pagese fature" />
    <!--MailServerWithCredentials ben te mundur qe adresa derguese per emailet te autentifikohet me email dhe password nese eshte true, dhe pa password nese eshte false, pra vetem me adresen email.-->
    <add key="UseDefaultCredentials" value="true" />
    <add key="BuxhetQK" value="true" />
    <add key="wsAktivzoBundle" value="http://osb-prod-vfal.internal.vodafone.com/SurePayOperationsOSBProject/ProxyServices/CommonServiceProxy" />
    <add key="URLSelfCare" value="http://osb-preprod-vfal.internal.vodafone.com//VFALSelfCareOperationsOSBProxy/proxy/VFALSelfCareOperationsProxy?wsdl" />
    <add key="AutoLoginAsVizitor" value="false" />
	<add key="urlEinvoice" value="https://einvoice-test.tatime.gov.al/EinvoiceService-v1/EinvoiceService.wsdl" />
	<add key="urlFiskalizimi" value="https://efiskalizimi-test.tatime.gov.al/FiscalizationService-v3/FiscalizationService.wsdl" />
	<add key="kodSoftueri" value="pp880sx298" />
	<add key="kodMirembajtesi" value="rq645yn219" />
    <add key="URL_SUBJEKTEPASIV" value="https://europe-west1-alphaweb.cloudfunctions.net/checkPassiveSubjectNipt/nipt/" />
    <add key="SuksesFiskalizimi" value="https://europe-west1-live-feed-imb.cloudfunctions.net/activity" />
    <add key="DeshtimFiskalizimi" value="https://europe-west1-live-feed-imb.cloudfunctions.net/activity" />
	<add key="urlFiskalizimiApp" value="https://efiskalizimi-app-test.tatime.gov.al/invoice-check/#/verify?iic=" />	
	<add key="urlMedianInputCheck" value="https://europe-west1-delta-327121.cloudfunctions.net/median_mad_input_check" />
	<add key="urlDatasetEndpoint" value="https://destishitje.free.beeceptor.com" />
	<add key="webhookAuthToken" value="andibega" />
	<add key="backupUrl" value="https://europe-west1-alphaweb.cloudfunctions.net/signedUrlForAlphaweb" />
	<add key="instanceUrl" value="https://europe-west1-alphaweb.cloudfunctions.net/get_instance_and_databases" />
	<add key="connectionStringUrl" value="https://europe-west1-alphaweb.cloudfunctions.net/updateConnectionString" />
	<add key="expireLink" value="https://europe-west1-imb-licence.cloudfunctions.net/notificationFor10DaysExpiring" />
	<add key="urlLogAlphaweb" value="https://europe-west1-alphaweb.cloudfunctions.net/logAlphawebEvent" />
	<add key="urlEmailAsign" value="https://default-vpc-dev-dot-imb-payment.ew.r.appspot.com/" />
	<add key="createDeltaCF" value="https://europe-west1-imb-delta.cloudfunctions.net/add_project_to_delta-1" />
	<add key="deltaRedirect" value="https://delta.alpha.al/loadProject/:id/idToken/:idToken" />
	<add key="deltaBucket" value="csv-files" />
	<add key="deltaBucketTmp" value="csv-files-tmp" />
	<add key="orgEndDateUrl" value="https://europe-west1-alphaweb.cloudfunctions.net/get_organization_end_date" />
	<add key="deltaUrl" value="https://europe-west1-imb-delta.cloudfunctions.net/delta_rollout_projects" />
	<add key="deltaUrl_get_project" value="https://europe-west1-alphaweb.cloudfunctions.net/getDeltaId" />
  </appSettings>
  <AlphaWebConfig>
    <UseResponseCompression>true</UseResponseCompression>
    <DataSettings DataProvider="sqlserver" DataConnectionString="Data Source=localhost\SQL2016;Persist Security Info=True;Initial Catalog=webinfbosh;User Id=sa;Password=bosh;Min pool size=0;Max pool size=1000000;Pooling=true" />
    <DisableSampleDataDuringInstallation>True</DisableSampleDataDuringInstallation>
    <UseFastInstallationService>False</UseFastInstallationService>
  </AlphaWebConfig>
	<connectionStrings>
    <add name="connStringAlpha" connectionString="Data Source=34.77.68.138;Persist Security Info=True;Initial Catalog=alpha-connection-string-testime;User Id=sqlserver;Password=Alpha.2019;Connection Lifetime=0;Min pool size=100;Max pool size=1000000;Pooling=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="LoginFail.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
      <httpHandlers>
        <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
        <add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add validate="false" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </httpHandlers>
    </system.web>
  </location>
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
      <httpHandlers>
        <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      </httpHandlers>
    </system.web>
  </location>
  <location path="webService_Vod.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NdryshimFjalekalimi.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebService_Automatizim.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebService_mobile.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServicePeopleFinder.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServiceTopMotivi.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GISPublicProxy.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="External">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
    </system.web>
  </location>
  <location path="images/FaqjaPare">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
    </system.web>
  </location>
  <location path="WebServiceLicencat">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
    </system.web>
  </location>
  <location allowOverride="true">
    <system.web>
      <machineKey decryptionKey="B7EFF1C5839A624E3F97D0268917EDE82F408D2ECBFAC817" validation="SHA1" validationKey="C2B8DF31AB9624D69428066DFDA1A479542825F3B48865C4E47AF6A026F22D853DEC2B3248DF268599BF89EF78B9E86CA05AC73577E0D5A14C45E0267588850B" />
      <customErrors mode="RemoteOnly" />
      <globalization culture="en-gb" uiCulture="en-gb" />
      <!--<pages controlRenderingCompatibilityVersion="4.0" />-->
      <compilation debug="true" targetFramework="4.7.1">
        <assemblies>
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </assemblies>
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </buildProviders>
      </compilation>
      <authentication mode="Forms">
        <forms name="authForm" protection="All" timeout="1200" path="/" loginUrl="/Prezantohu.aspx" slidingExpiration="true" defaultUrl="FaqeKryesore.aspx" requireSSL="false" cookieless="UseCookies" enableCrossAppRedirects="false" />
      </authentication>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
      <httpHandlers>
        <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </httpModules>
      <httpRuntime executionTimeout="6000" maxRequestLength="2000000" requestLengthDiskThreshold="18192" maxUrlLength="10999" maxQueryStringLength="2097151" />
      <sessionState mode="InProc" regenerateExpiredSessionId="true" timeout="120" />
    </system.web>
  </location>
  <location path="E-PaySlip" allowOverride="true">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny users="*" />
      </authorization>
      <httpModules>
        <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      </httpModules>
    </system.web>
  </location>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <!-- This module handles disposal of the request lifetime scope. -->
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <!-- This module injects properties on web forms. You could also use the UnsetPropertyInjectionModule or a custom module. -->
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules>
    <defaultDocument>
      <files>
        <add value="FaqeKryesore.aspx" />
      </files>
    </defaultDocument>
    <security>
      <authorization>
        <!--<add accessType="Allow" users="*" />-->
      </authorization>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".gpx" mimeType="text/xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="ThemeAssembly,IMB,Kesh,Vodafone,Moderno1" baseColor="" font="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" embedRequiredClientLibraries="false" accessibilityCompliant="false" checkReferencesToExternalScripts="false" ieCompatibilityVersion="edge" bootstrapMode="" protectControlState="true" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="PlatinumWeb.WebService_mobile">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="PlatinumWeb.WebService_mobile" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastMember.Signed" publicKeyToken="9e8f22703bef9a29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.58.0.0" newVersion="1.58.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.58.0.0" newVersion="1.58.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.58.0.0" newVersion="1.58.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Cloud.Firestore.V1" publicKeyToken="185c282632e132a0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <system.Web>
      <httpRuntime targetFramework="4.7.1" />
    </system.Web>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <nlog internalLogFile="${baseDir}/log/Errors/log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${baseDir}/log/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logImportiFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/importi/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logBrmFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/brm/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logPromocioneshFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/promocionet/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logWebApiFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/WebApi/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logRivleresimiFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/Rivleresimet/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logTraces" xsi:type="File" fileName="${baseDir}/log/Traces/${shortdate}.${level}.txt" layout="${longdate} : ${logger} ${message} ${exception:format=tostring}"></target>
      <!--shtim-->
      <target name="logShitjeFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/shitje/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logBuxhetimiFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/buxhetimi/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
      <target name="logMbylljePeriudheFileSpecificLog" xsi:type="File" fileName="${baseDir}/log/mbylljePeriudhe/${shortdate}.${level}.txt" layout="${longdate} [${event-properties:item=DataBase}] : ${logger} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" writeTo="logfile">
        <filters>
          <when condition="contains('${logger}','WebApi') or contains('${logger}','promocionet') or contains('${logger}','brm') or contains('${logger}','importi') or contains('${logger}','Rivleresimet') or contains('${logger}','shitje') or contains('${logger}','buxhetimi') or contains('${logger}','mbylljePeriudhe') or contains('${logger}','Traces') " action="Ignore" />
        </filters>
      </logger>
      <logger name="WebApi" writeTo="logWebApiFileSpecificLog" />
      <logger name="importi" writeTo="logImportiFileSpecificLog" />
      <logger name="brm" writeTo="logBrmFileSpecificLog" />
      <logger name="promocionet" writeTo="logPromocioneshFileSpecificLog" />
      <logger name="Rivleresimet" writeTo="logRivleresimiFileSpecificLog" />
      <logger name="Traces" writeTo="logTraces" />
      <!--shtim-->
      <logger name="shitje" writeTo="logShitjeFileSpecificLog" />
      <logger name="buxhetimi" writeTo="logBuxhetimiFileSpecificLog" />
      <logger name="mbylljePeriudhe" writeTo="logMbylljePeriudheFileSpecificLog" />
    </rules>
  </nlog>
</configuration>