.dxm-hovered .dxXtraReports_BtnFirstPage_Vodafone,
.dxm-hovered .dxXtraReports_BtnLastPage_Vodafone,
.dxm-hovered .dxXtraReports_BtnNextPage_Vodafone,
.dxm-hovered .dxXtraReports_BtnPrevPage_Vodafone,
.dxm-hovered .dxXtraReports_BtnPrint_Vodafone,
.dxm-hovered .dxXtraReports_BtnPrintPage_Vodafone,
.dxm-hovered .dxXtraReports_BtnSave_Vodafone,
.dxm-hovered .dxXtraReports_BtnSaveWindow_Vodafone,
.dxm-hovered .dxXtraReports_BtnSearch_Vodafone,
.dxXtraReports_BtnFirstPage_Vodafone,
.dxXtraReports_BtnFirstPageDisabled_Vodafone,
.dxXtraReports_BtnLastPage_Vodafone,
.dxXtraReports_BtnLastPageDisabled_Vodafone,
.dxXtraReports_BtnNextPage_Vodafone,
.dxXtraReports_BtnNextPageDisabled_Vodafone,
.dxXtraReports_BtnPrevPage_Vodafone,
.dxXtraReports_BtnPrevPageDisabled_Vodafone,
.dxXtraReports_BtnPrint_Vodafone,
.dxXtraReports_BtnPrintDisabled_Vodafone,
.dxXtraReports_BtnPrintPage_Vodafone,
.dxXtraReports_BtnPrintPageDisabled_Vodafone,
.dxXtraReports_BtnSave_Vodafone,
.dxXtraReports_BtnSaveDisabled_Vodafone,
.dxXtraReports_BtnSaveWindow_Vodafone,
.dxXtraReports_BtnSaveWindowDisabled_Vodafone,
.dxXtraReports_BtnSearch_Vodafone,
.dxXtraReports_BtnSearchDisabled_Vodafone,
.dxXtraReports_PageBorder_blc_Vodafone,
.dxXtraReports_PageBorder_brc_Vodafone,
.dxXtraReports_PageBorder_tlc_Vodafone,
.dxXtraReports_PageBorder_trc_Vodafone
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxXtraReports_BtnFirstPage_Vodafone
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnLastPage_Vodafone
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnNextPage_Vodafone
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrevPage_Vodafone
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrint_Vodafone
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrintPage_Vodafone
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSave_Vodafone
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSaveWindow_Vodafone
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSearch_Vodafone
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPage_Vodafone
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_Vodafone
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_Vodafone
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_Vodafone
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_Vodafone
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_Vodafone
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_Vodafone
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_Vodafone
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_Vodafone
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_Vodafone
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_Vodafone
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_Vodafone
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_Vodafone
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_Vodafone
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_Vodafone
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_Vodafone
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_Vodafone
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_Vodafone
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_Vodafone
{
    background-position: 0px -481px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_Vodafone
{
    background-position: 0px -470px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_Vodafone
{
    background-position: 0px -492px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_Vodafone
{
    background-position: 0px -459px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_Vodafone,
.dxXtraReports_PageBorder_l_Vodafone,
.dxXtraReports_PageBorder_r_Vodafone,
.dxXtraReports_PageBorder_b_Vodafone {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_Vodafone {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_Vodafone {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_Vodafone {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_Vodafone {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

