.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_IMB,
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_IMB,
.dxWeb_heRibbonIcons_heBackColor_IMB,
.dxWeb_heRibbonIcons_heBackColorDisabled_IMB,
.dxWeb_heRibbonIcons_heBackColorLarge_IMB,
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heBold_IMB,
.dxWeb_heRibbonIcons_heBoldDisabled_IMB,
.dxWeb_heRibbonIcons_heBoldLarge_IMB,
.dxWeb_heRibbonIcons_heBoldLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heCenter_IMB,
.dxWeb_heRibbonIcons_heCenterDisabled_IMB,
.dxWeb_heRibbonIcons_heCenterLarge_IMB,
.dxWeb_heRibbonIcons_heCenterLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableCellDialog_IMB,
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_IMB,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_IMB,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_IMB,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableDialog_IMB,
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_IMB,
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableRowDialog_IMB,
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_IMB,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heCheckSpelling_IMB,
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_IMB,
.dxWeb_heRibbonIcons_heCheckSpellingLarge_IMB,
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heCopy_IMB,
.dxWeb_heRibbonIcons_heCopyDisabled_IMB,
.dxWeb_heRibbonIcons_heCopyLarge_IMB,
.dxWeb_heRibbonIcons_heCopyLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heCut_IMB,
.dxWeb_heRibbonIcons_heCutDisabled_IMB,
.dxWeb_heRibbonIcons_heCutLarge_IMB,
.dxWeb_heRibbonIcons_heCutLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTable_IMB,
.dxWeb_heRibbonIcons_heDeleteTableColumn_IMB,
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_IMB,
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTableDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTableLarge_IMB,
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTableRow_IMB,
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_IMB,
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_IMB,
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heFontGroup_IMB,
.dxWeb_heRibbonIcons_heFontGroupDisabled_IMB,
.dxWeb_heRibbonIcons_heForeColor_IMB,
.dxWeb_heRibbonIcons_heForeColorDisabled_IMB,
.dxWeb_heRibbonIcons_heForeColorLarge_IMB,
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heFullscreen_IMB,
.dxWeb_heRibbonIcons_heFullscreenDisabled_IMB,
.dxWeb_heRibbonIcons_heFullscreenLarge_IMB,
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heIndent_IMB,
.dxWeb_heRibbonIcons_heIndentDisabled_IMB,
.dxWeb_heRibbonIcons_heIndentLarge_IMB,
.dxWeb_heRibbonIcons_heIndentLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertImageDialog_IMB,
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_IMB,
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertLinkDialog_IMB,
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_IMB,
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertOrderedList_IMB,
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_IMB,
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_IMB,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableDialog_IMB,
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_IMB,
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowAbove_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowBelow_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_IMB,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertUnorderedList_IMB,
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_IMB,
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_IMB,
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heItalic_IMB,
.dxWeb_heRibbonIcons_heItalicDisabled_IMB,
.dxWeb_heRibbonIcons_heItalicLarge_IMB,
.dxWeb_heRibbonIcons_heItalicLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heJustifyFull_IMB,
.dxWeb_heRibbonIcons_heJustifyFullDisabled_IMB,
.dxWeb_heRibbonIcons_heJustifyFullLarge_IMB,
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heLeft_IMB,
.dxWeb_heRibbonIcons_heLeftDisabled_IMB,
.dxWeb_heRibbonIcons_heLeftLarge_IMB,
.dxWeb_heRibbonIcons_heLeftLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellVertical_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_IMB,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heOutdent_IMB,
.dxWeb_heRibbonIcons_heOutdentDisabled_IMB,
.dxWeb_heRibbonIcons_heOutdentLarge_IMB,
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_IMB,
.dxWeb_heRibbonIcons_hePaste_IMB,
.dxWeb_heRibbonIcons_hePasteDisabled_IMB,
.dxWeb_heRibbonIcons_hePasteFromWord_IMB,
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_IMB,
.dxWeb_heRibbonIcons_hePasteFromWordLarge_IMB,
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_IMB,
.dxWeb_heRibbonIcons_hePasteLarge_IMB,
.dxWeb_heRibbonIcons_hePasteLargeDisabled_IMB,
.dxWeb_heRibbonIcons_hePrint_IMB,
.dxWeb_heRibbonIcons_hePrintDisabled_IMB,
.dxWeb_heRibbonIcons_hePrintLarge_IMB,
.dxWeb_heRibbonIcons_hePrintLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heRedo_IMB,
.dxWeb_heRibbonIcons_heRedoDisabled_IMB,
.dxWeb_heRibbonIcons_heRedoLarge_IMB,
.dxWeb_heRibbonIcons_heRedoLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heRemoveFormat_IMB,
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_IMB,
.dxWeb_heRibbonIcons_heRemoveFormatLarge_IMB,
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heRight_IMB,
.dxWeb_heRibbonIcons_heRightDisabled_IMB,
.dxWeb_heRibbonIcons_heRightLarge_IMB,
.dxWeb_heRibbonIcons_heRightLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsDocx_IMB,
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsMht_IMB,
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsOdt_IMB,
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsPdf_IMB,
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsRtf_IMB,
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsTxt_IMB,
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_IMB,
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_IMB,
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellVertical_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_IMB,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heStrikethrough_IMB,
.dxWeb_heRibbonIcons_heStrikethroughDisabled_IMB,
.dxWeb_heRibbonIcons_heStrikethroughLarge_IMB,
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSubscript_IMB,
.dxWeb_heRibbonIcons_heSubscriptDisabled_IMB,
.dxWeb_heRibbonIcons_heSubscriptLarge_IMB,
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heSuperscript_IMB,
.dxWeb_heRibbonIcons_heSuperscriptDisabled_IMB,
.dxWeb_heRibbonIcons_heSuperscriptLarge_IMB,
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heUnderline_IMB,
.dxWeb_heRibbonIcons_heUnderlineDisabled_IMB,
.dxWeb_heRibbonIcons_heUnderlineLarge_IMB,
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heUndo_IMB,
.dxWeb_heRibbonIcons_heUndoDisabled_IMB,
.dxWeb_heRibbonIcons_heUndoLarge_IMB,
.dxWeb_heRibbonIcons_heUndoLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heUnlink_IMB,
.dxWeb_heRibbonIcons_heUnlinkDisabled_IMB,
.dxWeb_heRibbonIcons_heUnlinkLarge_IMB,
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_IMB,
.dxWeb_heRibbonIcons_heViewsGroup_IMB,
.dxWeb_heRibbonIcons_heViewsGroupDisabled_IMB
{
    background-image: url('HESprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_IMB
{
    background-position: -136px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_IMB
{
    background-position: -363px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_IMB
{
    background-position: -102px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_IMB
{
    background-position: 0px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_IMB
{
    background-position: -627px -231px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_IMB
{
    background-position: -594px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_IMB
{
    background-position: -187px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_IMB
{
    background-position: -99px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_IMB
{
    background-position: -323px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_IMB
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_IMB
{
    background-position: -544px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_IMB
{
    background-position: -429px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_IMB
{
    background-position: -85px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_IMB
{
    background-position: -528px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_IMB
{
    background-position: -578px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_IMB
{
    background-position: -528px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_IMB
{
    background-position: -204px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_IMB
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_IMB
{
    background-position: -102px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_IMB
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_IMB
{
    background-position: -374px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_IMB
{
    background-position: -289px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_IMB
{
    background-position: -33px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_IMB
{
    background-position: -33px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_IMB
{
    background-position: -510px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_IMB
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_IMB
{
    background-position: -330px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_IMB
{
    background-position: -221px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_IMB
{
    background-position: -627px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_IMB
{
    background-position: -425px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_IMB
{
    background-position: -165px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_IMB
{
    background-position: -255px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_IMB
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_IMB
{
    background-position: -408px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_IMB
{
    background-position: -330px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_IMB
{
    background-position: -136px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_IMB
{
    background-position: -33px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_IMB
{
    background-position: -459px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_IMB
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_IMB
{
    background-position: -493px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_IMB
{
    background-position: -132px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_IMB
{
    background-position: -391px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_IMB
{
    background-position: -429px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_IMB
{
    background-position: -289px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_IMB
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_IMB
{
    background-position: -272px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_IMB
{
    background-position: -66px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_IMB
{
    background-position: -136px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_IMB
{
    background-position: -198px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_IMB
{
    background-position: -51px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_IMB
{
    background-position: -165px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_IMB
{
    background-position: -595px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_IMB
{
    background-position: -396px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_IMB
{
    background-position: -391px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_IMB
{
    background-position: -33px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_IMB
{
    background-position: -51px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_IMB
{
    background-position: -462px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_IMB
{
    background-position: -153px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_IMB
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_IMB
{
    background-position: -595px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_IMB
{
    background-position: -297px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_IMB
{
    background-position: -34px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_IMB
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_IMB
{
    background-position: -119px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_IMB
{
    background-position: -68px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_IMB
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_IMB
{
    background-position: -264px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_IMB
{
    background-position: -561px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_IMB
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_IMB
{
    background-position: -459px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_IMB
{
    background-position: -561px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_IMB
{
    background-position: -476px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_IMB
{
    background-position: -363px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_IMB
{
    background-position: -561px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_IMB
{
    background-position: -363px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_IMB
{
    background-position: -510px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_IMB
{
    background-position: -561px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_IMB
{
    background-position: -221px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_IMB
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_IMB
{
    background-position: -170px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_IMB
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_IMB
{
    background-position: -323px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_IMB
{
    background-position: -66px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_IMB
{
    background-position: -476px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_IMB
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_IMB
{
    background-position: -17px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_IMB
{
    background-position: 0px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_IMB
{
    background-position: -408px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_IMB
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_IMB
{
    background-position: -629px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_IMB
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_IMB
{
    background-position: -476px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_IMB
{
    background-position: 0px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_IMB
{
    background-position: -306px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_IMB
{
    background-position: -396px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_IMB
{
    background-position: -340px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_IMB
{
    background-position: -396px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_IMB
{
    background-position: -238px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_IMB
{
    background-position: -429px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_IMB
{
    background-position: -119px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_IMB
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_IMB
{
    background-position: -493px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_IMB
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_IMB
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColor_IMB
{
    background-position: -527px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorDisabled_IMB
{
    background-position: -306px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorLarge_IMB
{
    background-position: -429px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_IMB
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBold_IMB
{
    background-position: -17px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldDisabled_IMB
{
    background-position: -493px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldLarge_IMB
{
    background-position: -66px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBoldLargeDisabled_IMB
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenter_IMB
{
    background-position: -612px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterDisabled_IMB
{
    background-position: -510px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterLarge_IMB
{
    background-position: -297px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenterLargeDisabled_IMB
{
    background-position: -264px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialog_IMB
{
    background-position: -153px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_IMB
{
    background-position: -340px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_IMB
{
    background-position: -528px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_IMB
{
    background-position: -462px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_IMB
{
    background-position: -68px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_IMB
{
    background-position: -595px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_IMB
{
    background-position: -495px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_IMB
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialog_IMB
{
    background-position: -170px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_IMB
{
    background-position: -272px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_IMB
{
    background-position: -429px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_IMB
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialog_IMB
{
    background-position: -187px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_IMB
{
    background-position: -374px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_IMB
{
    background-position: -198px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_IMB
{
    background-position: -627px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpelling_IMB
{
    background-position: 0px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_IMB
{
    background-position: -170px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLarge_IMB
{
    background-position: -594px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_IMB
{
    background-position: -561px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopy_IMB
{
    background-position: -595px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyDisabled_IMB
{
    background-position: -374px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyLarge_IMB
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopyLargeDisabled_IMB
{
    background-position: -231px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCut_IMB
{
    background-position: -255px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutDisabled_IMB
{
    background-position: -612px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutLarge_IMB
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCutLargeDisabled_IMB
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTable_IMB
{
    background-position: -629px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumn_IMB
{
    background-position: -459px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_IMB
{
    background-position: -544px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_IMB
{
    background-position: -561px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_IMB
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableDisabled_IMB
{
    background-position: -612px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableLarge_IMB
{
    background-position: -561px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_IMB
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRow_IMB
{
    background-position: -238px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_IMB
{
    background-position: -85px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_IMB
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_IMB
{
    background-position: -495px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroup_IMB
{
    background-position: -495px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroupDisabled_IMB
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColor_IMB
{
    background-position: -289px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorDisabled_IMB
{
    background-position: -425px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorLarge_IMB
{
    background-position: -495px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_IMB
{
    background-position: -561px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreen_IMB
{
    background-position: -459px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenDisabled_IMB
{
    background-position: 0px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenLarge_IMB
{
    background-position: -627px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_IMB
{
    background-position: -231px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndent_IMB
{
    background-position: -306px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentDisabled_IMB
{
    background-position: -153px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentLarge_IMB
{
    background-position: -396px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndentLargeDisabled_IMB
{
    background-position: -528px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialog_IMB
{
    background-position: -527px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_IMB
{
    background-position: -34px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_IMB
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_IMB
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialog_IMB
{
    background-position: -204px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_IMB
{
    background-position: -442px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_IMB
{
    background-position: -495px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_IMB
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedList_IMB
{
    background-position: -17px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_IMB
{
    background-position: -408px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_IMB
{
    background-position: -594px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_IMB
{
    background-position: -297px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_IMB
{
    background-position: -527px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_IMB
{
    background-position: -221px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_IMB
{
    background-position: -330px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_IMB
{
    background-position: -363px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_IMB
{
    background-position: -544px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_IMB
{
    background-position: -425px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_IMB
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_IMB
{
    background-position: -528px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialog_IMB
{
    background-position: -119px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_IMB
{
    background-position: -187px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_IMB
{
    background-position: -363px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_IMB
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAbove_IMB
{
    background-position: -272px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_IMB
{
    background-position: -476px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_IMB
{
    background-position: -330px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_IMB
{
    background-position: -132px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelow_IMB
{
    background-position: -442px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_IMB
{
    background-position: -357px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_IMB
{
    background-position: 0px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_IMB
{
    background-position: -627px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedList_IMB
{
    background-position: -85px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_IMB
{
    background-position: -391px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_IMB
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_IMB
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalic_IMB
{
    background-position: 0px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicDisabled_IMB
{
    background-position: -51px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicLarge_IMB
{
    background-position: -264px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalicLargeDisabled_IMB
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFull_IMB
{
    background-position: -357px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullDisabled_IMB
{
    background-position: 0px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullLarge_IMB
{
    background-position: -231px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_IMB
{
    background-position: -297px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeft_IMB
{
    background-position: -408px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftDisabled_IMB
{
    background-position: -578px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftLarge_IMB
{
    background-position: -396px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeftLargeDisabled_IMB
{
    background-position: -132px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_IMB
{
    background-position: -255px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_IMB
{
    background-position: -544px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_IMB
{
    background-position: -165px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_IMB
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVertical_IMB
{
    background-position: -340px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_IMB
{
    background-position: -357px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_IMB
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_IMB
{
    background-position: -330px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdent_IMB
{
    background-position: -272px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentDisabled_IMB
{
    background-position: -442px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentLarge_IMB
{
    background-position: -231px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_IMB
{
    background-position: -99px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePaste_IMB
{
    background-position: -238px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteDisabled_IMB
{
    background-position: -561px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWord_IMB
{
    background-position: -578px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_IMB
{
    background-position: -323px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLarge_IMB
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_IMB
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLarge_IMB
{
    background-position: -594px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLargeDisabled_IMB
{
    background-position: -429px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrint_IMB
{
    background-position: -629px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintDisabled_IMB
{
    background-position: -119px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintLarge_IMB
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrintLargeDisabled_IMB
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedo_IMB
{
    background-position: -34px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoDisabled_IMB
{
    background-position: -306px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoLarge_IMB
{
    background-position: -528px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedoLargeDisabled_IMB
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormat_IMB
{
    background-position: -442px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_IMB
{
    background-position: -221px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLarge_IMB
{
    background-position: -297px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_IMB
{
    background-position: -363px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRight_IMB
{
    background-position: -425px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightDisabled_IMB
{
    background-position: -68px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightLarge_IMB
{
    background-position: -264px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRightLargeDisabled_IMB
{
    background-position: -264px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocx_IMB
{
    background-position: -289px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_IMB
{
    background-position: -187px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_IMB
{
    background-position: -462px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_IMB
{
    background-position: -198px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMht_IMB
{
    background-position: -527px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_IMB
{
    background-position: -204px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_IMB
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_IMB
{
    background-position: -99px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdt_IMB
{
    background-position: -17px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_IMB
{
    background-position: -323px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_IMB
{
    background-position: -231px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_IMB
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdf_IMB
{
    background-position: -102px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_IMB
{
    background-position: -612px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_IMB
{
    background-position: -330px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_IMB
{
    background-position: -462px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtf_IMB
{
    background-position: -578px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_IMB
{
    background-position: -153px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_IMB
{
    background-position: -495px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_IMB
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxt_IMB
{
    background-position: -51px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_IMB
{
    background-position: -34px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_IMB
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_IMB
{
    background-position: -462px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_IMB
{
    background-position: -255px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_IMB
{
    background-position: -493px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_IMB
{
    background-position: -594px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_IMB
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVertical_IMB
{
    background-position: -374px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_IMB
{
    background-position: -644px -231px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_IMB
{
    background-position: -132px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_IMB
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethrough_IMB
{
    background-position: -340px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughDisabled_IMB
{
    background-position: -510px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughLarge_IMB
{
    background-position: -594px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_IMB
{
    background-position: -396px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscript_IMB
{
    background-position: -102px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptDisabled_IMB
{
    background-position: -238px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptLarge_IMB
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_IMB
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscript_IMB
{
    background-position: -68px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptDisabled_IMB
{
    background-position: -85px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptLarge_IMB
{
    background-position: -462px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_IMB
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderline_IMB
{
    background-position: -561px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineDisabled_IMB
{
    background-position: -204px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineLarge_IMB
{
    background-position: -264px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_IMB
{
    background-position: -165px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndo_IMB
{
    background-position: -136px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoDisabled_IMB
{
    background-position: -391px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoLarge_IMB
{
    background-position: -198px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndoLargeDisabled_IMB
{
    background-position: -297px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlink_IMB
{
    background-position: -170px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkDisabled_IMB
{
    background-position: -357px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkLarge_IMB
{
    background-position: -99px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_IMB
{
    background-position: -627px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroup_IMB
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroupDisabled_IMB
{
    background-position: -66px -165px;
    width: 32px;
    height: 32px;
}

