.dxeButtonEditButtonHover_Kesh .dxEditors_edtDropDown_Kesh,
.dxeButtonEditButtonHover_Kesh .dxEditors_edtEllipsis_Kesh,
.dxeButtonEditButtonPressed_Kesh .dxEditors_edtDropDown_Kesh,
.dxeButtonEditButtonPressed_Kesh .dxEditors_edtEllipsis_Kesh,
.dxEditors_caRefresh_Kesh,
.dxEditors_edtCalendarFNNextYear_Kesh,
.dxEditors_edtCalendarFNPrevYear_Kesh,
.dxEditors_edtCalendarNextMonth_Kesh,
.dxEditors_edtCalendarNextMonthDisabled_Kesh,
.dxEditors_edtCalendarNextYear_Kesh,
.dxEditors_edtCalendarNextYearDisabled_Kesh,
.dxEditors_edtCalendarPrevMonth_Kesh,
.dxEditors_edtCalendarPrevMonthDisabled_Kesh,
.dxEditors_edtCalendarPrevYear_Kesh,
.dxEditors_edtCalendarPrevYearDisabled_Kesh,
.dxEditors_edtDETSClockFace_Kesh,
.dxEditors_edtDETSHourHand_Kesh,
.dxEditors_edtDETSMinuteHand_Kesh,
.dxEditors_edtDETSSecondHand_Kesh,
.dxEditors_edtDropDown_Kesh,
.dxEditors_edtDropDownDisabled_Kesh,
.dxEditors_edtEllipsis_Kesh,
.dxEditors_edtEllipsisDisabled_Kesh,
.dxEditors_edtError_Kesh,
.dxEditors_edtRadioButtonChecked_Kesh,
.dxEditors_edtRadioButtonCheckedDisabled_Kesh,
.dxEditors_edtRadioButtonUnchecked_Kesh,
.dxEditors_edtRadioButtonUncheckedDisabled_Kesh,
.dxEditors_edtSpinEditDecrementImage_Kesh,
.dxEditors_edtSpinEditDecrementImageDisabled_Kesh,
.dxEditors_edtSpinEditIncrementImage_Kesh,
.dxEditors_edtSpinEditIncrementImageDisabled_Kesh,
.dxEditors_edtSpinEditLargeDecImage_Kesh,
.dxEditors_edtSpinEditLargeDecImageDisabled_Kesh,
.dxEditors_edtSpinEditLargeIncImage_Kesh,
.dxEditors_edtSpinEditLargeIncImageDisabled_Kesh,
.dxEditors_edtTBDecBtn_Kesh,
.dxEditors_edtTBDecBtnDisabled_Kesh,
.dxEditors_edtTBDecBtnHover_Kesh,
.dxEditors_edtTBDecBtnPressed_Kesh,
.dxEditors_edtTBIncBtn_Kesh,
.dxEditors_edtTBIncBtnDisabled_Kesh,
.dxEditors_edtTBIncBtnHover_Kesh,
.dxEditors_edtTBIncBtnPressed_Kesh,
.dxEditors_edtTokenBoxTokenRemoveButton_Kesh,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Kesh,
.dxEditors_fcadd_Kesh,
.dxEditors_fcaddhot_Kesh,
.dxEditors_fcgroupaddcondition_Kesh,
.dxEditors_fcgroupaddgroup_Kesh,
.dxEditors_fcgroupand_Kesh,
.dxEditors_fcgroupnotand_Kesh,
.dxEditors_fcgroupnotor_Kesh,
.dxEditors_fcgroupor_Kesh,
.dxEditors_fcgroupremove_Kesh,
.dxEditors_fcopany_Kesh,
.dxEditors_fcopbegin_Kesh,
.dxEditors_fcopbetween_Kesh,
.dxEditors_fcopblank_Kesh,
.dxEditors_fcopcontain_Kesh,
.dxEditors_fcopend_Kesh,
.dxEditors_fcopequal_Kesh,
.dxEditors_fcopgreater_Kesh,
.dxEditors_fcopgreaterorequal_Kesh,
.dxEditors_fcopless_Kesh,
.dxEditors_fcoplessorequal_Kesh,
.dxEditors_fcoplike_Kesh,
.dxEditors_fcopnotany_Kesh,
.dxEditors_fcopnotbetween_Kesh,
.dxEditors_fcopnotblank_Kesh,
.dxEditors_fcopnotcontain_Kesh,
.dxEditors_fcopnotequal_Kesh,
.dxEditors_fcopnotlike_Kesh,
.dxEditors_fcremove_Kesh,
.dxEditors_fcremovehot_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeSpinDecButtonHover_Kesh .dxEditors_edtSpinEditDecrementImage_Kesh,
.dxeSpinDecButtonPressed_Kesh .dxEditors_edtSpinEditDecrementImage_Kesh,
.dxeSpinIncButtonHover_Kesh .dxEditors_edtSpinEditIncrementImage_Kesh,
.dxeSpinIncButtonPressed_Kesh .dxEditors_edtSpinEditIncrementImage_Kesh,
.dxeSpinLargeDecButtonHover_Kesh .dxEditors_edtSpinEditLargeDecImage_Kesh,
.dxeSpinLargeDecButtonPressed_Kesh .dxEditors_edtSpinEditLargeDecImage_Kesh,
.dxeSpinLargeIncButtonHover_Kesh .dxEditors_edtSpinEditLargeIncImage_Kesh,
.dxeSpinLargeIncButtonPressed_Kesh .dxEditors_edtSpinEditLargeIncImage_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDH_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDH_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxeButtonEditButtonHover_Kesh .dxEditors_edtDropDown_Kesh
{
    background-position: -181px -133px;
    width: 10px;
    height: 14px;
}
.dxeButtonEditButtonHover_Kesh .dxEditors_edtEllipsis_Kesh
{
    background-position: -180px -28px;
    width: 11px;
    height: 14px;
}
.dxeButtonEditButtonPressed_Kesh .dxEditors_edtDropDown_Kesh
{
    background-position: 0px -172px;
    width: 10px;
    height: 14px;
}
.dxeButtonEditButtonPressed_Kesh .dxEditors_edtEllipsis_Kesh
{
    background-position: -180px -43px;
    width: 11px;
    height: 14px;
}
.dxEditors_caRefresh_Kesh
{
    background-position: -75px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarFNNextYear_Kesh
{
    background-position: -168px -83px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarFNPrevYear_Kesh
{
    background-position: -125px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarNextMonth_Kesh
{
    background-position: -143px -83px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarNextMonthDisabled_Kesh
{
    background-position: -130px -33px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarNextYear_Kesh
{
    background-position: -50px -133px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarNextYearDisabled_Kesh
{
    background-position: -130px -58px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarPrevMonth_Kesh
{
    background-position: -100px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarPrevMonthDisabled_Kesh
{
    background-position: 0px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarPrevYear_Kesh
{
    background-position: -155px -40px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtCalendarPrevYearDisabled_Kesh
{
    background-position: -155px 0px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtDETSClockFace_Kesh
{
    background-position: 0px 0px;
    width: 107px;
    height: 107px;
}
.dxEditors_edtDETSHourHand_Kesh
{
    background-position: -114px 0px;
    width: 7px;
    height: 64px;
}
.dxEditors_edtDETSMinuteHand_Kesh
{
    background-position: -122px 0px;
    width: 7px;
    height: 64px;
}
.dxEditors_edtDETSSecondHand_Kesh
{
    background-position: -108px 0px;
    width: 5px;
    height: 72px;
}
.dxEditors_edtDropDown_Kesh
{
    background-position: -22px -172px;
    width: 10px;
    height: 14px;
}
.dxEditors_edtDropDownDisabled_Kesh
{
    background-position: -11px -172px;
    width: 10px;
    height: 14px;
}
.dxEditors_edtEllipsis_Kesh
{
    background-position: -181px -58px;
    width: 11px;
    height: 14px;
}
.dxEditors_edtEllipsisDisabled_Kesh
{
    background-position: -180px 0px;
    width: 11px;
    height: 14px;
}
.dxEditors_edtError_Kesh
{
    background-position: -155px -25px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_Kesh
{
    background-position: -134px -133px;
    width: 16px;
    height: 16px;
}
.dxEditors_edtRadioButtonCheckedDisabled_Kesh
{
    background-position: -117px -133px;
    width: 16px;
    height: 16px;
}
.dxEditors_edtRadioButtonUnchecked_Kesh
{
    background-position: -100px -133px;
    width: 16px;
    height: 16px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_Kesh
{
    background-position: -175px -108px;
    width: 16px;
    height: 16px;
}
.dxEditors_edtSpinEditDecrementImage_Kesh
{
    background-position: -171px -195px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_Kesh
{
    background-position: -182px -195px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImage_Kesh
{
    background-position: -154px -187px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_Kesh
{
    background-position: -176px -187px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImage_Kesh
{
    background-position: -108px -87px;
    width: 4px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_Kesh
{
    background-position: -175px -125px;
    width: 4px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeIncImage_Kesh
{
    background-position: -113px -87px;
    width: 4px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_Kesh
{
    background-position: -188px -20px;
    width: 4px;
    height: 7px;
}
.dxEditors_edtTBDecBtn_Kesh
{
    background-position: -150px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBDecBtnDisabled_Kesh
{
    background-position: -118px -83px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBDecBtnHover_Kesh
{
    background-position: -50px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBDecBtnPressed_Kesh
{
    background-position: 0px -133px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBIncBtn_Kesh
{
    background-position: -130px 0px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBIncBtnDisabled_Kesh
{
    background-position: -25px -108px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBIncBtnHover_Kesh
{
    background-position: -75px -133px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTBIncBtnPressed_Kesh
{
    background-position: -25px -133px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_Kesh
{
    background-position: -151px -133px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Kesh
{
    background-position: -114px -67px;
    width: 15px;
    height: 15px;
}
.dxEditors_fcadd_Kesh
{
    background-position: -61px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_Kesh
{
    background-position: -140px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_Kesh
{
    background-position: -98px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_Kesh
{
    background-position: -154px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_Kesh
{
    background-position: 0px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_Kesh
{
    background-position: -117px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_Kesh
{
    background-position: -145px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_Kesh
{
    background-position: -173px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_Kesh
{
    background-position: -14px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_Kesh
{
    background-position: -159px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbegin_Kesh
{
    background-position: -131px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_Kesh
{
    background-position: -70px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_Kesh
{
    background-position: -47px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_Kesh
{
    background-position: -168px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopend_Kesh
{
    background-position: -89px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_Kesh
{
    background-position: -84px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreater_Kesh
{
    background-position: -42px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_Kesh
{
    background-position: -167px -133px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_Kesh
{
    background-position: 0px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_Kesh
{
    background-position: -28px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_Kesh
{
    background-position: -126px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotany_Kesh
{
    background-position: -112px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_Kesh
{
    background-position: -42px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_Kesh
{
    background-position: -28px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_Kesh
{
    background-position: -75px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_Kesh
{
    background-position: -103px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_Kesh
{
    background-position: -56px -158px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_Kesh
{
    background-position: -33px -172px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_Kesh
{
    background-position: -14px -187px;
    width: 13px;
    height: 13px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh
{
    background-position: -128px -187px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh
{
    background-position: -120px -187px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh
{
    background-position: -104px -187px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh
{
    background-position: -112px -187px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh
{
    background-position: -182px -158px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
    background-position: -80px -187px;
    width: 7px;
    height: 12px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh
{
    background-position: -180px -125px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh
{
    background-position: -155px -65px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh
{
    background-position: -154px -150px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh
{
    background-position: -128px -150px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh
{
    background-position: -155px -75px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
    background-position: -180px -150px;
    width: 12px;
    height: 7px;
}
.dxeSpinDecButtonHover_Kesh .dxEditors_edtSpinEditDecrementImage_Kesh
{
    background-position: -165px -187px;
    width: 10px;
    height: 5px;
}
.dxeSpinDecButtonPressed_Kesh .dxEditors_edtSpinEditDecrementImage_Kesh
{
    background-position: -149px -195px;
    width: 10px;
    height: 5px;
}
.dxeSpinIncButtonHover_Kesh .dxEditors_edtSpinEditIncrementImage_Kesh
{
    background-position: -143px -27px;
    width: 10px;
    height: 5px;
}
.dxeSpinIncButtonPressed_Kesh .dxEditors_edtSpinEditIncrementImage_Kesh
{
    background-position: -160px -195px;
    width: 10px;
    height: 5px;
}
.dxeSpinLargeDecButtonHover_Kesh .dxEditors_edtSpinEditLargeDecImage_Kesh
{
    background-position: -149px -187px;
    width: 4px;
    height: 7px;
}
.dxeSpinLargeDecButtonPressed_Kesh .dxEditors_edtSpinEditLargeDecImage_Kesh
{
    background-position: -170px -75px;
    width: 4px;
    height: 7px;
}
.dxeSpinLargeIncButtonHover_Kesh .dxEditors_edtSpinEditLargeIncImage_Kesh
{
    background-position: -187px -172px;
    width: 4px;
    height: 7px;
}
.dxeSpinLargeIncButtonPressed_Kesh .dxEditors_edtSpinEditLargeIncImage_Kesh
{
    background-position: -108px -75px;
    width: 4px;
    height: 7px;
}
.dxeTBHSys .dxEditors_edtTBMainDH_Kesh
{
    background-position: -170px -27px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Kesh
{
    background-position: -96px -187px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_Kesh
{
    background-position: -88px -187px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Kesh
{
    background-position: -56px -187px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Kesh
{
    background-position: -180px -15px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Kesh
{
    background-position: -72px -187px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Kesh
{
    background-position: -64px -187px;
    width: 7px;
    height: 12px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
    background-position: -110px -95px;
    width: 7px;
    height: 12px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_Kesh
{
    background-position: -130px -25px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Kesh
{
    background-position: -102px -150px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBMainDHHover_Kesh
{
    background-position: -141px -150px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Kesh
{
    background-position: -115px -150px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Kesh
{
    background-position: -136px -187px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Kesh
{
    background-position: -180px -75px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Kesh
{
    background-position: -168px -65px;
    width: 12px;
    height: 7px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
    background-position: -167px -150px;
    width: 12px;
    height: 7px;
}
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeFocused_Kesh .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeFocused_Kesh .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHHover_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxEditors_edtTBDecBtnHover_Kesh,
.dxEditors_edtTBDecBtnPressed_Kesh,
.dxEditors_edtTBIncBtnHover_Kesh,
.dxEditors_edtTBIncBtnPressed_Kesh,
.dxEditors_edtRadioButtonChecked_Kesh,
.dxEditors_edtRadioButtonCheckedDisabled_Kesh,
.dxEditors_edtRadioButtonUnchecked_Kesh,
.dxEditors_edtRadioButtonUncheckedDisabled_Kesh
{
    background-color: #5D9AD3;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Kesh,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Kesh,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Kesh
{
	z-index: 7;
}
.dxEditors_edtError_Kesh,
.dxEditors_edtCalendarPrevYear_Kesh,
.dxEditors_edtCalendarPrevYearDisabled_Kesh,
.dxEditors_edtCalendarPrevMonth_Kesh,
.dxEditors_edtCalendarPrevMonthDisabled_Kesh,
.dxEditors_edtCalendarNextMonth_Kesh,
.dxEditors_edtCalendarNextMonthDisabled_Kesh,
.dxEditors_edtCalendarNextYear_Kesh,
.dxEditors_edtCalendarNextYearDisabled_Kesh,
.dxEditors_edtCalendarFNPrevYear_Kesh,
.dxEditors_edtCalendarFNNextYear_Kesh,
.dxEditors_edtEllipsis_Kesh,
.dxEditors_edtEllipsisDisabled_Kesh,
.dxEditors_edtDropDown_Kesh,
.dxEditors_edtDropDownDisabled_Kesh,
.dxEditors_edtSpinEditIncrementImage_Kesh,
.dxEditors_edtSpinEditIncrementImageDisabled_Kesh,
.dxEditors_edtSpinEditDecrementImage_Kesh,
.dxEditors_edtSpinEditDecrementImageDisabled_Kesh,
.dxEditors_edtSpinEditLargeIncImage_Kesh,
.dxEditors_edtSpinEditLargeIncImageDisabled_Kesh,
.dxEditors_edtSpinEditLargeDecImage_Kesh,
.dxEditors_edtSpinEditLargeDecImageDisabled_Kesh
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Kesh
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_Kesh
{
    margin-left: 8px;
}

