IF OBJECT_ID('prc_T_OPERATORE_merrIdOperatoriSipasKodOperatori') IS NOT NULL
	DROP PROCEDURE prc_T_OPERATORE_merrIdOperatoriSipasKodOperatori
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_OPERATORE_merrIdOperatoriSipasKodOperatori]
(
   @KODI varchar(100),
   @IDNDERMARRJE T_FOR_KEY
)
AS
    Begin
		SELECT IDOPERATOR
		from T_OPERATORE
		where KODI = @KODI 
		AND IDNDERMARRJE = @IDNDERMARRJE AND IDSTATUSDOK=1
		END;

