IF OBJECT_ID('prc_T_OPERATORE_merrEmerDheMbiemerOperatoriSipasKodOperatori') IS NOT NULL
	DROP PROCEDURE prc_T_OPERATORE_merrEmerDheMbiemerOperatoriSipasKodOperatori
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_OPERATORE_merrEmerDheMbiemerOperatoriSipasKodOperatori]
(
   @KODI varchar(100),
   @IDNDERMARRJE T_FOR_KEY
)
AS
    Begin
		SELECT IDOPERATOR
		from T_OPERATORE
		where KODI = @KODI 
		AND IDNDERMARRJE = @IDNDERMARRJE
		END;
