IF OBJECT_ID('prc_T_KLIENTFURNITOR_ktheKlientFurnitorLikeKodi') IS NOT NULL
	DROP PROCEDURE prc_T_KLIENTFURNITOR_ktheKlientFurnitorLikeKodi
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_KLIENTFURNITOR_ktheKlientFurnitorLikeKodi]
(
	@KODKLIENTFURNITOR t_pershkrim,
	@IDNDERMARJE T_FOR_KEY
)
AS
BEGIN

DECLARE @Err Int

SELECT TOP(1) IDKLIENTFURNITOR, KODKLIENTFURNITOR,ll.NRLLOGARI, kf.IDLLOGARI, LLOJIKF, TITULLIKF, AKTIVITETIKF, EMERTIMIKF, EMERKERKRIMIKF, NIPTKF, QYTETIKF, SHTETIKF, TELKF, FAXKF, CELKF, 
				EMAILKF, WEBPAGEKF, IBANKF, LLOGARIBANKAREKF, AKTIVKF,IDLLOGZBRITJE, IDLLOGARIDYTESORE, IDKUSHTEPAGESE, IDMETODA, MATURIMIKF, IDKATZBRITJE, LIMITPARALAJMERUES, LIMITBLLOKUES, IDKATEGORIKLIENTI,
				KUSHTEDERGIMI, MENYRATRASPORTIT, OFERTAAUTOMATIKE, VLERALIMITPOROSITUR, PRIORITETI, CMIMULET, kf.IDNIVELCMIMI, IDPERFAQESUESSHITJE, IDQENDERKOSTO, IDFUSHATA, ZBRITJEANALITIKE, ZBRITJETOTAL,
				kf.IDNDERMARJE, VITI, kf.IDPERDORUESI , kf.IDKONFIG, ll2.NRLLOGARI as NRLLOGARIZBRITJE, kz.KODKATEGORIZBRITJE, kz.ZBRITJA, nc.PERSHKRIMNIVELCMIMI, kp.KODIKUSHTPAGESE, ash.KODIAGJENTSHITJE,
				nz.PERSHKRIMNIVELZBRITJE, q.QYTETIEMRI, KF.IDSTATUSDOK, KF.DTKRIJIMI, KF.DTMODIFIKIMI, KF.LICENCA, KF.SWIFT, KF.EMRIBANKA, KF.ADRESABANKA, gr1.KODGRUPI AS Grupim1KF, gr2.KODGRUPI AS Grupim2KF,
				gr3.KODGRUPI AS Grupim3KF, kf.NRTVSH AS NrTVSH, o.KODI AS Objektiva, kf.IDOBJEKTIVAKOSTO IdObjektivaKosto, KF.IDKRIJUESI, T_PERDORUESI.PERDORUESEMRI as Krijuesi, IDNDERMARJEBIJ, LLOJPOROSIE,
				KUPON, kf.KOORDINATA.STAsText() AS Koordinata
				,IDPERFAQESUESSHITJE2, ash2.KODIAGJENTSHITJE KODIAGJENTSHITJE2,KLIENTSPECIFIK,	FERMER AS Fermer ,AUTONGARKESE as AutoNgarkese ,	SHITJEPATVSH as ShitjePaTvsh,ll3.NRLLOGARI as NRLLOGDYTESOR,
				PERQINDJEAGJENTI as PerqindjeAgjenti, PERQINDJEAGJENTI2 as PerqindjeAgjenti2,PROSPEKT as Prospekt, EMAILPERPAJISJE AS EmailPerPajisje,
				IDKLIENTFURNITORKRYESOR IdKlientFurnitorKryesor,kf.Shenime as Shenime, DATELINDJAKF AS DteDatelindjaKF, IDPERFAQESUESSHITJE3 AS IdPerfaqesuesShitje3,ash3.KODIAGJENTSHITJE AS KodPerfaqesuesShitje3,
				PERQINDJEAGJENTI3 AS PerqindjeAgjenti3,IDTVSH ,Kf.EMERTIMFATURE , kf.LLOGARITKOMISION , kf.KodIntegrimi, kf.KODIISKSH AS KodiISKSH, KF.MEDOGANE AS MeDogane, kf.TIPIID AS TIPIID,gr1.IDGRUPI AS IDGRUPIM1KF, gr2.IDGRUPI AS IDGRUPIM2KF, gr3.IDGRUPI AS IDGRUPIM3KF
FROM t_klientfurnitor kf 
	INNER JOIN T_LLOGARI ll on kf.IDLLOGARI = ll.IDLLOGARI
	LEFT OUTER JOIN T_LLOGARI ll2 on kf.IDLLOGZBRITJE = ll2.IDLLOGARI
	LEFT OUTER JOIN T_LLOGARI ll3 on kf.IDLLOGARIDYTESORE = ll3.IDLLOGARI
	LEFT OUTER JOIN T_KOKAKATEGORIZBRITJE kz on kf.IDKATZBRITJE = kz.IDKOKAKATEGORIZBRITJE
	LEFT OUTER JOIN T_NIVELCMIMI nc on kf.IDNIVELCMIMI = nc.IDNIVELCMIMI
	LEFT OUTER JOIN T_KUSHTPAGESEKOKA kp on kf.IDKUSHTEPAGESE = kp.IDKOKA
	LEFT OUTER JOIN T_AGJENTSHITJE ash on kf.IDPERFAQESUESSHITJE = ash.IDAGJENTSHITJE
	LEFT OUTER JOIN T_AGJENTSHITJE ash2 on kf.IDPERFAQESUESSHITJE2 = ash2.IDAGJENTSHITJE
	LEFT OUTER JOIN T_AGJENTSHITJE ash3 on kf.IDPERFAQESUESSHITJE3 = ash3.IDAGJENTSHITJE
	LEFT OUTER JOIN T_NIVELZBRITJE nz on kf.ZBRITJEANALITIKE =nz.IDNIVELZBRITJE
	LEFT OUTER JOIN T_QYTETI q on kf.QYTETIKF = q.IDQYTETI
	LEFT OUTER JOIN dbo.T_GRUPEKF gr1 ON kf.GRUPIM1KF = gr1.IDGRUPI
	LEFT OUTER JOIN dbo.T_GRUPEKF gr2 ON kf.GRUPIM2KF = gr2.IDGRUPI
	LEFT OUTER JOIN dbo.T_GRUPEKF gr3 ON kf.GRUPIM3KF = gr3.IDGRUPI
	LEFT OUTER JOIN dbo.T_OBJEKTIVAKOSTO o ON kf.idobjektivakosto=o.ID
	LEFT OUTER JOIN dbo.T_PERDORUESI ON KF.IDKRIJUESI=T_PERDORUESI.IDPERDORUES

WHERE KODKLIENTFURNITOR like '%'+ @KODKLIENTFURNITOR+'%' AND kf.IDNDERMARJE = @IDNDERMARJE AND KF.IDSTATUSDOK<>2  and kf.prospekt <>1
                            
	Set @Err = @@Error

	RETURN @Err
	
END