IF OBJECT_ID('PRC_RAP_FATURA') IS NOT NULL
	DROP PROCEDURE PRC_RAP_FATURA
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_RAP_FATURA]
(
   @idfatura VARCHAR(20), 
   @idRaportDesign VARCHAR(20),
   @test BIT,
   @lidhur INT = 0
)
AS
BEGIN

DECLARE @TIMESTAMPFILLO DATETIME = GETDATE(); 
DECLARE @EXECTIME		DATETIME = GETDATE();

IF @test ='True'
    EXEC PRC_RAP_FORMATEPRINTIMI_TEST
ELSE
	
BEGIN
   DECLARE @SPNAME NVARCHAR(MAX) = ISNULL((	
   SELECT TOP 1 SPNAME 
   FROM	(
          SELECT IDRAPORTDESING, SPNAME
          FROM ( SELECT	IDRAPORTDESING, PERSHKRIM 
		         FROM T_RAPORTDESING 
	             UNION 
	             SELECT	FEMI.IDRAPORTDESING, PRINDI.PERSHKRIM 
				 FROM T_RAPORTDESING FEMI JOIN T_RAPORTDESING PRINDI ON FEMI.IDPRINDI = PRINDI.IDRAPORTDESING
               ) T_RAPORTDESING
          INNER JOIN (
         	           SELECT PERSHKRIMI = 'Format Shitje Sinani 4',                  SPNAME = 'PRC_RAP_FATURA_DEFAULT'	                UNION
         	           SELECT PERSHKRIMI = 'Format Shitje Sinani 2',                  SPNAME = 'PRC_RAP_FATURA_DEFAULT'	                UNION
         	           SELECT PERSHKRIMI = 'Format Preventiv1 Sinani',                SPNAME = 'PRC_RAP_FATURA_DEFAULT'	                UNION
         	           SELECT PERSHKRIMI = 'Fature shitje WAT',                       SPNAME = 'PRC_RAP_FATURA_DEFAULT'	                UNION
         	           SELECT PERSHKRIMI = 'Format shitje Electron',                  SPNAME = 'PRC_RAP_FATURA_DEFAULT'	                UNION
         	           SELECT PERSHKRIMI = 'Fature shitje Gemalker 2',                SPNAME = 'PRC_RAP_FATURA_GEMAKLER'                UNION	-- WSH-15006 
         	           SELECT PERSHKRIMI = 'Optika1',                                 SPNAME = 'PRC_RAP_FATURA_OPTIKA1'	                UNION	-- ALPHAWEB-9101
         	           SELECT PERSHKRIMI = 'Format Kerkese Blerje Vodafone',          SPNAME = 'PRC_RAP_FATURA_VOD_KerkeseShitjeBlerje' UNION
         	           SELECT PERSHKRIMI = 'Format Kerkese Shitje Vodafone',          SPNAME = 'PRC_RAP_FATURA_VOD_KerkeseShitjeBlerje' UNION 
         	           SELECT PERSHKRIMI = 'Fature Tatimore Shitje Vodafone Aparate', SPNAME = 'PRC_RAP_FATURA_VOD'                     UNION
         	           SELECT PERSHKRIMI = 'Fature Tatimore Shitje Vodafone',         SPNAME = 'PRC_RAP_FATURA_VOD_SHITJE'              UNION
         	           SELECT PERSHKRIMI = 'Packing_list_Delta',                      SPNAME = 'PRC_RAP_FATURA_shitjeGjirofarma'        UNION
					   SELECT PERSHKRIMI = 'Format shitje DAST',                      SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Format printimi Dast2',                   SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Fature tatimore shitje Degert new_2',     SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Fature Shitje Inel shpk',                 SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Format shitje IMB',                       SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Fature Shitje Fear SHPK' ,                SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION  
					   SELECT PERSHKRIMI = 'Fature shitje FEAR',					  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION  
					   SELECT PERSHKRIMI = 'Fature shitje FEARSHPK',				  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION  
					   SELECT PERSHKRIMI = 'Oferte shitje FEAR A5',					  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Fature Shitje EZ',						  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Fature Shitje Erozone 1.0',				  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Oferte shitje FEAR',					  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'FEARSHPK',						          SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
					   SELECT PERSHKRIMI = 'Urdher pune',                             SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
                       SELECT PERSHKRIMI = 'Global',                                  SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
                       SELECT PERSHKRIMI = 'Media Alert',                             SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
                       SELECT PERSHKRIMI = 'Media Alert 2',                           SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
                       SELECT PERSHKRIMI = 'Media Alert GRT',                         SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION
                       SELECT PERSHKRIMI = 'GRT_1_FTB_nga_FTSH_t_GRTs_29042020',      SPNAME = 'PRC_RAP_FATURA_KALKULIME_SPECIFIKE'     UNION					   
					   SELECT PERSHKRIMI = 'Format printimi A5- Gani Auto',           SPNAME = 'PRC_RAP_FATURA_DEFAULT'                 UNION 
					   SELECT PERSHKRIMI = 'Format shitje Electron2',                 SPNAME = 'PRC_RAP_FATURA_DEFAULT'
                     ) RapDefault ON T_RAPORTDESING.PERSHKRIM = RapDefault.PERSHKRIMI															
        
		 UNION ALL
         SELECT	IDRAPORTDESING, SPNAME = 'PRC_RAP_FATURA_ALBEL' 
         FROM ( SELECT IDRAPORTDESING, PERSHKRIM 
		        FROM T_RAPORTDESING 
	            UNION 
	            SELECT FEMI.IDRAPORTDESING, PRINDI.PERSHKRIM 
				FROM T_RAPORTDESING FEMI JOIN T_RAPORTDESING PRINDI ON FEMI.IDPRINDI = PRINDI.IDRAPORTDESING
              ) T_RAPORTDESING
         WHERE T_RAPORTDESING.PERSHKRIM LIKE 'TDS%'
         
		 UNION ALL
         SELECT	IDRAPORTDESING, SPNAME 
         FROM T_RAPORTDESING
         INNER JOIN (
	                  SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_FatureShitje_PackingList',     SPNAME = 'PRC_RAP_FATURA_ArtikujProdhimi'					 UNION
	                  SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_PPOR_ArtikujPg',               SPNAME = 'PRC_RAP_FATURA_ArtikujProdhimidhePerbere'			 UNION
	                  SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_PPOR_ArtikujReceptura',        SPNAME = 'PRC_RAP_FATURA_ArtikujProdhimidhePerbereReceptura'	 UNION
	                  SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_FormatEtiketatERecepturave',   SPNAME = 'PRC_RAP_FATURA_ArtikujTePerbereReceptura'	         UNION
	                  SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_FormatShitjeModel16_SePDeFn_132055958505880257', SPNAME = 'PRC_RAP_FATURA_DEUTCHCOLOR_FODEC' UNION
                      SELECT PERSHKRIMI = 'RaportetDs.RAP_SHITJE.Fatura.Rap_FormatShitjeModel16_SePDeFn_132150031341661548', SPNAME = 'PRC_RAP_FATURA_DEUTCHCOLOR_FODEC' 
                    ) RapPersonalizuar ON T_RAPORTDESING.FILENAMEPORTRAIT = RapPersonalizuar.PERSHKRIMI
       ) Design
   WHERE IDRAPORTDESING = @idRaportDesign ), '')

PRINT 'MERR: SP te vecanta sipas design klient: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()

IF @SPNAME <> ''
BEGIN
DECLARE @SPEXEC NVARCHAR(MAX) = N'exec '+ @SPNAME +' @idfaturaExec, @lidhurExec'
PRINT 'Ekzekutohet SP me emer : '+ @SPNAME
EXECUTE sp_executesql @SPEXEC, N'@idfaturaExec nvarchar(20), @lidhurExec int = 0', @idfaturaExec = @idfatura, @lidhurExec = @lidhur			
END

ELSE 

BEGIN	
DECLARE @MENYREPAGESE VARCHAR(20);
DECLARE @IDHISTORIK VARCHAR(20) = @idfatura;
IF(@lidhur = 1)
BEGIN
	SET @idfatura = (SELECT IDSHITJEKOKA FROM dbo.T_KOKASHITJEHISTORIK WHERE IDHISTORIK = @idfatura)
END
	
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED		
BEGIN TRAN

DECLARE @DATA DATETIME;
DECLARE @IDNDERMARJE T_FOR_KEY; 
DECLARE @IDKONFIGAMBJENTE T_FOR_KEY

SELECT	@DATA = DTDOK, @IDNDERMARJE = IDNDERM, @IDKONFIGAMBJENTE = IDKONFIGAMBJENTE  
FROM	(
SELECT DTDOK, IDNDERM, IDKONFIGAMBJENTE FROM T_KOKASHITJE WHERE IDSHITJEKOKA = @idfatura  AND @lidhur = 0
UNION ALL 
SELECT DTDOK, IDNDERM, IDKONFIGAMBJENTE FROM T_KOKASHITJEHISTORIK WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
) SH
		
			
DECLARE @KODKONFIGAMBJENTE VARCHAR(20) = ISNULL((
SELECT	TOP 1 KODKONFIGAMBJENTE
FROM	T_KONFIGAMBJENTE 
WHERE	T_KONFIGAMBJENTE.IDKONFIGAMBJENTE = @IDKONFIGAMBJENTE),'')

			
--DECLARE @MAGAZINA VARCHAR(100) = ISNULL(( SELECT	TOP 1 CASE WHEN MAGROW = 1 THEN PERSHKRIMI ELSE '' END
--						FROM	T_NJESIADMINISTRATIVE
--								INNER JOIN (
--									SELECT IDMAGAZINA = MIN(IDMAGAZINA), MAGROW = SUM(1)
--									FROM	(
--												SELECT IDMAGAZINA FROM T_TRUPISHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 
--												UNION  
--												SELECT IDMAGAZINA FROM T_TRUPISHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
--											) TSH
--									) SH ON T_NJESIADMINISTRATIVE.IDNJESIADM = SH.IDMAGAZINA)
--				, '')

PRINT 'MERR: Merr Variabla te pergjithshem per dokumentin: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE();

			
DECLARE @IDND INT = (
SELECT TOP 1 T_KONFIGAMBJENTE.IDKONFIGAMBJENTE 
FROM	T_KOKASHITJE 
INNER JOIN T_KONFIGAMBJENTE on T_KOKASHITJE.IDKONFIGAMBJENTE = T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
WHERE	KODKONFIGAMBJENTE='NDF' AND T_KONFIGAMBJENTE.IDNDERMARJE = T_KOKASHITJE.IDNDERM AND T_KOKASHITJE.IDSHITJEKOKA = @idfatura AND @lidhur = 0  )
PRINT 'MERR: IDKONFIG per NDF: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE();
		
			
DECLARE @VLERALIDHUR FLOAT = ISNULL((
SELECT	SUM	(	
	case when sh.TOTALIMETVSHMEZBRITJE<0 
	and	(
			dk.IDKONFIGGJENERUES = @IDND 
			OR ( IDKATDOK = 1 and LLOJIVEPRIMIT in ('Arketim','Derdhje') )
			OR ( IDKATDOK = 2 and LLOJIVEPRIMIT in ('Terheqje','Pagese') )
		) THEN -1 * dl.VLERALIDHUR ELSE dl.VLERALIDHUR END
)	
FROM		T_DOKUMENTLIDHESTRUPI				dl
INNER JOIN T_DOKUMENTLIDHESKOKA		dk	ON dl.IDKOKA = dk.IDKOKA				
INNER JOIN T_KOKASHITJE				sh	ON dl.IDDOKUMENTI = sh.IDSHITJEKOKA AND dl.LLOJDOKUMENTI= sh.idnivel
INNER JOIN T_NIVELREGJISTRIMI		n	ON n.IDNIVEL = sh.IDNIVEL
LEFT OUTER JOIN T_VEPRIMBANKAKOKA	v	ON v.IDKOKA = dk.IDGJENERUES and dk.IDKONFIGGJENERUES = v.IDKONFIGAMBJENTE 
WHERE		dl.IDDOKUMENTI = @idfatura AND @lidhur = 0	AND dk.IDSTATUSDOK = 1 and dl.STATUSI=0 
), 0)
PRINT 'MERR: Vlera e lidhur per konvertimet: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
					
--CREATE TABLE #KURSETDATAFUNDIT(MONEDHAKOD VARCHAR(20) Primary key, VLERAKURSIT FLOAT)
--INSERT INTO #KURSETDATAFUNDIT
--SELECT	MONEDHAKOD, VLERAKURSIT
--FROM	(
--SELECT	T_MONEDHA.MONEDHAKOD, T_KURSET.VLERAKURSIT, ROW_NUMBER() OVER (PARTITION BY T_KURSET.IDMONEDHA ORDER BY DATAKURSIT desc, idkursi desc) AS Seq
--FROM	T_KURSET
--INNER JOIN T_MONEDHA ON T_MONEDHA.IDMONEDHA = [T_KURSET].IDMONEDHA
--WHERE	T_MONEDHA.IDSTATUSDOK <> 2 AND T_KURSET.DATAKURSIT <= @DATA  AND T_MONEDHA.IDNDERMARJE=@IDNDERMARJE
--) PARTITIONI
--WHERE	Seq = 1
--DECLARE @KURSIDATAFUNDITEUR FLOAT = ISNULL(( SELECT VLERAKURSIT FROM #KURSETDATAFUNDIT WHERE MONEDHAKOD='EUR'),1)
--DECLARE @KURSIDATAFUNDITUSD FLOAT = ISNULL(( SELECT VLERAKURSIT FROM #KURSETDATAFUNDIT WHERE MONEDHAKOD='USD'),1) 
--PRINT 'MERR: Kurset per te gjithe monedhat deri ne daten e dokumentit: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()

			
--DECLARE @DOKKONVERTUAR VARCHAR(MAX) = ISNULL((
--SELECT DISTINCT	ksh.NRDOK + ' '
--FROM    (SELECT IDTRUPIKONVERTIMI FROM T_TRUPISHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 UNION ALL SELECT IDTRUPIKONVERTIMI FROM T_TRUPISHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))) AS tshk
--INNER JOIN (SELECT IDSHITJETRUPI, IDSHITJEKOKA FROM T_TRUPISHITJE UNION ALL SELECT IDSHITJETRUPI, IDSHITJEKOKA FROM T_TRUPISHITJEHISTORIK WHERE LIDHUR = 0 ) AS tsh ON tsh.IDSHITJETRUPI = tshk.IDTRUPIKONVERTIMI
--INNER JOIN (SELECT IDSHITJEKOKA, NRDOK, IDSTATUSDOK FROM T_KOKASHITJE UNION ALL SELECT IDSHITJEKOKA, NRDOK, IDSTATUSDOK FROM T_KOKASHITJEHISTORIK WHERE LIDHUR = 0 ) AS ksh ON ksh.IDSHITJEKOKA = tsh.IDSHITJEKOKA
--WHERE   IDSTATUSDOK <> 2
--FOR	XML PATH('')),'')
--PRINT 'MERR: Numri i dokumentave te konvertuara: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
					
			
DECLARE @IDKLIENTFURNITOR numeric(18,0); DECLARE @KLIENTGJENDJE FLOAT = 0; DECLARE @KLIENTGJENDJEMB FLOAT = 0; 
SELECT	@IDKLIENTFURNITOR=MAX(kf.IDKLIENTFURNITOR), @KLIENTGJENDJE = ( ISNULL(SUM(gj.VLPLUSGJENDJEKF), 0) - ISNULL(SUM(gj.VLMINUSGJENDJEKF), 0) ), @KLIENTGJENDJEMB =( ISNULL(SUM(gj.VLPLUSGJENDJEKF * gj.KURSIGJENDJEKF), 0) - ISNULL(SUM(gj.VLMINUSGJENDJEKF	* gj.KURSIGJENDJEKF), 0) )
FROM	(SELECT IDKLIENTFURNITOR FROM T_KOKASHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 UNION ALL SELECT IDKLIENTFURNITOR FROM T_KOKASHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))) AS k
INNER JOIN T_KLIENTFURNITOR AS kf ON kf.IDKLIENTFURNITOR = k.IDKLIENTFURNITOR
LEFT OUTER JOIN T_GJENDJEKF AS gj ON gj.IDKLIENTGJENDJEKF = kf.IDKLIENTFURNITOR AND gj.IDSTATUSDOK = 1
PRINT 'MERR: Gjendja e Klient/Furnitoreve: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
	
			
--DECLARE @MAGKODIGJENERUARNGASHITJA VARCHAR(20) = ISNULL((
--SELECT	njesiMagGjeneruarNgaShitja.KODI
--FROM    (SELECT IDSHITJEKOKA, IDKONFIGAMBJENTE, IDNIVEL FROM T_KOKASHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 UNION ALL SELECT IDSHITJEKOKA, IDKONFIGAMBJENTE, IDNIVEL FROM T_KOKASHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))) AS k
--INNER JOIN T_KOKAMAGAZINA			magGjeneruarNgaShitja ON magGjeneruarNgaShitja.IDGJENERUES=k.IDSHITJEKOKA AND magGjeneruarNgaShitja.IDKONFIGGJENERUES = k.IDKONFIGAMBJENTE AND magGjeneruarNgaShitja.IDNIVELGJENERUES = k.IDNIVEL 
--INNER JOIN T_NJESIADMINISTRATIVE	njesiMagGjeneruarNgaShitja ON njesiMagGjeneruarNgaShitja.IDNJESIADM = magGjeneruarNgaShitja.IDMAG),'')
--PRINT 'MERR: Magazine te ku eshte gjeneruar dokumenti i shitjes: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
		
			
CREATE TABLE #ARTIKUJ(IDARTIKULLI numeric(18,0) Primary key, BARKODI VARCHAR(100), ARKIVA VARCHAR(MAX) )
INSERT	INTO #ARTIKUJ
SELECT	IDKODI, BARKODI = ISNULL(BARKODI,''),  ARKIVAPATH = ISNULL(ARKIVAPATH,'')
FROM	(
SELECT	DISTINCT IDKODI, BARKODI=LTRIM(RTRIM(PERSHKRIMI))
FROM	(
	SELECT	rn1 = rank() over(partition by T_TRUPISHITJE.IDKODI order by T_TRUPISHITJE.IDKODI, T_KODBARI.IDKODBARI), T_TRUPISHITJE.IDKODI, T_KODBARI.PERSHKRIMI
	FROM	(SELECT *, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 FROM T_TRUPISHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0  
			 UNION ALL 
			 SELECT * FROM T_TRUPISHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))  ) AS T_TRUPISHITJE
			LEFT JOIN T_KODBARI ON T_KODBARI.IDARTIKULLI = T_TRUPISHITJE.IDKODI
) Barkode				
WHERE rn1=1	
)Barkode
LEFT JOIN (
SELECT	T_ARKIVA.IDDOK, ARKIVAPATH =MAX(T_ARKIVA.PATH)
FROM	T_ARKIVA
WHERE	T_ARKIVA.IDSTATUSDOK <> 2 AND IDLLOJDOK=13
	and (
				PATH  like '%.jpg'	or PATH  like '%.jpeg'	or PATH  like '%.bmp' 
			or	PATH  like '%.dib'	or PATH  like '%.rle'	or  PATH  like '%.jpe'  
			or	PATH  like '%.jfif'	or PATH  like '%.gif'	or PATH  like '%.tif'
			or	PATH  like '%.tiff'	or PATH  like '%.png'
		)  
GROUP BY T_ARKIVA.IDDOK
) Arkiva ON Barkode.IDKODI = Arkiva.IDDOK	
PRINT 'MERR: Barkodin/Imazhin per secilin nga artikujt e shitjes: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
	
			
--DECLARE @KLIENTGJENDJEUSH FLOAT =
--ISNULL((	SELECT  SUM(ISNULL(gjendje.vlera,0))
--FROM	(	
--	SELECT	vlera=SUM(TOTALIMETVSHMEZBRITJE)
--	FROM	(SELECT IDSHITJEKOKA, IDNIVEL, IDKLIENTFURNITOR, TOTALIMETVSHMEZBRITJE, IDSTATUSDOK FROM T_KOKASHITJE 
--			UNION ALL 
--			SELECT IDSHITJEKOKA, IDNIVEL, IDKLIENTFURNITOR, TOTALIMETVSHMEZBRITJE, IDSTATUSDOK FROM T_KOKASHITJEHISTORIK WHERE LIDHUR = 0) AS T_KOKASHITJE 
--			INNER JOIN T_NIVELREGJISTRIMI ON T_NIVELREGJISTRIMI.IDNIVEL = T_KOKASHITJE.IDNIVEL
--	WHERE	IDKLIENTFURNITOR = @IDKLIENTFURNITOR  AND T_KOKASHITJE.IDSTATUSDOK <> 2 AND T_NIVELREGJISTRIMI.KODI = 'USH' AND IDSHITJEKOKA <> @idfatura AND @lidhur = 0
				
--	UNION ALL 
						
--	SELECT	vlera=-SUM(VLMINUSGJENDJEKF)
--	FROM	T_GJENDJEKF
--			INNER JOIN T_NIVELREGJISTRIMI	ON T_NIVELREGJISTRIMI.IDNIVEL = T_GJENDJEKF.IDNIVELIGJENDJEKF
--	WHERE	T_GJENDJEKF.IDKLIENTGJENDJEKF = @IDKLIENTFURNITOR AND T_GJENDJEKF.IDGJENDJEKF <> @idfatura AND @lidhur = 0 AND T_GJENDJEKF.IDSTATUSDOK = 1 AND (T_NIVELREGJISTRIMI.KODI <> 'ND' AND T_NIVELREGJISTRIMI.KODI <> 'FB')
--) AS gjendje ), 0)
--PRINT 'MERR: Gjendja e dokumentave te USH: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()

			
CREATE TABLE #FATURELIKUIDUAR(MONEDHAKOD VARCHAR(20) Primary key, VLERALIKUIDUAR FLOAT)
INSERT INTO #FATURELIKUIDUAR
SELECT	MONEDHAKOD, vlera = SUM( case when [T_KOKASHITJE].TOTALIMETVSHMEZBRITJE<0 and (dk.IDKONFIGGJENERUES = @IDND  OR (IDKATDOK = 1 and LLOJIVEPRIMIT in ('Arketim','Derdhje')) OR (IDKATDOK = 2 and LLOJIVEPRIMIT in ('Terheqje','Pagese')))then -1*dl.VLERALIDHUR else dl.VLERALIDHUR end) 
FROM	T_DOKUMENTLIDHESTRUPI dl 
INNER JOIN T_KOKASHITJE					ON dl.IDDOKUMENTI = [T_KOKASHITJE].IDSHITJEKOKA 
INNER JOIN T_DOKUMENTLIDHESKOKA dk		ON dl.IDKOKA=dk.IDKOKA AND dk.IDSTATUSDOK=1 
INNER JOIN (select DISTINCT IDKOKA from T_DOKUMENTLIDHESTRUPI where IDDOKUMENTI=@idfatura AND @lidhur = 0 and STATUSI=0) Eshte ON dk.IDKOKA  = Eshte.IDKOKA
INNER JOIN T_NIVELREGJISTRIMI			ON T_NIVELREGJISTRIMI.IDNIVEL = T_KOKASHITJE.IDNIVEL
INNER JOIN T_VEPRIMBANKAKOKA			ON dl.IDDOKUMENTI = T_VEPRIMBANKAKOKA.IDKOKA AND LLOJDOKUMENTI= T_VEPRIMBANKAKOKA.IDNIVEL AND STATUSI=1
INNER JOIN T_DOKUMENTLIDHESTRUPI dl1	ON dl1.IDKOKA=dk.IDKOKA AND dk.IDSTATUSDOK=1 
INNER JOIN (SELECT *, IDHISTORIK = 0, LIDHUR = 0 FROM T_KOKASHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 UNION ALL SELECT * FROM T_KOKASHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))) AS SHITJEKOKA on dl1.IDDOKUMENTI=SHITJEKOKA.IDSHITJEKOKA and dl1.LLOJDOKUMENTI= SHITJEKOKA.IDNIVEL and dl1.STATUSI=0
INNER JOIN T_banka						ON T_VEPRIMBANKAKOKA.IDBANKA=T_banka.IDBANKA
INNER JOIN T_MONEDHA					ON T_MONEDHA.IDMONEDHA=T_BANKA.IDMONEDHABANKA 
WHERE	dk.IDSTATUSDOK<>2 and T_VEPRIMBANKAKOKA.IDSTATUSDOK=1
GROUP BY MONEDHAKOD
DECLARE @VLERALIKUIDUARLEK FLOAT=ISNULL(( SELECT VLERALIKUIDUAR FROM #FATURELIKUIDUAR WHERE MONEDHAKOD='LEK'),1)
DECLARE @VLERALIKUIDUAREUR FLOAT=ISNULL(( SELECT VLERALIKUIDUAR FROM #FATURELIKUIDUAR WHERE MONEDHAKOD='EUR'),1)
PRINT 'MERR: Vlera e Likuiduar e Fatures sipas monedhave: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()


--DECLARE @IDDOKNGA numeric(18,0) = (SELECT IDDOKNGA FROM T_KOKASHITJE WHERE IDSHITJEKOKA = @idfatura)
--DECLARE @DTKRIJIMI_FILLESTARE DATETIME;
--;with Prindi as (
--   SELECT IDSHITJEKOKA,IDDOKNGA,DTKRIJIMI,IDSHITJEKOKA [RootId], IDDOKNGA [RootName],DTKRIJIMI [rootdt]
--      FROM T_KOKASHITJEHISTORIK
--	  where IDDOKNGA IS NULL and IDNDERM=@IDNDERMARJE
--	 UNION ALL
--    SELECT a.IDSHITJEKOKA,a.IDDOKNGA,a.DTKRIJIMI,b.[RootId], b.[RootName],b.[rootdt]
--      FROM T_KOKASHITJEHISTORIK a INNER JOIN Prindi b
--        ON a.IDDOKNGA = b.IDSHITJEKOKA  --  rekursioni
--) SELECT @DTKRIJIMI_FILLESTARE = DTKRIJIMI

--FROM Prindi p    where IDSHITJEKOKA=@IDDOKNGA
--option (maxrecursion 365);
--PRINT 'rekursioni: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()

CREATE TABLE #T_CMIMARTIKULLI (IDARTIKULLI INT PRIMARY KEY, IDNJESIA INT, IDNJESIA2 INT, CMIMI FLOAT, CMIMI2 FLOAT)
INSERT INTO #T_CMIMARTIKULLI (IDARTIKULLI, IDNJESIA, IDNJESIA2, CMIMI, CMIMI2)
 SELECT IDARTIKULLI, IDNJESIA, IDNJESIA2, CMIMI, CMIMI2
 FROM ( SELECT IDARTIKULLI, T_CMIMARTIKULLI.IDNJESIA, T_CMIMARTIKULLI.IDNJESIA2, T_CMIMARTIKULLI.CMIMI, T_CMIMARTIKULLI.CMIMI2, ROW_NUMBER() OVER (PARTITION BY IDARTIKULLI ORDER BY IDARTIKULLI DESC) AS Seq
	    FROM T_CMIMARTIKULLI
	           LEFT OUTER JOIN T_NIVELCMIMI ON T_CMIMARTIKULLI.IDNIVELCMIMI = T_NIVELCMIMI.IDNIVELCMIMI         
	    WHERE NIVELCMIMIBAZE = 1 AND LLOJINIVELCMIMI = 0 AND T_CMIMARTIKULLI.IDSTATUSDOK <> 2 AND T_CMIMARTIKULLI.IDNDERMARJE = @IDNDERMARJE
	  ) PARTITIONI
 WHERE Seq = 1				
			
IF EXISTS ( SELECT 1 FROM (SELECT FATUREPERMBLEDHESE FROM T_KOKASHITJE WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 UNION ALL SELECT FATUREPERMBLEDHESE FROM T_KOKASHITJEHISTORIK WHERE ((IDSHITJEKOKA=@idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK=@IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))) AS SHITJEKOKA WHERE FATUREPERMBLEDHESE = 1)
BEGIN					
SELECT  -- Koka e Dokumentit te Shitjes	
URL=REPLACE(CONCAT('https://efiskalizimi-app-test.tatime.gov.al/invoice-check/#/verify?','iic=',IIC,'&','tin=',nd.NDERMARJENIPT,'&','crtd=', CASE WHEN ((SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')) = '+00:00') then  CONVERT(VARCHAR(50), TODATETIMEOFFSET (CONVERT(DATETIMEOFFSET(0),CAST((SELECT CONVERT(VARCHAR(10), K.DTFATURE, 111)) + ' ' +CONVERT(VARCHAR(10),(SELECT CONVERT(TIME,CONVERT(VARCHAR(50), TODATETIMEOFFSET(k.DTKRIJIMIPAJISJE,(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))AT TIME ZONE 'UTC' ,126)))) AS datetimeoffset) , 126),(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))  AT TIME ZONE 'UTC', 126)
ELSE CONVERT(VARCHAR(50), TODATETIMEOFFSET (CONVERT(DATETIMEOFFSET(0),CAST((SELECT CONVERT(VARCHAR(10), K.DTFATURE, 111)) + ' ' +CONVERT(VARCHAR(10),(SELECT CONVERT(TIME,CONVERT(VARCHAR(50), TODATETIMEOFFSET(k.DTKRIJIMIPAJISJE,(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz'))) ,126)))) AS datetimeoffset) , 126),(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))  AT TIME ZONE 'Central European Standard Time', 126) END
,'&','prc=') + STR((TOTALIMETVSHMEZBRITJE)*KURSI,LEN((TOTALI-k.ZBRITJE)*KURSI) + 3,2),' ',''),
LLOGARITEBANKARE = (STUFF(
                        (   
						SELECT  CONVERT(NVARCHAR(20), ' '+ EMERBANKA + '  ' + NRLLOGARIBANKA) + '                                                                      '
                            FROM T_BANKA 
                            WHERE SHFAQNEEINVOICE = 1 AND LLOJARKABANKA = 1
                            FOR xml path('')
                        )
                        , 1
                        , 1
                        , '')),
NRDOK = k.NRDOK, m.MONEDHAKOD, NRSERIAL = k.NRSERIAL,  SHENIME2 = k.SHENIME2 , DTDOK = k.DTDOK, DTKRIJIMI = k.DTKRIJIMI,DTFATURE = k.DTFATURE,DTKRIJIMIPAJISJE = k.DTKRIJIMIPAJISJE, k.TOTALIMETVSHMEZBRITJE, PERQINDJEZBRITJE = k.PERQINDJEZBRITJE, ZBRITJE = k.ZBRITJE, TOTALI = ROUND(k.TOTALI,2), TVSHTOTAL = k.TVSH,KURSI = k.KURSI, k.NRPROJEKT, k.IDMENYREPAGESE, PershkrimiKokaShitje = k.PERSHKRIMI	
, nv.IDKATDOK, KODI1 = nv.KODI, PERSHKRIMNIVELI = nv.PERSHKRIMI, KODKONFIGAMBJENTE=@KODKONFIGAMBJENTE, kfl.NRREFERENCEKOKAFLETEKONTABEL, KODIGRUP2 = T_GRUPIMDOKUMENTIKOKA.KODI, kodGrupDok1 = grupDok1.KODI,k.KERKUARNGA,k.IIC,k.NIVF,k.EIC,TipiEinvoice = (SELECT KODI+PERSHKRIMI FROM T_TIPIEINVOICE WHERE ID = k.eInvoiceType),Procesi = (SELECT KODI+PERSHKRIMI FROM T_PROCESI WHERE ID = k.Procesi),MENYREPAGESE = (CASE WHEN k.IDMENYREPAGESE = 0 then 'Me mirebesim' WHEN k.IDMENYREPAGESE = 4 then 'Pagese' WHEN k.IDMENYREPAGESE = 5 then 'Pagese Automatike' WHEN k.IDMENYREPAGESE = 6 then 'Cash 1 Bank' WHEN k.IDMENYREPAGESE = 7 then 'Me parapagim' WHEN k.IDMENYREPAGESE = 8 then 'Arke' WHEN k.IDMENYREPAGESE = 9 then 'Karte krediti' WHEN k.IDMENYREPAGESE = 10 then 'Pezull' WHEN k.IDMENYREPAGESE = 11 then 'Banke' END),StatusiFiskalizuar = (case when k.NIVF = '' then 'Jo fiskalizuar' ELSE 'Fiskalizuar' END),TotaliPaTvsh = (k.Totali - k.TVSH),CASE WHEN IDMENYREPAGESE=5 THEN 'Faturë me para në dorë' ELSE 'Noncash' END as MENYREPAGESE					
-- Klienti
, k.AFATIKOHOR, DATEMATURIMI = k.DTMATURIMI, diteMaturimi = CASE WHEN isnull(k.DTMATURIMI,0)=0 THEN 0 ELSE DATEDIFF(DAY,k.DTDOK,k.DTMATURIMI) END
, KODIKF = kf.KODKLIENTFURNITOR, kf.EMERTIMIKF, EMERKERKRIMIKF = kf.EMERKERKRIMIKF, kf.NIPTKF, LICENCAKF = kf.LICENCA, NRTVSHKF = kf.NRTVSH, kf.LLOGARIBANKAREKF, kf.CELKF, kf.TELKF, kf.FAXKF, kf.EMAILKF, T_QYTETI.QYTETIEMRI, kf.SHTETIKF, kf.DATELINDJAKF, kodpostar = T_QYTETI.QYTETIEMRI+' '+a.KODIPOSTAR, ADRESA = ISNULL(a.ADRESA,''), adresakf = a.ADRESA	
, grkf.PERSHKRIMGRUPI, monedha_kf = T_MONEDHA.MONEDHAKOD, detyrimi = @KLIENTGJENDJE, detyrimi_mb = @KLIENTGJENDJEMB, WEBPAGEKF = kf.WEBPAGEKF, AKTIVITETIKF = kf.AKTIVITETIKF ,mat.PERSHKRIMMATURIMI
							
-- Transporti
, k.ADRESAFATURIMIT, k.ADRESADERGIMIT, k.EMERKLIENTI, KONTAKTI = k.KONTAKTI, k.MARRESI, k.NIPTK, DTTRANSPORTIMI = k.DTTRANSPORTIMI, transportuesi = T_TRANSPORTUES.EMERTIMI, transp_adresa = T_TRANSPORTUES.ADRESA, transp_tel = T_TRANSPORTUES.TEL, transp_nipt = T_TRANSPORTUES.NIPT, transp_Targa = T_TRANSPORTUES.TARGA
, KILOMETRAAUTO = k.KILOMETRAAUTO, TARGAKSH = k.TARGA, SHOFERIKSH = K.SHOFERI, T_AUTOMJETE.TARGA, T_AUTOMJETE.MARKA, T_AUTOMJETE.KILOMETRA, PERSHKRIMMODELI = T_MODELAUTOMJETI.PERSHKRIMMODELI, MENYRELIFERIMI = mentr.PERSHKRIMIMENYRETRANSPORTI ,T_OPERATORE.KODI as KODIOPERATORIT
						
-- Trupi i Dokumentit te Shitjes 
, MAX(t.IDSHITJETRUPI) IDSHITJETRUPI, t.IDLLOJVEPRIMI, t.KODI, t.PERSHKRIMI, SASIA=SUM(t.SASIA), t.CMIMI, VLEFTAPATVSH = SUM(t.VLEFTAPATVSH), VLEFTAMETVSH = SUM(t.VLEFTAMETVSH), TVSHKODI = T_TAKSAT.KODI, Tvsh1 = T_TAKSAT.NORMAPERQINDJE, NivelTvshTrupi = ISNULL(T_TAKSAT.NORMAPERQINDJE,0)*0.01, tvsh = ISNULL((T_TAKSAT.NORMAPERQINDJE/100),0), cmimiMeTvsh = (t.CMIMI*(1+ISNULL(T_TAKSAT.NORMAPERQINDJE,0)*0.01))
, CMIMIPATVSHMEZBRITJE = (t.CMIMI*(1-t.ZBRITJE/100)), VLEFTAPAZBRITJE = SUM(t.SASIA * t.CMIMI), t.LLOJZBRITJE, ZBRITJEPERQ = case  when  ( SUM(t.SASIA) * t.CMIMI )=0 then 0 else   ( (SUM(t.SASIA*t.CMIMI*t.ZBRITJE)/( SUM(t.SASIA) * t.CMIMI )) ) end, t.ZBRITJEVLERE, ZBRITJETRUPIPERSKONTO = CASE WHEN (1-t.ZBRITJE/100)<>0 THEN (t.VLEFTAMETVSH*t.ZBRITJE/100)/(1-t.ZBRITJE/100) ELSE t.ZBRITJEVLERE END
, PERSHKRIMNJESIA = n.KODNJESIA, t.GJERESI, t.GJATESI, t.SASIPERMASE, PERSHK_SHENIME = t.PERSHKRIMI+' '+t.SHENIME
, t.SHENIME
, TRUPSHENIME = t.SHENIME, TRUPSHENIME2 = t.SHENIME2
, llog.EMERLLOGARI_sq As EMERLLOGARI_1, llog.EMERLLOGARI_en As EMERLLOGARI_2, llogB.LLOGSHENIME5, t.DTMBARIMI

-- Artikujt e trupit te dokumentit
, t.IDKODI AS IDARTIKULLI, lloji = ISNULL(art.LLOJIART,1), art.KODARTIKULLI, art.PERSHKRIMARTIKULLI, art.PERSHKRIMIANGARTIKULLI, art.KODIDOGANORARTIKULLI, art.ORIGJINEARTIKULLI, art.PERSHKRIMTEFURNITORI, art.GARANCIA AS AfatGarancie, art.VENDODHJEARTIKULLI ,art.PESHABRUTOARTIKULLI, art.PESHANETOARTIKULLI
,art.MINIMUMARTIKULLI, art.MARKA AS MARKE, art.SHASIA
, TVSHARTIKULLI = artTakse.NORMAPERQINDJE, NJESI1 = nj1.PERSHKRIMNJESIA, NJESI2 = nj2.PERSHKRIMNJESIA, koeficienti = art.KOEFICENTARTIKULLI, koeficenti = CASE WHEN art.NJESI1ARTIKULLI = t.IDNJESIA THEN 1 ELSE art.KOEFICENTARTIKULLI END	
, serialart = d1.KODDETAJIMARTIKULLI
, detajim1 = ISNULL(d1.KODDETAJIMARTIKULLI, ''), detajim2 = ISNULL(d2.KODDETAJIMARTIKULLI, ''), T_KODIFIKIMARTIKULLI.KODKODIFIKIMI, T_KODIFIKIMARTIKULLI.PERSHKRIMKODIFIKIMI, KODKODIFIKIMI2 = kodifikim2.KODKODIFIKIMI, kodbari = kodbarArkiv.BARKODI, arkiva_path = kodbarArkiv.ARKIVA, LlojGarancie = T_GARANCIA.KODGARANCIA, artFurnitoriKryesor = artFurnitor.EMERTIMIKF 
						
-- Agjentet e shitjeve
, agj.EMRIAGJENTSHITJE, agj.MBIEMRIAGJENTSHITJE, EmerMbiemer = agj.EMRIAGJENTSHITJE+' '+agj.MBIEMRIAGJENTSHITJE, agj.TELAGJENTSHITJE, EmerMbiemer2 = agj2.EMRIAGJENTSHITJE+' '+agj2.MBIEMRIAGJENTSHITJE, EmerMbiemer3 = agj3.EMRIAGJENTSHITJE+' '+agj3.MBIEMRIAGJENTSHITJE  	
						
-- Dege/NjesiAdministrative/Pike Shitje Furnizimi
, PershkrimNjesiAdm = T_DEGEADMINISTRATIVE.PERSHKRIMI,kodBiznesi = T_DEGEADMINISTRATIVE.KODNJESIEBIZNES, kodmagazina = T_NJESIADMINISTRATIVE.KODI, T_NJESIADMINISTRATIVE.ADRESA as Adresadok,pershkrimMagazina = njesi.PERSHKRIMI, adresaMagazina = njesi.ADRESA,telMagazina = njesi.TELEFON, emailMagazina = njesi.EMAIL, PIKESHITJE = pk.KODI, PIKESHITJEPERSHKRIMI = pk.PERSHKRIMI, ADRESAPIKESHITJEFURNIZIMI = pk.ADRESA
						
-- Userat
, PERDORUESI = k.IDPERDORUESI, perd.PERDORUESUSERNAME, EmerMbiemerPerdorues = perd.PERDORUESEMRI + ' ' + perd.PERDORUESMBIEMRI, idkrijuesi= k.IDKRIJUESI, Krijuesi = krijues.PERDORUESEMRI, MbiemerKrij = krijues.PERDORUESMBIEMRI, krijues.PERDORUESADRESA, krijues.PERDORUESFAX, PERDORUESTEL = krijues.PERDORUESTEL, PERDORUESEMAIL = krijues.PERDORUESEMAIL
						
-- Ndermarrja
, KODINDERMARJE = nd.NDERMARJEKODI, nd.NDERMARJEPERSHK, MONEDHANDERMARJE = m2.MONEDHAKOD, nd.NDERMARJEKODIFISK
, nd.NDERMARJENIPT
, NIPTnd = nd.NDERMARJENIPT, NDERMARJETVSH = nd.NRTVSH, NDERMARJELICENC = nd.NDERMARJELICEN, nd.NDERMARJETEL, nd.NDERMARJEFAX, nd.NDERMARJEMAIL, nd.NDERMARJEVEND, NdermQyteti = qyteti.QYTETIEMRI,
								
-- Specifike per kliente, duhet te gjenden se kush i perdor qe te mos llogariten per te gjithe
  CMIMIPATVSH = CASE WHEN isnull(nvc.BRUTONETONIVELCMIMI, 0) = 0 THEN t.cmimi WHEN (isnull(nvc.BRUTONETONIVELCMIMI, 0) = 1 ) THEN (t.CMIMI / (1 + (isNull(artTakse.NORMAPERQINDJE, 0) * 0.01))) END,
  VleraMbetur = CASE WHEN k.TOTALIMETVSHMEZBRITJE > 0 THEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) ELSE ROUND(k.TOTALIMETVSHMEZBRITJE + @VLERALIDHUR, 2) END,
  StatusVleraMbetur = CASE WHEN ROUND(@VLERALIDHUR, 2) = 0 THEN 'E Hapur' WHEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) > 0 THEN 'E Pjesshme' WHEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) = 0 THEN 'E Mbyllur' ELSE 'E Tejkaluar' END

-- magazina = @MAGKODIGJENERUARNGASHITJA, MagPershkTeke = @MAGAZINA, TOPMAGPERSHKRIM = COALESCE(njesi.PERSHKRIMI, T_NJESIADMINISTRATIVE.PERSHKRIMI, '')	,					
-- CMIMBAZEBlerje = CASE WHEN T_CMIMARTIKULLI.IDNJESIA=n.IDNJESIA THEN CASE ISNULL([T_CMIMARTIKULLI].CMIMI,'') WHEN 0 THEN '' ELSE CONVERT(VARCHAR, [T_CMIMARTIKULLI].CMIMI) END WHEN T_CMIMARTIKULLI.IDNJESIA2=n.IDNJESIA THEN CASE ISNULL(cmimi2, 0) WHEN 0 THEN '' ELSE CONVERT(VARCHAR, CMIMI2) END ELSE '' END 
--, BRUTONETONIVELCMIMI = ISNULL(nvC.BRUTONETONIVELCMIMI, 0), 					
--, NrDokKonv = @DOKKONVERTUAR,case  isnull(@DOKKONVERTUAR,'') when ''  then '' else @DOKKONVERTUAR + '/' end as NrDokKonvRec  ,NRDOKREFERUAR = konvkoka.NRDOK, klientiNgaShitjeKonv = T_KLIENTFURNITOR.EMERTIMIKF, DETYRIMIUSHARK = @KLIENTGJENDJEUSH, 
--, KURSIIDTDOKFATURE = @KURSIDATAFUNDITEUR, KURSIIDTDOKFATURE2 = @KURSIDATAFUNDITUSD, vleraLek = @VLERALIKUIDUARLEK, vleraEur = @VLERALIKUIDUAREUR
--, GJENDJA ='', DIFERENCA='', ARTNJESIA=''						 
--, DATEAKTIVIZIMI=NULL, SFDL=NULL, CILDL=NULL, AXDL=NULL, SFDA=NULL, CILDA=NULL, AXDA=NULL, SFML=NULL, CILML=NULL, AXML=NULL, SFMA=NULL, CILMA=NULL, AXMA=NULL, DIST_INTERPUPILARE=NULL
--, SASIAM3 = 0, GJENDJAMQ = 0, GJENDJAMK = 0 ,  isnull( @DTKRIJIMI_FILLESTARE,k.DTKRIJIMI) as DTKRIJIMIFILLESTARE,isnull(T_KODBARI.PERSHKRIMI ,'')as BARKODDOK

FROM    ( SELECT NRDOK, NRSERIAL, SHENIME2, DTDOK, DTKRIJIMI,DTFATURE,DTKRIJIMIPAJISJE, TOTALIMETVSHMEZBRITJE, PERQINDJEZBRITJE, ZBRITJE, TOTALI, TVSH, KURSI, NRPROJEKT, IDMENYREPAGESE, PERSHKRIMI, KERKUARNGA, AFATIKOHOR, DTMATURIMI, KILOMETRAAUTO, 
                 TARGA, SHOFERI, ADRESAFATURIMIT, ADRESADERGIMIT, EMERKLIENTI, KONTAKTI, MARRESI, NIPTK, DTTRANSPORTIMI, IDPERDORUESI, IDKRIJUESI, IDDEGEADMINISTRATIVE, IDAUTOMJETI, IDSHITJEKOKA, IDKONFIGAMBJENTE, IDMONEDHA,
		         IDPIKESHITJEFURNIZIMI, IDMENYRETRANSPORT, IDTRANSPORTUES, IDNDERM, IDKLIENTFURNITOR, IDNIVEL, IDAGJENT, IDAGJENTI2, IDAGJENTI3, IDGRUP1, IDGRUP2, IDHISTORIK = 0, LIDHUR = 0 ,IIC,NIVF,idarka,IDOPERATOR,EIC,Procesi,eInvoiceType
          FROM T_KOKASHITJE 
          WHERE IDSHITJEKOKA=@idfatura AND @lidhur = 0 
          UNION ALL 
          SELECT NRDOK, NRSERIAL, SHENIME2, DTDOK, DTKRIJIMI,DTFATURE,DTKRIJIMIPAJISJE, TOTALIMETVSHMEZBRITJE, PERQINDJEZBRITJE, ZBRITJE, TOTALI, TVSH, KURSI, NRPROJEKT, IDMENYREPAGESE, PERSHKRIMI, KERKUARNGA, AFATIKOHOR, DTMATURIMI, KILOMETRAAUTO, 
                 TARGA, SHOFERI, ADRESAFATURIMIT, ADRESADERGIMIT, EMERKLIENTI, KONTAKTI, MARRESI, NIPTK, DTTRANSPORTIMI, IDPERDORUESI, IDKRIJUESI, IDDEGEADMINISTRATIVE, IDAUTOMJETI, IDSHITJEKOKA, IDKONFIGAMBJENTE, IDMONEDHA,
		         IDPIKESHITJEFURNIZIMI, IDMENYRETRANSPORT, IDTRANSPORTUES, IDNDERM, IDKLIENTFURNITOR, IDNIVEL, IDAGJENT, IDAGJENTI2, IDAGJENTI3, IDGRUP1, IDGRUP2, IDHISTORIK, LIDHUR  ,iic,NIVF,idarka,IDOPERATOR,EIC,Procesi,eInvoiceType
          FROM T_KOKASHITJEHISTORIK 
          WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
		) AS k
LEFT OUTER JOIN T_DEGEADMINISTRATIVE ON T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE = k.IDDEGEADMINISTRATIVE
LEFT OUTER JOIN T_AUTOMJETE ON T_AUTOMJETE.IDAUTOMJETI = k.IDAUTOMJETI
LEFT OUTER JOIN T_MODELAUTOMJETI ON T_MODELAUTOMJETI.IDMODELI = T_AUTOMJETE.MODELAUTOMJETI
LEFT OUTER JOIN T_KOKAFLETEKONTABEL kfl ON kfl.IDGJENERUES = k.IDSHITJEKOKA AND kfl.IDKONFIGGJENERUES = k.IDKONFIGAMBJENTE
LEFT OUTER JOIN T_MONEDHA AS m ON m.IDMONEDHA = k.IDMONEDHA
LEFT OUTER JOIN T_PIKESHITJEFURNIZIMI pk ON k.IDPIKESHITJEFURNIZIMI = pk.IDPIKESHITJEFURNIZIMI
LEFT OUTER JOIN T_MENYRATRANSPORTI AS mentr ON k.IDMENYRETRANSPORT = mentr.IDMENYRETRANSPORTI
LEFT OUTER JOIN T_TRANSPORTUES ON k.IDTRANSPORTUES = T_TRANSPORTUES.IDTRANSPORTUES
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, KODI, IDKODI, IDLLOJVEPRIMI, PERSHKRIMI, SASIA, CMIMI, TVSH, VLEFTAPATVSH, VLEFTAMETVSH, ZBRITJE, LLOJZBRITJE, ZBRITJEVLERE, GJERESI, GJATESI,
                         SASIPERMASE, SHENIME, SHENIME2, DTMBARIMI, IDNJESIA, IDTRUPIKONVERTIMI, IDTRUPIKONVERTIMBLERJE, IDBARKODI, IDMAGAZINA, IDDETAJIMART, IDDETAJIMART2, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
                  FROM T_TRUPISHITJE 
                  WHERE IDSHITJEKOKA = @idfatura 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDSHITJETRUPI, KODI, IDKODI, IDLLOJVEPRIMI, PERSHKRIMI, SASIA, CMIMI, TVSH, VLEFTAPATVSH, VLEFTAMETVSH, ZBRITJE, LLOJZBRITJE, ZBRITJEVLERE, GJERESI, GJATESI,
                         SASIPERMASE, SHENIME, SHENIME2, DTMBARIMI, IDNJESIA, IDTRUPIKONVERTIMI, IDTRUPIKONVERTIMBLERJE, IDBARKODI, IDMAGAZINA, IDDETAJIMART, IDDETAJIMART2, IDHISTORIK, IDKOKAHISTORIK, LIDHUR
                  FROM T_TRUPISHITJEHISTORIK 
                  WHERE LIDHUR = 0 AND IDSHITJEKOKA = @idfatura
                ) AS t ON t.IDSHITJEKOKA = k.IDSHITJEKOKA
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
				  FROM T_TRUPISHITJE
                  WHERE IDSHITJEKOKA = @idfatura 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK, IDKOKAHISTORIK, LIDHUR 
                  FROM T_TRUPISHITJEHISTORIK 
                  WHERE LIDHUR = 0 AND IDSHITJEKOKA = @idfatura
                ) konvtrupi ON konvtrupi.IDSHITJETRUPI = t.IDTRUPIKONVERTIMI
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, NRDOK, IDHISTORIk = 0, LIDHUR = 0 
                  FROM T_KOKASHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, NRDOK, IDHISTORIK, LIDHUR 
                  FROM T_KOKASHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) konvkoka ON konvkoka.IDSHITJEKOKA = konvtrupi.IDSHITJEKOKA
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
                  FROM T_TRUPISHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK, IDKOKAHISTORIK, LIDHUR   
                  FROM T_TRUPISHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) AS SHITJETRUPI ON t.IDTRUPIKONVERTIMBLERJE = SHITJETRUPI.IDSHITJETRUPI
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDKLIENTFURNITOR, IDHISTORIk = 0, LIDHUR = 0 
                  FROM T_KOKASHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDKLIENTFURNITOR, IDHISTORIK, LIDHUR  
                  FROM T_KOKASHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) konvertuarNgaKokaSh ON SHITJETRUPI.IDSHITJEKOKA = konvertuarNgaKokaSh.IDSHITJEKOKA
LEFT OUTER JOIN T_KODBARI ON T_KODBARI.IDKODBARI = t.IDBARKODI
LEFT OUTER JOIN T_KLIENTFURNITOR ON T_KLIENTFURNITOR.IDKLIENTFURNITOR = konvertuarNgaKokaSh.IDKLIENTFURNITOR
LEFT OUTER JOIN T_NJESIADMINISTRATIVE ON T_NJESIADMINISTRATIVE.IDNJESIADM = t.IDMAGAZINA
LEFT OUTER JOIN T_KOKAMAGAZINA tk ON tk.IDGJENERUES = k.IDSHITJEKOKA AND tk.IDKONFIGGJENERUES = k.IDKONFIGAMBJENTE
LEFT OUTER JOIN T_NJESIADMINISTRATIVE njesi ON njesi.IDNJESIADM = tk.IDMAG
LEFT OUTER JOIN T_NJESIARTIKULLI AS n ON n.IDNJESIA = t.IDNJESIA
LEFT OUTER JOIN T_NDERMARJE AS nd ON nd.IDNDERMARJE = k.IDNDERM
LEFT OUTER JOIN T_KLIENTFURNITOR AS kf ON kf.IDKLIENTFURNITOR = k.IDKLIENTFURNITOR
LEFT OUTER JOIN T_LLOGARI ON kf.IDLLOGARI = T_LLOGARI.IDLLOGARI
LEFT OUTER JOIN T_MONEDHA ON T_LLOGARI.MONEDHA = T_MONEDHA.IDMONEDHA
LEFT OUTER JOIN T_QYTETI qyteti on qyteti.IDQYTETI= nd.NDERMARJAQYTETI
LEFT OUTER JOIN T_QYTETI ON T_QYTETI.IDQYTETI = kf.QYTETIKF
LEFT OUTER JOIN T_NIVELREGJISTRIMI ON T_NIVELREGJISTRIMI.IDNIVEL = k.IDNIVEL
LEFT OUTER JOIN T_ADRESAKLIENTFURNITOR AS a ON a.IDKLIENTFURNITOR = kf.IDKLIENTFURNITOR AND a.IDTIPADRESE = 1
LEFT OUTER JOIN T_NIVELREGJISTRIMI AS nv ON nv.IDNIVEL = k.IDNIVEL
LEFT OUTER JOIN T_PERDORUESI AS perd ON k.IDPERDORUESI = perd.IDPERDORUES
LEFT OUTER JOIN T_PERDORUESI AS krijues ON k.IDKRIJUESI = krijues.IDPERDORUES
LEFT OUTER JOIN T_MONEDHA m2 ON m2.IDMONEDHA = nd.NDERMARJEMON
LEFT OUTER JOIN T_TAKSAT ON t.TVSH = T_TAKSAT.IDTAKSA
LEFT OUTER JOIN T_NIVELCMIMI AS nvC ON nvC.IDNIVELCMIMI = kf.IDNIVELCMIMI
LEFT OUTER JOIN T_ARTIKULLI art ON t.IDKODI = art.IDARTIKULLI							
LEFT OUTER JOIN #ARTIKUJ kodbarArkiv ON t.IDKODI = kodbarArkiv.IDARTIKULLI
LEFT OUTER JOIN T_NJESIARTIKULLI nj1  ON art.NJESI1ARTIKULLI = nj1.IDNJESIA
LEFT OUTER JOIN T_NJESIARTIKULLI nj2 ON art.NJESI2ARTIKULLI = nj2.IDNJESIA
LEFT OUTER JOIN T_TAKSAT artTakse on artTakse.IDTAKSA = art.IDTVSH
LEFT OUTER JOIN T_KLIENTFURNITOR artFurnitor ON artFurnitor.IDKLIENTFURNITOR = art.IDFURNITORIKRYESOR
LEFT OUTER JOIN T_KODIFIKIMARTIKULLI ON art.KODIFIKIMI1ARTIKULLI = T_KODIFIKIMARTIKULLI.IDKODIFIKIMI
LEFT OUTER JOIN T_KODIFIKIMARTIKULLI as kodifikim2 ON art.KODIFIKIMI2ARTIKULLI = kodifikim2.IDKODIFIKIMI 
LEFT OUTER JOIN T_LLOGARI llog ON t.IDKODI = llog.IDLLOGARI
LEFT OUTER JOIN T_DETAJIMARTIKULLI d1 ON t.IDDETAJIMART = d1.IDDETAJIMARTIKULLI
LEFT OUTER JOIN T_DETAJIMARTIKULLI d2 ON t.IDDETAJIMART2 = d2.IDDETAJIMARTIKULLI
LEFT OUTER JOIN T_GARANCIA ON art.IDLLOJGARANCIA = T_GARANCIA.IDLLOJGARANCIA
LEFT OUTER JOIN T_GRUPEKF grkf ON kf.GRUPIM1KF = grkf.IDGRUPI
LEFT OUTER JOIN T_AGJENTSHITJE agj ON k.IDAGJENT = agj.IDAGJENTSHITJE
LEFT OUTER JOIN T_AGJENTSHITJE agj2 ON k.IDAGJENTI2 = agj2.IDAGJENTSHITJE
LEFT OUTER JOIN T_AGJENTSHITJE agj3 ON k.IDAGJENTI3 = agj3.IDAGJENTSHITJE
LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA ON T_GRUPIMDOKUMENTIKOKA.IDGRUPIMKOKA = K.IDGRUP2
LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA grupDok1 ON grupDok1.IDGRUPIMKOKA = K.IDGRUP1
LEFT OUTER JOIN T_NDERMARJE on k.IDNDERM=T_NDERMARJE.IDNDERMARJE
LEFT OUTER JOIN T_TAKSAT tvshNdermarrje ON tvshNdermarrje.IDTAKSA = T_NDERMARJE.NIVELTVSH
LEFT OUTER JOIN T_LLOGARI llogB ON llogB.IDLLOGARI = art.IDLLOGARIBLERJE
LEFT OUTER JOIN T_MATURIMI mat ON kf.MATURIMIKF = mat.IDMATURIMI
LEFT OUTER JOIN #T_CMIMARTIKULLI ON #T_CMIMARTIKULLI.IDARTIKULLI = art.IDARTIKULLI
LEFT JOIN T_banka ON t_banka.idbanka=k.idarka
LEFT OUTER JOIN t_operatore   ON K.IDOPERATOR=t_operatore.IDOPERATOR
				 
GROUP BY T_DEGEADMINISTRATIVE.PERSHKRIMI, k.IDSHITJEKOKA, k.NRDOK, k.KILOMETRAAUTO, k.KONTAKTI, k.DTDOK, k.DTTRANSPORTIMI, k.DTKRIJIMI, k.DTMATURIMI, k.NRSERIAL, k.SHENIME2, k.TOTALI, k.ZBRITJE, k.TVSH, k.KURSI,
         k.IDPERDORUESI, k.IDKRIJUESI, k.IDNIVEL, k.PERSHKRIMI, k.IDMENYREPAGESE, k.ADRESAFATURIMIT, k.ADRESADERGIMIT, k.TOTALIMETVSHMEZBRITJE, k.NIPTK, k.MARRESI, k.AFATIKOHOR, art.PERSHKRIMIANGARTIKULLI, 
		 art.PERSHKRIMARTIKULLI, art.PERSHKRIMTEFURNITORI, art.NJESI1ARTIKULLI, art.KOEFICENTARTIKULLI, art.IDARTIKULLI, art.GARANCIA, art.VENDODHJEARTIKULLI, art.PESHABRUTOARTIKULLI, art.PESHANETOARTIKULLI, 
		 art.MINIMUMARTIKULLI, t.VLEFTAMETVSH, t.ZBRITJE, t.IDLLOJVEPRIMI, t.KODI, t.PERSHKRIMI, t.IDNJESIA, t.CMIMI, t.GJERESI, t.GJATESI, t.SASIPERMASE, nd.NDERMARJEKODIFISK, llog.EMERLLOGARI_sq, llog.EMERLLOGARI_en,
         nd.NDERMARJEPERSHK, nd.NDERMARJENIPT, nd.NDERMARJEVEND, nd.NDERMARJETEL, nd.NDERMARJEFAX, nd.NDERMARJEVEND, nd.NDERMARJEMAIL, nd.NDERMARJEKODI, nd.NDERMARJENIPT, nd.NRTVSH, nd.NDERMARJELICEN, kf.EMERTIMIKF,
		 kf.NIPTKF, kf.TELKF, kf.FAXKF, kf.LLOGARIBANKAREKF, kf.KODKLIENTFURNITOR, kf.EMAILKF, kf.SHTETIKF, kf.LICENCA, kf.NRTVSH, kf.EMERKERKRIMIKF, kf.IDKLIENTFURNITOR, kf.CELKF, kf.WEBPAGEKF, kf.AKTIVITETIKF, 
		 konvkoka.NRDOK, T_MODELAUTOMJETI.PERSHKRIMMODELI, T_QYTETI.QYTETIEMRI, a.KODIPOSTAR, T_NJESIADMINISTRATIVE.KODI, pk.KODI, pk.PERSHKRIMI, perd.PERDORUESUSERNAME, krijues.PERDORUESEMRI, krijues.PERDORUESMBIEMRI,
		 krijues.PERDORUESADRESA, krijues.PERDORUESFAX, m.MONEDHAKOD, n.KODNJESIA, T_TAKSAT.NORMAPERQINDJE, m2.MONEDHAKOD, a.ADRESA, nv.IDKATDOK, mentr.PERSHKRIMIMENYRETRANSPORTI, agj.EMRIAGJENTSHITJE,
		 agj.MBIEMRIAGJENTSHITJE, agj.TELAGJENTSHITJE, krijues.PERDORUESTEL, krijues.PERDORUESEMAIL, T_AUTOMJETE.TARGA, T_AUTOMJETE.MARKA, T_AUTOMJETE.KILOMETRA, T_TRANSPORTUES.EMERTIMI, T_TRANSPORTUES.ADRESA, 
		 T_TRANSPORTUES.TEL, T_TRANSPORTUES.NIPT, T_TRANSPORTUES.TARGA, kfl.NRREFERENCEKOKAFLETEKONTABEL, t.IDKODI, nvC.BRUTONETONIVELCMIMI, T_GARANCIA.KODGARANCIA, grkf.PERSHKRIMGRUPI, T_MONEDHA.MONEDHAKOD, 
		 T_TAKSAT.NORMAPERQINDJE, T_NIVELREGJISTRIMI.KODI, T_NIVELREGJISTRIMI.PERSHKRIMI, njesi.PERSHKRIMI, njesi.ADRESA, njesi.TELEFON, pk.ADRESA, m.IDMONEDHA, m.IDNDERMARJE, nd.IDNDERMARJE, T_KLIENTFURNITOR.EMERTIMIKF,
		 T_KODIFIKIMARTIKULLI.KODKODIFIKIMI, T_KODIFIKIMARTIKULLI.PERSHKRIMKODIFIKIMI, kodifikim2.KODKODIFIKIMI, k.NRPROJEKT, artFurnitor.EMERTIMIKF, T_NDERMARJE.IDNDERMARJE, tvshNdermarrje.NORMAPERQINDJE,
		 perd.PERDORUESEMRI, perd.PERDORUESMBIEMRI, T_GRUPIMDOKUMENTIKOKA.KODI, grupDok1.KODI, qyteti.QYTETIEMRI, T_TAKSAT.KODI, artTakse.NORMAPERQINDJE, k.TARGA, K.SHOFERI, a.ADRESA, n.idnjesia, art.LLOJIART, 
		 d1.KODDETAJIMARTIKULLI, d2.KODDETAJIMARTIKULLI, t.SHENIME, t.SHENIME2, t.ZBRITJEVLERE, k.PERQINDJEZBRITJE, T_NJESIADMINISTRATIVE.PERSHKRIMI, art.ORIGJINEARTIKULLI, nj1.PERSHKRIMNJESIA, nj2.PERSHKRIMNJESIA, 
		 t.LLOJZBRITJE, art.KODIDOGANORARTIKULLI, art.KODARTIKULLI, agj2.EMRIAGJENTSHITJE, agj2.MBIEMRIAGJENTSHITJE, agj3.EMRIAGJENTSHITJE, agj3.MBIEMRIAGJENTSHITJE, kf.DATELINDJAKF, njesi.EMAIL, #T_CMIMARTIKULLI.IDNJESIA, 
		 #T_CMIMARTIKULLI.CMIMI2, #T_CMIMARTIKULLI.CMIMI, #T_CMIMARTIKULLI.IDNJESIA2, k.EMERKLIENTI, kodbarArkiv.BARKODI, kodbarArkiv.ARKIVA, nv.KODI, nv.PERSHKRIMI, art.MARKA, art.SHASIA, T_KODBARI.PERSHKRIMI, t.DTMBARIMI, 
		 llogB.LLOGSHENIME5, T_NJESIADMINISTRATIVE.ADRESA,k.KERKUARNGA, k.IIC, k.NIVF, mat.PERSHKRIMMATURIMI,k.EIC,k.Procesi,k.eInvoiceType,t_operatore.KODI,T_DEGEADMINISTRATIVE.KODNJESIEBIZNES

ORDER BY IDSHITJETRUPI
				
PRINT 'KRYESOR: Fatura eshte permbledhese: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()	
END		
ELSE
BEGIN
SELECT	-- Koka e Dokumentit te Shitjes		
QRCODE2 = nd.NDERMARJENIPT + ';' + nd.NDERMARJEPERSHK + ';' + k.NIVF + ';' +  CONVERT(VARCHAR(MAX),CONVERT(VARCHAR(10), K.DTFATURE, 104)) + ' ' + CONVERT(VARCHAR(MAX),CONVERT(TIME, k.DTKRIJIMIPAJISJE),8) + ';'
+ CONVERT(VARCHAR(MAX),ROUND(TOTALIMETVSHMEZBRITJE,2)) + ';' + (SELECT T_MONEDHA.MONEDHAKOD FROM T_MONEDHA WHERE k.IDMONEDHA = T_MONEDHA.IDMONEDHA) + ';' + (SELECT TOP 1 T_BANKA.NRLLOGARIBANKA FROM T_BANKA WHERE SHFAQNEEINVOICE = 1 AND LLOJARKABANKA = 1 AND T_BANKA.IDSTATUSDOK = 1 AND T_BANKA.IDNDERMARJE = @IDNDERMARJE ) + ';',
URL=REPLACE(CONCAT('https://efiskalizimi-app-test.tatime.gov.al/invoice-check/#/verify?','iic=',IIC,'&','tin=',nd.NDERMARJENIPT,'&','crtd=', CASE WHEN ((SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')) = '+00:00') then  CONVERT(VARCHAR(50), TODATETIMEOFFSET (CONVERT(DATETIMEOFFSET(0),CAST((SELECT CONVERT(VARCHAR(10), K.DTFATURE, 111)) + ' ' +CONVERT(VARCHAR(10),(SELECT CONVERT(TIME,CONVERT(VARCHAR(50), TODATETIMEOFFSET(k.DTKRIJIMIPAJISJE,(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))AT TIME ZONE 'UTC' ,126)))) AS datetimeoffset) , 126),(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))  AT TIME ZONE 'UTC', 126)
ELSE CONVERT(VARCHAR(50), TODATETIMEOFFSET (CONVERT(DATETIMEOFFSET(0),CAST((SELECT CONVERT(VARCHAR(10), K.DTFATURE, 111)) + ' ' +CONVERT(VARCHAR(10),(SELECT CONVERT(TIME,CONVERT(VARCHAR(50), TODATETIMEOFFSET(k.DTKRIJIMIPAJISJE,(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz'))),126)))) AS datetimeoffset) , 126),(SELECT FORMAT(SYSDATETIMEOFFSET(), 'zzz')))  AT TIME ZONE 'Central European Standard Time', 126) END
,'&','prc=') + STR(TOTALIMETVSHMEZBRITJE*KURSI,LEN((TOTALI-k.ZBRITJE)*KURSI) + 3,2),' ',''),
LLOGARITEBANKARE = (STUFF(
                        (   
						SELECT  CONVERT(NVARCHAR(max), ' '+ EMERBANKA + ' | ' + NRLLOGARIBANKA) + '                                                                                                                                                                                                                                                '
                            FROM T_BANKA 
                            WHERE SHFAQNEEINVOICE = 1 AND LLOJARKABANKA = 1 AND T_BANKA.IDSTATUSDOK = 1 AND T_BANKA.IDNDERMARJE = @IDNDERMARJE
                            FOR xml path('')
                        )
                        , 1
                        , 1
                        , '')),
k.NRDOK, m.MONEDHAKOD, k.NRSERIAL,  SHENIME2 = k.SHENIME2, k.DTDOK, k.DTKRIJIMI, k.TOTALIMETVSHMEZBRITJE, k.PERQINDJEZBRITJE, k.ZBRITJE, TOTALI = ROUND(k.TOTALI,2), TVSHTOTAL = k.TVSH, k.KURSI, k.NRPROJEKT, k.IDMENYREPAGESE, 
PershkrimiKokaShitje = k.PERSHKRIMI, nv.IDKATDOK, KODI1 = nv.KODI, PERSHKRIMNIVELI = nv.PERSHKRIMI, KODKONFIGAMBJENTE=@KODKONFIGAMBJENTE, kfl.NRREFERENCEKOKAFLETEKONTABEL, KODIGRUP2 = T_GRUPIMDOKUMENTIKOKA.KODI, kodGrupDok1 = grupDok1.KODI,k.IIC,k.NIVF,k.EIC,TipiEinvoice = (SELECT KODI+PERSHKRIMI FROM T_TIPIEINVOICE WHERE ID = k.eInvoiceType),Procesi = (SELECT KODI+PERSHKRIMI FROM T_PROCESI WHERE ID = k.Procesi),StatusiFiskalizuar = (case when k.NIVF = '' then 'Jo fiskalizuar' ELSE 'Fiskalizuar' END),TotaliPaTvsh = (k.Totali - k.TVSH),
CASE WHEN IDMENYREPAGESE=5 THEN 'Faturë me para në dorë' ELSE 'Noncash' END as MENYREPAGESE
						
-- Klienti
, k.AFATIKOHOR, DATEMATURIMI = k.DTMATURIMI, diteMaturimi = CASE WHEN isnull(k.DTMATURIMI,0)=0 THEN 0 ELSE DATEDIFF(DAY,k.DTDOK,k.DTMATURIMI) END
, KODIKF = kf.KODKLIENTFURNITOR, kf.EMERTIMIKF, EMERKERKRIMIKF = kf.EMERKERKRIMIKF, kf.NIPTKF, LICENCAKF = kf.LICENCA, NRTVSHKF = kf.NRTVSH, kf.LLOGARIBANKAREKF, kf.CELKF, kf.TELKF, kf.FAXKF, kf.EMAILKF, T_QYTETI.QYTETIEMRI, kf.SHTETIKF, kf.DATELINDJAKF, kodpostar = T_QYTETI.QYTETIEMRI+' '+a.KODIPOSTAR, ADRESA = ISNULL(a.ADRESA,''), adresakf = a.ADRESA	
, grkf.PERSHKRIMGRUPI, monedha_kf = T_MONEDHA.MONEDHAKOD, detyrimi = @KLIENTGJENDJE, detyrimi_mb = @KLIENTGJENDJEMB, WEBPAGEKF = kf.WEBPAGEKF, AKTIVITETIKF = kf.AKTIVITETIKF  ,k.KERKUARNGA,mat.PERSHKRIMMATURIMI
						
-- Transporti
, k.ADRESAFATURIMIT, k.ADRESADERGIMIT, k.EMERKLIENTI, k.KONTAKTI, k.MARRESI, k.NIPTK, k.DTTRANSPORTIMI, transportuesi = T_TRANSPORTUES.EMERTIMI, transp_adresa = T_TRANSPORTUES.ADRESA, transp_tel = T_TRANSPORTUES.TEL, transp_nipt = T_TRANSPORTUES.NIPT, transp_Targa = T_TRANSPORTUES.TARGA
, k.KILOMETRAAUTO, TARGAKSH = k.TARGA, SHOFERIKSH = K.SHOFERI,  TARGA = T_AUTOMJETE.TARGA, T_AUTOMJETE.MARKA, T_AUTOMJETE.KILOMETRA, T_MODELAUTOMJETI.PERSHKRIMMODELI, MENYRELIFERIMI = mentr.PERSHKRIMIMENYRETRANSPORTI ,T_OPERATORE.KODI  as KODIOPERATORIT
						
						
-- Trupi i Dokumentit te Shitjes 
, t.IDSHITJETRUPI, t.IDLLOJVEPRIMI, t.KODI, t.PERSHKRIMI, t.SASIA , t.CMIMI, t.VLEFTAPATVSH, t.VLEFTAMETVSH, TVSHKODI = T_TAKSAT.KODI, Tvsh1 = T_TAKSAT.NORMAPERQINDJE, NivelTvshTrupi = ISNULL(T_TAKSAT.NORMAPERQINDJE,0)*0.01, tvsh = ISNULL((T_TAKSAT.NORMAPERQINDJE/100),0), CMIMIMETVSH = (t.CMIMI*(1+ISNULL(T_TAKSAT.NORMAPERQINDJE,0)*0.01))
, CMIMIPATVSHMEZBRITJE = (t.CMIMI*(1-t.ZBRITJE/100)), VLEFTAPAZBRITJE = t.SASIA*t.CMIMI, t.LLOJZBRITJE, ZBRITJEPERQ = t.ZBRITJE, t.ZBRITJEVLERE, ZBRITJETRUPIPERSKONTO = CASE WHEN (1-t.ZBRITJE/100)<>0 THEN (t.VLEFTAMETVSH*t.ZBRITJE/100)/(1-t.ZBRITJE/100) ELSE t.ZBRITJEVLERE END
, PERSHKRIMNJESIA = n.KODNJESIA, t.GJERESI, t.GJATESI, t.SASIPERMASE, PERSHK_SHENIME = t.PERSHKRIMI+' '+t.SHENIME, t.SHENIME, TRUPSHENIME = t.SHENIME, TRUPSHENIME2 = t.SHENIME2
, llog.EMERLLOGARI_sq, llog.EMERLLOGARI_en, t.DTMBARIMI,llogB.LLOGSHENIME5
						
-- Artikujt e trupit te dokumentit
, t.IDKODI AS IDARTIKULLI, lloji = ISNULL(art.LLOJIART,1), art.KODARTIKULLI, art.PERSHKRIMARTIKULLI, art.PERSHKRIMIANGARTIKULLI, art.KODIDOGANORARTIKULLI, art.ORIGJINEARTIKULLI, art.PERSHKRIMTEFURNITORI, art.GARANCIA AS AfatGarancie, art.VENDODHJEARTIKULLI, art.PESHABRUTOARTIKULLI, art.PESHANETOARTIKULLI, art.MINIMUMARTIKULLI, art.MARKA AS MARKE, art.SHASIA
, TVSHARTIKULLI = artTakse.NORMAPERQINDJE, NJESI1 = nj1.PERSHKRIMNJESIA, NJESI2 = nj2.PERSHKRIMNJESIA, koeficienti = art.KOEFICENTARTIKULLI, koeficenti = CASE WHEN art.NJESI1ARTIKULLI = t.IDNJESIA THEN 1 ELSE art.KOEFICENTARTIKULLI END	
, serialart = d1.KODDETAJIMARTIKULLI, detajim1 = ISNULL(d1.KODDETAJIMARTIKULLI, ''), detajim2 = ISNULL(d2.KODDETAJIMARTIKULLI, ''), T_KODIFIKIMARTIKULLI.KODKODIFIKIMI, T_KODIFIKIMARTIKULLI.PERSHKRIMKODIFIKIMI, KODKODIFIKIMI2 = kodifikim2.KODKODIFIKIMI, KODBARI = kodbarArkiv.BARKODI, arkiva_path = kodbarArkiv.ARKIVA, LlojGarancie = T_GARANCIA.KODGARANCIA, artFurnitoriKryesor = artFurnitor.EMERTIMIKF 
						
-- Agjentet e shitjeve
, agj.EMRIAGJENTSHITJE, agj.MBIEMRIAGJENTSHITJE, EmerMbiemer = agj.EMRIAGJENTSHITJE+' '+agj.MBIEMRIAGJENTSHITJE, agj.TELAGJENTSHITJE, EMERMBIEMER2 = agj2.EMRIAGJENTSHITJE+' '+agj2.MBIEMRIAGJENTSHITJE, EMERMBIEMER3 = agj3.EMRIAGJENTSHITJE+' '+agj3.MBIEMRIAGJENTSHITJE  					
						
-- Dege/NjesiAdministrative/Pike Shitje Furnizimi
, PershkrimNjesiAdm = T_DEGEADMINISTRATIVE.PERSHKRIMI,kodBiznesi = T_DEGEADMINISTRATIVE.KODNJESIEBIZNES, kodmagazina = T_NJESIADMINISTRATIVE.KODI,T_NJESIADMINISTRATIVE.ADRESA as Adresadok, pershkrimMagazina = njesi.PERSHKRIMI, adresaMagazina = njesi.ADRESA,telMagazina = njesi.TELEFON, emailMagazina = njesi.EMAIL, PIKESHITJE = pk.KODI, PIKESHITJEPERSHKRIMI = pk.PERSHKRIMI, ADRESAPIKESHITJEFURNIZIMI = pk.ADRESA
						
-- Userat
, PERDORUESI = k.IDPERDORUESI, perd.PERDORUESUSERNAME, EmerMbiemerPerdorues = perd.PERDORUESEMRI + ' ' + perd.PERDORUESMBIEMRI, idkrijuesi = k.IDKRIJUESI, Krijuesi = krijues.PERDORUESEMRI, MbiemerKrij = krijues.PERDORUESMBIEMRI, krijues.PERDORUESADRESA, krijues.PERDORUESFAX, krijues.PERDORUESTEL, krijues.PERDORUESEMAIL
						
-- Ndermarrja
, KODINDERMARJE = nd.NDERMARJEKODI, nd.NDERMARJEPERSHK, MONEDHANDERMARJE = m2.MONEDHAKOD, nd.NDERMARJEKODIFISK, nd.NDERMARJENIPT, NIPTnd = nd.NDERMARJENIPT, NDERMARJETVSH = nd.NRTVSH, nd.NDERMARJELICEN, nd.NDERMARJETEL, nd.NDERMARJEFAX, nd.NDERMARJEMAIL, nd.NDERMARJEVEND, NdermQyteti = qyteti.QYTETIEMRI,
							
-- Specifike per kliente, duhet te gjenden se kush i perdor qe te mos llogariten per te gjithe
  CMIMIPATVSH = CASE WHEN isnull(nvc.BRUTONETONIVELCMIMI, 0) = 0 THEN t.cmimi WHEN (isnull(nvc.BRUTONETONIVELCMIMI, 0) = 1 ) THEN (t.CMIMI / (1 + (isNull(artTakse.NORMAPERQINDJE, 0) * 0.01))) END,
  VleraMbetur = CASE WHEN k.TOTALIMETVSHMEZBRITJE > 0 THEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) ELSE ROUND(k.TOTALIMETVSHMEZBRITJE + @VLERALIDHUR, 2) END,
  StatusVleraMbetur = CASE WHEN ROUND(@VLERALIDHUR, 2) = 0 THEN 'E Hapur' WHEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) > 0 THEN 'E Pjesshme' WHEN ROUND(k.TOTALIMETVSHMEZBRITJE - @VLERALIDHUR, 2) = 0 THEN 'E Mbyllur' ELSE 'E Tejkaluar' END
		
-- magazina = @MAGKODIGJENERUARNGASHITJA, MagPershkTeke = @MAGAZINA, TopMagPershkrim = COALESCE(njesi.PERSHKRIMI, T_NJESIADMINISTRATIVE.PERSHKRIMI, '')						
--, CMIMBAZEBlerje = CASE WHEN T_CMIMARTIKULLI.IDNJESIA=n.IDNJESIA THEN CASE ISNULL([T_CMIMARTIKULLI].CMIMI,'') WHEN 0 THEN '' ELSE CONVERT(VARCHAR, [T_CMIMARTIKULLI].CMIMI) END WHEN T_CMIMARTIKULLI.IDNJESIA2=n.IDNJESIA THEN CASE ISNULL(cmimi2, 0) WHEN 0 THEN '' ELSE CONVERT(VARCHAR, CMIMI2) END ELSE '' END 
--, BRUTONETONIVELCMIMI = ISNULL(nvC.BRUTONETONIVELCMIMI, 0),					
--, NrDokKonv = @DOKKONVERTUAR, case  isnull(@DOKKONVERTUAR,'') when ''  then '' else @DOKKONVERTUAR + '/' end as NrDokKonvRec,NRDOKREFERUAR = konvkoka.NRDOK, klientiNgaShitjeKonv = T_KLIENTFURNITOR.EMERTIMIKF, DETYRIMIUSHARK = @KLIENTGJENDJEUSH, 			
--, KURSIIDTDOKFATURE = @KURSIDATAFUNDITEUR, KURSIIDTDOKFATURE2 = @KURSIDATAFUNDITUSD, vleraLek = @VLERALIKUIDUARLEK, vleraEur = @VLERALIKUIDUAREUR	
--, GJENDJA ='', DIFERENCA='', ARTNJESIA=''						 
--, DATEAKTIVIZIMI=NULL, SFDL=NULL, CILDL=NULL, AXDL=NULL, SFDA=NULL, CILDA=NULL, AXDA=NULL, SFML=NULL, CILML=NULL, AXML=NULL, SFMA=NULL, CILMA=NULL, AXMA=NULL, DIST_INTERPUPILARE=NULL
--, SASIAM3 = 0, GJENDJAMQ = 0, GJENDJAMK = 0  ,  isnull( @DTKRIJIMI_FILLESTARE,k.DTKRIJIMI)as DTKRIJIMIFILLESTARE,isnull(T_KODBARI.PERSHKRIMI ,'')as BARKODDOK

FROM ( SELECT NRDOK, NRSERIAL, SHENIME2, DTDOK, DTKRIJIMI,DTFATURE,DTKRIJIMIPAJISJE, TOTALIMETVSHMEZBRITJE, PERQINDJEZBRITJE, ZBRITJE, TOTALI, TVSH, KURSI, NRPROJEKT, IDMENYREPAGESE, PERSHKRIMI, KERKUARNGA, AFATIKOHOR, DTMATURIMI, KILOMETRAAUTO, 
              TARGA, SHOFERI, ADRESAFATURIMIT, ADRESADERGIMIT, EMERKLIENTI, KONTAKTI, MARRESI, NIPTK, DTTRANSPORTIMI, IDPERDORUESI, IDKRIJUESI, IDDEGEADMINISTRATIVE, IDAUTOMJETI, IDSHITJEKOKA, IDKONFIGAMBJENTE, IDMONEDHA,
		      IDPIKESHITJEFURNIZIMI, IDMENYRETRANSPORT, IDTRANSPORTUES, IDNDERM, IDKLIENTFURNITOR, IDNIVEL, IDAGJENT, IDAGJENTI2, IDAGJENTI3, IDGRUP1, IDGRUP2, IDHISTORIk = 0, LIDHUR = 0 ,iic,NIVF,idarka,IDOPERATOR,EIC,Procesi,eInvoiceType
       FROM T_KOKASHITJE 
       WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
       UNION ALL
       SELECT NRDOK, NRSERIAL, SHENIME2, DTDOK, DTKRIJIMI,DTFATURE,DTKRIJIMIPAJISJE, TOTALIMETVSHMEZBRITJE, PERQINDJEZBRITJE, ZBRITJE, TOTALI, TVSH, KURSI, NRPROJEKT, IDMENYREPAGESE, PERSHKRIMI, KERKUARNGA, AFATIKOHOR, DTMATURIMI, KILOMETRAAUTO, 
              TARGA, SHOFERI, ADRESAFATURIMIT, ADRESADERGIMIT, EMERKLIENTI, KONTAKTI, MARRESI, NIPTK, DTTRANSPORTIMI, IDPERDORUESI, IDKRIJUESI, IDDEGEADMINISTRATIVE, IDAUTOMJETI, IDSHITJEKOKA, IDKONFIGAMBJENTE, IDMONEDHA,
		      IDPIKESHITJEFURNIZIMI, IDMENYRETRANSPORT, IDTRANSPORTUES, IDNDERM, IDKLIENTFURNITOR, IDNIVEL, IDAGJENT, IDAGJENTI2, IDAGJENTI3, IDGRUP1, IDGRUP2, IDHISTORIK, LIDHUR,IIC,NIVF,idarka,IDOPERATOR,EIC,Procesi,eInvoiceType
       FROM T_KOKASHITJEHISTORIK 
       WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
     ) AS k
INNER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, KODI, IDKODI, IDLLOJVEPRIMI, PERSHKRIMI, SASIA, CMIMI, TVSH, VLEFTAPATVSH, VLEFTAMETVSH, ZBRITJE, LLOJZBRITJE, ZBRITJEVLERE, GJERESI, GJATESI,
                  SASIPERMASE, SHENIME, SHENIME2, DTMBARIMI, IDNJESIA, IDTRUPIKONVERTIMI, IDTRUPIKONVERTIMBLERJE, IDBARKODI, IDMAGAZINA, IDDETAJIMART, IDDETAJIMART2, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
             FROM T_TRUPISHITJE
             WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
             UNION ALL 
             SELECT IDSHITJEKOKA, IDSHITJETRUPI, KODI, IDKODI, IDLLOJVEPRIMI, PERSHKRIMI, SASIA, CMIMI, TVSH, VLEFTAPATVSH, VLEFTAMETVSH, ZBRITJE, LLOJZBRITJE, ZBRITJEVLERE, GJERESI, GJATESI,
                  SASIPERMASE, SHENIME, SHENIME2, DTMBARIMI, IDNJESIA, IDTRUPIKONVERTIMI, IDTRUPIKONVERTIMBLERJE, IDBARKODI, IDMAGAZINA, IDDETAJIMART, IDDETAJIMART2, IDHISTORIK, IDKOKAHISTORIK, LIDHUR  
             FROM T_TRUPISHITJEHISTORIK 
             WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
           ) AS t ON t.IDSHITJEKOKA = k.IDSHITJEKOKA
						
-- Te dhena per ndermarrjen
LEFT OUTER JOIN T_NDERMARJE				nd			ON nd.IDNDERMARJE = k.IDNDERM
LEFT OUTER JOIN T_MONEDHA				m2			ON nd.NDERMARJEMON = m2.IDMONEDHA
LEFT OUTER JOIN T_QYTETI				qyteti		ON nd.NDERMARJAQYTETI = qyteti.IDQYTETI 

-- Te dhena per koken e dokumentit
LEFT OUTER JOIN T_DEGEADMINISTRATIVE				ON T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE = k.IDDEGEADMINISTRATIVE
LEFT OUTER JOIN T_MONEDHA				m			ON k.IDMONEDHA = m.IDMONEDHA 
LEFT OUTER JOIN T_AUTOMJETE							ON k.IDAUTOMJETI = T_AUTOMJETE.IDAUTOMJETI
LEFT OUTER JOIN T_MODELAUTOMJETI					ON T_AUTOMJETE.MODELAUTOMJETI = T_MODELAUTOMJETI.IDMODELI 
LEFT OUTER JOIN T_PIKESHITJEFURNIZIMI	pk			ON k.IDPIKESHITJEFURNIZIMI = pk.IDPIKESHITJEFURNIZIMI
LEFT OUTER JOIN T_MENYRATRANSPORTI		mentr		ON k.IDMENYRETRANSPORT = mentr.IDMENYRETRANSPORTI
LEFT OUTER JOIN T_TRANSPORTUES						ON k.IDTRANSPORTUES = T_TRANSPORTUES.IDTRANSPORTUES
LEFT OUTER JOIN t_operatore                         ON K.IDOPERATOR=t_operatore.IDOPERATOR
LEFT OUTER JOIN T_PERDORUESI			perd		ON k.IDPERDORUESI = perd.IDPERDORUES
LEFT OUTER JOIN T_PERDORUESI			krijues		ON k.IDKRIJUESI = krijues.IDPERDORUES
LEFT OUTER JOIN T_NIVELREGJISTRIMI		nv			ON k.IDNIVEL = nv.IDNIVEL
LEFT OUTER JOIN T_AGJENTSHITJE			agj			ON k.IDAGJENT = agj.IDAGJENTSHITJE
LEFT OUTER JOIN T_AGJENTSHITJE			agj2		ON k.IDAGJENTI2 = agj2.IDAGJENTSHITJE
LEFT OUTER JOIN T_AGJENTSHITJE			agj3		ON k.IDAGJENTI3 = agj3.IDAGJENTSHITJE
LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA	grupDok1	ON k.IDGRUP1 = grupDok1.IDGRUPIMKOKA
LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA				ON k.IDGRUP2 = T_GRUPIMDOKUMENTIKOKA.IDGRUPIMKOKA
LEFT OUTER JOIN T_KOKAFLETEKONTABEL		kfl			ON k.IDSHITJEKOKA = kfl.IDGJENERUES AND k.IDKONFIGAMBJENTE = kfl.IDKONFIGGJENERUES
LEFT OUTER JOIN T_KOKAMAGAZINA			tk			ON k.IDSHITJEKOKA = tk.IDGJENERUES AND k.IDKONFIGAMBJENTE = tk.IDKONFIGGJENERUES
LEFT OUTER JOIN T_NJESIADMINISTRATIVE	njesi		ON njesi.IDNJESIADM = tk.IDMAG 

-- Te dhena per klientin
LEFT OUTER JOIN T_KLIENTFURNITOR		kf			ON kf.IDKLIENTFURNITOR = k.IDKLIENTFURNITOR
LEFT OUTER JOIN T_LLOGARI							ON kf.IDLLOGARI = T_LLOGARI.IDLLOGARI
LEFT OUTER JOIN T_MONEDHA							ON T_MONEDHA.IDMONEDHA = T_LLOGARI.MONEDHA
LEFT OUTER JOIN T_GRUPEKF				grkf		ON kf.GRUPIM1KF = grkf.IDGRUPI
LEFT OUTER JOIN T_QYTETI							ON kf.QYTETIKF = T_QYTETI.IDQYTETI
LEFT OUTER JOIN T_ADRESAKLIENTFURNITOR	a			ON kf.IDKLIENTFURNITOR = a.IDKLIENTFURNITOR AND a.IDTIPADRESE = 1
LEFT OUTER JOIN T_NIVELCMIMI			nvC			ON kf.IDNIVELCMIMI = nvC.IDNIVELCMIMI 
LEFT OUTER JOIN T_MATURIMI		mat			ON kf.MATURIMIKF = mat.IDMATURIMI
-- Te dhena per trupin e dokumentit
LEFT OUTER JOIN T_NJESIADMINISTRATIVE				ON T_NJESIADMINISTRATIVE.IDNJESIADM = t.IDMAGAZINA
LEFT OUTER JOIN T_TAKSAT							ON t.TVSH = T_TAKSAT.IDTAKSA
LEFT OUTER JOIN T_ARTIKULLI				art			ON t.IDKODI = art.IDARTIKULLI AND t.IDLLOJVEPRIMI = 1
LEFT OUTER JOIN T_LLOGARI llogB                     ON llogB.IDLLOGARI=art.IDLLOGARIBLERJE
LEFT OUTER JOIN #ARTIKUJ				kodbarArkiv	ON t.IDKODI = kodbarArkiv.IDARTIKULLI
LEFT OUTER JOIN T_NJESIARTIKULLI		n			ON t.IDNJESIA = n.IDNJESIA
LEFT OUTER JOIN T_NJESIARTIKULLI		nj1			ON art.NJESI1ARTIKULLI = nj1.IDNJESIA
LEFT OUTER JOIN T_NJESIARTIKULLI		nj2			ON art.NJESI2ARTIKULLI = nj2.IDNJESIA
LEFT OUTER JOIN T_TAKSAT				artTakse	ON art.IDTVSH = artTakse.IDTAKSA
LEFT OUTER JOIN T_KLIENTFURNITOR		artFurnitor	ON art.IDFURNITORIKRYESOR = artFurnitor.IDKLIENTFURNITOR
LEFT OUTER JOIN T_KODIFIKIMARTIKULLI				ON art.KODIFIKIMI1ARTIKULLI = T_KODIFIKIMARTIKULLI.IDKODIFIKIMI 
LEFT OUTER JOIN T_KODIFIKIMARTIKULLI	kodifikim2	ON art.KODIFIKIMI2ARTIKULLI = kodifikim2.IDKODIFIKIMI
LEFT OUTER JOIN T_DETAJIMARTIKULLI		d1			ON t.IDDETAJIMART = d1.IDDETAJIMARTIKULLI
LEFT OUTER JOIN T_DETAJIMARTIKULLI		d2			ON t.IDDETAJIMART2 = d2.IDDETAJIMARTIKULLI
LEFT OUTER JOIN T_GARANCIA							ON art.IDLLOJGARANCIA = T_GARANCIA.IDLLOJGARANCIA
LEFT OUTER JOIN T_LLOGARI				llog		ON t.IDKODI = llog.IDLLOGARI AND t.IDLLOJVEPRIMI = 3

LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
                  FROM T_TRUPISHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK, IDKOKAHISTORIK, LIDHUR
                  FROM T_TRUPISHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) AS SHITJETRUPI ON t.IDTRUPIKONVERTIMBLERJE = SHITJETRUPI.IDSHITJETRUPI
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK = 0, IDKOKAHISTORIK = 0, LIDHUR = 0 
                  FROM T_TRUPISHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDSHITJETRUPI, IDHISTORIK, IDKOKAHISTORIK, LIDHUR 
                  FROM T_TRUPISHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDKOKAHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) AS konvtrupi ON konvtrupi.IDSHITJETRUPI = t.IDTRUPIKONVERTIMI
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, NRDOK, IDHISTORIK = 0, LIDHUR = 0 
                  FROM T_KOKASHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, NRDOK, IDHISTORIK, LIDHUR 
                  FROM T_KOKASHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) AS konvkoka ON konvkoka.IDSHITJEKOKA = konvtrupi.IDSHITJEKOKA
LEFT OUTER JOIN ( SELECT IDSHITJEKOKA, IDKLIENTFURNITOR, IDHISTORIK = 0, LIDHUR = 0
                  FROM T_KOKASHITJE 
                  WHERE IDSHITJEKOKA = @idfatura AND @lidhur = 0 
                  UNION ALL 
                  SELECT IDSHITJEKOKA, IDKLIENTFURNITOR, IDHISTORIK, LIDHUR 
                  FROM T_KOKASHITJEHISTORIK 
                  WHERE ((IDSHITJEKOKA = @idfatura AND @lidhur = 0 AND @lidhur = LIDHUR) OR (IDHISTORIK = @IDHISTORIK AND @lidhur = 1 AND @lidhur = LIDHUR))
                ) AS konvertuarNgaKokaSh ON SHITJETRUPI.IDSHITJEKOKA = konvertuarNgaKokaSh.IDSHITJEKOKA
LEFT OUTER JOIN T_KODBARI ON T_KODBARI.IDKODBARI = t.IDBARKODI	
LEFT OUTER JOIN T_KLIENTFURNITOR ON T_KLIENTFURNITOR.IDKLIENTFURNITOR = konvertuarNgaKokaSh.IDKLIENTFURNITOR						
LEFT OUTER JOIN #T_CMIMARTIKULLI ON #T_CMIMARTIKULLI.IDARTIKULLI = t.IDKODI
left join t_banka on t_banka.idbanka=k.idarka
ORDER BY IDSHITJETRUPI
			
PRINT 'KRYESOR: Fatura select: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')'; SET @EXECTIME = GETDATE()
END
		
COMMIT TRAN 
END -- END BEGIN MARRJA E TE DHENAVE JO NE SP TE VECANTA
	
END -- END BEGIN FORMAT PRINTIMI REAL (JO TEST)
PRINT 'KOHA TOTAL: ms(' + CAST(DATEDIFF (millisecond, @TIMESTAMPFILLO, GETDATE()) AS VARCHAR(200)) +')'
END