IF OBJECT_ID('prc_T_KARTA_merrSipasNdermarrjesALL') IS NOT NULL
	DROP PROCEDURE prc_T_KARTA_merrSipasNdermarrjesALL
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_KARTA_merrSipasNdermarrjesALL]
(
	@IDNDERMARJE T_FOR_KEY
)
AS
BEGIN
	SELECT  IDKARTA as IdKarta
			,T_KARTA.KODI as Kodi
			,EMRI as Emri
			,EMAIL as Email
			,KONTAKT as Kontakt
			,AKTIV as Aktiv
			,T_KARTA.IDPOLITIKE as IdPolitike
			,IDKATEGORIZB as IdKategoriZB
			,T_KARTA.IDNDERMARJE as IdNdermarrje
			,T_KARTA.IDSTATUSDOK as  IdStatusDok
			,IDKRIJUES as IdKrijues
			,IDMODIFIKUES as IdModifikues
			,T_KARTA.DTKRIJIMI as DtKrijimi
			,T_KARTA.DTMODIFIKIMI as DtModifikimi
			,STUFF((SELECT	DISTINCT ', ' + KODKLIENTFURNITOR
					FROM	T_LIDHJEKLIENTKARTA
							INNER JOIN	T_KLIENTFURNITOR
								ON	T_KLIENTFURNITOR.IDKLIENTFURNITOR = T_LIDHJEKLIENTKARTA.IDKLIENT
					WHERE	T_LIDHJEKLIENTKARTA.IDKARTA = T_KARTA.IDKARTA
					FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') Klienti					 
			,TARGA AS Targa
			,ShOFERI AS Shoferi		
			,T_POLITIKEKARTA.KODI as Politike
			,T_QYTETI.QYTETIEMRI as Qyteti 
			,DATELINDJA as Datelindja
			,T_KARTA.IDQYTETI as IdQyteti
			,ADRESA as Adresa
			,PERDORUESUSERNAME
			,DEPARTAMENTI as Departamenti
			,MODELI as Modeli
			,ID as Id
			,IDMENYREPAGESE as IdMenyrePagese
			,kz.KODKATEGORIZBRITJE + ';' + kz.PERSHKRIMKATEGORIZBRITJE + ';' + CONVERT(VARCHAR(30), kz.ZBRITJA) AS KategoriZB 				 
	FROM	T_KARTA
			INNER JOIN	T_PERDORUESI 
				ON T_KARTA.IDKRIJUES = T_PERDORUESI.IDPERDORUES
			INNER JOIN	T_POLITIKEKARTA
				ON	T_POLITIKEKARTA.IDPOLITIKE = T_KARTA.IDPOLITIKE
			LEFT JOIN	T_QYTETI
				ON	T_KARTA.IDQYTETI = T_QYTETI.IDQYTETI
			LEFT JOIN T_KOKAKATEGORIZBRITJE kz 
			    ON T_KARTA.IDKATEGORIZB = kz.IDKOKAKATEGORIZBRITJE
	WHERE	T_KARTA.IDSTATUSDOK = 1 
			AND T_KARTA.IDNDERMARJE = @IDNDERMARJE 
                            
	RETURN @@Error	
END