IF OBJECT_ID('prc_T_TRUPIMAGAZINA_ktheSasineTotaleSipasArtikullitHPDDetajime2') IS NOT NULL
	DROP PROCEDURE prc_T_TRUPIMAGAZINA_ktheSasineTotaleSipasArtikullitHPDDetajime2
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_TRUPIMAGAZINA_ktheSasineTotaleSipasArtikullitHPDDetajime2]
(
	@SASIATOTALE FLOAT = NULL OUTPUT,
	@IDARTIKULL T_FOR_KEY,
	@IDDETAJIM T_FOR_KEY,
	@IDMAG T_FOR_KEY,
	@DATA T_DATE,
	@IDRENDITJES T_AUTO_NUM,
	@DISPONIBILITET bit,
	@DETAJIME VARCHAR(max),
	@DTDOK varchar(max) = NULL OUTPUT

)
As
BEGIN
--IDDETAJIMI2 nuk eshte ID-ja e detajimit te 2-te te artikulli te tablea temporare TABLTEMP2
IF NOT EXISTS(
  SELECT *
  FROM INFORMATION_SCHEMA.TABLES
  WHERE 
    TABLE_NAME = 'TABLTEMP2')
	BEGIN 
		CREATE TABLE TABLTEMP2(IDDETAJIMI2 int,sasiaTotal float,DTKRIJIMI VARCHAR(100))
	END
		DECLARE @Err Int
	DECLARE @TABLE TABLE(sasias int null, idDetajim int null,DTDOK T_DATE null)
	--Detajim2 merr vleren e IDDETAJIM(Nuk eshte ID-ja e detajimit te dyte ne artikull)
	DECLARE @DETAJIM2 T_FOR_KEY = @IDDETAJIM
	DECLARE @IDDETAJIMITOP VARCHAR(MAX)
	DECLARE @PRESJAPERSERITUR int = (select len(@DETAJIME) - len(replace(@DETAJIME,',','')))
	DECLARE @COUNTER int = 0
	WHILE(@COUNTER<@PRESJAPERSERITUR)
	BEGIN
		SET @IDDETAJIMITOP = (SELECT TOP 1(LEFT(@DETAJIME,CHARINDEX(',',@DETAJIME)-1)))
		SET @DETAJIM2 = CONVERT(int,@IDDETAJIMITOP)
		SET @DETAJIME = SUBSTRING(@DETAJIME, CHARINDEX(',', @DETAJIME), LEN(@DETAJIME))

		SET @DETAJIME = right(@DETAJIME, len(@DETAJIME)-1)
		INSERT INTO TABLTEMP2(IDDETAJIMI2)
		VALUES(@DETAJIM2)
		SET @COUNTER = @COUNTER+1
	END
				DECLARE @alternativa varchar(10) = CASE WHEN @IDMAG <> -1 THEN 'Jo' else 'Po' END;
				DECLARE @joini varchar(50) = CASE WHEN @IDMAG <> -1 THEN ' left  join ' else ' inner join ' END;
				DECLARE @renditja varchar(100) = CASE WHEN @IDMAG <> -1 THEN (' and tm.IDRENDITJES < ' + Convert(varchar(100),@IDRENDITJES)) ELSE '' END
				DECLARE @kushtKonfig varchar(100) = CASE WHEN @IDMAG <> -1 THEN ' and KONFIG.IDKONFIGAMBJENTE is null ' ELSE ' '  END
				DECLARE @magazina varchar(50) = CASE WHEN @IDMAG <> -1 THEN CONVERT(VARCHAR(100),@IDMAG) ELSE ' tm.IDMAG '  END
				DECLARE @DETAJIMI varchar(100) = case when @IDDETAJIM  IN (-1, 0) then '' ELSE 'and tm.IDDETAJIMI2 = TABLTEMP2.IDDETAJIMI2'  END
				DECLARE @DETAJIMITest VARCHAR(100) = 'and tm.IDDETAJIMI2 = TABLTEMP2.IDDETAJIMI2'
				DECLARE @DATACONVERTEDString VARCHAR(100) = 'convert(datetime, '''+CONVERT(VARCHAR(100),@DATA)+''', 103)'
				DECLARE @IDARTIKULLICONVERTED VARCHAR(100) = Convert(varchar(100),@IDARTIKULL )
				DECLARE @merrSasi varchar (500) =	CASE WHEN @DISPONIBILITET = 1 
														THEN '' 
													ELSE 
			'
						and (
						tm.DATA < '+@DATACONVERTEDString+'
						or 
						(
							(
								tm.DATA ='+@DATACONVERTEDString+'
								and 
								(
									(tk.IDLLOJDOKUMENTIMAGAZINE = 1)
								)
							)
							or (tm.DATA = '+@DATACONVERTEDString + @renditja + ' and (tk.IDLLOJDOKUMENTIMAGAZINE= 2))
						)
				)	
							'END
				DECLARE @sqlJoin varchar(MAX) = @joini +
				'	(
						SELECT	T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
						FROM	T_KONFIGAMBJENTE
								inner join T_KUSHTEMPLATE on T_KONFIGAMBJENTE.IDKONFIGAMBJENTE=T_KUSHTEMPLATE.IDKONFIGAMBJENTE 
								inner join T_KUSHTE on T_KUSHTE.IDKUSHT=T_KUSHTEMPLATE.IDKUSHT and T_KUSHTE.KODI=''PM'' 
								inner join T_ALTERNATIVAKUSHTI on T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI=T_KUSHTEMPLATE.vlera 
									and T_ALTERNATIVAKUSHTI.ALTERNATIVA='''+@alternativa+'''
					)
				'

				DECLARE @sqlJoinTest varchar(MAX) = @joini +
				'( 
				select T_KONFIGAMBJENTE.IDKONFIGAMBJENTE 
						from T_KONFIGAMBJENTE 
						inner join T_KUSHTEMPLATE on T_KONFIGAMBJENTE.IDKONFIGAMBJENTE=T_KUSHTEMPLATE.IDKONFIGAMBJENTE 
						inner join T_KUSHTE on T_KUSHTE.IDKUSHT=T_KUSHTEMPLATE.IDKUSHT and T_KUSHTE.KODI=''PM''
						inner join T_ALTERNATIVAKUSHTI on T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI=T_KUSHTEMPLATE.vlera 
											and T_ALTERNATIVAKUSHTI.ALTERNATIVA=''Po'')
				
				'


			
				DECLARE @merrSasiTest varchar (500) =	CASE WHEN @DISPONIBILITET = 1 
														THEN '' 
													ELSE 
			'
						and (
								tm.DATA < '+@DATACONVERTEDString+'
								or 
								(
									(
										tm.DATA = '+@DATACONVERTEDString+'
										and 
										(
											(tk.IDLLOJDOKUMENTIMAGAZINE = 1)
										)
									)
									or (tm.DATA = '+@DATACONVERTEDString+' ' + @renditja + ' and (tk.IDLLOJDOKUMENTIMAGAZINE= 2  or (IDLLOJDOKUMENTIMAGAZINE=1)))
								)
						)	
							'END

				DECLARE @ParmDefinition NVARCHAR(500);
				DECLARE @ParmDefinition2 NVARCHAR(500);
				DECLARE @SQLString NVARCHAR(MAX) = N'
				select tm.IDDETAJIMI2 AS idDetajim,DTDOK = ''01/01/1901 00:00:00'', ROUND(isnull(SUM(SASIA*KOEFICENTI*SHENJA) ,0), 10) as sasias
				from	T_TRUPIMAGAZINA tm 
						inner join T_KOKAMAGAZINA tk on tm.IDKOKAMAGAZINA=tk.IDKOKAMAGAZINA '
						+ @sqlJoin + ' AS KONFIG ON KONFIG.IDKONFIGAMBJENTE = tk.IDKONFIGAMBJENTE
						inner join TABLTEMP2 ON tm.IDDETAJIMI2 = TABLTEMP2.IDDETAJIMI2
				where	tm.IDSTATUSDOK = 1--nuk merren parasysh dok e ruajtura si draft
						and TK.IDKONFIGAMBJENTE in (select T_KONFIGAMBJENTE.IDKONFIGAMBJENTE from T_KONFIGAMBJENTE inner join T_KUSHTEMPLATE on T_KONFIGAMBJENTE.IDKONFIGAMBJENTE=T_KUSHTEMPLATE.IDKONFIGAMBJENTE inner join T_KUSHTE on T_KUSHTE.IDKUSHT=T_KUSHTEMPLATE.IDKUSHT and T_KUSHTE.KODI=''PM'' inner join T_ALTERNATIVAKUSHTI on T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI=T_KUSHTEMPLATE.vlera and T_ALTERNATIVAKUSHTI.ALTERNATIVA=''Po'')
						and tm.IDARTIKULL = ' + @IDARTIKULLICONVERTED + '
						and tm.IDMAG = ' + @magazina + @kushtKonfig+'
						and tm.IDDETAJIMI2 = TABLTEMP2.IDDETAJIMI2
						and tm.IDDETAJIMI = '+Convert(varchar(100),@IDDETAJIM)+'
						' + @merrSasi + 'group by tm.IDDETAJIMI2
				HAVING  ROUND(isnull(SUM(SASIA*KOEFICENTI*SHENJA) ,0), 10) > 0
						'
						EXECUTE sp_executesql
						@SQLString
						delete from TABLTEMP2
	Set @Err = @@Error
	RETURN @Err
End