IF OBJECT_ID('prc_T_KOKASHITJE_merrKokaShitjeTePaLikuiduara') IS NOT NULL
	DROP PROCEDURE prc_T_KOKASHITJE_merrKokaShitjeTePaLikuiduara
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_KOKASHITJE_merrKokaShitjeTePaLikuiduara]
(
	@IDNDERMARJE T_FOR_KEY,
	@IDKATDOK T_FOR_KEY,
	@merrTegjitha T_KOD_VAR,
	@IDPERDORUES T_FOR_KEY,
	@IDKONFIGURIM T_FOR_KEY
)
AS

SET NOCOUNT ON
BEGIN
		DECLARE @Err INT
	DECLARE @QUERY1 VARCHAR(MAX)
	DECLARE @QUERY2 VARCHAR(MAX)
	DECLARE @QUERY3 VARCHAR(MAX)
	DECLARE @QUERY4 VARCHAR(MAX)
	DECLARE @QUERY5 VARCHAR(MAX)
 

	DECLARE @merrFaturatSipasKushtit INT = CASE @merrTegjitha  WHEN 'Te gjithe' THEN 0  WHEN 'Vetem te krijuesit'  THEN 1 WHEN 'Sipas autorizimit' THEN 2 END
	DECLARE @IDNDERM VARCHAR(10) = (SELECT CAST(@IDNDERMARJE as VARCHAR(10)))
	DECLARE @IDPERD VARCHAR(10) = (SELECT CAST(@IDPERDORUES as VARCHAR(10)))
	DECLARE @KUSHTFATURE VARCHAR(200)	

	DECLARE @IDNIVELFSH NUMERIC(18,0) = ISNULL((SELECT TOP 1 IDNIVEL FROM T_NIVELREGJISTRIMI WHERE IDNDERMARRJE = @IDNDERMARJE AND KODI = 'FSH'), 0)
	DECLARE @IDNIVELFB NUMERIC(18,0)  = ISNULL((SELECT TOP 1 IDNIVEL FROM T_NIVELREGJISTRIMI WHERE IDNDERMARRJE = @IDNDERMARJE AND KODI = 'FB'), 0)
	DECLARE @ALTERNATIVA varchar(10) = (
											SELECT	ALTERNATIVA.ALTERNATIVA 
											FROM	T_KUSHTEMPLATE KUSHTTEMP
													JOIN T_KUSHTE kusht on kusht.IDKUSHT = KUSHTTEMP.IDKUSHT
													JOIN T_ALTERNATIVAKUSHTI ALTERNATIVA on alternativa.IDALTERNATIVEKUSHTI = KUSHTTEMP.VLERA
													JOIN T_KONFIGAMBJENTE KONF on KONF.IDKONFIGAMBJENTE = KUSHTTEMP.IDKONFIGAMBJENTE
											WHERE	KONF.IDKONFIGAMBJENTE = @IDKONFIGURIM
													AND KODI = 'TFSHVDP'
										)
	DECLARE @ALTERNATIVAnr int = (case when @ALTERNATIVA = 'Po' then 1 else 2 end)
		
	DECLARE @idNDF bigint =	( SELECT IDKONFIGAMBJENTE from T_KONFIGAMBJENTE where KODKONFIGAMBJENTE = 'NDF' and IDNDERMARJE= @IDNDERMARJE) 

	IF  @merrFaturatSipasKushtit=1
		SET @KUSHTFATURE = ' AND tk.IDKRIJUESI  = ' + @IDPERD
	ELSE  SET @KUSHTFATURE = ''

	SET @QUERY1 = '
	CREATE TABLE #KLIENTFURNITOR (IDKLIENTFURNITOR INT PRIMARY KEY, KODKLIENTFURNITOR VARCHAR(100), EMERTIMIKF VARCHAR(100))
	INSERT INTO #KLIENTFURNITOR
	SELECT DISTINCT T_KLIENTFURNITOR.IDKLIENTFURNITOR, T_KLIENTFURNITOR.KODKLIENTFURNITOR, T_KLIENTFURNITOR.EMERTIMIKF
	FROM T_KLIENTFURNITOR
			INNER JOIN (

							SELECT	T_LIDHJEAUTORIZIM.IDLIDHESE
							FROM	T_LIDHJEAUTORIZIM  
									 join T_AUTORIZIMKOKA on T_AUTORIZIMKOKA.IDAUTORIZIMEKOKA  = T_LIDHJEAUTORIZIM.IDAUTORIZIMEKOKA
									 JOIN T_AUTORIZIMTRUPI ON T_AUTORIZIMTRUPI.IDAUTORIZIMKOKA = T_AUTORIZIMKOKA.IDAUTORIZIMEKOKA
									 JOIN T_LLOJBUXHETI ON T_LLOJBUXHETI.IDLLOJBUXHETI = T_LIDHJEAUTORIZIM.IDLLOJI
							WHERE T_LIDHJEAUTORIZIM.IDSTATUSDOK = 1 and T_AUTORIZIMKOKA.IDSTATUSDOK = 1 and KODLLOJBUXHETI=''KlientFurnitor'' and T_AUTORIZIMTRUPI.IDPERDORUESI = ' + @IDPERD + '  
			
							UNION 		
				
							SELECT T_KLIENTFURNITOR.IDKLIENTFURNITOR
							FROM	T_KLIENTFURNITOR
									LEFT OUTER JOIN (
										select	T_LIDHJEAUTORIZIM.IDLIDHESE 
										from	T_LIDHJEAUTORIZIM
												 join T_AUTORIZIMKOKA on T_AUTORIZIMKOKA.IDAUTORIZIMEKOKA  = T_LIDHJEAUTORIZIM.IDAUTORIZIMEKOKA
												 JOIN T_LLOJBUXHETI ON T_LLOJBUXHETI.IDLLOJBUXHETI = T_LIDHJEAUTORIZIM.IDLLOJI
										where T_LIDHJEAUTORIZIM.IDSTATUSDOK = 1 and T_AUTORIZIMKOKA.IDSTATUSDOK = 1 and KODLLOJBUXHETI=''KlientFurnitor''
									 ) nukEshteAuto ON T_KLIENTFURNITOR.IDKLIENTFURNITOR = nukEshteAuto.IDLIDHESE
							WHERE T_KLIENTFURNITOR.IDNDERMARJE = ' + @IDNDERM + '  AND T_KLIENTFURNITOR.IDSTATUSDOK=1 AND nukEshteAuto.IDLIDHESE IS NULL 
				) AUTORIZUAR ON AUTORIZUAR.IDLIDHESE = T_KLIENTFURNITOR.IDKLIENTFURNITOR
	WHERE T_KLIENTFURNITOR.IDNDERMARJE = ' + @IDNDERM + '  AND T_KLIENTFURNITOR.IDSTATUSDOK=1


	CREATE TABLE #a(vlera FLOAT, id INT Primary key)
	INSERT INTO	#a
		SELECT SUM(CASE WHEN TOTALIMETVSHMEZBRITJE < 0 
								and (
										(dk.IDKONFIGGJENERUES = ' + CAST(@idNDF as varchar(10)) + ' AND ((tk.IDNIVEL = ' + CAST(@IDNIVELFSH as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 2) 
										OR  (tk.IDNIVEL = ' + CAST(@IDNIVELFB  as varchar(10)) + ' and ' + CAST(@IDKATDOK AS varchar(10)) + ' = 1)))
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFSH as varchar(10)) + '   and  ' + CAST(@IDKATDOK as varchar(10)) + ' = 2 and niv.KODI in (''ARKETIM'',''DERDHJE''))
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFSH as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 1 and niv.KODI IS NULL )--kthim shitje
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFSH as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 1 and  niv.KODI in (''TERHEQJE'',''PAGESE''))
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFB as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 1 and  niv.KODI in (''TERHEQJE'',''PAGESE''))
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFB as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 2 and  niv.KODI in (''ARKETIM'',''DERDHJE''))
										OR	(tk.IDNIVEL = ' + CAST(@IDNIVELFB as varchar(10)) + ' and ' + CAST(@IDKATDOK as varchar(10)) + ' = 2 and  niv.KODI IS NULL)--kthim blerje
									) 
									then -1*VLERALIDHUR 
								else VLERALIDHUR 
						end	), IDSHITJEKOKA 
		FROM	T_KOKASHITJE tk
				INNER JOIN T_DOKUMENTLIDHESTRUPI	dl	ON dl.IDDOKUMENTI = tk.IDSHITJEKOKA	
				INNER JOIN T_DOKUMENTLIDHESKOKA		dk	ON dl.IDKOKA=dk.IDKOKA   AND dk.IDSTATUSDOK=1	
				LEFT JOIN T_NIVELREGJISTRIMI		niv ON niv.IDNIVEL = dk.IDNIVELGJENERUES
		WHERE	dl.LLOJDOKUMENTI= tk.idnivel and tk.IDSTATUSDOK = 1 and tk.IDNDERM= ' + @IDNDERM + ' ' + @KUSHTFATURE +'
		GROUP BY tk.IDSHITJEKOKA
'

	SET @QUERY2 = '
	CREATE TABLE #b(vlera FLOAT, id INT Primary key)
	INSERT INTO	 #b
		SELECT	SUM(dl.VLERALIDHUR), IDVEPRIMKFKOKA 
		FROM	T_VEPRIMEKFKOKA vk
				INNER JOIN T_DOKUMENTLIDHESTRUPI dl ON dl.IDDOKUMENTI = vk.IDVEPRIMKFKOKA
				INNER JOIN T_DOKUMENTLIDHESKOKA dk   ON dl.IDKOKA=dk.IDKOKA   AND dk.IDSTATUSDOK=1				
		WHERE	vk.IDSTATUSDOK=1 AND dl.LLOJDOKUMENTI= vk.idnivel and vk.IDNDERM = '+ @IDNDERM + '
		GROUP BY vk.IDVEPRIMKFKOKA 

	CREATE TABLE #c(dtazh DATE, idkf INT Primary key)
	INSERT INTO	 #c
		SELECT	max (k.DtDok), t.IDKLIENTFURNITOR 
		FROM	t_azhornimkfkoka k 
				INNER JOIN  t_azhornimkftrupi t ON  k.idazhornimkfkoka=t.idazhornimkfkoka  
		WHERE	k.idstatusdok=1 
				AND k.IDNDERMARRJE = ' +@IDNDERM +' 
		GROUP BY t.IDKLIENTFURNITOR 

	CREATE TABLE #d(dtazh DATE, kursazh float, idkf INT)
	INSERT INTO	 #d
		SELECT dtazh, kursi, IDKLIENTFURNITOR
		FROM	(
					SELECT	DISTINCT dtazh, t.KURSI, t.IDKLIENTFURNITOR, ROW_NUMBER() OVER(PARTITION BY t.IDKLIENTFURNITOR ORDER BY k.IDAZHORNIMKFKOKA desc) AS IdRowNo
					FROM	t_azhornimkfkoka k 
							INNER JOIN t_azhornimkftrupi t ON  k.idazhornimkfkoka=t.idazhornimkfkoka 
							INNER JOIN #c ON t.IDKLIENTFURNITOR= idkf 
					WHERE	k.idstatusdok=1 AND k.IDNDERMARRJE = ' +@IDNDERM +'  AND k.DTDOK= dtazh
				) AS TAB 
		WHERE	IdRowNo =1

	CREATE TABLE #KONFIGURIME(idkonfigurimi numeric(18,0) primary key)
	INSERT INTO #KONFIGURIME
		SELECT	DISTINCT k.IDKONFIGAMBJENTE 
		FROM	T_KONFIGAMBJENTE k
				INNER JOIN T_NIVELREGJISTRIMI n on n.IDNIVEL = k.IDNIVEL
				INNER JOIN T_KUSHTEMPLATE t on t.IDKONFIGAMBJENTE = k.IDKONFIGAMBJENTE
				INNER JOIN T_KUSHTE u on u.IDKUSHT = t.IDKUSHT and u.kodi = ''MF''
				INNER JOIN T_ALTERNATIVAKUSHTI a on a.IDALTERNATIVEKUSHTI = t.vlera and a.IDKUSHTI = u.IDKUSHT and a.ALTERNATIVA = ''Jo''
				INNER JOIN T_KUSHTEMPLATE tndkf on tndkf.IDKONFIGAMBJENTE = k.IDKONFIGAMBJENTE
				INNER JOIN T_KUSHTE undkf on undkf.IDKUSHT = tndkf.IDKUSHT and undkf.kodi = ''NDKF''
				INNER JOIN T_ALTERNATIVAKUSHTI andkf on andkf.IDALTERNATIVEKUSHTI = tndkf.vlera and andkf.IDKUSHTI = undkf.IDKUSHT and andkf.ALTERNATIVA = ''Jo''
		WHERE n.IDKATDOK = 20 and n.kodi = ''ND'' and k.IDSTATUSDOK = 1 and n.IDNDERMARRJE = ' +@IDNDERM +'

		UNION

		SELECT	DISTINCT k.IDKONFIGAMBJENTE 
		FROM	T_KONFIGAMBJENTE k
				INNER JOIN T_NIVELREGJISTRIMI n on n.IDNIVEL = k.IDNIVEL
		WHERE	n.IDKATDOK = 20 and n.kodi <> ''ND'' and k.IDSTATUSDOK = 1 and n.IDNDERMARRJE = ' +@IDNDERM +'

'

	SET @QUERY3 = '

	CREATE TABLE #KTHIME(IDSHITJEKOKA numeric(18,0) primary key)
	INSERT INTO #KTHIME
		SELECT	distinct T_KOKASHITJE.IDSHITJEKOKA
		FROM	T_KOKASHITJE
				INNER JOIN T_TRUPISHITJE on T_TRUPISHITJE.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
		WHERE	T_KOKASHITJE.IDSTATUSDOK = 1 
				AND T_KOKASHITJE.IDNIVEL = CASE WHEN  ' + CAST(@IDKATDOK  as varchar(10)) + ' = 1 THEN ' + CAST(@IDNIVELFSH  as varchar(10)) + 
				'  WHEN  ' + CAST(@IDKATDOK  as varchar(10)) + '  = 2 THEN ' + CAST(@IDNIVELFB  as varchar(10)) + '  
				ELSE 0 
				END  
				and T_TRUPISHITJE.IDTRUPIKTHIMI IS NOT NULL AND T_KOKASHITJE.IDNDERM =  ' + @IDPERD + '  
				
	CREATE TABLE #eshteAutorizimSH(IDLIDHESE INT Primary key)
	CREATE TABLE #eshteAutorizimVKF(IDLIDHESE INT Primary key)
	IF (' + CAST(@merrFaturatSipasKushtit AS VARCHAR(10)) + ' = 2)
	BEGIN
		INSERT INTO #eshteAutorizimSH
		SELECT	IDLIDHESE
		FROM	(
					SELECT	IDLIDHESE
					FROM	T_LIDHJEAUTORIZIM LA
							INNER JOIN T_AUTORIZIMTRUPI T ON LA.IDAUTORIZIMEKOKA = T.IDAUTORIZIMKOKA
							INNER JOIN T_LLOJBUXHETI B ON B.IDLLOJBUXHETI = LA.IDLLOJI
					WHERE	LA.IDSTATUSDOK = 1 AND T.IDPERDORUESI = ' + @IDPERD + ' AND B.KODLLOJBUXHETI = ''KonfigurimDok'' 
					UNION 
					SELECT	IDLIDHESE = SH.IDKONFIGAMBJENTE
					FROM	T_KOKASHITJE SH
							LEFT JOIN (
								SELECT	DISTINCT LA.IDLIDHESE
								FROM	T_LIDHJEAUTORIZIM LA
										INNER JOIN T_LLOJBUXHETI B ON B.IDLLOJBUXHETI = LA.IDLLOJI
								WHERE	LA.IDSTATUSDOK = 1 AND B.KODLLOJBUXHETI = ''KonfigurimDok''
							) JOAUTO ON SH.IDKONFIGAMBJENTE = JOAUTO.IDLIDHESE
					WHERE	SH.IDNDERM = ' +@IDNDERM +' AND JOAUTO.IDLIDHESE IS NULL
				) PO	
 
		INSERT INTO #eshteAutorizimVKF
		SELECT	IDLIDHESE
		FROM	(
					SELECT	IDLIDHESE
					FROM	T_LIDHJEAUTORIZIM LA
							INNER JOIN T_AUTORIZIMTRUPI T ON LA.IDAUTORIZIMEKOKA = T.IDAUTORIZIMKOKA
							INNER JOIN T_LLOJBUXHETI B ON B.IDLLOJBUXHETI = LA.IDLLOJI
					WHERE	LA.IDSTATUSDOK = 1 AND T.IDPERDORUESI = ' + @IDPERD + ' AND B.KODLLOJBUXHETI = ''KonfigurimDok'' 
					UNION 
					SELECT	IDLIDHESE = VKF.IDKONFIGAMBJENTE
					FROM	T_VEPRIMEKFKOKA VKF
							LEFT JOIN (
								SELECT	DISTINCT LA.IDLIDHESE
								FROM	T_LIDHJEAUTORIZIM LA
										INNER JOIN T_LLOJBUXHETI B ON B.IDLLOJBUXHETI = LA.IDLLOJI
								WHERE	LA.IDSTATUSDOK = 1 AND B.KODLLOJBUXHETI = ''KonfigurimDok''
							) JOAUTO ON VKF.IDKONFIGAMBJENTE = JOAUTO.IDLIDHESE
					WHERE	VKF.IDNDERM = ' + @IDNDERM + ' AND JOAUTO.IDLIDHESE IS NULL
				) PO
	END
 '

SET @QUERY4 = '
	SELECT	 *
	FROM	(
		SELECT	DISTINCT   IdDokumenti = ''SH'' + CAST(ks.IDSHITJEKOKA AS VARCHAR(20)), 
				IdTrupi = ks.IDSHITJEKOKA, IdNiveli = ks.IDNIVEL, IdKonfigAmbjente = ks.IDKONFIGAMBJENTE, NrDokumenti = ks.NRDOK, 
				IdKlientFurnitori = ks.IDKLIENTFURNITOR, EmertimiKf = T_KLIENTFURNITOR.EMERTIMIKF,
				Pershkrimi = KS.PERSHKRIMI, IdMonedha = ks.IDMONEDHA, Kursi = ks.KURSI,
				
				Vlefta =case when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0) then ks.TOTALIMETVSHMEZBRITJE else ABS(ks.TOTALIMETVSHMEZBRITJE) end, 
			    VleftaMonBaze =case when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0) then ks.TOTALIMETVSHMEZBRITJE * ks.KURSI else ABS(ks.TOTALIMETVSHMEZBRITJE * ks.KURSI) end, 

				VleftaPaLikujduar = ROUND(case when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0 AND (SELECT ISNULL((vlera * ks.kursi) , 0))=0) then ks.TOTALIMETVSHMEZBRITJE
				when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0 ) then ABS(ks.TOTALIMETVSHMEZBRITJE)
				else ABS(ks.TOTALIMETVSHMEZBRITJE) end 
								-ISNULL((vlera), 0), 8),
				VleftaPaLikujduarMonBaze = ROUND(case when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0 AND (SELECT ISNULL((vlera * ks.kursi) , 0))=0) then ks.TOTALIMETVSHMEZBRITJE * ks.KURSI
				when (ks.IDNIVEL = '+ CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0 ) then ABS(ks.TOTALIMETVSHMEZBRITJE * ks.KURSI)
				else ABS(ks.TOTALIMETVSHMEZBRITJE * ks.KURSI) end 
								-ISNULL((vlera * ks.kursi) , 0) , 8),   
				[Status] = ks.IDSTATUSDOK, DtDokumenti = ks.DTDOK, DtMaturimi = ks.DTMATURIMI, 
				Zbritja = ks.ZBRITJE, IdKushtPagese = ks.IDKUSHTPAGESE,  

				DtAzhornimi = isnull((dtazh),''01/01/1900''), 
				KursAzhornimi = isnull((kursazh),0),
				VleftaLikuiduar = ROUND(ISNULL((vlera), 0), 2),
				VleftaLikuiduarMon = ROUND(ISNULL((vlera), 0)*ks.KURSI, 2),

				StatusFature = '''', Grupimi1 = ISNULL(T_GRUPIMDOKUMENTIKOKA.KODI,''''),
				NrSerial = ISNULL(ks.NRSERIAL,''''), KodiKlientit = T_KLIENTFURNITOR.KODKLIENTFURNITOR
		
		FROM	T_KOKASHITJE ks ' 
				+ CASE WHEN @merrFaturatSipasKushtit=2 THEN 'INNER JOIN #eshteAutorizimSH ESHTEAUTO  ON ks.IDKONFIGAMBJENTE=ESHTEAUTO.IDLIDHESE' ELSE '' END +'
				INNER JOIN #KLIENTFURNITOR T_KLIENTFURNITOR on ks.IDKLIENTFURNITOR = T_KLIENTFURNITOR.IDKLIENTFURNITOR
				LEFT OUTER JOIN	#a a ON a.id=ks.IDSHITJEKOKA 
				LEFT OUTER JOIN #d ON [#d].idkf=ks.IDKLIENTFURNITOR
				LEFT JOIN T_GRUPIMDOKUMENTIKOKA ON T_GRUPIMDOKUMENTIKOKA.IDGRUPIMKOKA = ks.IDGRUP1
				LEFT JOIN #KTHIME kthime on kthime.IDSHITJEKOKA = ks.IDSHITJEKOKA
				
		WHERE	ks.IDSTATUSDOK =1 
				and ks.IDNDERM = '+CAST(@IDNDERMARJE AS VARCHAR(20))+' AND ks.IDNIVEL IN ('+CAST(@IDNIVELFSH AS VARCHAR(20))+', '+CAST(@IDNIVELFB AS VARCHAR(20))+')
				AND (ks.IDNIVEL = '+CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFSH AS VARCHAR(20)) ELSE CAST(@IDNIVELFB AS VARCHAR(20)) END+' OR (ks.IDNIVEL ='+CASE WHEN @IDKATDOK = 1 THEN CAST(@IDNIVELFB AS VARCHAR(20)) ELSE CAST(@IDNIVELFSH AS VARCHAR(20)) END+' AND ks.TOTALIMETVSHMEZBRITJE<0))
				'+ CASE WHEN @merrFaturatSipasKushtit=1 THEN ' AND ks.IDKRIJUESI='+CAST(@idperdorues AS VARCHAR(20)) ELSE '' END+'
				AND kthime.IDSHITJEKOKA is null 

		UNION ALL

		SELECT	DISTINCT   IdDokumenti = ''VKF'' + CAST(vk.IDVEPRIMKFKOKA AS VARCHAR(20)), 
				IdTrupi = vt.IDVEPRIMEKFTRUPI, IdNiveli = vk.IDNIVEL, IdKonfigAmbjente = vk.IDKONFIGAMBJENTE, NrDokumenti = vk.NRDOK, 
				IdKlientFurnitori = vk.IDKF, EmertimiKf = T_KLIENTFURNITOR.EMERTIMIKF,
				Pershkrimi = VK.PERSHKRIMI, IdMonedha = VK.MONEDHA, Kursi = VT.KURSI,
				
				Vlefta = ABS(VK.VLEFTA),
				VleftaMonBaze = ABS(VK.VLEFTA *  VT.KURSI),
				VleftaPaLikujduar = ROUND(ABS(VK.VLEFTA) - ISNULL((#b.vlera), 0), 8),
				VleftaPaLikujduarMonBaze  = ROUND(ABS(VK.VLEFTA * vt.KURSI) - ISNULL((#b.vlera  * vt.KURSI), 0), 8),
				[Status] = VK.IDSTATUSDOK, DtDokumenti = VK.DTDOK, DtMaturimi = vk.DTDOK, 
				Zbritja = 0, IdKushtPagese = 0,  

				DtAzhornimi = isnull(dtazh,''01/01/1900''), 
				KursAzhornimi = isnull(kursazh,0),
				VleftaLikuiduar = ROUND(ISNULL(#b.vlera, 0), 2),
				VleftaLikuiduarMon = ROUND((ISNULL(#b.vlera, 0)) * vt.KURSI,2),

				StatusFature = '''', Grupimi1 =  '''',
				NrSerial =  '''', KodiKlientit = T_KLIENTFURNITOR.KODKLIENTFURNITOR
		
		FROM	T_VEPRIMEKFKOKA vk '
				+ CASE WHEN @merrFaturatSipasKushtit=2 THEN 'INNER JOIN #eshteAutorizimVKF ESHTEAUTO  ON vk.IDKONFIGAMBJENTE=ESHTEAUTO.IDLIDHESE' ELSE '' END +'
				INNER JOIN #KONFIGURIME		AS konf				ON konf.idkonfigurimi = vk.IDKONFIGAMBJENTE
				INNER JOIN T_VEPRIMEKFTRUPI AS VT				ON VK.IDVEPRIMKFKOKA=VT.IDVEPRIMEKFKOKA  
				INNER JOIN #KLIENTFURNITOR  T_KLIENTFURNITOR	ON VT.IDKF = T_KLIENTFURNITOR.IDKLIENTFURNITOR
				LEFT OUTER JOIN #b ON id=vk.IDVEPRIMKFKOKA 
				LEFT OUTER JOIN #d ON vk.IDKF = [#d].idkf

		WHERE	VK.IDSTATUSDOK =1 
				' + CASE WHEN @merrFaturatSipasKushtit = 1 THEN ' AND VK.IDPERDORUESI='+CAST(@idperdorues AS VARCHAR(20)) ELSE '' END + '
				AND VK.IDNDERM =  '+CAST(@IDNDERMARJE AS VARCHAR(20))+' 
				AND	VT.debikredi='+CAST(@IDKATDOK AS VARCHAR(20))+'
	) TOTAL
	WHERE (CASE WHEN '+ CAST(@ALTERNATIVAnr AS varchar(10)) +' = 1 Then ABS(VleftaPaLikujduar) ELSE 1 END) > 0.01

	DROP TABLE #KLIENTFURNITOR, #KONFIGURIME, #a, #b, #c, #d, #eshteAutorizimSH, #eshteAutorizimVKF, #KTHIME

	'
	PRINT (@QUERY1)
	PRINT (@QUERY2)
	PRINT (@QUERY3)
	PRINT (@QUERY4)

	EXEC (@QUERY1 +@QUERY2 + @QUERY3 + @QUERY4)

 

 
	SET @Err = @@Error
	RETURN @Err
END