IF OBJECT_ID('prc_T_CMIMARTIKULLI_merrCmimetAllPaFiltra') IS NOT NULL
	DROP PROCEDURE prc_T_CMIMARTIKULLI_merrCmimetAllPaFiltra
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_CMIMARTIKULLI_merrCmimetAllPaFiltra]
(		
	@IDPERDORUES VARCHAR(100),
	@IDNDERMARJE VARCHAR(100),
	@CMIMSHITJEBLERJE VARCHAR(100),
	@LLOGARITKOSTO VARCHAR(100),
	@IDNIVELCMIMI VARCHAR(100)
)
AS
BEGIN
SET NOCOUNT ON
DECLARE @Err INT


SET QUOTED_IDENTIFIER off 

DECLARE @filterNivelCmimi VARCHAR(500) = CASE WHEN @IDNIVELCMIMI > 0 THEN 'nc.IdNivelCmimi = ' + @IDNIVELCMIMI + ' AND ' ELSE '' END
declare @sqlstr as varchar(MAX)
declare @sqlstr2 as varchar(MAX)
declare @strwhere as varchar(MAX)
DECLARE @strwherenivel AS VARCHAR(MAX)
DECLARE @idkonfigambjente varchar(100)
SELECT @idkonfigambjente= idkonfigambjente FROM dbo.T_KONFIGAMBJENTE tk WHERE tk.IDNDERMARJE=@IDNDERMARJE AND tk.IDSTATUSDOK=1 AND tk.KODKONFIGAMBJENTE =(CASE WHEN @cmimshitjeblerje=1 THEN 'CSH' ELSE 'CB' END )
	set @strwhere = ' 1=1 '
declare @cmimetMeDetajime varchar(max)=''
DECLARE @GETDATE T_DATE = GETDATE()
DECLARE @idtvsh NUMERIC(18, 0) = (SELECT tn.NIVELTVSH  from dbo.T_NDERMARJE tn WHERE tn.IDNDERMARJE=@IDNDERMARJE)

CREATE TABLE #gjendje(gjendje FLOAT, vlefta float, id INT PRIMARY KEY, cmimfundit FLOAT, metodekostoje int)
IF(@LLOGARITKOSTO='1')
BEGIN INSERT into #gjendje 
 select  isnull(SUM(ISNULL((SASIA*KOEFICENTI*SHENJA),0)) ,0) AS gjendje, isnull(SUM(tm.Vlefta*SHENJA),0), IDARTIKULL,
ISNULL((select top 1 CMIMI FROM T_TRUPIMAGAZINA tt INNER JOIN  T_KOKAMAGAZINA tk ON tt.IDKOKAMAGAZINA=tk.IDKOKAMAGAZINA where tt.IDSTATUSDOK = 1 and tk.IDLLOJDOKUMENTIMAGAZINE = 1 and tt.IDARTIKULL = tm.IDARTIKULL and cmimi!=0 and tt.DATA < =@GETDATE order by  tt.DATA desc, tt.IDRENDITJES DESC),1),METODEKOSTOJEARTIKULLI
from T_TRUPIMAGAZINA tm 
	INNER JOIN  T_KOKAMAGAZINA tk ON tm.IDKOKAMAGAZINA=tk.IDKOKAMAGAZINA 
	INNER JOIN dbo.T_ARTIKULLI  ON tm.IDARTIKULL=t_artikulli.IDARTIKULLI AND T_ARTIKULLI.IDNDERMARJE=@IDNDERMARJE and T_ARTIKULLI.IDSTATUSDOK=1 
where tm.IDSTATUSDOK = 1 and IDNDERM=@IDNDERMARJE and (tm.DATA < =@GETDATE)
GROUP BY IDARTIKULL, METODEKOSTOJEARTIKULLI
END ELSE
BEGIN	INSERT into #gjendje VALUES (0,0,0,0,0)
END

SET @sqlstr = '
DECLARE @idtvsh NUMERIC(18, 0) = (SELECT tn.NIVELTVSH  from dbo.T_NDERMARJE tn WHERE tn.IDNDERMARJE='+@IDNDERMARJE+')
SELECT  v.* , 
	round(V.Cmimi * isnull(1+ T_TAKSAT.NORMAPERQINDJE/100, 1), 7) cmimitvsh,round(V.Cmimi2 * isnull(1+ T_TAKSAT.NORMAPERQINDJE/100, 1), 7) cmimi2tvsh, isnull(T_TAKSAT.NORMAPERQINDJE, 0) as norme, ISNULL(gjendje,0)AS Gjendje,ISNULL(CASE WHEN metodekostoje=4 THEN dbo.Get_KostoArtikulliFifo(v.IdArtikulli)else CASE WHEN gjendje=0 THEN cmimfundit ELSE vlefta/gjendje END END, 1) AS Kosto
from (
	select isnull(cm.IDCMIMARTIKULLI,0) as IdCmimArtikulli ,isnull(cm.IDARTIKULLI,t.IDARTIKULLI) as IdArtikulli,isnull(cm.IDNIVELCMIMI,t.IDNIVELCMIMI) as IdNivelCmimi,isnull(cm.IDNJESIA,t.IDNJESIA) as IdNjesia,isnull(cm.IDMONEDHA,t.IDMONEDHA) as IdMonedha,ISNULL(cm.DTFILLIMIT, DATEADD(MONTH,-(MONTH(GETDATE())-1),DATEADD(day,-(day(getDate())-1),getDate())))as DateFillimi,isnull(cm.DTMBARIMIT,CONVERT (DATETIME ,''12/31/9999''))as DateMbarimi, isnull(cm.SASIMIN,0) as SasiMin,isnull(cm.SASIMAX,0) as SasiMax,isnull(cm.CMIMI,0) as Cmimi,isnull(cm.IDPERDORUESI,0) as IdPerdoruesi,isnull(cm.IDNDERMARJE,-1) as IdNdermarje,isnull(cm.IDKONFIG,'+@idkonfigambjente+') AS IdKonfig,t.kodbari as KodbarArtikulli,t.PERSHKRIMARTIKULLI as EmerArtikulli1,t.PERSHKRIMIANGARTIKULLI as EmerArtikulli2,t.KODIFIKIMI1ARTIKULLI as KodifikimArtikulli1,t.KODIFIKIMI2ARTIKULLI as KodifikimArtikulli2,t.furnitori as NrLlogariFurnitori,t.KODARTIKULLI as KodArtikulli, CONVERT (BIT ,''false'') as ''Check'', CM.IDSTATUSDOK as IdStatusDok, CM.DTMODIFIKIMI as DtModifikimi, CM.DTKRiJIMI as DtKrijimi,t.IDNJESIA2 as IdNjesia2, t.PershkrimNjesia1 as PershkrimNjesia1, t.PershkrimNjesia2 as PershkrimNjesia2, CM.CMIMI2 as Cmimi2, t.njesitevarura as NjesiTeVarura, t.KOEFICENTARTIKULLI as Koeficent, isnull(cm.KOHEFILLIMI,CONVERT (time ,''00:00:00''))as KoheFillimi, isnull(cm.KOHEMBARIMI,CONVERT (time ,''23:59:59''))as KoheMbarimi, isnull( isnull( t.idtvsh, @idtvsh),-1) AS idtvsh, EMERTIMIKF EmertimiKF, PERSHKRIMGRUP1 PershkrimGrup1, PERSHKRIMGRUP2 PershkrimGrup2, PERSHKRIMGRUP3 PershkrimGrup3,Detajim, cm.IdDetajim, t.IdCmimRetail
	FROM
	(select  nc.IDNIVELCMIMI , a.IDARTIKULLI ,(select top 1 pershkrimi from t_kodbari where idartikulli = a.idartikulli) as kodbari,a.PERSHKRIMARTIKULLI,a.NJESI1ARTIKULLI as IDNJESIA, a.NJESI2ARTIKULLI as IDNJESIA2,nj1.PERSHKRIMNJESIA as PershkrimNjesia1,nj2.PERSHKRIMNJESIA as PershkrimNjesia2,a.PERSHKRIMIANGARTIKULLI,a.KODIFIKIMI1ARTIKULLI,a.KODIFIKIMI2ARTIKULLI, kf.kodklientfurnitor as furnitori,nc.IDMONEDHA,a.KODARTIKULLI , nc.njesitevarura, a.KOEFICENTARTIKULLI, a.idtvsh, KF.EMERTIMIKF,
			GRUP1.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP1, GRUP2.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP2, GRUP3.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP3, nc.Detajim, nc.IDCMIMRETAIL AS IdCmimRetail
	 from T_NIVELCMIMI nc,T_ARTIKULLI a 
		inner join t_njesiartikulli as nj1 on nj1.IDNJESIA=a.NJESI1ARTIKULLI
		INNER JOIN dbo.T_NJESIARTIKULLI AS nj2 ON nj2.IDNJESIA=a.NJESI2ARTIKULLI
		left outer join T_KLIENTFURNITOR kf on kf.IDKLIENTFURNITOR=a.IDFURNITORIKRYESOR
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP1 ON A.KODIFIKIMI1ARTIKULLI = GRUP1.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP2 ON A.KODIFIKIMI2ARTIKULLI = GRUP2.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP3 ON A.KODIFIKIMI3ARTIKULLI = GRUP3.IDKODIFIKIMI
'
SET @sqlstr=@sqlstr+'
where ' + @filterNivelCmimi + ' nc.IDNDERMARJE = '+@IDNDERMARJE+' and a.IDNDERMARJE ='+@IDNDERMARJE+'   and a.aktiv='''+'true'+''' and (nc.IDNIVELCMIMI in( select IDLIDHESE  from  T_LIDHJEAUTORIZIM  where IDAUTORIZIMEKOKA  in( select IDAUTORIZIMKOKA  from T_AUTORIZIMTRUPI  where IDPERDORUESI ='+@IDPERDORUES +') and IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi''))or nc.IDNIVELCMIMI not in (select idlidhese from T_LIDHJEAUTORIZIM where IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi'')))
and a.idstatusdok<>2  and nc.idstatusdok<>2 AND NC.LLOJINIVELCMIMI='+@CMIMSHITJEBLERJE+'
) AS t 
inner join
T_CMIMARTIKULLI cm on  cm.IDNIVELCMIMI = t.IDNIVELCMIMI  AND cm.IDARTIKULLI = t.IDARTIKULLI
WHERE cm.IDSTATUSDOK <> 2 AND cm.IDNDERMARJE =  '+@IDNDERMARJE+'

 UNION ALL 
SELECT distinct 0 as IdCmimArtikulli,	IdArtikulli	,IdNivelCmimi,	IdNjesia,	IdMonedha,DATEADD(MONTH,-(MONTH('+@GETDATE+')-1),DATEADD(day,-(day('+@GETDATE+'))-1),'+@GETDATE+')) as	DateFillimi,CONVERT (DATETIME ,''12/31/9999'') AS DateMbarimi	,0 SasiMin	,0 SasiMax	,0 Cmimi,	 '+@IDPERDORUES+' AS IdPerdoruesi, '+@IDNDERMARJE+' as	IdNdermarje, '+@idkonfigambjente+' as	IdKonfig,	KodbarArtikulli,	EmerArtikulli1	,EmerArtikulli2,	KodifikimArtikulli1,	KodifikimArtikulli2	,NrLlogariFurnitori,	KodArtikulli,CONVERT (BIT , ''false'') as ''Check'', 1 as IdStatusDok, '''' as DtModifikimi,'''' as DtKrijimi,		IdNjesia2	,PershkrimNjesia1,	PershkrimNjesia2	,0 AS Cmimi2	,NjesiTeVarura,	Koeficent,CONVERT (time ,''00:00:00'')as KoheFillimi,CONVERT (time ,''23:59:59'')as KoheMbarimi, isnull(isnull(max(idtvsh), @idtvsh),-1) AS idtvsh, EMERTIMIKF, PERSHKRIMGRUP1, PERSHKRIMGRUP2, PERSHKRIMGRUP3,Detajim, null as IdDetajim, IdCmimRetail
 from
 (
	select  isnull(cm.IDCMIMARTIKULLI,0) as IdCmimArtikulli ,isnull(cm.IDARTIKULLI,t.IDARTIKULLI) as IdArtikulli,isnull(cm.IDNIVELCMIMI,t.IDNIVELCMIMI) as IdNivelCmimi,isnull(cm.IDNJESIA,t.IDNJESIA) as IdNjesia,isnull(cm.IDMONEDHA,t.IDMONEDHA) as IdMonedha,ISNULL(cm.DTFILLIMIT, DATEADD(MONTH,-(MONTH(GETDATE())-1),DATEADD(day,-(day(getDate())-1),getDate())))as DateFillimi,isnull(cm.DTMBARIMIT,CONVERT (DATETIME ,''12/31/9999''))as DateMbarimi, isnull(cm.SASIMIN,0) as SasiMin,isnull(cm.SASIMAX,0) as SasiMax,isnull(cm.CMIMI,0) as Cmimi,isnull(cm.IDPERDORUESI,0) as IdPerdoruesi,isnull(cm.IDNDERMARJE,-1) as IdNdermarje,isnull(cm.IDKONFIG,'+@idkonfigambjente+') AS IdKonfig,t.kodbari as KodbarArtikulli,t.PERSHKRIMARTIKULLI as EmerArtikulli1,t.PERSHKRIMIANGARTIKULLI as EmerArtikulli2,t.KODIFIKIMI1ARTIKULLI as KodifikimArtikulli1,t.KODIFIKIMI2ARTIKULLI as KodifikimArtikulli2,t.furnitori as NrLlogariFurnitori,t.KODARTIKULLI as KodArtikulli, CONVERT (BIT ,''false'') as ''Check'',CM.IDSTATUSDOK as IdStatusDok, CM.DTMODIFIKIMI as DtModifikimi, CM.DTKRiJIMI as DtKrijimi,t.IDNJESIA2 as IdNjesia2, t.PershkrimNjesia1 as PershkrimNjesia1, t.PershkrimNjesia2 as PershkrimNjesia2, CM.CMIMI2 as Cmimi2, t.njesitevarura as NjesiTeVarura, t.KOEFICENTARTIKULLI as Koeficent, isnull(cm.KOHEFILLIMI,CONVERT (time ,''00:00:00''))as KoheFillimi, 
		isnull(cm.KOHEMBARIMI,CONVERT (time ,''23:59:59''))as KoheMbarimi,t.idtvsh, EMERTIMIKF, PERSHKRIMGRUP1, PERSHKRIMGRUP2, PERSHKRIMGRUP3,Detajim, IdDetajim , t.IdCmimRetail
	FROM
	(select  nc.IDNIVELCMIMI , a.IDARTIKULLI ,(select top 1 pershkrimi from t_kodbari where idartikulli = a.idartikulli) as kodbari,a.PERSHKRIMARTIKULLI,
	a.NJESI1ARTIKULLI as IDNJESIA, a.NJESI2ARTIKULLI as IDNJESIA2,nj1.PERSHKRIMNJESIA as PershkrimNjesia1,
	nj2.PERSHKRIMNJESIA as PershkrimNjesia2,a.PERSHKRIMIANGARTIKULLI,a.KODIFIKIMI1ARTIKULLI, a.KODIFIKIMI2ARTIKULLI, kf.kodklientfurnitor as furnitori, nc.IDMONEDHA,
	a.KODARTIKULLI , nc.njesitevarura, a.KOEFICENTARTIKULLI, a.idtvsh, KF.EMERTIMIKF, GRUP1.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP1, GRUP2.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP2, 
	GRUP3.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP3, nc.Detajim, nc.IDCMIMRETAIL AS IdCmimRetail
	from T_NIVELCMIMI nc,T_ARTIKULLI a 
		inner join t_njesiartikulli as nj1 on nj1.IDNJESIA=a.NJESI1ARTIKULLI
		INNER JOIN dbo.T_NJESIARTIKULLI AS nj2 ON nj2.IDNJESIA=a.NJESI2ARTIKULLI
		left outer join T_KLIENTFURNITOR kf on kf.IDKLIENTFURNITOR=a.IDFURNITORIKRYESOR
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP1 ON A.KODIFIKIMI1ARTIKULLI = GRUP1.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP2 ON A.KODIFIKIMI2ARTIKULLI = GRUP2.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP3 ON A.KODIFIKIMI3ARTIKULLI = GRUP3.IDKODIFIKIMI
'
SET @sqlstr2='
where ' + @filterNivelCmimi + ' nc.IDNDERMARJE = '+@IDNDERMARJE+' and a.IDNDERMARJE ='+@IDNDERMARJE+'   and a.aktiv='''+'true'+''' and (nc.IDNIVELCMIMI in( select IDLIDHESE  from  T_LIDHJEAUTORIZIM  where IDAUTORIZIMEKOKA  in( select IDAUTORIZIMKOKA  from T_AUTORIZIMTRUPI  where IDPERDORUESI ='+@IDPERDORUES+' ) and IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi''))or nc.IDNIVELCMIMI not in (select idlidhese from T_LIDHJEAUTORIZIM where IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi''))) and a.idstatusdok<>2  and nc.idstatusdok<>2 AND NC.LLOJINIVELCMIMI='+@CMIMSHITJEBLERJE+'
) AS t inner join
T_CMIMARTIKULLI cm on  cm.IDNIVELCMIMI = t.IDNIVELCMIMI  AND cm.IDARTIKULLI = t.IDARTIKULLI and cm.iddetajim is  null
WHERE cm.IDSTATUSDOK <> 2 AND cm.IDNDERMARJE =  ' + @IDNDERMARJE+'

UNION ALL 
	select  0 as IdCmimArtikulli, a.IDARTIKULLI as IdArtikulli, nc.IDNIVELCMIMI as IdNivelCmimi,a.NJESI1ARTIKULLI as IDNJESIA,nc.IDMONEDHA,DATEADD(MONTH,-(MONTH('+@GETDATE+')-1), 
	DATEADD(day,-(day('+@GETDATE+')-1),'+@GETDATE+')) AS DateFillimi,CONVERT (DATETIME ,''12/31/9999'')as DateMbarimi
	,0 AS sasimin, 0 AS sasimax,0 AS cmimi,  '+@IDPERDORUES+'  AS idperdorues,   '+@IDNDERMARJE+'  AS idndermarrje, '+@idkonfigambjente+' AS idkonfig
	,  (select top 1 pershkrimi from t_kodbari where idartikulli = a.idartikulli) as kodbari
	,a.PERSHKRIMARTIKULLI AS  EmerArtikulli1,a.PERSHKRIMIANGARTIKULLI AS  EmerArtikulli2
	,a.KODIFIKIMI1ARTIKULLI as KodifikimArtikulli1, a.KODIFIKIMI2ARTIKULLI as KodifikimArtikulli2
	, kf.kodklientfurnitor as NrLlogariFurnitori
	,a.KODARTIKULLI 
	,CONVERT (BIT , ''false'') as ''Check'', 1 as IdStatusDok, '''' as DtModifikimi,'''' as DtKrijimi, a.NJESI2ARTIKULLI as IDNJESIA2,nj1.PERSHKRIMNJESIA as PershkrimNjesia1,
	nj2.PERSHKRIMNJESIA as PershkrimNjesia2,0 as Cmimi2, nc.njesitevarura as NjesiTeVarura, a.KOEFICENTARTIKULLI as Koeficent, CONVERT (time ,''00:00:00'')as KoheFillimi, 
	CONVERT (time ,''23:59:59'') as KoheMbarimi, a.idtvsh, KF.EMERTIMIKF, GRUP1.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP1, GRUP2.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP2, 
	GRUP3.PERSHKRIMKODIFIKIMI PERSHKRIMGRUP3, nc.Detajim, null as IdDetajim, nc.IdCmimRetail

	from T_NIVELCMIMI nc,T_ARTIKULLI a 
		inner join t_njesiartikulli as nj1 on nj1.IDNJESIA=a.NJESI1ARTIKULLI
		INNER JOIN dbo.T_NJESIARTIKULLI AS nj2 ON nj2.IDNJESIA=a.NJESI2ARTIKULLI
		left outer join T_KLIENTFURNITOR kf on kf.IDKLIENTFURNITOR=a.IDFURNITORIKRYESOR
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP1 ON A.KODIFIKIMI1ARTIKULLI = GRUP1.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP2 ON A.KODIFIKIMI2ARTIKULLI = GRUP2.IDKODIFIKIMI
		LEFT OUTER JOIN T_KODIFIKIMARTIKULLI GRUP3 ON A.KODIFIKIMI3ARTIKULLI = GRUP3.IDKODIFIKIMI
where ' + @filterNivelCmimi + ' nc.IDNDERMARJE =  '+@IDNDERMARJE+'   and a.IDNDERMARJE = '+@IDNDERMARJE+'   and a.aktiv='''+'true'+''' and (nc.IDNIVELCMIMI in( select IDLIDHESE  from  T_LIDHJEAUTORIZIM  where IDAUTORIZIMEKOKA  in( select IDAUTORIZIMKOKA  from T_AUTORIZIMTRUPI  where IDPERDORUESI ='+@IDPERDORUES+' ) and IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi''))or nc.IDNIVELCMIMI not in (select idlidhese from T_LIDHJEAUTORIZIM where IDLLOJI in (select idllojbuxheti from T_LLOJBUXHETI  where KODLLOJBUXHETI=''NivelCmimi''))) and a.idstatusdok<>2   and nc.idstatusdok<>2 AND NC.LLOJINIVELCMIMI='+@CMIMSHITJEBLERJE


SET @sqlstr2=@sqlstr2+'  ) AS CMIMEJOEKSISTUESE 
GROUP BY IdNivelCmimi, IdArtikulli, IdNjesia, IdMonedha, IdNdermarje, KodbarArtikulli, EmerArtikulli1, EmerArtikulli2, KodifikimArtikulli1, KodifikimArtikulli2, NrLlogariFurnitori, KodArtikulli, IdNjesia2, PershkrimNjesia1, PershkrimNjesia2, IdCmimRetail ,NjesiTeVarura, Koeficent, EMERTIMIKF,  PERSHKRIMGRUP1, PERSHKRIMGRUP2, PERSHKRIMGRUP3, Detajim, IdDetajim
 HAVING COUNT (*)=1 
) AS V 
LEFT outer JOIN #gjendje ON v.idartikulli=id
LEFT OUTER JOIN T_TAKSAT ON T_TAKSAT.IDTAKSA = V.idtvsh where '
PRINT @sqlstr 
print @sqlstr2
print @strwhere
print ' order BY  1, IdNivelCmimi,2'
exec(@sqlstr  +@sqlstr2+ @strwhere + ' order BY  1, IdNivelCmimi,2')


	Set @Err = @@Error
-- blloku 1: selektohen te gjithe cmimet qe jane tek tabela e cmimeve
-- blloku 2-3:selektohen te gjitha cmimet qe jane tek tabela e cmimeve bashke me te gjithe artikujt per cdo nivel dhe nga keto merren vetem ato artikuj qe jane njehere pra artikujt qe per nivele nuk kane cmim dhe behet union me selectin e pare
	RETURN @Err
END