IF OBJECT_ID('prc_T_KOKAMAGAZINA_updWTNIC') IS NOT NULL
	DROP PROCEDURE prc_T_KOKAMAGAZINA_updWTNIC
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[prc_T_KOKAMAGAZINA_updWTNIC]
(
@IDKOKAMAGAZINA T_AUTO_NUM,
@WTNIC varchar(100),
@IDNDERMARJE T_FOR_KEY
)
As
BEGIN
	DECLARE @Err Int

	UPDATE [T_KOKAMAGAZINA]
	Set
WTNIC=@WTNIC
	WHERE
IDKOKAMAGAZINA=@IDKOKAMAGAZINA
AND IDNDERM = @IDNDERMARJE

	Set @Err = @@Error

	RETURN @Err
End