IF OBJECT_ID('prc_T_KOKASHITJE_merrShitjeBlerjeSipasNdermarrjePerEksport') IS NOT NULL
	DROP PROCEDURE prc_T_KOKASHITJE_merrShitjeBlerjeSipasNdermarrjePerEksport
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_KOKASHITJE_merrShitjeBlerjeSipasNdermarrjePerEksport]
(
	@IDNDERMARJE VARCHAR(100),
	@IDPERDORUES VARCHAR(100),
	@IDKATDOK VARCHAR(100),
	@IDNDERVITI VARCHAR(100),
	@LLOJI INT,
	@EMERTABKOKA VARCHAR(100),
	@EMERFUSHEID VARCHAR(100),
	@IDPEREKSPORT VARCHAR(MAX),
	@MERRDOKTEMODIFIKUAR BIT,
	@MERRDOKTEFSHIRE BIT,
	@HIQRRESHTAKOMISIONI BIT,
	@SERIALEUNIKE BIT,
	@ARTIKUJSET BIT,
	@FILTERSTRING VARCHAR(max),
	@IMPORTAUTOMATIK BIT
)
AS
BEGIN

DECLARE @Err INT
DECLARE @SQL VARCHAR(MAX)
DECLARE @SQL1 VARCHAR(MAX)
DECLARE @SQL2 VARCHAR(MAX)
DECLARE @SQL3 VARCHAR(MAX) 

DECLARE @SQL4 VARCHAR(MAX)
DECLARE @SQL5 VARCHAR(MAX)
DECLARE @SQL6 VARCHAR(MAX)
DECLARE @SQL7 VARCHAR(MAX)
DECLARE @SQL8 VARCHAR(MAX)
DECLARE @SQL9 VARCHAR(MAX)


IF(@IMPORTAUTOMATIK = 1)
	BEGIN
		SET @FILTERSTRING = ( SELECT ISNULL(filterEksp.FILTERPERDATASET,'1 = 1') AS FILTERPERDATASET
							  FROM	T_KOKAFILTRAEXPORTI filterEksp
									   INNER JOIN T_KONFIGEXPORTI konfigEksp ON konfigEksp.FILTRI = filterEksp.ID
							  WHERE	konfigEksp.EMERTABELEKOKA = @EMERTABKOKA AND konfigEksp.KATEGORIA = @IDKATDOK )
	END
ELSE 
    BEGIN
    	IF(@FILTERSTRING = '')
    		SET @FILTERSTRING = '1 = 1'
    END

IF @HIQRRESHTAKOMISIONI = 1
	BEGIN
		SET @SERIALEUNIKE = 0;
		SET @ARTIKUJSET = 0;
	END

SET @SQL4 = '
	IF OBJECT_ID(''tempdb..#KONFIGNKAKNKA'') IS NOT NULL
	BEGIN
		DROP TABLE #KONFIGNKAKNKA
	END

    CREATE TABLE #KONFIGNKAKNKA(idkonfig INT PRIMARY KEY)
			INSERT INTO #KONFIGNKAKNKA
			SELECT	DISTINCT idkonfig = t_konfigambjente.idkonfigambjente 
			FROM	t_konfigambjente 
					inner join t_kushtemplate 
						on t_konfigambjente.idkonfigambjente=t_kushtemplate.idkonfigambjente 
					inner join t_kushte 
						on t_kushte.idkusht=t_kushtemplate.idkusht 
					inner join t_alternativakushti 
						on t_alternativakushti.IDALTERNATIVEKUSHTI=vlera and idkushti=t_kushte.idkusht 
			WHERE	t_kushte.kodi = ''NKAKNKA'' 
					and idndermarje = ' + convert(varchar(MAX), @IDNDERMARJE) + ' 
					and alternativa = ''Po'' 
					AND IDSTATUSDOK = 1


SELECT	* 
INTO #SHITJE
FROM	(

 SELECT	'
 IF(@HIQRRESHTAKOMISIONI = 0)
	SET @SQL4 = @SQL4 + ' TOP 0 '
 
 SET @SQL4 = @SQL4 + '	T_KOKASHITJE.IDSHITJEKOKA AS [Id Shitje Koka], 
			T_KOKASHITJE.DTMBARIMI as [Date Mbarimi],
			T_KOKASHITJE.DTFILLIMI AS [Date Fillimi],N.KODI AS Nenkategoria,
			dbo.T_KONFIGAMBJENTE.KODKONFIGAMBJENTE AS [Lloj Dokumenti],
			KF.KODKLIENTFURNITOR AS [Klient/Furnitori],
			NRPROJEKT AS [Numer Projekti],
			NRDOK AS [Nr Dokumenti],
			NRSERIAL AS [Numer Serial], 
			DTDOK AS [Date Dokumenti],
			T_KOKASHITJE.DTMODIFIKIMI as [Date Modifikimi],
			DTMATURIMI AS [Date Maturimi],
			dbo.T_MONEDHA.MONEDHAKOD AS Monedha,
			KURSI AS Kursi, AGJ1.KODIAGJENTSHITJE AS [Agjent Shitje 1], 
			CASE WHEN  T_KOKASHITJE.IDMENYREPAGESE = -1 THEN ''''
				WHEN T_KOKASHITJE.IDMENYREPAGESE= 0 THEN ''Me mirebesim''
				WHEN T_KOKASHITJE.IDMENYREPAGESE= 4 THEN ''Pagese''
				WHEN T_KOKASHITJE.IDMENYREPAGESE= 5 THEN ''Pagese Automatike''
				WHEN T_KOKASHITJE.IDMENYREPAGESE= 7 THEN ''Me parapagim''
				when T_KOKASHITJE.IDMENYREPAGESE = 8 THEN ''Arke''
				when T_KOKASHITJE.IDMENYREPAGESE = 9 THEN ''Karte krediti'' 
			END AS [Menyre Pagese], 
			CASE	WHEN T_KOKASHITJE.ZBRITJENEVLERE= 0 THEN T_KOKASHITJE.PERQINDJEZBRITJE
					WHEN T_KOKASHITJE.ZBRITJENEVLERE= 1 THEN T_KOKASHITJE.ZBRITJE 
			END AS [Total Zbritje],
			DTREGJISTRIMI AS [Date Regjistrimi],
			T_KOKASHITJE.ADRESAFATURIMIT as [Adresa e Faturimit],
			T_KOKASHITJE.ADRESADERGIMIT as [Adresa e Dergimit],
			T_KOKASHITJE.PERSHKRIMI AS Pershkrimi, 
			 case when T_KOKASHITJE.DOGANA = 1 then ''po'' else ''jo''end As Dogana,
			dbo.T_DEGEADMINISTRATIVE.KODI AS [Dege Administrative],
			dbo.T_PIKESHITJEFURNIZIMI.KODI AS [Pike Shitje/Furnizimi],
			AFATIKOHOR AS [Afati Kohor],
			T_KOKASHITJE.PERQINDJEAGJENTI AS [Perqindje Agjenti 1], 
			GR1.KODI AS [Grupim Dokumenti 1],
			GR2.KODI AS [Grupim Dokumenti 2],
		    GR3.KODI AS [Grupim Dokumenti 3],
			EMERKLIENTI AS [Emer Klienti],
			KONTAKTI AS Kontakti, KASE AS Kase,
			  case when dbo.T_KOKASHITJE.KUPON = 1 then ''po'' else ''jo''end   AS Kupon,
			autom.NRSHASIE as Automjeti,
			KILOMETRAAUTO as Kilometra,
			agj2.KODIAGJENTSHITJE AS [Agjent Shitje 2],
			T_KOKASHITJE.PERQINDJEAGJENTI2 as [Perqindje Agjenti 2],
			agj3.KODIAGJENTSHITJE AS [Agjent Shitje 3], 
			T_KOKASHITJE.PERQINDJEAGJENTI3 AS [Perqindje Agjenti 3], 
			MARRESI AS Marresi, 
			dbo.T_TRANSPORTUES.EMERTIMI AS Transportues,
			SHPENZJOTEZBRITSHME AS [Shpenzime Jo Te Zbritshme], 
			T_PERDORUESI.PERDORUESUSERNAME AS Krijuesi, 
			T_KOKASHITJE.IDNIVELGJENERUES as [Id Nivel Gjenerues], 
			IDDOKNGA as  [Id Dok Nga],
			T_KOKASHITJE.DTTRANSPORTIMI AS [Dt Transporti], 
			T_KOKASHITJE.CASH AS Cash, 
			T_KUSHTEDERGIMI.KODIKUSHTDERGIMI AS [Kusht Dergimi], 
			T_KUSHTPAGESEKOKA.KODIKUSHTPAGESE AS [Kusht Pagese], 
			T_KOKASHITJE.IDKONFIGGJENERUES AS [Id Konfig Gjenerues], 
			T_KOKASHITJE.IDGJENERUES AS [Id Gjenerues], 
			T_KOKASHITJE.TOTALI AS Totali, 
			T_KOKASHITJE.TVSH as [Tvsh Koka],
			T_KOKASHITJE.IDSTATUSDOK AS [Id Status Dok], 
			T_KOKASHITJE.TOTALIMETVSHMEZBRITJE AS [Totali Me Tvsh Me Zbritje], 
			T_KOKASHITJE.DTKRIJIMI AS [Dt Krijimi], 
			T_BANKA.KODIBANKA AS [Arka],
			T_KOKASHITJE.FATUREPERMBLEDHESE as [Fature Permbledhese], 
			T_NDERMARJE.NDERMARJEKODI AS [Kod Ndermarrje], 
			T_KOKASHITJE.DTFATURE AS [Dt Fature], 
			autom.TARGA as Targa,
			kf1.KODKLIENTFURNITOR AS [Klient/Furnitori vartes], 
			[T_KOKASHITJE].Targa as [Targa e shoferit], 
			T_KOKASHITJE.Shoferi as Shoferi,	
			T_KARTA.KODI as Karta, 
			T_KATEGORISHPENZIMI.KODI as [Kategori Shpenzimi],
			dbo.T_TRUPISHITJE.IDSHITJETRUPI AS IdRreshtiShitje, 
			CASE WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 1 THEN ''Artikull''
				WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 2 THEN ''Makro''
				WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 3 THEN ''Llogari'' 
			END AS Lloji, 
			dbo.T_TRUPISHITJE.KODI AS Kodi, 
			T_TRUPISHITJE.PERSHKRIMI AS [Pershkrim Trupi], 
			T_NJESIARTIKULLI.KODNJESIA AS Njesia, 
			CAST (1 AS FLOAT) AS Sasia, 
			T_TRUPISHITJE.CMIMI AS Cmimi, 
			T_TRUPISHITJE.ZBRITJE AS [Zbritje Analitike],
			case when T_TRUPISHITJE.SASIA = 0 then 0 else T_TRUPISHITJE.ZBRITJEVlere / T_TRUPISHITJE.SASIA END AS [Zbritje vlere], 
			case when T_TRUPISHITJE.LLOJZBRITJE = 2 then ''Vlere'' else ''Perqindje'' end AS [Lloj zbritje], 
			T_TRUPISHITJE.cmimi*(1+ CASE WHEN T_TRUPISHITJE.TVSH=0 THEN 0 ELSE T_TAKSAT.normaperqindje END /100)AS [Cmimi me Tvsh],
			case when T_TRUPISHITJE.SASIA = 0 then 0 else T_TRUPISHITJE.VLEFTAPATVSH / T_TRUPISHITJE.SASIA END AS [Vlefta pa TVSH], 
			CASE WHEN T_TRUPISHITJE.TVSH=0 OR T_TRUPISHITJE.TVSH IS NULL THEN ''Pa TVSH'' ELSE T_TAKSAT.KODI END AS TVSH, 
			case when T_TRUPISHITJE.SASIA = 0 then 0 else T_TRUPISHITJE.VLEFTAMETVSH / T_TRUPISHITJE.SASIA END  AS [Vlefta me TVSH], 
			dbo.T_NJESIADMINISTRATIVE.KODI AS Magazina, 
			GJERESI AS Gjeresi, 
			GJATESI AS Gjatesi, 
			SASIPERMASE AS [Sasi Permase], 
			DETAJIM1.KODDETAJIMARTIKULLI AS [Detajimi 1], 
			DETAJIM2.KODDETAJIMARTIKULLI AS [Detajimi 2], 
			T_TRUPISHITJE.SHENIME AS Shenime,
			LLOGARISHPENZ.NRLLOGARI AS [Llogari Shpenzimi], 
			dbo.T_TRUPISHITJE.DTFILLIMI AS [Date Fillimi Trupi], 
			dbo.T_TRUPISHITJE.DTMBARIMI AS [Date Mbarimi Trupi], 
			T_TRUPISHITJE.IDTRUPIKONVERTIMI as [Id Trupi Konvertimi],
			T_TRUPISHITJE.SASIREZ AS [Sasi Rezervimi], '''' as Seriali, 
			CASE WHEN idkonf_merrSP.idkonfig IS NULL THEN T_KODBARI.PERSHKRIMI ELSE  
			 ISNULL(T_KODBARI.PERSHKRIMI, T_KODBARIPAREARTIKULLIT.PERSHKRIMI) END as Kodbari,
			kf.EMERTIMIKF as [Emertimi],
			GR1.PERSHKRIMI AS [Pershkrim Gr. Dok. 1],
			GR2.PERSHKRIMI AS [Pershkrim Gr. Dok. 2],
		    GR3.PERSHKRIMI AS [Pershkrim Gr. Dok. 3],
		    T_KOKASHITJE.KOORDINATA.STAsText() AS Koordinata,
			T_KOKASHITJE.NIPTK AS NiptK, t_kokashitje.qytetik as QytetiK, T_KOKASHITJE.SHENIME2 AS [Shenime 2], T_KOKASHITJE.KARTAPAPAGESE AS [Karta pa pagese], 
			CASE WHEN T_KOKASHITJE.IDDOKTRANSFERIMNGA IS	NULL OR T_KOKASHITJE.IDDOKTRANSFERIMNGA = 0 THEN T_KOKASHITJE.IDSHITJEKOKA ELSE T_KOKASHITJE.IDDOKTRANSFERIMNGA END AS [ID Dok Transferim Nga], 
			CASE WHEN T_TRUPISHITJE.IDTRUPITRANSFERIMNGA IS NULL OR T_TRUPISHITJE.IDTRUPITRANSFERIMNGA = 0 THEN T_TRUPISHITJE.IDSHITJETRUPI ELSE T_TRUPISHITJE.IDTRUPITRANSFERIMNGA END AS [ID Trupi Transferim Nga],
			sm.Seriali_Kryesor AS [Seriali Unik Kryesor], 
			convert(varchar(100),'''') AS [Seriali Unik Dytesor],
			'''' AS [Artikulli Set],
			CASE WHEN  T_KOKASHITJE.ZBRITJENEVLERE = -1 THEN ''''
				WHEN T_KOKASHITJE.ZBRITJENEVLERE= 0 THEN ''Perqindje''
				WHEN T_KOKASHITJE.ZBRITJENEVLERE= 1 THEN ''Vlere'' 
			END AS [Lloj Zbritje Totale],
			T_TRUPISHITJE.SHENIME2 AS [Shenime 2 Trupi]  
		, 	CASE WHEN  [T_KOKASHITJE].IDLLOJMARREVESHJE in (0,-1) THEN ''''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 1 THEN ''Retention''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 2 THEN ''Acquisition''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 3 THEN ''EBU Benefit''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 4 THEN ''Agreement Tenure Reward'' END
	    AS [Lloji i marreveshjes], 
		[T_KOKASHITJE].IDMARREVESHJE AS [ID e marreveshjes],
		T_KOKASHITJE.KERKUARNGA AS KerkuarNga,
	    T_KOKASHITJE.DATEKERKESE AS DateKerkese,
		kf.KodIntegrimi AS [Kod Klienti Integrimi],
		T_KOKASHITJE.IIC,
		T_KOKASHITJE.NIVF,
		Operatori = (SELECT KODI FROM T_OPERATORE where IDOPERATOR = T_KOKASHITJE.IDOPERATOR),
		T_KOKASHITJE.EINVOICE,
		T_KOKASHITJE.EIC,
		T_KOKASHITJE.EinStatus,
		Procesi = (SELECT KODI FROM T_PROCESI where ID = T_KOKASHITJE.Procesi),
		[E-invoice Type] = (SELECT KODI FROM T_TIPIEINVOICE where ID =T_KOKASHITJE.eInvoiceType),
		T_KOKASHITJE.NIVFKTHIM as [NIVF kthim],
		T_KOKASHITJE.TIPIIVETEFATURIMIT as [Tipi i vetefaturimit]
		'

SET @SQL5 = ' 
FROM	[T_KOKASHITJE]
		INNER JOIN T_TRUPISHITJE ON dbo.T_KOKASHITJE.IDSHITJEKOKA = dbo.T_TRUPISHITJE.IDSHITJEKOKA
		LEFT JOIN #KONFIGNKAKNKA idkonf_merrSP 
						ON t_kokashitje.IDKONFIGAMBJENTE =idkonf_merrSP.idkonfig
		LEFT OUTER JOIN T_KODBARI ON T_TRUPISHITJE.IDBARKODI = T_KODBARI.IDKODBARI
		LEFT OUTER JOIN T_ARTIKULLI ON T_TRUPISHITJE.IDKODI = T_ARTIKULLI.IDARTIKULLI
		INNER JOIN T_NIVELREGJISTRIMI as n on T_KOKASHITJE.IDNIVEL = n.IDNIVEL 	
		LEFT OUTER JOIN dbo.T_KLIENTFURNITOR kf ON  dbo.T_KOKASHITJE.IDKLIENTFURNITOR = kf.IDKLIENTFURNITOR
		LEFT JOIN	(
							SELECT	DISTINCT	
									T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
									,STUFF((SELECT	DISTINCT '', '' + KODKLIENTFURNITOR
											FROM	T_KOKASHITJE_KLIENTVARTES KV
													INNER JOIN	T_KLIENTFURNITOR
														ON	T_KLIENTFURNITOR.IDKLIENTFURNITOR = KV.IDKLIENTFURNITOR
											WHERE	KV.IDSHITJEKOKA = T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
											FOR XML PATH(''''), TYPE).value(''.'', ''NVARCHAR(MAX)''), 1, 1, '''') KODKLIENTFURNITOR
							FROM	T_KOKASHITJE_KLIENTVARTES
					)	kf1
			on kf1.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
		INNER JOIN T_KONFIGAMBJENTE ON dbo.T_KOKASHITJE.IDKONFIGAMBJENTE = dbo.T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
		LEFT OUTER JOIN T_AUTOMJETE as autom ON autom.IDAUTOMJETI = T_KOKASHITJE.IDAUTOMJETI
		INNER JOIN T_LLOGARI ON KF.IDLLOGARI=dbo.T_LLOGARI.IDLLOGARI
		INNER JOIN T_MONEDHA ON T_LLOGARI.MONEDHA=dbo.T_MONEDHA.IDMONEDHA
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ1 ON AGJ1.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENT
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ2 ON AGJ2.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENTI2
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ3 ON AGJ3.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENTI3
		LEFT OUTER JOIN T_DEGEADMINISTRATIVE ON dbo.T_KOKASHITJE.IDDEGEADMINISTRATIVE = dbo.T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE
		LEFT OUTER JOIN T_PIKESHITJEFURNIZIMI ON T_KOKASHITJE.IDPIKESHITJEFURNIZIMI=dbo.T_PIKESHITJEFURNIZIMI.IDPIKESHITJEFURNIZIMI
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR1 ON dbo.T_KOKASHITJE.IDGRUP1=GR1.IDGRUPIMKOKA
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR2 ON dbo.T_KOKASHITJE.IDGRUP2=GR2.IDGRUPIMKOKA
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR3 ON dbo.T_KOKASHITJE.IDGRUP3=GR3.IDGRUPIMKOKA		
		LEFT OUTER JOIN T_TRANSPORTUES ON dbo.T_KOKASHITJE.IDTRANSPORTUES=dbo.T_TRANSPORTUES.IDTRANSPORTUES
		LEFT OUTER JOIN T_NJESIARTIKULLI ON dbo.T_TRUPISHITJE.IDNJESIA = dbo.T_NJESIARTIKULLI.IDNJESIA
		LEFT OUTER JOIN T_TAKSAT ON dbo.T_TRUPISHITJE.TVSH = dbo.T_TAKSAT.IDTAKSA
		LEFT OUTER JOIN T_NJESIADMINISTRATIVE ON dbo.T_TRUPISHITJE.IDMAGAZINA=dbo.T_NJESIADMINISTRATIVE.IDNJESIADM
		LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM1 ON dbo.T_TRUPISHITJE.IDDETAJIMART=DETAJIM1.IDDETAJIMARTIKULLI
		LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM2 ON dbo.T_TRUPISHITJE.IDDETAJIMART2=DETAJIM2.IDDETAJIMARTIKULLI
		LEFT OUTER JOIN T_LLOGARI AS LLOGARISHPENZ ON dbo.T_TRUPISHITJE.IDLLOGSHPENZIMI= LLOGARISHPENZ.IDLLOGARI
		LEFT OUTER JOIN T_PERDORUESI ON T_KOKASHITJE.IDKRIJUESI=T_PERDORUESI.IDPERDORUES
		LEFT OUTER JOIN T_KUSHTEDERGIMI ON T_KOKASHITJE.IDKUSHTDERGIM=T_KUSHTEDERGIMI.IDKUSHTDERGIMI
		LEFT OUTER JOIN T_KUSHTPAGESEKOKA ON T_KOKASHITJE.IDKUSHTPAGESE=T_KUSHTPAGESEKOKA.IDKOKA
		LEFT OUTER JOIN T_BANKA ON T_KOKASHITJE.IDARKA = T_BANKA.IDBANKA
		LEFT OUTER JOIN T_NDERMARJE ON T_KOKASHITJE.IDNDERM=T_NDERMARJE.IDNDERMARJE
		LEFT OUTER JOIN T_KATEGORISHPENZIMI ON T_TRUPISHITJE.IDKATEGORISHPENZIMI=T_KATEGORISHPENZIMI.ID
		LEFT OUTER JOIN T_KARTA ON T_KOKASHITJE.IDKARTA=T_KARTA.IDKARTA
		LEFT OUTER JOIN T_KUSHTEMPLATE ON T_KUSHTEMPLATE.idkONFIGAMBJENTE = [T_KOKASHITJE].IDKONFIGAMBJENTE
		LEFT OUTER JOIN T_KUSHTE ON T_KUSHTE.IDKUSHT = T_KUSHTEMPLATE.IDKUSHT
		LEFT OUTER JOIN T_ALTERNATIVAKUSHTI ON T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI =T_KUSHTEMPLATE.VLERA AND T_ALTERNATIVAKUSHTI.IDKUSHTI = T_KUSHTE.IDKUSHT 
		LEFT OUTER JOIN T_TRUPIMAGAZINA tm on tm.idtrupishitjegjenerimi = T_TRUPISHITJE.IDSHITJETRUPI
		LEFT OUTER JOIN T_SERIALEUNIKE_LIDHJE_MAGAZINE sm on sm.id_trupi_magazine = tm.idtrupimagazina
		LEFT OUTER JOIN T_SERIALEUNIKE_KATEGORI sk on sk.ID = sm.id_kategori_seriali
		OUTER APPLY (SELECT * FROM eshteIAutorizuar(T_KOKASHITJE.IDKONFIGAMBJENTE,''KonfigurimDok'', ' + @IDPERDORUES + ' )) AS AUTORIZIMI
		OUTER APPLY (
						SELECT	TOP(1) * FROM T_KODBARI
						WHERE	IDARTIKULLI = T_ARTIKULLI.IDARTIKULLI AND NJESIA = (CASE WHEN T_TRUPISHITJE.IDNJESIA = T_ARTIKULLI.NJESI1ARTIKULLI THEN 1 ELSE 2 END)
						ORDER BY	IDKODBARI ASC
					) AS T_KODBARIPAREARTIKULLIT
WHERE	n.IDKATDOK = ' + @IDKATDOK + ' 
		and T_KOKASHITJE.IDSTATUSDOK<>2 
		AND T_KUSHTE.KODI = ''MMDT''  
		AND dbo.T_KOKASHITJE.IDNDERM=' + @IDNDERMARJE + ' 
		AND dbo.T_KOKASHITJE.IDNDERMVIT= ' + @IDNDERVITI + '  
		and AUTORIZIMI.AUTORIZUAR=1
		AND sk.KATEGORI = ''APARATE'' AND sm.SERIALI_KRYESOR IS NOT NULL 
		AND T_TRUPISHITJE.LLOGARITKOMISION = 0
		'

SET @SQL= 
'INSERT INTO #SHITJE
SELECT *
FROM (
 SELECT	T_KOKASHITJE.IDSHITJEKOKA AS [Id Shitje Koka], 
		T_KOKASHITJE.DTMBARIMI as [Date Mbarimi],
		T_KOKASHITJE.DTFILLIMI AS [Date Fillimi],N.KODI AS Nenkategoria,
		dbo.T_KONFIGAMBJENTE.KODKONFIGAMBJENTE AS [Lloj Dokumenti],
		KF.KODKLIENTFURNITOR AS [Klient/Furnitori],
		T_KOKASHITJE.NRPROJEKT AS [Numer Projekti],
		T_KOKASHITJE.NRDOK AS [Nr Dokumenti],
		T_KOKASHITJE.NRSERIAL AS [Numer Serial], 
		T_KOKASHITJE.DTDOK AS [Date Dokumenti],
		T_KOKASHITJE.DTMODIFIKIMI as [Date Modifkimi],
		T_KOKASHITJE.DTMATURIMI AS [Date Maturimi],
	    dbo.T_MONEDHA.MONEDHAKOD AS Monedha,
		T_KOKASHITJE.KURSI AS Kursi, AGJ1.KODIAGJENTSHITJE AS [Agjent Shitje 1], 
		CASE WHEN  T_KOKASHITJE.IDMENYREPAGESE = -1 THEN ''''
			WHEN T_KOKASHITJE.IDMENYREPAGESE= 0 THEN ''Me mirebesim''
			WHEN T_KOKASHITJE.IDMENYREPAGESE= 4 THEN ''Pagese''
			WHEN T_KOKASHITJE.IDMENYREPAGESE= 5 THEN ''Pagese Automatike''
			WHEN T_KOKASHITJE.IDMENYREPAGESE= 7 THEN ''Me parapagim''
			when T_KOKASHITJE.IDMENYREPAGESE = 8 THEN ''Arke''
		   when T_KOKASHITJE.IDMENYREPAGESE = 9 THEN ''Karte krediti'' 
		END AS [Menyre Pagese], 
		CASE WHEN T_KOKASHITJE.ZBRITJENEVLERE= 0 THEN T_KOKASHITJE.PERQINDJEZBRITJE
			WHEN T_KOKASHITJE.ZBRITJENEVLERE= 1 THEN	T_KOKASHITJE.ZBRITJE 
		END AS [Total Zbritje],
		DTREGJISTRIMI AS [Date Regjistrimi],
		T_KOKASHITJE.ADRESAFATURIMIT as [Adresa e Faturimit],
		T_KOKASHITJE.ADRESADERGIMIT as [Adresa e Dergimit],
		T_KOKASHITJE.PERSHKRIMI AS Pershkrimi,
		 case when T_KOKASHITJE.DOGANA = 1 then ''po'' else ''jo''end AS Dogana,
	    dbo.T_DEGEADMINISTRATIVE.KODI AS [Dege Administrative],
		dbo.T_PIKESHITJEFURNIZIMI.KODI AS [Pike Shitje/Furnizimi],
		AFATIKOHOR AS [Afati Kohor],
		T_KOKASHITJE.PERQINDJEAGJENTI AS [Perqindje Agjenti 1], 
		GR1.KODI AS [Grupim Dokumenti 1],
		GR2.KODI AS [Grupim Dokumenti 2],
		GR3.KODI AS [Grupim Dokumenti 3],
		EMERKLIENTI AS [Emer Klienti],
		T_KOKASHITJE.KONTAKTI AS Kontakti, 
		T_KOKASHITJE.KASE AS Kase,
		case when dbo.T_KOKASHITJE.KUPON = 1 then ''po'' else ''jo''end   AS Kupon,
		autom.NRSHASIE as Automjeti,
		KILOMETRAAUTO as Kilometra,
		agj2.KODIAGJENTSHITJE AS [Agjent Shitje 2],
		T_KOKASHITJE.PERQINDJEAGJENTI2 as [Perqindje Agjenti 2],
		agj3.KODIAGJENTSHITJE AS [Agjent Shitje 3], 
		T_KOKASHITJE.PERQINDJEAGJENTI3 AS [Perqindje Agjenti 3], 
		T_KOKASHITJE.MARRESI AS Marresi, 
		dbo.T_TRANSPORTUES.EMERTIMI AS Transportues, 
		SHPENZJOTEZBRITSHME AS [Shpenzime Jo Te Zbritshme], 
		T_PERDORUESI.PERDORUESUSERNAME AS Krijuesi, 
		T_KOKASHITJE.IDNIVELGJENERUES as [Id Nivel Gjenerues], 
		IDDOKNGA as  [Id Dok Nga],
		T_KOKASHITJE.DTTRANSPORTIMI AS [Dt Transporti], 
		T_KOKASHITJE.CASH AS Cash, 
		T_KUSHTEDERGIMI.KODIKUSHTDERGIMI AS [Kusht Dergimi], 
		T_KUSHTPAGESEKOKA.KODIKUSHTPAGESE AS [Kusht Pagese], 
		T_KOKASHITJE.IDKONFIGGJENERUES AS [Id Konfig Gjenerues], 
		T_KOKASHITJE.IDGJENERUES AS [Id Gjenerues], 
		T_KOKASHITJE.TOTALI AS Totali, 
		T_KOKASHITJE.TVSH as [Tvsh Koka],
		T_KOKASHITJE.IDSTATUSDOK AS [Id Status Dok], 
		T_KOKASHITJE.TOTALIMETVSHMEZBRITJE AS [Totali Me Tvsh Me Zbritje], 
		T_KOKASHITJE.DTKRIJIMI AS [Dt Krijimi], 
		T_BANKA.KODIBANKA AS [Arka],
		T_KOKASHITJE.FATUREPERMBLEDHESE as [Fature Permbledhese], 
		T_NDERMARJE.NDERMARJEKODI AS [Kod Ndermarrje], 
		T_KOKASHITJE.DTFATURE AS [Dt Fature], 
		autom.TARGA as Targa,
		kf1.KODKLIENTFURNITOR AS [Klient/Furnitori vartes], 
		[T_KOKASHITJE].Targa as [Targa e shoferit], 
		T_KOKASHITJE.Shoferi as Shoferi,	
		T_KARTA.KODI as Karta, 
		T_KATEGORISHPENZIMI.KODI as [Kategori Shpenzimi],
		dbo.T_TRUPISHITJE.IDSHITJETRUPI AS IdRreshtiShitje, 
		CASE WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 1 THEN ''Artikull''
			WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 2 THEN ''Makro''
			WHEN T_TRUPISHITJE.IDLLOJVEPRIMI = 3 THEN ''Llogari'' 
		END AS Lloji,
		T_TRUPISHITJE.KODI AS Kodi, 
		T_TRUPISHITJE.PERSHKRIMI AS [Pershkrim Trupi], 
		T_NJESIARTIKULLI.KODNJESIA AS Njesia, 
		T_TRUPISHITJE.SASIA AS Sasia, 
		T_TRUPISHITJE.CMIMI AS Cmimi, 
		T_TRUPISHITJE.ZBRITJE AS [Zbritje Analitike],
		T_TRUPISHITJE.ZBRITJEVlere AS [Zbritje vlere], 
		case when T_TRUPISHITJE.LLOJZBRITJE = 2 then ''Vlere'' else ''Perqindje'' end AS [Lloj zbritje],
		T_TRUPISHITJE.cmimi*(1+ CASE WHEN T_TRUPISHITJE.TVSH=0 THEN 0 ELSE T_TAKSAT.normaperqindje END /100)AS [Cmimi me Tvsh],
		VLEFTAPATVSH AS [Vlefta pa TVSH], 
		CASE WHEN T_TRUPISHITJE.TVSH=0 OR T_TRUPISHITJE.TVSH IS NULL THEN ''Pa TVSH'' ELSE T_TAKSAT.KODI END AS TVSH, 
		VLEFTAMETVSH AS [Vlefta me TVSH], 
		dbo.T_NJESIADMINISTRATIVE.KODI AS Magazina, 
		T_TRUPISHITJE.GJERESI AS Gjeresi, 
		T_TRUPISHITJE.GJATESI AS Gjatesi, 
		SASIPERMASE AS [Sasi Permase], 
		DETAJIM1.KODDETAJIMARTIKULLI AS [Detajimi 1], 
		DETAJIM2.KODDETAJIMARTIKULLI AS [Detajimi 2], 
		T_TRUPISHITJE.SHENIME AS Shenime,
		LLOGARISHPENZ.NRLLOGARI AS [Llogari Shpenzimi], 
		dbo.T_TRUPISHITJE.DTFILLIMI AS [Date Fillimi Trupi], 
		dbo.T_TRUPISHITJE.DTMBARIMI AS [Date Mbarimi Trupi], 
		T_TRUPISHITJE.IDTRUPIKONVERTIMI as [Id Trupi Konvertimi],
		T_TRUPISHITJE.SASIREZ AS [Sasi Rezervimi], 
		'''' as Seriali, 
	CASE WHEN idkonf_merrSP.idkonfig IS NULL THEN T_KODBARI.PERSHKRIMI ELSE  
			 ISNULL(T_KODBARI.PERSHKRIMI, T_KODBARIPAREARTIKULLIT.PERSHKRIMI) END as Kodbari,
		kf.EMERTIMIKF as [Emertimi],
		GR1.PERSHKRIMI AS [Pershkrim Gr. Dok. 1],
		GR2.PERSHKRIMI AS [Pershkrim Gr. Dok. 2],
		GR3.PERSHKRIMI AS [Pershkrim Gr. Dok. 3],
		T_KOKASHITJE.KOORDINATA.STAsText() AS Koordinata,
		T_KOKASHITJE.NIPTK AS NiptK, 
		t_kokashitje.qytetik as QytetiK, 
		T_KOKASHITJE.SHENIME2 AS [Shenime 2], 
		T_KOKASHITJE.KARTAPAPAGESE AS [Karta pa pagese], 
		CASE WHEN T_KOKASHITJE.IDDOKTRANSFERIMNGA IS NULL OR T_KOKASHITJE.IDDOKTRANSFERIMNGA = 0 THEN T_KOKASHITJE.IDSHITJEKOKA ELSE T_KOKASHITJE.IDDOKTRANSFERIMNGA END AS [ID Dok Transferim Nga], 
		CASE WHEN T_TRUPISHITJE.IDTRUPITRANSFERIMNGA IS NULL OR T_TRUPISHITJE.IDTRUPITRANSFERIMNGA = 0 THEN T_TRUPISHITJE.IDSHITJETRUPI ELSE T_TRUPISHITJE.IDTRUPITRANSFERIMNGA END AS [ID Trupi Transferim Nga], '
IF(@SERIALEUNIKE = 1)
	SET @SQL = @SQL +'slm.SERIALI_KRYESOR [Seriali Unik Kryesor], slm.SERIALI_DYTESOR [Seriali Unik Dytesor],'
ELSE 
	SET @SQL = @SQL + '
		'''' AS [Seriali Unik Kryesor], 
		'''' AS [Seriali Unik Dytesor],'
SET @SQL = @SQL + '
		'''' AS [Artikulli Set],
		CASE WHEN  T_KOKASHITJE.ZBRITJENEVLERE = -1 THEN ''''
			WHEN T_KOKASHITJE.ZBRITJENEVLERE= 0 THEN ''Perqindje''
			WHEN T_KOKASHITJE.ZBRITJENEVLERE= 1 THEN ''Vlere'' 
		END AS [Lloj Zbritje Totale],
		T_TRUPISHITJE.SHENIME2 AS [Shenime 2 Trupi]
			, 	CASE WHEN  [T_KOKASHITJE].IDLLOJMARREVESHJE in (0,-1) THEN ''''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 1 THEN ''Retention''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 2 THEN ''Acquisition''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 3 THEN ''EBU Benefit''
		WHEN [T_KOKASHITJE].IDLLOJMARREVESHJE= 4 THEN ''Agreement Tenure Reward'' END
	    AS [Lloji i marreveshjes],
		[T_KOKASHITJE].IDMARREVESHJE AS [ID e marreveshjes],
		T_KOKASHITJE.KERKUARNGA AS KerkuarNga,
		T_KOKASHITJE.DATEKERKESE AS DateKerkese,
		kf.KodIntegrimi AS [Kod Klienti Integrimi],
		T_KOKASHITJE.IIC,
		T_KOKASHITJE.NIVF,
		Operatori = (SELECT KODI FROM T_OPERATORE where IDOPERATOR = T_KOKASHITJE.IDOPERATOR),
		T_KOKASHITJE.EINVOICE,
		T_KOKASHITJE.EIC,
		T_KOKASHITJE.EinStatus,
		Procesi = (SELECT KODI FROM T_PROCESI where ID = T_KOKASHITJE.Procesi),
		[E-invoice Type] = (SELECT KODI FROM T_TIPIEINVOICE where ID =T_KOKASHITJE.eInvoiceType),
		T_KOKASHITJE.NIVFKTHIM as [NIVF kthim],
		T_KOKASHITJE.TIPIIVETEFATURIMIT as [Tipi i vetefaturimit]'

SET @SQL1='
FROM	[T_KOKASHITJE]
		INNER JOIN T_TRUPISHITJE ON dbo.T_KOKASHITJE.IDSHITJEKOKA = dbo.T_TRUPISHITJE.IDSHITJEKOKA
		LEFT OUTER JOIN T_ARTIKULLI ON T_TRUPISHITJE.IDKODI = T_ARTIKULLI.IDARTIKULLI
		LEFT OUTER JOIN T_KODBARI ON T_TRUPISHITJE.IDBARKODI = T_KODBARI.IDKODBARI
		INNER JOIN T_NIVELREGJISTRIMI as n on T_KOKASHITJE.IDNIVEL = n.IDNIVEL 	
		LEFT JOIN #KONFIGNKAKNKA idkonf_merrSP ON t_kokashitje.IDKONFIGAMBJENTE =idkonf_merrSP.idkonfig
		LEFT OUTER JOIN dbo.T_KLIENTFURNITOR kf ON  dbo.T_KOKASHITJE.IDKLIENTFURNITOR = kf.IDKLIENTFURNITOR
		LEFT JOIN	(
							SELECT	DISTINCT	
									T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
									,STUFF((SELECT	DISTINCT '', '' + KODKLIENTFURNITOR
											FROM	T_KOKASHITJE_KLIENTVARTES KV
													INNER JOIN	T_KLIENTFURNITOR
														ON	T_KLIENTFURNITOR.IDKLIENTFURNITOR = KV.IDKLIENTFURNITOR
											WHERE	KV.IDSHITJEKOKA = T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
											FOR XML PATH(''''), TYPE).value(''.'', ''NVARCHAR(MAX)''), 1, 1, '''') KODKLIENTFURNITOR
							FROM	T_KOKASHITJE_KLIENTVARTES
					)	kf1
			on kf1.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
		INNER JOIN T_KONFIGAMBJENTE ON dbo.T_KOKASHITJE.IDKONFIGAMBJENTE = dbo.T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
		LEFT OUTER JOIN T_AUTOMJETE as autom ON autom.IDAUTOMJETI = T_KOKASHITJE.IDAUTOMJETI
		INNER JOIN T_LLOGARI ON KF.IDLLOGARI=dbo.T_LLOGARI.IDLLOGARI
		INNER JOIN T_MONEDHA ON T_LLOGARI.MONEDHA=dbo.T_MONEDHA.IDMONEDHA
		'
	
IF(@SERIALEUNIKE = 1)
SET @SQL1 = @SQL1 +	'LEFT OUTER JOIN T_TRUPIMAGAZINA ON T_TRUPIMAGAZINA.IDTRUPISHITJEGJENERIMI = T_TRUPISHITJE.IDSHITJETRUPI
LEFT OUTER JOIN T_SERIALEUNIKE_LIDHJE_MAGAZINE slm on slm.id_trupi_magazine = T_TRUPIMAGAZINA.idtrupimagazina'

SET @SQL1 = @SQL1 +	'
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ1 ON AGJ1.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENT
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ2 ON AGJ2.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENTI2
		LEFT OUTER JOIN T_AGJENTSHITJE AGJ3 ON AGJ3.IDAGJENTSHITJE=dbo.T_KOKASHITJE.IDAGJENTI3
		LEFT OUTER JOIN T_DEGEADMINISTRATIVE ON dbo.T_KOKASHITJE.IDDEGEADMINISTRATIVE = dbo.T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE
		LEFT OUTER JOIN T_PIKESHITJEFURNIZIMI ON T_KOKASHITJE.IDPIKESHITJEFURNIZIMI=dbo.T_PIKESHITJEFURNIZIMI.IDPIKESHITJEFURNIZIMI
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR1 ON dbo.T_KOKASHITJE.IDGRUP1=GR1.IDGRUPIMKOKA
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR2 ON dbo.T_KOKASHITJE.IDGRUP2=GR2.IDGRUPIMKOKA
		LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR3 ON dbo.T_KOKASHITJE.IDGRUP3=GR3.IDGRUPIMKOKA		
		LEFT OUTER JOIN T_TRANSPORTUES ON dbo.T_KOKASHITJE.IDTRANSPORTUES=dbo.T_TRANSPORTUES.IDTRANSPORTUES
		LEFT OUTER JOIN T_NJESIARTIKULLI ON dbo.T_TRUPISHITJE.IDNJESIA = dbo.T_NJESIARTIKULLI.IDNJESIA
		LEFT OUTER JOIN T_TAKSAT ON dbo.T_TRUPISHITJE.TVSH = dbo.T_TAKSAT.IDTAKSA
		LEFT OUTER JOIN T_NJESIADMINISTRATIVE ON dbo.T_TRUPISHITJE.IDMAGAZINA=dbo.T_NJESIADMINISTRATIVE.IDNJESIADM
		LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM1 ON dbo.T_TRUPISHITJE.IDDETAJIMART=DETAJIM1.IDDETAJIMARTIKULLI
		LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM2 ON dbo.T_TRUPISHITJE.IDDETAJIMART2=DETAJIM2.IDDETAJIMARTIKULLI
		LEFT OUTER JOIN T_LLOGARI AS LLOGARISHPENZ ON dbo.T_TRUPISHITJE.IDLLOGSHPENZIMI= LLOGARISHPENZ.IDLLOGARI
		LEFT OUTER JOIN T_PERDORUESI ON T_KOKASHITJE.IDKRIJUESI=T_PERDORUESI.IDPERDORUES
		LEFT OUTER JOIN T_KUSHTEDERGIMI ON T_KOKASHITJE.IDKUSHTDERGIM=T_KUSHTEDERGIMI.IDKUSHTDERGIMI
		LEFT OUTER JOIN T_KUSHTPAGESEKOKA ON T_KOKASHITJE.IDKUSHTPAGESE=T_KUSHTPAGESEKOKA.IDKOKA
		LEFT OUTER JOIN T_BANKA ON T_KOKASHITJE.IDARKA = T_BANKA.IDBANKA
		LEFT OUTER JOIN T_NDERMARJE ON T_KOKASHITJE.IDNDERM=T_NDERMARJE.IDNDERMARJE
		LEFT OUTER JOIN T_KATEGORISHPENZIMI ON T_TRUPISHITJE.IDKATEGORISHPENZIMI=T_KATEGORISHPENZIMI.ID
		LEFT OUTER JOIN T_KARTA ON T_KOKASHITJE.IDKARTA=T_KARTA.IDKARTA
		LEFT OUTER JOIN T_KUSHTEMPLATE ON T_KUSHTEMPLATE.idkONFIGAMBJENTE = [T_KOKASHITJE].IDKONFIGAMBJENTE
		LEFT OUTER JOIN T_KUSHTE ON T_KUSHTE.IDKUSHT = T_KUSHTEMPLATE.IDKUSHT
		LEFT OUTER JOIN T_ALTERNATIVAKUSHTI ON T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI =T_KUSHTEMPLATE.VLERA AND T_ALTERNATIVAKUSHTI.IDKUSHTI = T_KUSHTE.IDKUSHT 
		LEFT OUTER JOIN #SHITJE shitje on shitje.idrreshtishitje = T_TRUPISHITJE.IDSHITJETRUPI
		OUTER APPLY (SELECT * FROM eshteIAutorizuar(T_KOKASHITJE.IDKONFIGAMBJENTE,''KonfigurimDok'', ' + @IDPERDORUES + ' )) AS AUTORIZIMI
	  OUTER APPLY (SELECT TOP(1) * FROM T_KODBARI
				WHERE IDARTIKULLI = T_ARTIKULLI.IDARTIKULLI AND NJESIA = (CASE WHEN T_TRUPISHITJE.IDNJESIA = T_ARTIKULLI.NJESI1ARTIKULLI THEN 1 ELSE 2 END)
				ORDER BY IDKODBARI ASC
				) AS T_KODBARIPAREARTIKULLIT
WHERE	n.IDKATDOK = ' + @IDKATDOK + ' 
		and T_KOKASHITJE.IDSTATUSDOK<>2 
		AND T_KUSHTE.KODI = ''MMDT''  
		AND dbo.T_KOKASHITJE.IDNDERM=' + @IDNDERMARJE + ' 
		AND dbo.T_KOKASHITJE.IDNDERMVIT= ' + @IDNDERVITI + ' 
		AND shitje.IDRRESHTISHITJE IS NULL
		and AUTORIZIMI.AUTORIZUAR=1  '
if(@HIQRRESHTAKOMISIONI <> 0)
	SET @SQL1 =@SQL1 + '
		and T_TRUPISHITJE.LLOGARITKOMISION = 0'


IF (@MERRDOKTEMODIFIKUAR=0 AND @MERRDOKTEFSHIRE=0)
BEGIN 
	SET @SQL7=''
	SET @SQL8=''
	SET @SQL9=''
END
ELSE
	BEGIN
		SET @SQL7='
		UNION ALL

		SELECT	*
		FROM	(
					SELECT	K2.IDSHITJEKOKA AS [Id Shitje Koka], 
							K2.DTMBARIMI as [Date Mbarimi],
							K2.DTFILLIMI AS [Date Fillimi],N.KODI AS Nenkategoria,
							dbo.T_KONFIGAMBJENTE.KODKONFIGAMBJENTE AS [Lloj Dokumenti],
							KF.KODKLIENTFURNITOR AS [Klient/Furnitori],
							K2.NRPROJEKT AS [Numer Projekti],
							K2.NRDOK AS [Nr Dokumenti],
							K2.NRSERIAL AS [Numer Serial], 
							K2.DTDOK AS [Date Dokumenti],
							k2.DTMODIFIKIMI [Date Modifikimi],
							K2.DTMATURIMI AS [Date Maturimi],
							dbo.T_MONEDHA.MONEDHAKOD AS Monedha,
							K2.KURSI AS Kursi, AGJ1.KODIAGJENTSHITJE AS [Agjent Shitje 1], 
							CASE WHEN  T_KOKASHITJE.IDMENYREPAGESE = -1 THEN ''''
							WHEN T_KOKASHITJE.IDMENYREPAGESE= 0 THEN ''Me mirebesim''
							WHEN T_KOKASHITJE.IDMENYREPAGESE= 4 THEN ''Pagese''
							WHEN T_KOKASHITJE.IDMENYREPAGESE= 5 THEN ''Pagese Automatike''
							WHEN T_KOKASHITJE.IDMENYREPAGESE= 7 THEN ''Me parapagim''
							when T_KOKASHITJE.IDMENYREPAGESE = 8 THEN ''Arke''
							when T_KOKASHITJE.IDMENYREPAGESE = 9 THEN ''Karte krediti'' END AS [Menyre Pagese], 
							CASE WHEN K2.ZBRITJENEVLERE= 0 THEN K2.PERQINDJEZBRITJE
							WHEN K2.ZBRITJENEVLERE= 1 THEN	K2.ZBRITJE END AS [Total Zbritje],
							DTREGJISTRIMI AS [Date Regjistrimi],
							K2.ADRESAFATURIMIT as [Adresa e Faturimit],
							K2.ADRESADERGIMIT as [Adresa e Dergimit],
							K2.PERSHKRIMI AS Pershkrimi,
							case when K2.DOGANA = 1 then ''po'' else ''jo''end AS Dogana,
							dbo.T_DEGEADMINISTRATIVE.KODI AS [Dege Administrative],
							dbo.T_PIKESHITJEFURNIZIMI.KODI AS [Pike Shitje/Furnizimi],
							AFATIKOHOR AS [Afati Kohor],
							K2.PERQINDJEAGJENTI AS [Perqindje Agjenti 1]
							, GR1.KODI AS [Grupim Dokumenti 1],
							GR2.KODI AS [Grupim Dokumenti 2],
							GR3.KODI AS [Grupim Dokumenti 3],
							EMERKLIENTI AS [Emer Klienti],
							K2.KONTAKTI AS Kontakti, K2.KASE AS Kase,
							case when K2.KUPON = 1 then ''po'' else ''jo''end   AS Kupon,
							autom.NRSHASIE as Automjeti,
							KILOMETRAAUTO as Kilometra,
							agj2.KODIAGJENTSHITJE AS [Agjent Shitje 2],
							K2.PERQINDJEAGJENTI2 as [Perqindje Agjenti 2],
							agj3.KODIAGJENTSHITJE AS [Agjent Shitje 3], 
							K2.PERQINDJEAGJENTI3 AS [Perqindje Agjenti 3], 
							K2.MARRESI AS Marresi, 
							dbo.T_TRANSPORTUES.EMERTIMI AS Transportues, 
							SHPENZJOTEZBRITSHME AS [Shpenzime Jo Te Zbritshme], 
							T_PERDORUESI.PERDORUESUSERNAME AS Krijuesi, 
							K2.IDNIVELGJENERUES as [Id Nivel Gjenerues], 
							IDDOKNGA as  [Id Dok Nga],
							K2.DTTRANSPORTIMI AS [Dt Transporti], 
							K2.CASH AS Cash, 
							T_KUSHTEDERGIMI.KODIKUSHTDERGIMI AS [Kusht Dergimi], 
							T_KUSHTPAGESEKOKA.KODIKUSHTPAGESE AS [Kusht Pagese], 
							K2.IDKONFIGGJENERUES AS [Id Konfig Gjenerues], 
							K2.IDGJENERUES AS [Id Gjenerues], 
							K2.TOTALI AS Totali, K2.TVSH as [Tvsh Koka],
							K2.IDSTATUSDOK AS [Id Status Dok], K2.TOTALIMETVSHMEZBRITJE AS [Totali Me Tvsh Me Zbritje], K2.DTKRIJIMI AS [Dt Krijimi], T_BANKA.KODIBANKA AS [Arka],
							K2.FATUREPERMBLEDHESE as [Fature Permbledhese], T_NDERMARJE.NDERMARJEKODI AS [Kod Ndermarrje], K2.DTFATURE AS [Dt Fature], autom.TARGA as Targa,
							kf1.KODKLIENTFURNITOR AS [Klient/Furnitori vartes], [K2].Targa as [Targa e shoferit], K2.Shoferi as Shoferi,	T_KARTA.KODI as Karta, T_KATEGORISHPENZIMI.KODI as [Kategori Shpenzimi],
							dbo.T_TRUPISHITJEHISTORIK.IDSHITJETRUPI AS IdRreshtiShitje, 
							CASE WHEN T_TRUPISHITJEHISTORIK.IDLLOJVEPRIMI = 1 THEN ''Artikull''
							WHEN T_TRUPISHITJEHISTORIK.IDLLOJVEPRIMI = 2 THEN ''Makro''
							WHEN T_TRUPISHITJEHISTORIK.IDLLOJVEPRIMI = 3 THEN ''Llogari'' END AS Lloji, dbo.T_TRUPISHITJEHISTORIK.KODI AS Kodi, T_TRUPISHITJEHISTORIK.PERSHKRIMI AS [Pershkrim Trupi], T_NJESIARTIKULLI.KODNJESIA AS Njesia, T_TRUPISHITJEHISTORIK.SASIA AS Sasia, 
							T_TRUPISHITJEHISTORIK.CMIMI AS Cmimi, 
							T_TRUPISHITJEHISTORIK.ZBRITJE AS [Zbritje Analitike],
							T_TRUPISHITJEHISTORIK.ZBRITJEVlere AS [Zbritje vlere], 
							case when T_TRUPISHITJEHISTORIK.LLOJZBRITJE = 0 then ''Perqindje'' else ''Vlere'' end AS [Lloj zbritje],
							T_TRUPISHITJEHISTORIK.cmimi*(1+ CASE WHEN T_TRUPISHITJEHISTORIK.TVSH=0 THEN 0 ELSE T_TAKSAT.normaperqindje END /100)AS [Cmimi me Tvsh],
							VLEFTAPATVSH AS [Vlefta pa TVSH], CASE WHEN T_TRUPISHITJEHISTORIK.TVSH=0 OR T_TRUPISHITJEHISTORIK.TVSH IS NULL THEN ''Pa TVSH'' ELSE T_TAKSAT.KODI END AS TVSH, VLEFTAMETVSH AS [Vlefta me TVSH], dbo.T_NJESIADMINISTRATIVE.KODI AS Magazina, 
							T_TRUPISHITJEHISTORIK.GJERESI AS Gjeresi, 
							T_TRUPISHITJEHISTORIK.GJATESI AS Gjatesi, 
							SASIPERMASE AS [Sasi Permase], 
							DETAJIM1.KODDETAJIMARTIKULLI AS [Detajimi 1], 
							DETAJIM2.KODDETAJIMARTIKULLI AS [Detajimi 2], 
							T_TRUPISHITJEHISTORIK.SHENIME AS Shenime,
							LLOGARISHPENZ.NRLLOGARI AS [Llogari Shpenzimi], 
							dbo.T_TRUPISHITJEHISTORIK.DTFILLIMI AS [Date Fillimi Trupi], 
							dbo.T_TRUPISHITJEHISTORIK.DTMBARIMI AS [Date Mbarimi Trupi], 
							T_TRUPISHITJEHISTORIK.IDTRUPIKONVERTIMI as [Id Trupi Konvertimi],
							T_TRUPISHITJEHISTORIK.SASIREZ AS [Sasi Rezervimi], 
							'''' as Seriali, 
							CASE WHEN idkonf_merrSP.idkonfig IS NULL THEN T_KODBARI.PERSHKRIMI ELSE  
								 ISNULL(T_KODBARI.PERSHKRIMI, T_KODBARIPAREARTIKULLIT.PERSHKRIMI) END as Kodbari,
							kf.EMERTIMIKF as [Emertimi],
							GR1.PERSHKRIMI AS [Pershkrim Gr. Dok. 1],
							GR2.PERSHKRIMI AS [Pershkrim Gr. Dok. 2],
							GR3.PERSHKRIMI AS [Pershkrim Gr. Dok. 3],
							K2.KOORDINATA.STAsText() AS Koordinata,
							K2.NIPTK AS NiptK, 
							K2.qytetik as QytetiK, 
							K2.SHENIME2 AS [Shenime 2], 
							K2.KARTAPAPAGESE AS [Karta pa pagese], 
							CASE WHEN K2.IDDOKTRANSFERIMNGA IS NULL OR K2.IDDOKTRANSFERIMNGA = 0 THEN K2.IDSHITJEKOKA ELSE K2.IDDOKTRANSFERIMNGA END AS [ID Dok Transferim Nga], 
							CASE WHEN T_TRUPISHITJEHISTORIK.IDTRUPITRANSFERIMNGA IS NULL OR T_TRUPISHITJEHISTORIK.IDTRUPITRANSFERIMNGA = 0 THEN T_TRUPISHITJEHISTORIK.IDSHITJETRUPI ELSE T_TRUPISHITJEHISTORIK.IDTRUPITRANSFERIMNGA END AS		[ID Trupi Transferim Nga], 
							'''' AS [Seriali Unik Kryesor], 
							'''' AS [Seriali Unik Dytesor],
							'''' [Artikulli Set],
							CASE WHEN  K2.ZBRITJENEVLERE = -1 THEN ''''
							WHEN K2.ZBRITJENEVLERE= 0 THEN ''Perqindje''
							WHEN K2.ZBRITJENEVLERE= 1 THEN ''Vlere'' END AS [Lloj Zbritje Totale],
							T_TRUPISHITJEHISTORIK.SHENIME2 AS [Shenime 2 Trupi] 
							, 	CASE WHEN  k2.IDLLOJMARREVESHJE in (0,-1) THEN ''''
							WHEN k2.IDLLOJMARREVESHJE= 1 THEN ''Retention''
							WHEN k2.IDLLOJMARREVESHJE= 2 THEN ''Acquisition''
							WHEN k2.IDLLOJMARREVESHJE= 3 THEN ''EBU Benefit''
							WHEN k2.IDLLOJMARREVESHJE= 4 THEN ''Agreement Tenure Reward'' END
							as [Lloji i marreveshjes], 
							k2.IDMARREVESHJE as [ID e marreveshjes], 
							k2.KERKUARNGA AS KerkuarNga , 
							k2.DATEKERKESE AS DateKerkese,
							kf.KodIntegrimi as [Kod Klienti Integrimi],
							K2.IIC,
		                    K2.NIVF,
		Operatori = (SELECT KODI FROM T_OPERATORE where IDOPERATOR = K2.IDOPERATOR),
		K2.EINVOICE,
		K2.EIC,
		K2.EinStatus,
		Procesi = (SELECT KODI FROM T_PROCESI where ID = K2.Procesi),
		[E-invoice Type] = (SELECT KODI FROM T_TIPIEINVOICE where ID =K2.eInvoiceType),
		K2.NIVFKTHIM as [NIVF kthim], 
		K2.TIPIIVETEFATURIMIT as [Tipi i vetefaturimit]
'

		SET @SQL8=case when @MERRDOKTEFSHIRE=1 and @MERRDOKTEMODIFIKUAR=1 then 'FROM T_KOKASHITJEHISTORIK as k2'
						else case when @MERRDOKTEFSHIRE=1 then 
						' FROM (	SELECT	a.* 
									FROM T_KOKASHITJEHISTORIK a 
									WHERE   a.IDSTATUSDOK = 2 and a.idnderm=' + @IDNDERMARJE + ' 
										and not exists (select 1 from t_kokashitje where t_kokashitje.iddoknga = a.idshitjekoka) 
										and not exists (select 1 from t_kokashitjehistorik where t_kokashitjehistorik.iddoknga = a.idshitjekoka AND t_kokashitjehistorik.LIDHUR = 0)) as k2'
						else 
						'FROM	(	--rasti kur eshte modifikuar nje modifikim
									SELECT	k.*
									FROM	T_KOKASHITJEHISTORIK k
									WHERE   idnderm=' + @IDNDERMARJE + '  AND (IDSTATUSDOK = 2) AND (IDDOKNGA IS NOT NULL) AND k.LIDHUR = 0
			
									union all 
									--rasti nese eshte modifikuar nje dok shume here dhe ketu merret versioni i pare fare
									select c.* from T_KOKASHITJEHISTORIK c
												inner join T_KOKASHITJEHISTORIK d on c.IDSHITJEKOKA=d.IDDOKNGA
												where c.IDDOKNGA is null and c.IDNDERM=' + @IDNDERMARJE + ' and c.IDSTATUSDOK=2 AND c.LIDHUR = 0 AND d.LIDHUR = 0
									union all
									-- rasti kur eshte modifikuar vetem nje here dok
									select e.* from T_KOKASHITJEHISTORIK e
												inner join T_kokashitje f on e.IDSHITJEKOKA=f.IDDOKNGA
												where e.IDDOKNGA is null and e.IDNDERM=' + @IDNDERMARJE + ' and e.IDSTATUSDOK=2  AND e.LIDHUR = 0
										) as k2	'	
						 end 
				end

		SET @SQL9=' 
				INNER JOIN T_TRUPISHITJEHISTORIK ON K2.IDSHITJEKOKA = dbo.T_TRUPISHITJEHISTORIK.IDSHITJEKOKA AND T_TRUPISHITJEHISTORIK.LIDHUR = 0
				LEFT JOIN #KONFIGNKAKNKA idkonf_merrSP 
						ON K2.IDKONFIGAMBJENTE =idkonf_merrSP.idkonfig
				LEFT OUTER JOIN T_KODBARI ON T_TRUPISHITJEHISTORIK.IDBARKODI = T_KODBARI.IDKODBARI
				LEFT OUTER JOIN T_ARTIKULLI ON T_TRUPISHITJEHISTORIK.IDKODI = T_ARTIKULLI.IDARTIKULLI
				INNER JOIN T_NIVELREGJISTRIMI as n on K2.IDNIVEL = n.IDNIVEL 	
				LEFT OUTER JOIN dbo.T_KLIENTFURNITOR kf ON  K2.IDKLIENTFURNITOR = kf.IDKLIENTFURNITOR
				LEFT JOIN	(
									SELECT	DISTINCT	
											T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
											,STUFF((SELECT	DISTINCT '', '' + KODKLIENTFURNITOR
													FROM	T_KOKASHITJE_KLIENTVARTES KV
															INNER JOIN	T_KLIENTFURNITOR
																ON	T_KLIENTFURNITOR.IDKLIENTFURNITOR = KV.IDKLIENTFURNITOR
													WHERE	KV.IDSHITJEKOKA = T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
													FOR XML PATH(''''), TYPE).value(''.'', ''NVARCHAR(MAX)''), 1, 1, '''') KODKLIENTFURNITOR
									FROM	T_KOKASHITJE_KLIENTVARTES
							)	kf1
					on kf1.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
				INNER JOIN T_KONFIGAMBJENTE ON K2.IDKONFIGAMBJENTE = dbo.T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
				LEFT OUTER JOIN T_AUTOMJETE as autom ON autom.IDAUTOMJETI = K2.IDAUTOMJETI
				INNER JOIN T_LLOGARI ON KF.IDLLOGARI=dbo.T_LLOGARI.IDLLOGARI
				INNER JOIN T_MONEDHA ON T_LLOGARI.MONEDHA=dbo.T_MONEDHA.IDMONEDHA
				LEFT OUTER JOIN T_AGJENTSHITJE AGJ1 ON AGJ1.IDAGJENTSHITJE=K2.IDAGJENT
				LEFT OUTER JOIN T_AGJENTSHITJE AGJ2 ON AGJ2.IDAGJENTSHITJE=K2.IDAGJENTI2
				LEFT OUTER JOIN T_AGJENTSHITJE AGJ3 ON AGJ3.IDAGJENTSHITJE=K2.IDAGJENTI3
				LEFT OUTER JOIN T_DEGEADMINISTRATIVE ON K2.IDDEGEADMINISTRATIVE = dbo.T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE
				LEFT OUTER JOIN T_PIKESHITJEFURNIZIMI ON K2.IDPIKESHITJEFURNIZIMI=dbo.T_PIKESHITJEFURNIZIMI.IDPIKESHITJEFURNIZIMI
				LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR1 ON K2.IDGRUP1=GR1.IDGRUPIMKOKA
				LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR2 ON K2.IDGRUP2=GR2.IDGRUPIMKOKA
				LEFT OUTER JOIN T_GRUPIMDOKUMENTIKOKA GR3 ON K2.IDGRUP3=GR3.IDGRUPIMKOKA		
				LEFT OUTER JOIN T_TRANSPORTUES ON K2.IDTRANSPORTUES=dbo.T_TRANSPORTUES.IDTRANSPORTUES
				LEFT OUTER JOIN T_NJESIARTIKULLI ON dbo.T_TRUPISHITJEHISTORIK.IDNJESIA = dbo.T_NJESIARTIKULLI.IDNJESIA
				LEFT OUTER JOIN T_TAKSAT ON dbo.T_TRUPISHITJEHISTORIK.TVSH = dbo.T_TAKSAT.IDTAKSA
				LEFT OUTER JOIN T_NJESIADMINISTRATIVE ON dbo.T_TRUPISHITJEHISTORIK.IDMAGAZINA=dbo.T_NJESIADMINISTRATIVE.IDNJESIADM
				LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM1 ON dbo.T_TRUPISHITJEHISTORIK.IDDETAJIMART=DETAJIM1.IDDETAJIMARTIKULLI
				LEFT OUTER JOIN T_DETAJIMARTIKULLI DETAJIM2 ON dbo.T_TRUPISHITJEHISTORIK.IDDETAJIMART2=DETAJIM2.IDDETAJIMARTIKULLI
				LEFT OUTER JOIN T_LLOGARI AS LLOGARISHPENZ ON dbo.T_TRUPISHITJEHISTORIK.IDLLOGSHPENZIMI= LLOGARISHPENZ.IDLLOGARI
				LEFT OUTER JOIN T_PERDORUESI ON K2.IDKRIJUESI=T_PERDORUESI.IDPERDORUES
				LEFT OUTER JOIN T_KUSHTEDERGIMI ON K2.IDKUSHTDERGIM=T_KUSHTEDERGIMI.IDKUSHTDERGIMI
				LEFT OUTER JOIN T_KUSHTPAGESEKOKA ON K2.IDKUSHTPAGESE=T_KUSHTPAGESEKOKA.IDKOKA
				LEFT OUTER JOIN T_BANKA ON K2.IDARKA = T_BANKA.IDBANKA
				LEFT OUTER JOIN T_NDERMARJE ON K2.IDNDERM=T_NDERMARJE.IDNDERMARJE
				LEFT OUTER JOIN T_KATEGORISHPENZIMI ON T_TRUPISHITJEHISTORIK.IDKATEGORISHPENZIMI=T_KATEGORISHPENZIMI.ID
				LEFT OUTER JOIN T_KARTA ON K2.IDKARTA=T_KARTA.IDKARTA
				LEFT OUTER JOIN T_KUSHTEMPLATE ON T_KUSHTEMPLATE.idkONFIGAMBJENTE = [K2].IDKONFIGAMBJENTE
				LEFT OUTER JOIN T_KUSHTE ON T_KUSHTE.IDKUSHT = T_KUSHTEMPLATE.IDKUSHT
				LEFT OUTER JOIN T_ALTERNATIVAKUSHTI ON T_ALTERNATIVAKUSHTI.IDALTERNATIVEKUSHTI =T_KUSHTEMPLATE.VLERA AND T_ALTERNATIVAKUSHTI.IDKUSHTI = T_KUSHTE.IDKUSHT 
				LEFT OUTER JOIN #SHITJE shitje on shitje.idrreshtishitje = T_TRUPISHITJEHISTORIK.IDSHITJETRUPI
				OUTER APPLY (SELECT * FROM eshteIAutorizuar(k2.IDKONFIGAMBJENTE,''KonfigurimDok'', ' + @IDPERDORUES + ' )) AS AUTORIZIMI
			    OUTER APPLY (SELECT TOP(1) * FROM T_KODBARI
				WHERE IDARTIKULLI = T_ARTIKULLI.IDARTIKULLI AND NJESIA = (CASE WHEN T_TRUPISHITJEHISTORIK.IDNJESIA = T_ARTIKULLI.NJESI1ARTIKULLI THEN 1 ELSE 2 END)
				ORDER BY IDKODBARI ASC
				) AS T_KODBARIPAREARTIKULLIT
		WHERE	n.IDKATDOK = ' + @IDKATDOK + '
				AND T_KUSHTE.KODI = ''MMDT''  
				AND K2.IDNDERM=' + @IDNDERMARJE + ' 
				AND K2.IDNDERMVIT= ' + @IDNDERVITI + ' 
				AND shitje.IDRRESHTISHITJE IS NULL
				--AND sk.KATEGORI <> ''APARATE'' 
				and AUTORIZIMI.AUTORIZUAR=1 
				AND k2.LIDHUR = 0
		' 
IF(@HIQRRESHTAKOMISIONI <> 0)
	SET @SQL9 =@SQL9 + '
	and T_TRUPISHITJEHISTORIK.LLOGARITKOMISION = 0'
	
END


IF(@IDPEREKSPORT <> '')
	SET @SQL2 = ' AND T_KOKASHITJE.IDSHITJEKOKA IN ( ' + @IDPEREKSPORT + ') '

IF (@EMERTABKOKA = 'T_TEMP_MAG_FSH_KOKA')
	begin
		SET @SQL6 = '  

		
			insert into eksport_fshmag_temp 
			select *, ''' + @EMERTABKOKA + ''',GETDATE() from #SHITJE where [Lloj Dokumenti]=''FSHmag'' and  [Id Status Dok] = 1 -- per debug rastin kur vjen aparati pa imei nga magazina


			select	* 
			from	#SHITJE shitje2
			where	not EXISTS	(
										select	shitje.[Id Shitje Koka]
										from	#SHITJE shitje
												join T_ARTIKULLI art on art.KODARTIKULLI = shitje.Kodi and art.IDNDERMARJE= ' + @IDNDERMARJE + ' 
												join T_SERIALEUNIKE_FORMATE formate on formate.IDFORMATSERIALESH = art.IDKATEGORISERIALI
												join T_SERIALEUNIKE_KATEGORI kategoriSeriali on kategoriSeriali.ID = formate.IDKATEGORISERIALESH
										where	kategoriSeriali.KATEGORI = ''APARATE'' and shitje.[Seriali Unik Kryesor] = '''' and shitje.[Id Shitje Koka]=shitje2.[Id Shitje Koka]
													and [Lloj Dokumenti] like ''%FSHmag%'' and shitje.[Id Status Dok]=1 
								)

			
			'

	END
ELSE 
	BEGIN
		SET @SQL6 = '  
			SELECT * 
			FROM #SHITJE
			ORDER BY [Date Dokumenti] DESC, [Id Shitje Koka] DESC '
	END
IF(@LLOJI = 1)
	SET @SQL3 = ')A  WHERE '+ @FILTERSTRING + ''
ELSE
	BEGIN
		IF (EXISTS (SELECT * 
					 FROM INFORMATION_SCHEMA.TABLES 
					 WHERE  TABLE_NAME = @EMERTABKOKA))
					 BEGIN
						 SET @SQL3 = '
							AND T_KOKASHITJE.IDSHITJEKOKA NOT IN (SELECT [' + @EMERFUSHEID + '] FROM ' + @EMERTABKOKA + ') 
							AND ((T_KOKASHITJE.IDDOKNGA IS NULL OR T_KOKASHITJE.IDDOKNGA NOT IN (SELECT [' + @EMERFUSHEID + '] FROM ' + @EMERTABKOKA + ')) OR T_ALTERNATIVAKUSHTI.ALTERNATIVA <> ''DEFAULT'')
							)A  WHERE '+ @FILTERSTRING + '
							'
					 END
		ELSE
			 SET @SQL3 = ''
	END

	PRINT(@SQL4)
	PRINT(@SQL5)
	PRINT(@SQL2)
	PRINT(@SQL3)
    PRINT(@SQL)
	PRINT(@SQL1)
	PRINT(@SQL2)
	PRINT(@SQL3)
	PRINT(@SQL7)
	PRINT(@SQL8)
	PRINT(@SQL9)
	PRINT(@SQL6)
	
	EXEC (@SQL4+@SQL5+@SQL2+@SQL3+@SQL+@SQL1+@SQL2+@SQL3+@SQL7+@SQL8+@SQL9+@SQL6) 
	
	SET @Err = @@Error

	RETURN @Err
END