IF OBJECT_ID('prc_Integrim_lexoFurnitorePasDatesSeFundit') IS NOT NULL
	DROP PROCEDURE prc_Integrim_lexoFurnitorePasDatesSeFundit
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_Integrim_lexoFurnitorePasDatesSeFundit] (
	@NRSEL AS VARCHAR(MAX),
	@NRCHUNK AS VARCHAR(MAX),
	@DTFUNDITLEXUAR VARCHAR(MAX),
	@NDERMARRJEKOD T_KOD_VAR,
	@PERDORUES T_KOD_VAR
)
AS
BEGIN
  --GJENERUAR NGA IMB SERVER API v2.1.0 GJATE UPGRADE
DECLARE @SHPREHJE AS VARCHAR(8000)
DECLARE @SHPREHJE2 AS VARCHAR(8000)
	DECLARE @SHPREHJE3 AS VARCHAR(8000)
	DECLARE @SHPREHJE4 AS VARCHAR(8000)

SET @SHPREHJE = 'SELECT IDKLIENTFURNITOR ID, KODKLIENTFURNITOR, EMERKERKRIMIKF, EMERTIMIKF, NIPTKF, MONEDHAKOD, PERSHKRIMNIVELCMIMI, ZBRITJEANALITIKE, TELKF, EMAILKF,SHTETIKF,AUTONGARKESE, TIPIID, FAXKF, ADRESA, QYTETIKODI, KODKATEGORIZBRITJE,
AKTIVKF, PERSHKRIMGRUPI1, PERSHKRIMGRUPI2, PERSHKRIMGRUPI3, KODNIVELZBRITJE, DTMODIFIKIM, IDSTATUSDOK 
FROM (SELECT IDKLIENTFURNITOR, KODKLIENTFURNITOR, EMERKERKRIMIKF, EMERTIMIKF, NIPTKF, MONEDHAKOD, PERSHKRIMNIVELCMIMI, ZBRITJEANALITIKE, TELKF, EMAILKF,SHTETIKF,AUTONGARKESE, TIPIID, FAXKF, ADRESA, QYTETIKODI, KODKATEGORIZBRITJE,
AKTIVKF, PERSHKRIMGRUPI1, PERSHKRIMGRUPI2, PERSHKRIMGRUPI3, KODNIVELZBRITJE, DTMODIFIKIM, IDSTATUSDOK, ROW_NUMBER() OVER (ORDER BY DTMODIFIKIM, IDKLIENTFURNITOR) AS NR_RRESHTI
 FROM (
 SELECT T_KLIENTFURNITOR.IDKLIENTFURNITOR, KODKLIENTFURNITOR, EMERKERKRIMIKF, EMERTIMIKF, NIPTKF, T_MONEDHA.MONEDHAKOD, T_NIVELCMIMI.KODNIVELCMIMI AS PERSHKRIMNIVELCMIMI, ZBRITJEANALITIKE, TELKF, EMAILKF,SHTETIKF,AUTONGARKESE, TIPIID, FAXKF, ADRESA, QYTETIKODI, KODKATEGORIZBRITJE, T_KLIENTFURNITOR.AKTIVKF, LEFT(GRUPEKF1.PERSHKRIMGRUPI,50) AS PERSHKRIMGRUPI1, LEFT(GRUPEKF2.PERSHKRIMGRUPI,50) AS PERSHKRIMGRUPI2, LEFT(GRUPEKF3.PERSHKRIMGRUPI,50) AS PERSHKRIMGRUPI3, T_NIVELZBRITJE.KODNIVELZBRITJE,
CASE WHEN T_KLIENTFURNITOR.DTMODIFIKIMI IS NULL THEN T_KLIENTFURNITOR.DTKRIJIMI ELSE T_KLIENTFURNITOR.DTMODIFIKIMI END AS DTMODIFIKIM, T_KLIENTFURNITOR.IDSTATUSDOK
FROM T_KLIENTFURNITOR
  INNER JOIN T_NDERMARJE ON T_NDERMARJE.IDNDERMARJE =  T_KLIENTFURNITOR.IDNDERMARJE
  LEFT OUTER JOIN T_LLOGARI ON T_LLOGARI.IDLLOGARI = T_KLIENTFURNITOR.IDLLOGARI
  LEFT OUTER JOIN T_MONEDHA ON T_MONEDHA.IDMONEDHA = T_LLOGARI.MONEDHA
  LEFT OUTER JOIN T_NIVELCMIMI ON T_NIVELCMIMI.IDNIVELCMIMI = T_KLIENTFURNITOR.IDNIVELCMIMI
  LEFT OUTER JOIN T_ADRESAKLIENTFURNITOR ON T_ADRESAKLIENTFURNITOR.IDKLIENTFURNITOR = T_KLIENTFURNITOR.IDKLIENTFURNITOR
  LEFT OUTER JOIN T_QYTETI ON T_QYTETI.IDQYTETI = T_KLIENTFURNITOR.QYTETIKF '
SET @SHPREHJE2 = '  
  LEFT OUTER JOIN T_KOKAKATEGORIZBRITJE ON T_KOKAKATEGORIZBRITJE.IDKOKAKATEGORIZBRITJE = T_KLIENTFURNITOR.IDKATZBRITJE
  LEFT OUTER JOIN T_GRUPEKF AS GRUPEKF1 ON GRUPEKF1.IDGRUPI = T_KLIENTFURNITOR.GRUPIM1KF
  LEFT OUTER JOIN T_GRUPEKF AS GRUPEKF2 ON GRUPEKF2.IDGRUPI = T_KLIENTFURNITOR.GRUPIM2KF
  LEFT OUTER JOIN T_GRUPEKF AS GRUPEKF3 ON GRUPEKF3.IDGRUPI = T_KLIENTFURNITOR.GRUPIM3KF
  LEFT OUTER JOIN T_NIVELZBRITJE ON T_KLIENTFURNITOR.ZBRITJEANALITIKE = T_NIVELZBRITJE.IDNIVELZBRITJE
  WHERE ISNULL(CASE WHEN T_KLIENTFURNITOR.DTMODIFIKIMI IS NULL THEN T_KLIENTFURNITOR.DTKRIJIMI ELSE T_KLIENTFURNITOR.DTMODIFIKIMI END, ''01/01/1920'') > ''' +  @DTFUNDITLEXUAR  + ''' 
  AND NDERMARJEKODI = ''' + @NDERMARRJEKOD + ''' AND T_NDERMARJE.IDSTATUSDOK = 1 AND T_KLIENTFURNITOR.LLOJIKF = 0) AS TRUPI ) AS CHUNK '
SET @SHPREHJE3 = ' WHERE  NR_RRESHTI BETWEEN (' + @NRSEL + ' * ' + @NRCHUNK + ' - ' + @NRSEL + ' + 1) AND (' + @NRSEL + ' * ' + @NRCHUNK + ') '	
SET @SHPREHJE4 = ' ORDER BY DTMODIFIKIM ' 

IF (@NRSEL > 0 AND  @NRCHUNK > 0)
BEGIN
  EXEC (@SHPREHJE + @SHPREHJE2 + @SHPREHJE3 + @SHPREHJE4)
  PRINT (@SHPREHJE + @SHPREHJE2 + @SHPREHJE3 + @SHPREHJE4)
END
ELSE
BEGIN 
  EXEC (@SHPREHJE + @SHPREHJE2 + @SHPREHJE4)
  PRINT (@SHPREHJE + @SHPREHJE2 +  @SHPREHJE4)
END 
END