IF OBJECT_ID('prc_T_KOKASHITJE_merrKokaShitjeDT') IS NOT NULL
	DROP PROCEDURE prc_T_KOKASHITJE_merrKokaShitjeDT
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_T_KOKASHITJE_merrKokaShitjeDT]
(
	@IDNDERMVIT				T_FOR_KEY,
	@IDKATDOK				T_FOR_KEY,
	@idperdorues			T_FOR_KEY,
	@idndermarje			T_FOR_KEY, 
	@merrstatusprodhim		T_BOOLEAN,
	@merrTegjitha			T_BOOLEAN,
	@merrprodhuar			T_BOOLEAN,
	@merrKonvertuarPlote	T_BOOLEAN,
	@merrDokKonvertuar		T_BOOLEAN,
	@DATANGA				VARCHAR(15),
	@DATADERI				VARCHAR(15),
	@devicediscount			int,
	@kodKonfigambjente		VARCHAR(50) = 'LDSH'	
)

WITH RECOMPILE AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	BEGIN TRAN
		DECLARE @EXECTIME		datetime = GETDATE(); 
		DECLARE @FILTER			VARCHAR(MAX) = ''
		DECLARE @IDKOMPONENTE	VARCHAR(10) = CASE WHEN @IDKATDOK = 1 THEN '505' ELSE '507' END
		declare @datadefault	VARCHAR(50) =  case when getdate()>CONVERT(DATE, @DATANGA, 103) and getdate()<CONVERT(DATE, @DATADERI, 103) then getdate() else CONVERT(DATE, @DATANGA, 103) end
				
		DECLARE @GRIDAKOKAID	numeric(18,0) = (
			SELECT	TOP 1 kok.GRIDKOKAID 
			FROM	T_KONFIGAMBJENTE konf INNER JOIN	T_GRIDAKOKA kok ON kok.IDKONFIGURIM = konf.IDKONFIGAMBJENTE INNER JOIN	T_KOMPONENTE komp	ON komp.IDKOMPON = kok.GRIDKOMPID
			WHERE	komp.KOMPONEMRI = 'RegjistrimDokumentash.aspx?shitje_blerje=shitje' AND Kok.GRIDKOKAEMRI = 'grid_RegDok' AND konf.KODKONFIGAMBJENTE = @kodKonfigambjente  AND konf.IDSTATUSDOK=1 and konf.IDNDERMARJE= @idndermarje )

		CREATE TABLE #GRIDBSH_COLS (GRIDATRUPIKODI varchar(100), GRIDATRUPIINDEX int, GRIDATRUPIVISIBLE int)
		INSERT INTO #GRIDBSH_COLS
			SELECT	GRIDATRUPIKODI, MIN(GRIDATRUPIINDEX), MIN(CAST(GRIDATRUPIVISIBLE AS INT))
			FROM	T_GRIDATRUPI t 		
					LEFT JOIN	dbo.SPLIT_STRING(@FILTER,'"') FILTERCOLS ON FILTERCOLS.splitdata = t.GRIDATRUPIKODI
			WHERE	t.GRIDAKOKAID = @GRIDAKOKAID
					AND ( FILTERCOLS.splitdata IS NOT NULL OR T.GRIDATRUPIVISIBLE IN (0,1) OR T.GRIDATRUPIKODI IN ('IdShitjeKoka', 'DtDok') )
			GROUP BY GRIDATRUPIKODI
		PRINT 'Merr Kolonat e Grides: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')';SET @EXECTIME = GETDATE() 

		-- Pavaresisht kushteve te konfigurimeve, keto fusha nuk do te trajtohen me poshte nese fusha nuk eshte visible ne gride
		SET @merrprodhuar = CASE WHEN @merrprodhuar = 1 THEN ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'Prodhuar' AND GRIDATRUPIVISIBLE=1),0) ELSE 0 END
		SET @merrstatusprodhim = CASE WHEN @merrstatusprodhim = 1 THEN ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'Status Porosie' AND GRIDATRUPIVISIBLE=1),0) ELSE 0 END
		SET @merrDokKonvertuar = CASE WHEN @merrDokKonvertuar = 1 THEN ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'Konvertuar' AND GRIDATRUPIVISIBLE=1),0) ELSE 0 END
		SET @merrKonvertuarPlote = CASE WHEN @merrKonvertuarPlote = 1 THEN ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'Final' AND GRIDATRUPIVISIBLE=1),0) ELSE 0 END

		DECLARE @FaturaKthyer T_BOOLEAN = ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'FaturaKthyer' AND GRIDATRUPIVISIBLE=1),0) 
		DECLARE @KlientVartes T_BOOLEAN = ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'KlientVartes' AND GRIDATRUPIVISIBLE=1),0) 
		DECLARE @StatusMarreveshje T_BOOLEAN = ISNULL((SELECT 1 FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI = 'StatusMarreveshje' AND GRIDATRUPIVISIBLE=1),0) 
		DECLARE @VleraMbetur T_BOOLEAN = ISNULL((SELECT MAX(GRIDATRUPIVISIBLE) FROM #GRIDBSH_COLS WHERE GRIDATRUPIKODI IN('VleraMbetur', 'ColorVleraMbetur') AND GRIDATRUPIVISIBLE=1),0)		
		
		PRINT 'Merr Variabla Visible: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')';SET @EXECTIME = GETDATE() 

		DECLARE @strShitjet varchar(max) = '		
		CREATE TABLE #shitjet (IDSHITJEKOKA numeric(18, 0) PRIMARY KEY ,FATUREPERMBLEDHESE bit )
		INSERT INTO #shitjet
		SELECT DISTINCT SHITJET.IDSHITJEKOKA, FATUREPERMBLEDHESE 
		FROM	( 
					SELECT	t_kokashitje.IDSHITJEKOKA, IDNIVEL, IDKRIJUESI, FATUREPERMBLEDHESE
					FROM	[T_KOKASHITJE] 
							INNER JOIN	(	
								SELECT	DISTINCT IDLIDHESE  
								FROM	T_LIDHJEAUTORIZIM 
										INNER JOIN	(	
											SELECT	IDAUTORIZIMKOKA  
											FROM	T_AUTORIZIMTRUPI  
											WHERE	IDPERDORUESI = ' + convert(varchar(MAX),@idperdorues) + ' 
										)	autoK ON autoK.IDAUTORIZIMKOKA = T_LIDHJEAUTORIZIM.IDAUTORIZIMEKOKA
								WHERE	T_LIDHJEAUTORIZIM.IDSTATUSDOK = 1 AND IDLLOJI = 17  -- SELECT idllojbuxheti FROM T_LLOJBUXHETI WHERE KODLLOJBUXHETI=''KonfigurimDok''
							)	eshteAuto ON eshteAuto.IDLIDHESE = T_KOKASHITJE.IDKONFIGAMBJENTE 
						
					WHERE	IDNDERMVIT = ' + convert(varchar(MAX), @IDNDERMVIT) + ' 
							AND ([T_KOKASHITJE].DTDOK BETWEEN CONVERT(DATE, '''+@DATANGA+''', 103) AND CONVERT(DATE, '''+@DATADERI+''', 103)) 
							AND (' + CASE WHEN @merrTegjitha = 0 THEN + ' T_KOKASHITJE.IDKRIJUESI ' ELSE	convert(varchar(MAX), @idperdorues) END + ') = ' + convert(varchar(MAX), @idperdorues) + ' 
							AND T_KOKASHITJE.IDSTATUSDOK <> 2 				
				
					UNION ALL

					SELECT	t_kokashitje.IDSHITJEKOKA, IDNIVEL, IDKRIJUESI, FATUREPERMBLEDHESE
					FROM	[T_KOKASHITJE] 
							LEFT JOIN	(	
								SELECT	DISTINCT idlidhese 
								FROM	T_LIDHJEAUTORIZIM 
								WHERE	IDSTATUSDOK = 1 AND IDLLOJI = 17  -- SELECT idllojbuxheti FROM T_LLOJBUXHETI WHERE KODLLOJBUXHETI=''KonfigurimDok''
							)	nukEshteAuto ON nukEshteAuto.IDLIDHESE = T_KOKASHITJE.IDKONFIGAMBJENTE 

					WHERE	IDNDERMVIT = ' + convert(varchar(MAX), @IDNDERMVIT) + ' 
							AND ([T_KOKASHITJE].DTDOK BETWEEN CONVERT(DATE, '''+@DATANGA+''', 103) AND CONVERT(DATE, '''+@DATADERI+''', 103)) 
							AND ( ' + CASE WHEN	@merrTegjitha = 0 THEN + ' T_KOKASHITJE.IDKRIJUESI ' ELSE convert(varchar(MAX), @idperdorues) END + ') = ' + convert(varchar(MAX), @idperdorues) + ' 
							AND T_KOKASHITJE.IDSTATUSDOK <> 2 
							AND nukEshteAuto.idlidhese IS NULL
				)	SHITJET
				INNER JOIN T_ROLDREJTATRUPI AS RD	ON SHITJET.IDNIVEL = RD.IDNIVELREGJISTRIMI
				INNER JOIN T_ROLDREJTAKOKA	AS RK	ON RK.IDDREJTAKOKA = RD.IDDREJTAKOKA
				INNER JOIN T_ROLPERDORUES	AS RP	ON RP.IDROLI = RK.IDROLI
				INNER JOIN T_NDERMARJEVITI			ON T_NDERMARJEVITI.IDVITI = RK.IDVITI
				INNER JOIN T_KOMPONENTE 			ON RD.IDKOMPONENTE = T_KOMPONENTE.IDKOMPON 	

		WHERE	T_NDERMARJEVITI.IDNDERVITI = ' + convert(varchar(MAX), @IDNDERMVIT) + '
				AND RP.IDPERDORUES = ' + convert(varchar(MAX), @IDPERDORUES) + ' 
				AND RD.IDKOMPONENTE = ' + @IDKOMPONENTE + ' 
				AND CONVERT (INT, RD.D_AMB) = 1' + CASE WHEN @merrTegjitha = 1 THEN ' AND CONVERT(INT, RD.D_GJITHEDOK) = CASE WHEN	RP.IDPERDORUES = SHITJET.IDKRIJUESI THEN CONVERT(INT, RD.D_GJITHEDOK) ELSE	1 END ' ELSE '' END 

	DECLARE @strKonfig varchar(max) = '	
		CREATE TABLE #konf (kod varchar(100) PRIMARY KEY)
		if( ' + convert(varchar(MAX), @devicediscount) + ' = 0)
			INSERT INTO #konf
			SELECT	DISTINCT tk2.KODKONFIGAMBJENTE 
			FROM	T_KONFIGAMBJENTE tk2 
			WHERE	tk2.KODKONFIGAMBJENTE NOT LIKE ''USHDD%'' AND tk2.KODKONFIGAMBJENTE NOT LIKE ''POROSIDD%'' AND tk2.KODKONFIGAMBJENTE NOT LIKE ''BAZAAR%'' AND tk2.KODKONFIGAMBJENTE NOT LIKE ''POROSIBAZAAR%'' 
					AND tk2.IDSTATUSDOK <> 2 AND tk2.IDKATDOK = ' + convert(varchar(MAX), @IDKATDOK) + ' AND tk2.IDNDERMARJE = ' + convert(varchar(MAX), @idndermarje) + '
			
		ELSE if(' + convert(varchar(MAX), @devicediscount) + ' = 1)
			INSERT INTO #konf
			SELECT	DISTINCT tk2.KODKONFIGAMBJENTE 
			FROM	T_KONFIGAMBJENTE tk2 
			WHERE	( tk2.KODKONFIGAMBJENTE LIKE ''USHDD%'' or tk2.KODKONFIGAMBJENTE LIKE ''POROSIDD%'') 
					AND	tk2.IDSTATUSDOK <> 2 AND tk2.IDKATDOK = 1 AND tk2.IDNDERMARJE = ' + convert(varchar(MAX),convert(varchar(MAX),@idndermarje)) + '
			
		ELSE if(' + convert(varchar(MAX), @devicediscount) + ' = 2)
			INSERT INTO #konf
			SELECT	DISTINCT tk2.KODKONFIGAMBJENTE 
			FROM	T_KONFIGAMBJENTE tk2 
			WHERE	( tk2.KODKONFIGAMBJENTE LIKE ''BAZAAR%'' or tk2.KODKONFIGAMBJENTE LIKE ''POROSIBAZAAR%'') 
					AND tk2.IDSTATUSDOK <> 2 AND tk2.IDKATDOK = 1 AND tk2.IDNDERMARJE = ' + convert(varchar(MAX), convert(varchar(MAX),@idndermarje)) + '
	
		IF('+convert(varchar(MAX),@VleraMbetur)+'=1)
		BEGIN
			CREATE TABLE #NDF (id INT primary key)
			INSERT INTO #NDF 
				SELECT	IDKONFIGAMBJENTE 
				FROM	T_KONFIGAMBJENTE 
				WHERE	KODKONFIGAMBJENTE=''NDF'' and IDNDERMARJE= '+convert(varchar(MAX),@idndermarje)+' AND IDSTATUSDOK = 1 

			CREATE TABLE #DOKLIDHES(id INT PRIMARY KEY, vlera float)
				INSERT INTO #DOKLIDHES
				SELECT	id ,vlera= sum(vlera)   
				FROM	( 
							SELECT	id=IDSHITJEKOKA, vlera = case 
										when	[T_KOKASHITJE].TOTALIMETVSHMEZBRITJE < 0 
												and	(
														dk.IDKONFIGGJENERUES in (select id from #NDF)  
														OR	( IDKATDOK = 1 and LLOJIVEPRIMIT in (''Arketim'',''Derdhje''))
														OR	( IDKATDOK = 2 and LLOJIVEPRIMIT in (''Terheqje'',''Pagese''))
													) 
										then	-1*dl.VLERALIDHUR 
										else	dl.VLERALIDHUR 
									end
						
							FROM	T_DOKUMENTLIDHESTRUPI				dl 
									INNER JOIN T_DOKUMENTLIDHESKOKA		dk	ON	dl.IDKOKA = dk.IDKOKA AND dk.IDSTATUSDOK = 1 
									INNER JOIN T_KOKASHITJE 				ON	dl.IDDOKUMENTI = [T_KOKASHITJE].IDSHITJEKOKA AND LLOJDOKUMENTI = [T_KOKASHITJE].idnivel 
									INNER JOIN T_NIVELREGJISTRIMI 			ON	T_NIVELREGJISTRIMI.IDNIVEL = T_KOKASHITJE.IDNIVEL
									LEFT OUTER JOIN T_VEPRIMBANKAKOKA	v 	ON	v.IDKOKA = dk.IDGJENERUES and dk.IDKONFIGGJENERUES = v.IDKONFIGAMBJENTE
						
							WHERE	dk.IDNDERMARJE = ' + convert(varchar(MAX),@idndermarje) + ' AND dk.IDSTATUSDOK <> 2 
						)	as b
				GROUP BY id
			END'

	DECLARE @strProdhim varchar(max) = '		
		IF('+convert(varchar(MAX),@merrstatusprodhim)+'=1)
		BEGIN 			
			CREATE TABLE #KONFIGUPP(idkonfig INT PRIMARY KEY)			
			INSERT INTO #KONFIGUPP
			SELECT	DISTINCT idkonfig = t_konfigambjente.idkonfigambjente 
			FROM	t_konfigambjente 
					INNER JOIN t_kushtemplate		on t_konfigambjente.idkonfigambjente=t_kushtemplate.idkonfigambjente 
					INNER JOIN t_kushte				on t_kushte.idkusht=t_kushtemplate.idkusht 
					INNER JOIN t_alternativakushti	on t_alternativakushti.IDALTERNATIVEKUSHTI=vlera and idkushti=t_kushte.idkusht 
			WHERE	t_kushte.kodi = ''UPP''and alternativa = ''Po'' AND IDSTATUSDOK = 1 AND idndermarje = ' + convert(varchar(MAX), @idndermarje) + ' 
			
			CREATE TABLE #c (id INT, sasi FLOAT)
			CREATE NONCLUSTERED INDEX [CTEMP] ON [dbo].[#c] ([sasi]) INCLUDE ([id])
			INSERT INTO #c
				SELECT	a.IDSHITJEKOKA ,round(sasi,8) 
				FROM	(	
							SELECT	IDURDHERPOROSI,
									T_TRUPISHITJE.IDSHITJEKOKA,
									CASE 
										WHEN	T_TRUPISHITJE.IDNJESIA = a.NJESI1ARTIKULLI 
										THEN	T_TRUPISHITJE.SASIA 
										ELSE	T_TRUPISHITJE.SASIA * a.KOEFICENTARTIKULLI 
									END - SUM(ISNULL( CASE WHEN	T_PRODUKTPRODHIMI.IDNJESIA = a1.NJESI1ARTIKULLI THEN SASIAAKT ELSE SASIAAKT * A1.KOEFICENTARTIKULLI END, 0)) sasi
								
							FROM	T_PRODUKTPRODHIMI 
									INNER JOIN T_ARTIKULLI a1			ON T_PRODUKTPRODHIMI.IDARTIKULLI = a1.IDARTIKULLI AND A1.IDNDERMARJE = ' + convert(varchar(MAX), @idndermarje) + ' AND A1.IDSTATUSDOK = 1 
									INNER JOIN T_KOKAEKZEKUTIMPRODHIMI	ON T_PRODUKTPRODHIMI.IDKOKA = T_KOKAEKZEKUTIMPRODHIMI.IDKOKA AND T_KOKAEKZEKUTIMPRODHIMI.IDSTATUSDOK = 1 AND T_KOKAEKZEKUTIMPRODHIMI.IDNDERMARJE = ' + convert(varchar(MAX), @idndermarje) + '
									RIGHT JOIN t_trupishitje 			ON T_PRODUKTPRODHIMI.idurdherporosi = t_trupishitje.IDSHITJETRUPI AND idllojveprimi = 1 AND T_PRODUKTPRODHIMI.IDARTIKULLI = T_TRUPISHITJE.IDKODI
									RIGHT JOIN #SHITJET T_KOKASHITJE 	ON T_TRUPISHITJE.IDSHITJEKOKA = t_KOKASHITJE.IDSHITJEKOKA
									RIGHT JOIN T_ARTIKULLI A			ON A.IDARTIKULLI = t_trupishitje.IDKODI AND a.prodhimmeporosi = 1   					
							GROUP BY t_trupishitje.IDSHITJEKOKA, idurdherporosi, SASIA, T_TRUPISHITJE.IDNJESIA, a.NJESI1ARTIKULLI, a.KOEFICENTARTIKULLI 
						)	AS a 
				WHERE	a.sasi <> 0
				
			CREATE TABLE #d (id INT, sasi FLOAT)
			CREATE NONCLUSTERED INDEX [DTEMP] ON [dbo].[#d] ([sasi]) INCLUDE ([id])
			INSERT INTO #d
			SELECT	a.IDSHITJEKOKA,round(sasi,8) 
			FROM	(	
						SELECT	IDURDHERPOROSI, T_TRUPISHITJE.IDSHITJEKOKA, 
								CASE 
								    WHEN T_TRUPISHITJE.IDNJESIA = a.NJESI1ARTIKULLI 
									THEN T_TRUPISHITJE.SASIA
								    ELSE T_TRUPISHITJE.SASIA * a.KOEFICENTARTIKULLI 
								END - SUM(ISNULL( CASE WHEN T_TRUPIPLANIFIKIM.IDNJESIA = a1.NJESI1ARTIKULLI THEN T_TRUPIPLANIFIKIM.SASIA ELSE T_TRUPIPLANIFIKIM.SASIA * a1.KOEFICENTARTIKULLI END, 0)) sasi 
							
						FROM	T_TRUPIPLANIFIKIM 
								INNER JOIN T_ARTIKULLI a1	ON	T_TRUPIPLANIFIKIM.IDARTIKULLI = a1.IDARTIKULLI AND A1.IDNDERMARJE = ' + convert(varchar(MAX), @idndermarje) + ' AND A1.IDSTATUSDOK = 1
								INNER JOIN T_KOKAPLANIFIKIM ON	T_TRUPIPLANIFIKIM.IDKOKAPLANIFIKIM = T_KOKAPLANIFIKIM.IDKOKAPLANIFIKIM and T_KOKAPLANIFIKIM.IDSTATUSDOK = 1 and T_KOKAPLANIFIKIM.IDNDERMARJE = ' + convert(varchar(MAX),@idndermarje) + '
								RIGHT JOIN t_trupishitje 	ON	T_TRUPIPLANIFIKIM.idurdherporosi=t_trupishitje.IDSHITJETRUPI and idllojveprimi = 1 and T_TRUPIPLANIFIKIM.IDARTIKULLI = T_TRUPISHITJE.IDKODI 
								RIGHT JOIN #SHITJET T_KOKASHITJE  ON T_TRUPISHITJE.IDSHITJEKOKA = t_KOKASHITJE.IDSHITJEKOKA
								RIGHT JOIN T_ARTIKULLI A	ON	A.IDARTIKULLI = t_trupishitje.IDKODI AND a.prodhimmeporosi = 1   
					 	
						GROUP BY T_TRUPISHITJE.IDSHITJEKOKA, IDURDHERPOROSI, T_TRUPISHITJE.SASIA, T_TRUPISHITJE.IDNJESIA, a.NJESI1ARTIKULLI, a.KOEFICENTARTIKULLI
					) AS a 
			WHERE	a.sasi<>0
			
			CREATE TABLE #e (id INT primary key)
			INSERT INTO #e SELECT id FROM #c WHERE sasi <> 0 GROUP BY id HAVING count(*) > 0

			CREATE TABLE #f (id INT primary key)
			INSERT INTO #f SELECT id FROM #c WHERE sasi < 0  GROUP BY id HAVING count(*) > 0
				
			CREATE TABLE #g (id INT primary key)			
			INSERT INTO #g SELECT id FROM #d WHERE sasi <> 0 GROUP BY id HAVING count(*) > 0

			CREATE TABLE #h (id INT primary key)
			INSERT INTO #h SELECT id FROM #d WHERE sasi < 0  GROUP BY id HAVING count(*) > 0
			
			CREATE TABLE #NRSHITJE		(NR INT, IDSHITJEKOKA INT PRIMARY KEY)
			INSERT INTO #NRSHITJE
				SELECT	COUNT(*) NR, ROL.IDSHITJEKOKA
				FROM	T_TRUPISHITJE 
						INNER JOIN #SHITJET ROL				ON T_TRUPISHITJE.IDSHITJEKOKA = ROL.IDSHITJEKOKA
						INNER JOIN T_ARTIKULLI				ON idkodi = IDARTIKULLI 
				WHERE IDLLOJVEPRIMI=1 AND PRODHIMMEPOROSI=1
				GROUP BY ROL.IDSHITJEKOKA
				
			CREATE TABLE #NREKZEKUTIMI	(NR INT, IDSHITJEKOKA INT PRIMARY KEY)
			INSERT INTO #NREKZEKUTIMI
				SELECT COUNT (*) NR, ROL.IDSHITJEKOKA
				FROM	T_PRODUKTPRODHIMI 
						INNER JOIN T_KOKAEKZEKUTIMPRODHIMI	ON  T_PRODUKTPRODHIMI.IDKOKA = T_KOKAEKZEKUTIMPRODHIMI.IDKOKA 
						INNER JOIN t_trupishitje  			ON T_PRODUKTPRODHIMI.idurdherporosi = t_trupishitje.IDSHITJETRUPI 
						INNER JOIN #SHITJET ROL 			ON T_TRUPISHITJE.IDSHITJEKOKA = ROL.IDSHITJEKOKA
				WHERE T_KOKAEKZEKUTIMPRODHIMI.IDSTATUSDOK=1
				GROUP BY ROL.IDSHITJEKOKA
				
			CREATE TABLE #NRPLANIFIKIMI (NR INT, IDSHITJEKOKA INT PRIMARY KEY)
			INSERT INTO #NRPLANIFIKIMI
				SELECT COUNT (*) NR, ROL.IDSHITJEKOKA
				FROM	T_TRUPIPLANIFIKIM 
						INNER JOIN T_KOKAPLANIFIKIM			ON T_TRUPIPLANIFIKIM.IDKOKAPLANIFIKIM = T_KOKAPLANIFIKIM.IDKOKAPLANIFIKIM 
						INNER JOIN t_trupishitje 			ON T_TRUPIPLANIFIKIM.idurdherporosi = t_trupishitje.IDSHITJETRUPI 
						INNER JOIN #SHITJET ROL 			ON T_TRUPISHITJE.IDSHITJEKOKA = ROL.IDSHITJEKOKA
				WHERE	T_KOKAPLANIFIKIM.IDSTATUSDOK = 1
				GROUP BY ROL.IDSHITJEKOKA

		END '

	DECLARE @strSipasKushte varchar(max) = '
		IF('+convert(varchar(MAX),@StatusMarreveshje)+'=1)
		BEGIN
			CREATE TABLE #KONFIGVF_VM(idkonfig INT PRIMARY KEY)
			INSERT INTO #KONFIGVF_VM
				SELECT	DISTINCT idkonfig = t_konfigambjente.idkonfigambjente 
				FROM	t_konfigambjente 
						INNER JOIN t_kushtemplate		on t_konfigambjente.idkonfigambjente=t_kushtemplate.idkonfigambjente 
						INNER JOIN t_kushte 			on t_kushte.idkusht=t_kushtemplate.idkusht 
						INNER JOIN t_alternativakushti 	on t_alternativakushti.IDALTERNATIVEKUSHTI=vlera and idkushti=t_kushte.idkusht 
				WHERE	t_kushte.kodi = ''VF_VM'' AND alternativa = ''Po'' AND IDSTATUSDOK = 1 and idndermarje = ' + convert(varchar(MAX), @idndermarje) + ' 
		END
		
		IF('+convert(varchar(MAX),@merrDokKonvertuar)+'=1)
		BEGIN
			CREATE TABLE #YLBERI (IDSHITJEKOKA NUMERIC(18, 0) PRIMARY KEY, SHUMA FLOAT, artikuj INT, artikuj_konvertuar INT, artikuj_tejkaluar INT)
			INSERT INTO #YLBERI
				SELECT	Tot.IDSHITJEKOKA, shuma = ROUND(SUM(ABS(shuma1) - abs(shuma2)), 8), artikuj = MAX(ABS(RreshtaDokKryesor)), 
						artikuj_konvertuar = SUM(ABS(RreshtaKonvertuar)), artikuj_tejkaluar = MAX(CASE WHEN ABS(shuma1) < ABS(shuma2) THEN 1 ELSE 0 END)
				FROM	(
							SELECT	kon.IDSHITJEKOKA, kon.IDSHITJETRUPI, shuma1 = MAX(CASE WHEN kon.IDNJESIA = art.NJESI1ARTIKULLI THEN kon.SASIA ELSE kon.SASIA * art.KOEFICENTARTIKULLI END), 
									shuma2 = SUM(CASE WHEN t.IDNJESIA = art.NJESI1ARTIKULLI THEN t.SASIA ELSE t.SASIA * art.KOEFICENTARTIKULLI END) , 
									RreshtaKonvertuar = SUM(1) OVER(PARTITION BY kon.IDSHITJEKOKA, kon.IDSHITJETRUPI, t.IDKODI)
										
							FROM	#shitjet					konK 
									INNER JOIN	T_TRUPISHITJE	kon ON  kon.IDSHITJEKOKA = konK.IDSHITJEKOKA AND kon.IDLLOJVEPRIMI = 1 
									INNER JOIN	T_ARTIKULLI		art	ON	kon.IDKODI=art.IDARTIKULLI					
									INNER JOIN	T_TRUPISHITJE	t	ON  t.idtrupikonvertimi = kon.IDSHITJETRUPI AND t.IDSHITJEKOKA <> konK.IDSHITJEKOKA AND kon.IDKODI = t.IDKODI AND t.IDLLOJVEPRIMI=1 
									INNER JOIN	T_KOKASHITJE	k	ON	k.IDSHITJEKOKA = t.IDSHITJEKOKA AND k.FATUREPERMBLEDHESE = 0 and k.IDSTATUSDOK<>2 

							WHERE	konK.FATUREPERMBLEDHESE = 0 AND art.IDNDERMARJE = ' + convert(varchar(MAX),@idndermarje) + ' 
							GROUP BY kon.IDSHITJEKOKA, kon.IDSHITJETRUPI, t.IDKODI							
						)Tot
						INNER JOIN	( 
							SELECT	konK.IDSHITJEKOKA, RreshtaDokKryesor = count(IDSHITJETRUPI) 
							FROM	#shitjet					konK
									INNER JOIN	 T_TRUPISHITJE	kon ON  kon.IDSHITJEKOKA = konK.IDSHITJEKOKA
							GROUP BY konK.IDSHITJEKOKA	
						) kon ON kon.IDSHITJEKOKA=Tot.IDSHITJEKOKA
				GROUP BY Tot.IDSHITJEKOKA 
		END

		IF('+convert(varchar(MAX),@merrprodhuar)+'=1)
		BEGIN
			-- 0 (Jo) - Nuk eshte prodhuar asnje / 1 (Pjeserisht) - Jo te gjithe trupat/sasite jane prodhuar / 2 (Po) - Ose jane prodhuar te gjithe, ose tejkaluar
			CREATE TABLE #PRODHUAR (IDSHITJEKOKA NUMERIC(18, 0) PRIMARY KEY, REZULTATI INT)
			INSERT INTO #PRODHUAR			
			SELECT	IDSHITJEKOKA, REZULTATI = CASE	WHEN MAX(NRMAX)=-1 THEN 0 WHEN COUNT(IDSHITJETRUPI) > SUM(NR) THEN 1 WHEN COUNT(IDSHITJETRUPI) = SUM(NR) AND SUM(SASIA) > 0	THEN 1 ELSE 2 END
			FROM	(
					SELECT	kon.idshitjekoka, kon.IDSHITJETRUPI, SASIA = SUM( ( CASE WHEN kon.IDNJESIA = a2.NJESI1ARTIKULLI THEN	kon.SASIA ELSE kon.SASIA * a2.KOEFICENTARTIKULLI END) - ISNULL(t.SASIA,0)),
							NR = SUM( CASE WHEN t.IDTRUPIKONVERTIMUSH IS NULL THEN 0 ELSE 1 END), NRMAX = MAX( CASE WHEN t.IDTRUPIKONVERTIMUSH IS NULL THEN - 1 ELSE NR END) 
					FROM	#shitjet sh
							INNER JOIN T_TRUPISHITJE kon	ON	kon.IDSHITJEKOKA = sh.IDSHITJEKOKA
							INNER JOIN T_ARTIKULLI a2	ON	kon.IDKODI = a2.IDARTIKULLI AND kon.IDLLOJVEPRIMI = 1 AND a2.KLASA NOT IN (2,3) 
							LEFT JOIN (
								SELECT	IDTRUPIKONVERTIMUSH, SASIA = SUM(CASE WHEN t.IDNJESIA = a1.NJESI1ARTIKULLI THEN t.SASIA ELSE t.SASIA * a1.KOEFICENTARTIKULLI END), NR = COUNT(t.IDTRUPIKONVERTIMUSH)
								FROM	T_TRUPIMAGAZINA	t	
										INNER JOIN T_ARTIKULLI a1 ON t.IDARTIKULL = a1.IDARTIKULLI AND a1.KLASA NOT IN (2,3) 
								WHERE	t.IDTRUPIKONVERTIMFSH IS NULL AND t.IDTRUPIKONVERTIMUD IS NULL -- AND t.IDLLOJVEPRIMI = 1 
								GROUP BY IDTRUPIKONVERTIMUSH
							)t	ON	t.IDTRUPIKONVERTIMUSH = kon.IDSHITJETRUPI 
					GROUP BY kon.IDSHITJEKOKA, kon.IDSHITJETRUPI  
			) Tot
			GROUP BY IDSHITJEKOKA
		END

		IF('+convert(varchar(MAX),@merrKonvertuarPlote)+'=1)
		BEGIN
			-- 0 (Final/gri) - Nuk eshte konvertuar asnje / 1 (Final/verdhe) - Jo te gjithe trupat/sasite jane konvertuar / 2 (Bosh) - Ose jane konvertuar te gjithe, ose tejkaluar RASTET KUR DUHET TE SHFAQET NDRYSHE
			CREATE TABLE #FINAL (IDSHITJEKOKA NUMERIC(18, 0) PRIMARY KEY)
			INSERT INTO #FINAL
			SELECT	IDSHITJEKOKA
			FROM	(
				SELECT	IDSHITJEKOKA, REZULTATI = CASE	WHEN MAX(NRMAX)=-1 THEN 0 WHEN COUNT(IDSHITJETRUPI) > SUM(NR) THEN 1 WHEN COUNT(IDSHITJETRUPI) = SUM(NR) AND SUM(SASIA) > 0	THEN 1 ELSE 2 END
				FROM	(
						SELECT	kon.IDSHITJEKOKA, kon.IDSHITJETRUPI, SASIA = SUM( ( CASE WHEN kon.IDNJESIA = a2.NJESI1ARTIKULLI THEN	kon.SASIA ELSE kon.SASIA * a2.KOEFICENTARTIKULLI END) - ISNULL(t.SASIA,0)),
								NR = SUM( CASE WHEN t.IDTRUPIKONVERTIMI IS NULL THEN 0 ELSE 1 END), NRMAX= MAX( CASE WHEN t.IDTRUPIKONVERTIMI IS NULL THEN -1 ELSE NR END) 
						FROM	#shitjet sh
								INNER JOIN T_TRUPISHITJE kon ON	kon.IDSHITJEKOKA = sh.IDSHITJEKOKA
								INNER JOIN T_ARTIKULLI a2 ON kon.IDKODI = a2.IDARTIKULLI AND kon.IDLLOJVEPRIMI = 1
								LEFT JOIN (
									SELECT	t.IDTRUPIKONVERTIMI, SASIA = SUM(CASE WHEN t.IDNJESIA = a1.NJESI1ARTIKULLI THEN t.SASIA ELSE t.SASIA * a1.KOEFICENTARTIKULLI END), NR = COUNT(t.IDTRUPIKONVERTIMI)
									FROM	T_KOKASHITJE k
											INNER JOIN T_TRUPISHITJE t ON t.IDSHITJEKOKA = k.IDSHITJEKOKA AND IDSTATUSDOK <> 2 
											INNER JOIN T_ARTIKULLI a1 ON t.IDKODI = a1.IDARTIKULLI AND t.IDLLOJVEPRIMI = 1
									GROUP BY IDTRUPIKONVERTIMI
								) t ON t.IDTRUPIKONVERTIMI = kon.IDSHITJETRUPI
						GROUP BY kon.IDSHITJEKOKA, kon.IDSHITJETRUPI  
				) Tot
				GROUP BY IDSHITJEKOKA
			) ELEMINO
			WHERE REZULTATI = 2
		END '			
		
	DECLARE @SELECT VARCHAR(MAX) = '
	SELECT	DISTINCT  
			IdShitjeKoka = T_KOKASHITJE.IDSHITJEKOKA,
			DtMbarimi = T_KOKASHITJE.DTMBARIMI,
			DTFILLIMI = T_KOKASHITJE.DTFILLIMI,
			DtFature = T_KOKASHITJE.DTFATURE,
			IdNivel = T_KOKASHITJE.IDNIVEL,
			IdTemplate = IDTEMPLATE,
			IdKonfigAmbjente = T_KOKASHITJE.IDKONFIGAMBJENTE,
			IdKlientFurnitor = T_KOKASHITJE.IDKLIENTFURNITOR,
			EmertimiKf = kf.EMERTIMIKF,
			LlojiKf = kf.LLOJIKF,
			IdProjekt = IDPROJEKT,
			NrProjekt = ' + CASE WHEN @devicediscount = 0 THEN + 'NRPROJEKT' ELSE '(SELECT TOP(1) KODI FROM T_TRUPISHITJE WHERE T_TRUPISHITJE.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA) ' END + ',
			NrDok = T_KOKASHITJE.NRDOK,
			NrSerial = NRSERIAL,
			DtDok = DTDOK,
			DtMaturimi = DTMATURIMI,
			IdMonedha = IDMONEDHA,
			Kursi = KURSI,
			IdMenyreTransporti = IDMENYRETRANSPORT,
			DtTransportimi = DTTRANSPORTIMI,
			IdKushtDergimi = IDKUSHTDERGIM,
			IdAgjent = IDAGJENT,
			IdMenyrePagese = IDMENYREPAGESE,
			IdKushtPagese = IDKUSHTPAGESE,
			Zbritje = T_KOKASHITJE.ZBRITJE,
			Totali = round(TOTALI,2),
			Tvsh = T_KOKASHITJE.TVSH,
			DtRegjistrimi = DTREGJISTRIMI,
			IdStatusDok = T_KOKASHITJE.IDSTATUSDOK,
			IdNdermarrje = IDNDERM,
			IdNdermarrjeVit = IDNDERMVIT,
			IdNivelGjenerues = IDNIVELGJENERUES,
			IdKonfigGjenerues = IDKONFIGGJENERUES,
			IdGjenerues = IDGJENERUES,
			IdDokNga = IDDOKNGA,
			AdresaFaturimit = T_KOKASHITJE.ADRESAFATURIMIT,
			AdresaDergimit = T_KOKASHITJE.ADRESADERGIMIT, 
			Pershkrimi = ' + CASE WHEN @devicediscount = 0 THEN + ' T_KOKASHITJE.PERSHKRIMI ' ELSE	'(SELECT TOP(1) T_TRUPISHITJE.PERSHKRIMI FROM T_TRUPISHITJE WHERE T_TRUPISHITJE.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA)' END + ',
			TotaliMeZbritjeMeTVSH = round(TOTALIMETVSHMEZBRITJE,2),
			Dogana = DOGANA,
			IdDegeAdministrative = T_KOKASHITJE.IDDEGEADMINISTRATIVE,
			IdPikeShitjeFurnizimi = IDPIKESHITJEFURNIZIMI,
			OFleteKontabel = NULL,
			OKokaMagazina = NULL,
			DtKrijimi = T_KOKASHITJE.dtkrijimi,
			DtModifikimi = T_KOKASHITJE.dtmodifikimi,
			IdPerdoruesi = T_KOKASHITJE.IDPERDORUESI,
			IdRaportDesing = IDRAPORTDESING,
			AfatKohor = AFATIKOHOR,
			Cash = CASH,
			StatusAprovimi = T_KOKASHITJE.STATUSAPROVIMI,
			IdKrijuesi = T_KOKASHITJE.IDKRIJUESI,
			GrupimDokumenti1 = GRUPI1.PERSHKRIMI,
			GrupimDokumenti2 = GRUPI2.PERSHKRIMI,
			GrupimDokumenti3 = GRUPI3.PERSHKRIMI,
			Krijuesi = T_PERDORUESI.PERDORUESUSERNAME, 
			Modifikuesi = modi.PERDORUESUSERNAME,
			pershkrimDegeAdmin = T_DEGEADMINISTRATIVE.PERSHKRIMI,
			PerqindjeAgjenti = T_KOKASHITJE.PERQINDJEAGJENTI,
			VleraMbetur = ' + CASE WHEN @VleraMbetur = 1 THEN 'CASE WHEN totalimetvshmezbritje > 0 THEN	ROUND(TOTALIMETVSHMEZBRITJE - ISNULL((vlera),0),2) ELSE	ROUND(TOTALIMETVSHMEZBRITJE + ISNULL((vlera),0),2) END' ELSE 'NULL' END + ',
			ColorVleraMbetur = ' + 
					CASE WHEN @VleraMbetur = 1 THEN '
									CASE	
									    WHEN TOTALIMETVSHMEZBRITJE  = 0 and trregj.KODI in (''FSH'', ''FB'')  then ''bojeqielli''
									    WHEN trregj.KODI NOT IN (''FSH'',''FB'')  then ''bojeqielli'' 
										WHEN	totalimetvshmezbritje > 0 
										THEN	CASE	
													WHEN	round(ISNULL((vlera),0),2) = 0							THEN ''gri''
													WHEN	round(TOTALIMETVSHMEZBRITJE - ISNULL((vlera),0),2) > 0	THEN ''verdhe''
													WHEN	round(TOTALIMETVSHMEZBRITJE - ISNULL((vlera),0),2) = 0	THEN ''gjelber''
													ELSE	''kuqe'' 
												END
										ELSE	CASE	
													WHEN	round(ISNULL(( vlera ),0),2) = 0						THEN ''gri''
													WHEN	round(TOTALIMETVSHMEZBRITJE + ISNULL((vlera),0),2) < 0	THEN ''verdhe'' 
													WHEN	round(TOTALIMETVSHMEZBRITJE + ISNULL((vlera),0),2) = 0	THEN ''gjelber'' 
													ELSE	''kuqe'' 
											END 
									END'
						ELSE 'NULL'
					END + ',
			IdGrup1 = idgrup1,
			IdGrup2 = idgrup2,
			IdGrup3 = idgrup3,
			IdTransferimi = idtransferimi,
			IdKonfigTransferimi = idkonfigtransferimi,
			StatusTransferimi = STATUSTRANSFERIMI,
			EmerKlienti = EMERKLIENTI,
			Kontakti = KONTAKTI,
			Kase = kase,
			Kupon = T_KOKASHITJE.kupon,
			IdAutomjeti = autom.TARGA,
			KilometraAuto = KILOMETRAAUTO,
			IdAgjenti2 = IDAGJENTI2,
			PerqindjeAgjenti2 = T_KOKASHITJE.PERQINDJEAGJENTI2,
			IdAgjenti3 = IDAGJENTI3,
			PerqindjeAgjenti3 = T_KOKASHITJE.PERQINDJEAGJENTI3,
			Marresi = MARRESI,
			IdTransportues = IDTRANSPORTUES,
			FaturePermbledhese = T_KOKASHITJE.faturepermbledhese,
			ShpenzJoTeZbritshme = SHPENZJOTEZBRITSHME,
			[Status Porosie] = ' +			
				CASE	
					WHEN	@merrstatusprodhim = 1 
					THEN	+ ' CASE	
									WHEN	idkonf_merrSP.idkonfig IS NOT NULL 
									THEN	CASE	
														-- kur nuk ka artikull ne prodhim proces														
												WHEN	isnull(NRSHITJE.NR,0) = 0													THEN ''Te tjera''
														-- te pa gjeneruarat 
												WHEN	isnull(NRPLANIFIKIMI.NR,0) = 0 AND isnull(NRSHITJE.NR,0) > 0				THEN ''Pezull''														
														--perfunduar gjenerimet (E.ID)=0; ekzekutimet (G.ID)=0; ka ekzekutime NREKZEKUTIMI.NR >0  
												WHEN	isnull(E.ID,0) = 0 AND isnull(G.ID,0)=0 AND isnull(NREKZEKUTIMI.NR,0) > 0	THEN ''Perfunduar''
												WHEN	(isnull(F.ID,0) > 0 OR isnull(H.ID,0) > 0) 									THEN ''Tejkaluar''
												ELSE	''Ne Proces'' 
											END 
									ELSE	'''' 
								END ' 
					ELSE	''''''
				END + ', 
			Prodhuar = ' + CASE WHEN @merrprodhuar = 1 THEN ' ISNULL(PRODHUAR.REZULTATI,0)' ELSE '0' END + ',
			Final = ' + 
				CASE 
					WHEN	@merrKonvertuarPlote = 1 
					THEN	+ ' CASE  WHEN FINAL.IDSHITJEKOKA IS NULL THEN ''Final'' ELSE '''' END'	
					ELSE	'''Final'''
				END	+ ',
			Konvertuar = ' +  
				CASE 	WHEN	@merrDokKonvertuar = 1 
						THEN	+ ' CASE  
										WHEN	ylberi.artikuj is null													THEN ''gri''
										WHEN	(ylberi.SHUMA = 0) AND (ylberi.artikuj <= ylberi.artikuj_konvertuar) 	THEN ''gjelber''	
										WHEN	(artikuj_tejkaluar>0) OR (ylberi.SHUMA<0) 								THEN ''kuqe''
										ELSE	''verdhe''
									END'
						ELSE	' '''' '
				END + ',
			IdArka = IDARKA,
			Gjeneruar = GJENERUAR,
			MuajRaportimi = MuajRaportimi,
			IdVitRaportimi = IdVitRaportimi,
			EmerMbiemerAgjentShitje = T_AGJENTSHITJE.EMRIAGJENTSHITJE + '' '' + T_AGJENTSHITJE.MBIEMRIAGJENTSHITJE,
			ZbritjeNeVlere = ZbritjeNeVlere,
			PerqindjeZbritje = PerqindjeZbritje,
			KodKlientFurnitor = kf.KodKlientFurnitor,
			Koordinata = T_KOKASHITJE.KOORDINATA.STAsText(),
			DtKrijimiPajisje = T_KOKASHITJE.DtKrijimiPajisje,
			PershkrimKonfigDokumenti = tk.PERSHKRIMKONFIGAMBJENTE_sq,
			QytetiK = QytetiK,
			IdKategoriSeriali = IdKategoriSeriali,
			Shenime2 = Shenime2,
			KartaPaPagese = KartaPaPagese,
			IdDokTransferimNga = IdDokTransferimNga,
			IdLlojMarreveshje = IDLLOJMARREVESHJE,
			IdMarreveshje = IDMARREVESHJE,
			KerkuarNga = KERKUARNGA,
			DateKerkese = DATEKERKESE,
			KlientVartes = ' + CASE WHEN @KlientVartes = 1 THEN ' VARTESI.KODKLIENTFURNITOR' ELSE 'null' END + ',
			FaturaKthyer = ' + CASE WHEN @FaturaKthyer = 1 THEN ' kthime.nrdok' ELSE 'null' END + ',
			IdOperator = T_KOKASHITJE.IDOPERATOR,
			NIVF,
			NIVFkthim,
			Procesi = (SELECT KODI FROM T_PROCESI WHERE ID = Procesi),
			EIC,
			EinStatus,
			IIC,
			TIPIIVETEFATURIMIT AS TipiIVetefaturimit,
			Fiskalizuar = CASE WHEN DATALENGTH(T_KOKASHITJE.NIVF) = 0 THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END,
			EInvoiceType = (SELECT KODI FROM T_TIPIEINVOICE WHERE ID = eInvoiceType),
			EInvoice = CASE WHEN DATALENGTH(T_KOKASHITJE.EIC) = 0 THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END,
			StatusMarreveshje = ' +
					CASE	WHEN	@StatusMarreveshje = 1
							THEN	+ ' CASE 
											WHEN	vm.idkonfig is not null AND IDMARREVESHJE is not null AND IDMARREVESHJE <> ''''
													THEN	CASE
																WHEN STATUSMARREVESHJE = 1 and [T_KOKASHITJE].DTMBARIMI < CONVERT(DATE, '''+@datadefault+''', 103)	THEN 4
																WHEN STATUSMARREVESHJE = 1 and [T_KOKASHITJE].DTMBARIMI > CONVERT(DATE, '''+@datadefault+''', 103)	THEN 1
																WHEN STATUSMARREVESHJE = 2																			THEN 2
																WHEN STATUSMARREVESHJE = 3																			THEN 3
																ELSE 0
															END 
											ELSE 0
										END'
							ELSE	'0'
					END
			-- +',NrDokMagazine =	NRDOKMAGAZINE' 
			

	DECLARE @FROM varchar(max) = '
		FROM	#shitjet Sh
				INNER JOIN [T_KOKASHITJE]				ON T_KOKASHITJE.IDSHITJEKOKA = SH.IDSHITJEKOKA					
				INNER JOIN T_KONFIGAMBJENTE		tk		ON tk.IDKONFIGAMBJENTE = T_KOKASHITJE.IDKONFIGAMBJENTE
				INNER JOIN T_NIVELREGJISTRIMI 	trregj	ON	trregj.IDNIVEL = tk.IDNIVEL
				INNER JOIN #konf				konf	ON konf.kod = tk.KODKONFIGAMBJENTE
				INNER JOIN T_PERDORUESI					ON T_KOKASHITJE.idkrijuesi = T_PERDORUESI.IDPERDORUES
				INNER JOIN T_PERDORUESI			modi	ON modi.IDPERDORUES = T_KOKASHITJE.IDPERDORUESI'
			
			IF @VleraMbetur = 1	
			SET @FROM = @FROM + '	
				LEFT JOIN #DOKLIDHES			a		ON a.id=T_KOKASHITJE.IDSHITJEKOKA'

			SET @FROM = @FROM + '	
				LEFT JOIN T_KLIENTFURNITOR		kf		ON T_KOKASHITJE.IDKLIENTFURNITOR = kf.IDKLIENTFURNITOR			
				LEFT JOIN T_AUTOMJETE			autom	ON autom.IDAUTOMJETI = T_KOKASHITJE.IDAUTOMJETI  
				LEFT JOIN T_DEGEADMINISTRATIVE			ON T_KOKASHITJE.IDDEGEADMINISTRATIVE = T_DEGEADMINISTRATIVE.IDDEGEADMINISTRATIVE
				LEFT JOIN T_AGJENTSHITJE				ON T_KOKASHITJE.IDAGJENT = T_AGJENTSHITJE.IDAGJENTSHITJE			
							  
				LEFT JOIN T_GRUPIMDOKUMENTIKOKA GRUPI1	ON T_KOKASHITJE.IDGRUP1 = GRUPI1.IDGRUPIMKOKA
				LEFT JOIN T_GRUPIMDOKUMENTIKOKA GRUPI2	ON T_KOKASHITJE.IDGRUP2 = GRUPI2.IDGRUPIMKOKA
				LEFT JOIN T_GRUPIMDOKUMENTIKOKA GRUPI3	ON T_KOKASHITJE.IDGRUP3 = GRUPI3.IDGRUPIMKOKA'
			
			IF @StatusMarreveshje = 1
			SET @FROM = @FROM + '
				LEFT JOIN #KONFIGVF_VM vm				ON T_KOKASHITJE.IDKONFIGAMBJENTE =vm.idkonfig' 				
			
			IF @KlientVartes = 1
			SET @FROM = @FROM + '	
				LEFT JOIN	(
					SELECT	DISTINCT T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA, 
							STUFF((	SELECT	DISTINCT '', '' + KODKLIENTFURNITOR
									FROM	T_KOKASHITJE_KLIENTVARTES	KV
											INNER JOIN T_KLIENTFURNITOR ON	T_KLIENTFURNITOR.IDKLIENTFURNITOR = KV.IDKLIENTFURNITOR
									WHERE	KV.IDSHITJEKOKA = T_KOKASHITJE_KLIENTVARTES.IDSHITJEKOKA
									FOR XML PATH(''''), TYPE).value(''.'', ''NVARCHAR(MAX)''), 1, 1, '''') KODKLIENTFURNITOR
					FROM	T_KOKASHITJE_KLIENTVARTES
				) VARTESI on VARTESI.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA '
			
			IF @FaturaKthyer = 1
			SET @FROM = @FROM + '  
				LEFT JOIN (	
					SELECT	distinct kokakthyer.NRDOK, T_TRUPISHITJE.IDSHITJEKOKA
					from	T_TRUPISHITJE 
							INNER JOIN T_TRUPISHITJE	kthim		ON kthim.IDSHITJETRUPI=T_TRUPISHITJE.IDTRUPIKTHIMI
							INNER JOIN T_KOKASHITJE		kokakthyer	ON kokakthyer.IDSHITJEKOKA=kthim.IDSHITJEKOKA
				)	kthime on kthime.IDSHITJEKOKA = [T_KOKASHITJE].IDSHITJEKOKA '

			IF @merrDokKonvertuar = 1 
			SET @FROM = @FROM + '
				LEFT JOIN #ylberi	ylberi		ON ylberi.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA'

			IF @merrprodhuar = 1 
			SET @FROM = @FROM + '
				LEFT JOIN #PRODHUAR	PRODHUAR	ON prodhuar.idshitjekoka = [T_KOKASHITJE].IDSHITJEKOKA'

			IF @merrKonvertuarPlote = 1 
			SET @FROM = @FROM + '
				LEFT JOIN #FINAL	FINAL		ON FINAL.idshitjekoka = [T_KOKASHITJE].IDSHITJEKOKA'
			
			if @merrstatusprodhim = 1
			SET @FROM = @FROM + '
				LEFT JOIN #KONFIGUPP idkonf_merrSP		ON T_KOKASHITJE.IDKONFIGAMBJENTE =idkonf_merrSP.idkonfig
				LEFT JOIN #E E							ON T_KOKASHITJE.IDSHITJEKOKA = E.ID
				LEFT JOIN #F F							ON T_KOKASHITJE.IDSHITJEKOKA = F.ID
				LEFT JOIN #G G							ON T_KOKASHITJE.IDSHITJEKOKA = G.ID
				LEFT JOIN #H H							ON T_KOKASHITJE.IDSHITJEKOKA = H.ID
				LEFT JOIN #NRSHITJE AS NRSHITJE			ON NRSHITJE.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
				LEFT JOIN #NREKZEKUTIMI NREKZEKUTIMI	ON NREKZEKUTIMI.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA
				LEFT JOIN #NRPLANIFIKIMI NRPLANIFIKIMI	ON NRPLANIFIKIMI.IDSHITJEKOKA = T_KOKASHITJE.IDSHITJEKOKA'
			
			SET @FROM = @FROM + '
		ORDER BY [T_KOKASHITJE].DtDok DESC, [T_KOKASHITJE].IdShitjeKoka DESC '
				
		PRINT (@strShitjet);PRINT(@strKonfig);PRINT(@strProdhim); PRINT(@strSipasKushte);PRINT(SUBSTRING(@SELECT, 1, 7999)); PRINT(SUBSTRING(@SELECT, 8000, LEN(@SELECT))); print(@FROM)
		EXEC (@strShitjet + @strKonfig + @strProdhim + @strSipasKushte + @SELECT + @FROM)	
		
		PRINT 'FUND: ms(' + CAST(DATEDIFF (millisecond, @EXECTIME, GETDATE()) AS VARCHAR(200)) +')';SET @EXECTIME = GETDATE() 
	
	COMMIT TRAN
END