/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_IMB {
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}

.dxchartsuiLoadingPanel_IMB {
    border: 1px solid #C3C3C3;
    background-color: white;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #333333;
}

    .dxchartsuiLoadingPanel_IMB td.dx {
        font-size: 1.17em;
        white-space: nowrap;
        text-align: center;
        padding: 10px 14px;
    }

/* -- Crosshair -- */
.dxchartsuiCrosshairHLine_IMB,
.dxchartsuiCrosshairVLine_IMB {
    background-color: transparent;
    border-color: #de39cd;
}

.dxchartsuiCrosshairLabel_IMB,
.dxchartsuiCrosshairHLine_IMB,
.dxchartsuiCrosshairVLine_IMB {
    position: absolute;
    z-index: 41998;
}

.dxchartsuiCrosshairLabel_IMB {
    background-color: #de39cd;
    color: White;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    padding: 1px 4px 1px 4px;
    white-space: nowrap;
}

.dxchartsuiCrosshairHLine_IMB {
    height: 0px;
}

.dxchartsuiCrosshairVLine_IMB {
    width: 0px;
}

/* -- Tooltip -- */
.dxchartsuiTooltip_IMB,
.dxchartsuiTooltip_TopLeft_IMB,
.dxchartsuiTooltip_TopRight_IMB,
.dxchartsuiTooltip_BottomLeft_IMB,
.dxchartsuiTooltip_BottomRight_IMB {
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid rgb(139, 139, 139);
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 6px 10px 6px 10px;
    text-align: left;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}

    .dxchartsuiTooltip_TopLeft_IMB:before,
    .dxchartsuiTooltip_TopRight_IMB:before,
    .dxchartsuiTooltip_BottomLeft_IMB:before,
    .dxchartsuiTooltip_BottomRight_IMB:before,
    .dxchartsuiTooltip_TopLeft_IMB:after,
    .dxchartsuiTooltip_TopRight_IMB:after,
    .dxchartsuiTooltip_BottomLeft_IMB:after,
    .dxchartsuiTooltip_BottomRight_IMB:after {
        border-style: solid;
        content: "";
        display: block;
        position: absolute;
        width: 0;
    }

    .dxchartsuiTooltip_TopLeft_IMB:before,
    .dxchartsuiTooltip_TopRight_IMB:before,
    .dxchartsuiTooltip_BottomLeft_IMB:before,
    .dxchartsuiTooltip_BottomRight_IMB:before {
        border-width: 10px 5px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

    .dxchartsuiTooltip_TopLeft_IMB:after,
    .dxchartsuiTooltip_TopRight_IMB:after,
    .dxchartsuiTooltip_BottomLeft_IMB:after,
    .dxchartsuiTooltip_BottomRight_IMB:after {
        border-width: 8px 4px;
    }

    .dxchartsuiTooltip_TopLeft_IMB:before {
        border-color: transparent transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35);
        top: -20px;
        left: 10px;
    }

    .dxchartsuiTooltip_TopLeft_IMB:after {
        border-color: transparent transparent White White;
        top: -16px;
        left: 11px;
    }

    .dxchartsuiTooltip_TopRight_IMB:before {
        border-color: transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent;
        top: -20px;
        right: 10px;
    }

    .dxchartsuiTooltip_TopRight_IMB:after {
        border-color: transparent White White transparent;
        top: -16px;
        right: 11px;
    }

    .dxchartsuiTooltip_BottomRight_IMB:before {
        border-color: rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent transparent;
        bottom: -20px;
        right: 10px;
    }

    .dxchartsuiTooltip_BottomRight_IMB:after {
        border-color: White White transparent transparent;
        bottom: -16px;
        right: 11px;
    }

    .dxchartsuiTooltip_BottomLeft_IMB:before {
        border-color: rgba(139, 139, 139, 0.35) transparent transparent rgba(139, 139, 139, 0.35);
        bottom: -20px;
        left: 10px;
    }

    .dxchartsuiTooltip_BottomLeft_IMB:after {
        border-color: White transparent transparent White;
        bottom: -16px;
        left: 11px;
    }

/*stili i menuse ne bootstrap*/
body, html {
    height: 100%;
}

/* remove outer padding */
.main .row {
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}
