USE [testimeDesti]
GO
/****** Object:  StoredProcedure [dbo].[prc_T_TATIME_ins]    Script Date: 4/19/2022 3:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER procedure [dbo].[prc_T_TATIME_ins] 
	
(
@IDTATIME T_AUTO_NUM = null output,
@DATA T_DATE,
@MIN DECIMAL(18,2) ,
	          @MAX DECIMAL(18,2) ,
	          @NORMA  varchar(50),
	          @MENYRA  T_KONST,
	          @MODEL T_KONST,
	          @IDNDERMARJE T_FOR_KEY,
	          @IDPERDORUESI T_FOR_KEY,
	          @IDSTATUSDOK T_FOR_KEY,
	          @IDKONFIG T_FOR_KEY
	          
)
AS
BEGIN

DECLARE @Err Int	

	INSERT INTO dbo.T_TATIME
	        ( DATE ,
	          MIN ,
	          MAX ,
	          NORMA ,
	          MENYRA ,
	          MODEL ,
	          IDNDERMARJE ,
	          IDPERDORUESI ,
	          IDSTATUSDOK ,
	          IDKONFIG
	        )
	VALUES  (@DATA ,
	          @MIN ,
	          @MAX ,
	          @NORMA ,
	          @MENYRA ,
	          @MODEL ,
	          @IDNDERMARJE ,
	          @IDPERDORUESI ,
	          @IDSTATUSDOK ,
	          @IDKONFIG
	        )

	Set @Err = @@Error
set @IDTATIME  =@@IDENTITY 
	RETURN @Err
END
