USE [testimeDesti]
GO
/****** Object:  StoredProcedure [dbo].[prc_T_TATIME_insDefault]    Script Date: 4/19/2022 3:23:01 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER PROCEDURE [dbo].[prc_T_TATIME_insDefault]
(
	@IDNDERMARJE T_FOR_KEY,
	@IDPERDORUESI T_FOR_KEY	          
)
AS
BEGIN

	DECLARE @Err Int	

	INSERT INTO T_TATIME ( DATE,MIN,MAX,NORMA,MENYRA,MODEL,IDNDERMARJE,IDPERDORUESI,IDSTATUSDOK,IDKONFIG)
		
		SELECT	DATE,MIN,MAX,'',MENYRA,1,@IDNDERMARJE,@IDPERDORUESI,T_TATIME.IDSTATUSDOK,
				KONFIG.IDKONFIGAMBJENTE
				--(SELECT idkonfigambjente FROM t_konfigambjente WHERE IDNDERMARJE=@IDNDERMARJE AND KODKONFIGAMBJENTE=(SELECT KODKONFIGAMBJENTE FROM dbo.T_KONFIGAMBJENTE WHERE IDKONFIGAMBJENTE=IDKONFIG))
		
		FROM    T_TATIME  
				LEFT OUTER JOIN T_KONFIGAMBJENTE ON T_TATIME.IDKONFIG = T_KONFIGAMBJENTE.IDKONFIGAMBJENTE
				LEFT OUTER JOIN ( 
									SELECT IDKONFIGAMBJENTE, KODKONFIGAMBJENTE FROM T_KONFIGAMBJENTE WHERE IDNDERMARJE = @IDNDERMARJE 
								) AS KONFIG ON T_KONFIGAMBJENTE.KODKONFIGAMBJENTE = KONFIG.KODKONFIGAMBJENTE
		WHERE	MODEL=0
	       

	SET @Err = @@Error

	RETURN @Err
END