USE [testimeDesti]
GO
/****** Object:  StoredProcedure [dbo].[prc_T_TATIME_upd]    Script Date: 4/19/2022 3:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER procedure [dbo].[prc_T_TATIME_upd]
 (
@IDTATIME T_AUTO_NUM ,  @DATA T_DATE,
@MIN DECIMAL(18,2) ,
	          @MAX DECIMAL(18,2) ,
	          @NORMA  varchar(50),
	          @MENYRA  T_KONST,
	          @MODEL T_KONST,
	          @IDNDERMARJE T_FOR_KEY,
	          @IDPERDORUESI T_FOR_KEY,
	          @IDSTATUSDOK T_FOR_KEY,
	          @IDKONFIG T_FOR_KEY
)
AS
BEGIN
DECLARE @Err Int	
		UPDATE T_TATIME  
	Set
[DATE]=@DATA ,
	          [MIN]=@MIN ,
	          [MAX]=@MAX ,
	          NORMA=@NORMA ,
	          MENYRA=@MENYRA ,
	          
	          MODEL=@MODEL ,
	          IDNDERMARJE=@IDNDERMARJE ,
	          IDPERDORUESI=@IDPERDORUESI ,
	          IDSTATUSDOK=@IDSTATUSDOK ,
	         
	          IDKONFIG=@IDKONFIG,
DTMODIFIKIMI=GETDATE()

 
	WHERE
IDTATIME =@IDTATIME 

	Set @Err = @@Error

	RETURN @Err
	end
