.dxGridView_gvCellError_IMB,
.dxGridView_gvCMClearFilter_IMB,
.dxGridView_gvCMClearGrouping_IMB,
.dxGridView_gvCMCollapseDetailRow_IMB,
.dxGridView_gvCMCollapseDetailRowDisabled_IMB,
.dxGridView_gvCMCollapseRow_IMB,
.dxGridView_gvCMCollapseRowDisabled_IMB,
.dxGridView_gvCMDeleteRow_IMB,
.dxGridView_gvCMEditRow_IMB,
.dxGridView_gvCMExpandDetailRow_IMB,
.dxGridView_gvCMExpandDetailRowDisabled_IMB,
.dxGridView_gvCMExpandRow_IMB,
.dxGridView_gvCMExpandRowDisabled_IMB,
.dxGridView_gvCMFullCollapse_IMB,
.dxGridView_gvCMFullExpand_IMB,
.dxGridView_gvCMGroupByColumn_IMB,
.dxGridView_gvCMNewRow_IMB,
.dxGridView_gvCMRefresh_IMB,
.dxGridView_gvCMShowCustomizationWindow_IMB,
.dxGridView_gvCMShowFilterEditor_IMB,
.dxGridView_gvCMShowGroupPanel_IMB,
.dxGridView_gvCMSortAscending_IMB,
.dxGridView_gvCMSortDescending_IMB,
.dxGridView_gvCMSummaryAverage_IMB,
.dxGridView_gvCMSummaryCount_IMB,
.dxGridView_gvCMSummaryMax_IMB,
.dxGridView_gvCMSummaryMin_IMB,
.dxGridView_gvCMSummarySum_IMB,
.dxGridView_gvCMUngroupColumn_IMB,
.dxGridView_gvCollapsedButton_IMB,
.dxGridView_gvCollapsedButtonRtl_IMB,
.dxGridView_gvDetailCollapsedButton_IMB,
.dxGridView_gvDetailCollapsedButtonRtl_IMB,
.dxGridView_gvDetailExpandedButton_IMB,
.dxGridView_gvDetailExpandedButtonRtl_IMB,
.dxGridView_gvDragAndDropArrowDown_IMB,
.dxGridView_gvDragAndDropArrowUp_IMB,
.dxGridView_gvDragAndDropHideColumn_IMB,
.dxGridView_gvExpandedButton_IMB,
.dxGridView_gvExpandedButtonRtl_IMB,
.dxGridView_gvFilterRowButton_IMB,
.dxGridView_gvHeaderFilter_IMB,
.dxGridView_gvHeaderFilterActive_IMB,
.dxGridView_gvHeaderSortDown_IMB,
.dxGridView_gvHeaderSortUp_IMB,
.dxGridView_gvParentGroupRows_IMB,
.dxGridView_WindowResizer_IMB,
.dxGridView_WindowResizerRtl_IMB,
.dxgvFocusedGroupRow_IMB .dxGridView_gvCollapsedButton_IMB,
.dxgvFocusedGroupRow_IMB .dxGridView_gvCollapsedButtonRtl_IMB,
.dxgvFocusedGroupRow_IMB .dxGridView_gvExpandedButton_IMB,
.dxgvFocusedGroupRow_IMB .dxGridView_gvExpandedButtonRtl_IMB,
.dxgvFocusedRow_IMB .dxGridView_gvDetailCollapsedButton_IMB,
.dxgvFocusedRow_IMB .dxGridView_gvDetailCollapsedButtonRtl_IMB,
.dxgvFocusedRow_IMB .dxGridView_gvDetailExpandedButton_IMB,
.dxgvFocusedRow_IMB .dxGridView_gvDetailExpandedButtonRtl_IMB
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_IMB
{
    background-position: -49px -118px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_IMB
{
    background-position: 0px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMClearGrouping_IMB
{
    background-position: -19px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseDetailRow_IMB
{
    background-position: -19px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_IMB
{
    background-position: -76px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseRow_IMB
{
    background-position: 0px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseRowDisabled_IMB
{
    background-position: 0px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMDeleteRow_IMB
{
    background-position: -19px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMEditRow_IMB
{
    background-position: -76px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandDetailRow_IMB
{
    background-position: -38px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandDetailRowDisabled_IMB
{
    background-position: -61px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandRow_IMB
{
    background-position: -38px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandRowDisabled_IMB
{
    background-position: -19px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullCollapse_IMB
{
    background-position: -76px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullExpand_IMB
{
    background-position: -19px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMGroupByColumn_IMB
{
    background-position: -38px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMNewRow_IMB
{
    background-position: -57px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMRefresh_IMB
{
    background-position: -57px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowCustomizationWindow_IMB
{
    background-position: -57px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowFilterEditor_IMB
{
    background-position: -38px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowGroupPanel_IMB
{
    background-position: -57px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortAscending_IMB
{
    background-position: -38px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortDescending_IMB
{
    background-position: 0px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryAverage_IMB
{
    background-position: -42px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryCount_IMB
{
    background-position: 0px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMax_IMB
{
    background-position: -76px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMin_IMB
{
    background-position: -57px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummarySum_IMB
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMUngroupColumn_IMB
{
    background-position: -76px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCollapsedButton_IMB
{
    background-position: 0px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_IMB
{
    background-position: -28px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_IMB
{
    background-position: -28px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_IMB
{
    background-position: -42px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_IMB
{
    background-position: 0px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_IMB
{
    background-position: -70px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_IMB
{
    background-position: -68px -163px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_IMB
{
    background-position: -56px -163px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_IMB
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_IMB
{
    background-position: -14px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_IMB
{
    background-position: -14px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_IMB
{
    background-position: -64px -118px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvHeaderFilter_IMB
{
    background-position: -80px 0px;
    width: 14px;
    height: 16px;
}
.dxGridView_gvHeaderFilterActive_IMB
{
    background-position: -34px -118px;
    width: 14px;
    height: 16px;
}
.dxGridView_gvHeaderSortDown_IMB
{
    background-position: -87px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_IMB
{
    background-position: -84px -149px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_IMB
{
    background-position: 0px -135px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_IMB
{
    background-position: 0px -118px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizerRtl_IMB
{
    background-position: -17px -118px;
    width: 16px;
    height: 16px;
}
.dxgvFocusedGroupRow_IMB .dxGridView_gvCollapsedButton_IMB
{
    background-position: -56px -149px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_IMB .dxGridView_gvCollapsedButtonRtl_IMB
{
    background-position: -47px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_IMB .dxGridView_gvExpandedButton_IMB
{
    background-position: -75px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_IMB .dxGridView_gvExpandedButtonRtl_IMB
{
    background-position: -19px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_IMB .dxGridView_gvDetailCollapsedButton_IMB
{
    background-position: -61px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_IMB .dxGridView_gvDetailCollapsedButtonRtl_IMB
{
    background-position: -79px -118px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_IMB .dxGridView_gvDetailExpandedButton_IMB
{
    background-position: -33px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_IMB .dxGridView_gvDetailExpandedButtonRtl_IMB
{
    background-position: -42px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvHeaderFilterActive_IMB
{
	background-color: #00A74F;
}

