.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMap_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPage_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPage_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPageLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPage_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPageLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParameters_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParametersLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPage_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrint_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPage_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSave_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindow_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearch_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearchLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsv_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsvLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtml_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImg_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImgLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMht_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMhtLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdf_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdfLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtf_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtfLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxt_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxtLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXls_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsLarge_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsx_Kesh,
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnDocumentMap_Kesh,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnFirstPage_Kesh,
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnLastPage_Kesh,
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnNextPage_Kesh,
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnParameters_Kesh,
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrevPage_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrint_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintPage_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSave_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSearch_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_Kesh,
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToCsv_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToHtml_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToImg_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToMht_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToPdf_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToRtf_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToTxt_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToXls_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToXlsx_Kesh,
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_Kesh
{
    background-image: url('DocumentViewerSprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMap_Kesh
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_Kesh
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPage_Kesh
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_Kesh
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPage_Kesh
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnLastPageLarge_Kesh
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPage_Kesh
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnNextPageLarge_Kesh
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParameters_Kesh
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnParametersLarge_Kesh
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPage_Kesh
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_Kesh
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrint_Kesh
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintLarge_Kesh
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPage_Kesh
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_Kesh
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSave_Kesh
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveLarge_Kesh
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindow_Kesh
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_Kesh
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearch_Kesh
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_BtnSearchLarge_Kesh
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsv_Kesh
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToCsvLarge_Kesh
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtml_Kesh
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_Kesh
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImg_Kesh
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToImgLarge_Kesh
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMht_Kesh
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToMhtLarge_Kesh
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdf_Kesh
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToPdfLarge_Kesh
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtf_Kesh
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToRtfLarge_Kesh
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxt_Kesh
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToTxtLarge_Kesh
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXls_Kesh
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsLarge_Kesh
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsx_Kesh
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_Kesh
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMap_Kesh
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_Kesh
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_Kesh
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_Kesh
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPage_Kesh
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_Kesh
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_Kesh
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_Kesh
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPage_Kesh
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_Kesh
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_Kesh
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_Kesh
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPage_Kesh
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_Kesh
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_Kesh
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_Kesh
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParameters_Kesh
{
    background-position: -825px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_Kesh
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_Kesh
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_Kesh
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPage_Kesh
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_Kesh
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_Kesh
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_Kesh
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrint_Kesh
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_Kesh
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_Kesh
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_Kesh
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPage_Kesh
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_Kesh
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_Kesh
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_Kesh
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSave_Kesh
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_Kesh
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_Kesh
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_Kesh
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_Kesh
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_Kesh
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_Kesh
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_Kesh
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearch_Kesh
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_Kesh
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_Kesh
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_Kesh
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsv_Kesh
{
    background-position: -842px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_Kesh
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtml_Kesh
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_Kesh
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToImg_Kesh
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_Kesh
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToMht_Kesh
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_Kesh
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdf_Kesh
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_Kesh
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtf_Kesh
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_Kesh
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxt_Kesh
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_Kesh
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXls_Kesh
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_Kesh
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsx_Kesh
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_Kesh
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}

