.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_Kesh,
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_Kesh,
.dxWeb_heRibbonIcons_heBackColor_Kesh,
.dxWeb_heRibbonIcons_heBackColorDisabled_Kesh,
.dxWeb_heRibbonIcons_heBackColorLarge_Kesh,
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heBold_Kesh,
.dxWeb_heRibbonIcons_heBoldDisabled_Kesh,
.dxWeb_heRibbonIcons_heBoldLarge_Kesh,
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heCenter_Kesh,
.dxWeb_heRibbonIcons_heCenterDisabled_Kesh,
.dxWeb_heRibbonIcons_heCenterLarge_Kesh,
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Kesh,
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Kesh,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableDialog_Kesh,
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Kesh,
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heCheckSpelling_Kesh,
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Kesh,
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Kesh,
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heCopy_Kesh,
.dxWeb_heRibbonIcons_heCopyDisabled_Kesh,
.dxWeb_heRibbonIcons_heCopyLarge_Kesh,
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heCut_Kesh,
.dxWeb_heRibbonIcons_heCutDisabled_Kesh,
.dxWeb_heRibbonIcons_heCutLarge_Kesh,
.dxWeb_heRibbonIcons_heCutLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTable_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableColumn_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableLarge_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableRow_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Kesh,
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heFontGroup_Kesh,
.dxWeb_heRibbonIcons_heFontGroupDisabled_Kesh,
.dxWeb_heRibbonIcons_heForeColor_Kesh,
.dxWeb_heRibbonIcons_heForeColorDisabled_Kesh,
.dxWeb_heRibbonIcons_heForeColorLarge_Kesh,
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heFullscreen_Kesh,
.dxWeb_heRibbonIcons_heFullscreenDisabled_Kesh,
.dxWeb_heRibbonIcons_heFullscreenLarge_Kesh,
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heIndent_Kesh,
.dxWeb_heRibbonIcons_heIndentDisabled_Kesh,
.dxWeb_heRibbonIcons_heIndentLarge_Kesh,
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertImageDialog_Kesh,
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertLinkDialog_Kesh,
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertOrderedList_Kesh,
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableDialog_Kesh,
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertUnorderedList_Kesh,
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Kesh,
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Kesh,
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heItalic_Kesh,
.dxWeb_heRibbonIcons_heItalicDisabled_Kesh,
.dxWeb_heRibbonIcons_heItalicLarge_Kesh,
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heJustifyFull_Kesh,
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Kesh,
.dxWeb_heRibbonIcons_heJustifyFullLarge_Kesh,
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heLeft_Kesh,
.dxWeb_heRibbonIcons_heLeftDisabled_Kesh,
.dxWeb_heRibbonIcons_heLeftLarge_Kesh,
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Kesh,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heOutdent_Kesh,
.dxWeb_heRibbonIcons_heOutdentDisabled_Kesh,
.dxWeb_heRibbonIcons_heOutdentLarge_Kesh,
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_hePaste_Kesh,
.dxWeb_heRibbonIcons_hePasteDisabled_Kesh,
.dxWeb_heRibbonIcons_hePasteFromWord_Kesh,
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Kesh,
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Kesh,
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_hePasteLarge_Kesh,
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_hePrint_Kesh,
.dxWeb_heRibbonIcons_hePrintDisabled_Kesh,
.dxWeb_heRibbonIcons_hePrintLarge_Kesh,
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heRedo_Kesh,
.dxWeb_heRibbonIcons_heRedoDisabled_Kesh,
.dxWeb_heRibbonIcons_heRedoLarge_Kesh,
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heRemoveFormat_Kesh,
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Kesh,
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Kesh,
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heRight_Kesh,
.dxWeb_heRibbonIcons_heRightDisabled_Kesh,
.dxWeb_heRibbonIcons_heRightLarge_Kesh,
.dxWeb_heRibbonIcons_heRightLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsDocx_Kesh,
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsMht_Kesh,
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsOdt_Kesh,
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsPdf_Kesh,
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsRtf_Kesh,
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsTxt_Kesh,
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Kesh,
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Kesh,
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Kesh,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heStrikethrough_Kesh,
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Kesh,
.dxWeb_heRibbonIcons_heStrikethroughLarge_Kesh,
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSubscript_Kesh,
.dxWeb_heRibbonIcons_heSubscriptDisabled_Kesh,
.dxWeb_heRibbonIcons_heSubscriptLarge_Kesh,
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heSuperscript_Kesh,
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Kesh,
.dxWeb_heRibbonIcons_heSuperscriptLarge_Kesh,
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heUnderline_Kesh,
.dxWeb_heRibbonIcons_heUnderlineDisabled_Kesh,
.dxWeb_heRibbonIcons_heUnderlineLarge_Kesh,
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heUndo_Kesh,
.dxWeb_heRibbonIcons_heUndoDisabled_Kesh,
.dxWeb_heRibbonIcons_heUndoLarge_Kesh,
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heUnlink_Kesh,
.dxWeb_heRibbonIcons_heUnlinkDisabled_Kesh,
.dxWeb_heRibbonIcons_heUnlinkLarge_Kesh,
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Kesh,
.dxWeb_heRibbonIcons_heViewsGroup_Kesh,
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Kesh
{
    background-image: url('HESprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColor_Kesh
{
    background-position: -136px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBackColorLarge_Kesh
{
    background-position: -363px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBold_Kesh
{
    background-position: -102px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heBoldLarge_Kesh
{
    background-position: 0px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenter_Kesh
{
    background-position: -627px -231px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCenterLarge_Kesh
{
    background-position: -594px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialog_Kesh
{
    background-position: -187px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Kesh
{
    background-position: -99px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialog_Kesh
{
    background-position: -323px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Kesh
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialog_Kesh
{
    background-position: -544px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableDialogLarge_Kesh
{
    background-position: -429px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialog_Kesh
{
    background-position: -85px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Kesh
{
    background-position: -528px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpelling_Kesh
{
    background-position: -578px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCheckSpellingLarge_Kesh
{
    background-position: -528px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopy_Kesh
{
    background-position: -204px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCopyLarge_Kesh
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCut_Kesh
{
    background-position: -102px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heCutLarge_Kesh
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTable_Kesh
{
    background-position: -374px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumn_Kesh
{
    background-position: -289px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Kesh
{
    background-position: -33px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableLarge_Kesh
{
    background-position: -33px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRow_Kesh
{
    background-position: -510px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heDeleteTableRowLarge_Kesh
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFontGroup_Kesh
{
    background-position: -330px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColor_Kesh
{
    background-position: -221px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heForeColorLarge_Kesh
{
    background-position: -627px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreen_Kesh
{
    background-position: -425px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heFullscreenLarge_Kesh
{
    background-position: -165px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndent_Kesh
{
    background-position: -255px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heIndentLarge_Kesh
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialog_Kesh
{
    background-position: -408px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertImageDialogLarge_Kesh
{
    background-position: -330px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialog_Kesh
{
    background-position: -136px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Kesh
{
    background-position: -33px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedList_Kesh
{
    background-position: -459px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertOrderedListLarge_Kesh
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Kesh
{
    background-position: -493px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Kesh
{
    background-position: -132px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Kesh
{
    background-position: -391px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Kesh
{
    background-position: -429px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialog_Kesh
{
    background-position: -289px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableDialogLarge_Kesh
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAbove_Kesh
{
    background-position: -272px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Kesh
{
    background-position: -66px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelow_Kesh
{
    background-position: -136px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Kesh
{
    background-position: -198px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedList_Kesh
{
    background-position: -51px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Kesh
{
    background-position: -165px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalic_Kesh
{
    background-position: -595px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heItalicLarge_Kesh
{
    background-position: -396px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFull_Kesh
{
    background-position: -391px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heJustifyFullLarge_Kesh
{
    background-position: -33px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeft_Kesh
{
    background-position: -51px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heLeftLarge_Kesh
{
    background-position: -462px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Kesh
{
    background-position: -153px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Kesh
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVertical_Kesh
{
    background-position: -595px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Kesh
{
    background-position: -297px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdent_Kesh
{
    background-position: -34px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heOutdentLarge_Kesh
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePaste_Kesh
{
    background-position: -119px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWord_Kesh
{
    background-position: -68px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteFromWordLarge_Kesh
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePasteLarge_Kesh
{
    background-position: -264px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrint_Kesh
{
    background-position: -561px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_hePrintLarge_Kesh
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedo_Kesh
{
    background-position: -459px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRedoLarge_Kesh
{
    background-position: -561px -198px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormat_Kesh
{
    background-position: -476px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRemoveFormatLarge_Kesh
{
    background-position: -363px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRight_Kesh
{
    background-position: -561px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heRightLarge_Kesh
{
    background-position: -363px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocx_Kesh
{
    background-position: -510px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsDocxLarge_Kesh
{
    background-position: -561px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMht_Kesh
{
    background-position: -221px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsMhtLarge_Kesh
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdt_Kesh
{
    background-position: -170px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsOdtLarge_Kesh
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdf_Kesh
{
    background-position: -323px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsPdfLarge_Kesh
{
    background-position: -66px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtf_Kesh
{
    background-position: -476px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsRtfLarge_Kesh
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxt_Kesh
{
    background-position: -17px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSaveAsTxtLarge_Kesh
{
    background-position: 0px -165px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Kesh
{
    background-position: -408px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Kesh
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVertical_Kesh
{
    background-position: -629px -298px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Kesh
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethrough_Kesh
{
    background-position: -476px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heStrikethroughLarge_Kesh
{
    background-position: 0px -132px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscript_Kesh
{
    background-position: -306px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSubscriptLarge_Kesh
{
    background-position: -396px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscript_Kesh
{
    background-position: -340px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heSuperscriptLarge_Kesh
{
    background-position: -396px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderline_Kesh
{
    background-position: -238px -315px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnderlineLarge_Kesh
{
    background-position: -429px -231px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndo_Kesh
{
    background-position: -119px -281px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUndoLarge_Kesh
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlink_Kesh
{
    background-position: -493px -264px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heUnlinkLarge_Kesh
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_heRibbonIcons_heViewsGroup_Kesh
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColor_Kesh
{
    background-position: -527px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorDisabled_Kesh
{
    background-position: -306px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorLarge_Kesh
{
    background-position: -429px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Kesh
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBold_Kesh
{
    background-position: -17px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldDisabled_Kesh
{
    background-position: -493px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldLarge_Kesh
{
    background-position: -66px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Kesh
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenter_Kesh
{
    background-position: -612px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterDisabled_Kesh
{
    background-position: -510px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterLarge_Kesh
{
    background-position: -297px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Kesh
{
    background-position: -264px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Kesh
{
    background-position: -153px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Kesh
{
    background-position: -340px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Kesh
{
    background-position: -528px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Kesh
{
    background-position: -462px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Kesh
{
    background-position: -68px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Kesh
{
    background-position: -595px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Kesh
{
    background-position: -495px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Kesh
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialog_Kesh
{
    background-position: -170px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Kesh
{
    background-position: -272px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Kesh
{
    background-position: -429px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Kesh
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Kesh
{
    background-position: -187px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Kesh
{
    background-position: -374px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Kesh
{
    background-position: -198px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Kesh
{
    background-position: -627px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpelling_Kesh
{
    background-position: 0px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Kesh
{
    background-position: -170px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Kesh
{
    background-position: -594px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Kesh
{
    background-position: -561px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopy_Kesh
{
    background-position: -595px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyDisabled_Kesh
{
    background-position: -374px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyLarge_Kesh
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Kesh
{
    background-position: -231px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCut_Kesh
{
    background-position: -255px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutDisabled_Kesh
{
    background-position: -612px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutLarge_Kesh
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCutLargeDisabled_Kesh
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTable_Kesh
{
    background-position: -629px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumn_Kesh
{
    background-position: -459px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Kesh
{
    background-position: -544px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Kesh
{
    background-position: -561px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Kesh
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Kesh
{
    background-position: -612px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableLarge_Kesh
{
    background-position: -561px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Kesh
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRow_Kesh
{
    background-position: -238px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Kesh
{
    background-position: -85px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Kesh
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Kesh
{
    background-position: -495px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroup_Kesh
{
    background-position: -495px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroupDisabled_Kesh
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColor_Kesh
{
    background-position: -289px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorDisabled_Kesh
{
    background-position: -425px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorLarge_Kesh
{
    background-position: -495px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Kesh
{
    background-position: -561px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreen_Kesh
{
    background-position: -459px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenDisabled_Kesh
{
    background-position: 0px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenLarge_Kesh
{
    background-position: -627px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Kesh
{
    background-position: -231px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndent_Kesh
{
    background-position: -306px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentDisabled_Kesh
{
    background-position: -153px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentLarge_Kesh
{
    background-position: -396px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Kesh
{
    background-position: -528px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialog_Kesh
{
    background-position: -527px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Kesh
{
    background-position: -34px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Kesh
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Kesh
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialog_Kesh
{
    background-position: -204px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Kesh
{
    background-position: -442px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Kesh
{
    background-position: -495px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Kesh
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedList_Kesh
{
    background-position: -17px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Kesh
{
    background-position: -408px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Kesh
{
    background-position: -594px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Kesh
{
    background-position: -297px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Kesh
{
    background-position: -527px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Kesh
{
    background-position: -221px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Kesh
{
    background-position: -330px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Kesh
{
    background-position: -363px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Kesh
{
    background-position: -544px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Kesh
{
    background-position: -425px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Kesh
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Kesh
{
    background-position: -528px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialog_Kesh
{
    background-position: -119px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Kesh
{
    background-position: -187px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Kesh
{
    background-position: -363px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Kesh
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Kesh
{
    background-position: -272px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Kesh
{
    background-position: -476px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Kesh
{
    background-position: -330px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Kesh
{
    background-position: -132px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Kesh
{
    background-position: -442px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Kesh
{
    background-position: -357px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Kesh
{
    background-position: 0px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Kesh
{
    background-position: -627px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedList_Kesh
{
    background-position: -85px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Kesh
{
    background-position: -391px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Kesh
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Kesh
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalic_Kesh
{
    background-position: 0px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicDisabled_Kesh
{
    background-position: -51px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicLarge_Kesh
{
    background-position: -264px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Kesh
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFull_Kesh
{
    background-position: -357px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Kesh
{
    background-position: 0px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullLarge_Kesh
{
    background-position: -231px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Kesh
{
    background-position: -297px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeft_Kesh
{
    background-position: -408px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftDisabled_Kesh
{
    background-position: -578px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftLarge_Kesh
{
    background-position: -396px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Kesh
{
    background-position: -132px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Kesh
{
    background-position: -255px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Kesh
{
    background-position: -544px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Kesh
{
    background-position: -165px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Kesh
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Kesh
{
    background-position: -340px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Kesh
{
    background-position: -357px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Kesh
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Kesh
{
    background-position: -330px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdent_Kesh
{
    background-position: -272px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentDisabled_Kesh
{
    background-position: -442px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentLarge_Kesh
{
    background-position: -231px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Kesh
{
    background-position: -99px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePaste_Kesh
{
    background-position: -238px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteDisabled_Kesh
{
    background-position: -561px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWord_Kesh
{
    background-position: -578px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Kesh
{
    background-position: -323px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Kesh
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Kesh
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLarge_Kesh
{
    background-position: -594px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Kesh
{
    background-position: -429px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrint_Kesh
{
    background-position: -629px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintDisabled_Kesh
{
    background-position: -119px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintLarge_Kesh
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Kesh
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedo_Kesh
{
    background-position: -34px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoDisabled_Kesh
{
    background-position: -306px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoLarge_Kesh
{
    background-position: -528px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Kesh
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormat_Kesh
{
    background-position: -442px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Kesh
{
    background-position: -221px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Kesh
{
    background-position: -297px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Kesh
{
    background-position: -363px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRight_Kesh
{
    background-position: -425px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightDisabled_Kesh
{
    background-position: -68px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightLarge_Kesh
{
    background-position: -264px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRightLargeDisabled_Kesh
{
    background-position: -264px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocx_Kesh
{
    background-position: -289px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Kesh
{
    background-position: -187px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Kesh
{
    background-position: -462px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Kesh
{
    background-position: -198px -198px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMht_Kesh
{
    background-position: -527px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Kesh
{
    background-position: -204px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Kesh
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Kesh
{
    background-position: -99px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdt_Kesh
{
    background-position: -17px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Kesh
{
    background-position: -323px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Kesh
{
    background-position: -231px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Kesh
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdf_Kesh
{
    background-position: -102px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Kesh
{
    background-position: -612px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Kesh
{
    background-position: -330px -231px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Kesh
{
    background-position: -462px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtf_Kesh
{
    background-position: -578px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Kesh
{
    background-position: -153px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Kesh
{
    background-position: -495px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Kesh
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxt_Kesh
{
    background-position: -51px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Kesh
{
    background-position: -34px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Kesh
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Kesh
{
    background-position: -462px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Kesh
{
    background-position: -255px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Kesh
{
    background-position: -493px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Kesh
{
    background-position: -594px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Kesh
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Kesh
{
    background-position: -374px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Kesh
{
    background-position: -644px -231px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Kesh
{
    background-position: -132px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Kesh
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethrough_Kesh
{
    background-position: -340px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Kesh
{
    background-position: -510px -298px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughLarge_Kesh
{
    background-position: -594px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Kesh
{
    background-position: -396px -165px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscript_Kesh
{
    background-position: -102px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptDisabled_Kesh
{
    background-position: -238px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptLarge_Kesh
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Kesh
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscript_Kesh
{
    background-position: -68px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Kesh
{
    background-position: -85px -281px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptLarge_Kesh
{
    background-position: -462px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Kesh
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderline_Kesh
{
    background-position: -561px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineDisabled_Kesh
{
    background-position: -204px -315px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineLarge_Kesh
{
    background-position: -264px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Kesh
{
    background-position: -165px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndo_Kesh
{
    background-position: -136px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoDisabled_Kesh
{
    background-position: -391px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoLarge_Kesh
{
    background-position: -198px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Kesh
{
    background-position: -297px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlink_Kesh
{
    background-position: -170px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkDisabled_Kesh
{
    background-position: -357px -264px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkLarge_Kesh
{
    background-position: -99px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Kesh
{
    background-position: -627px -132px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroup_Kesh
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Kesh
{
    background-position: -66px -165px;
    width: 32px;
    height: 32px;
}

